Repository fastlane/fastlane, changes with the labels that .github/labeler.yml gives for each.
All labels: tool: action, tool: cert, tool: deliver, tool: fastlane_core, tool: frameit, tool: gym, tool: match, tool: pem, tool: pilot, tool: precheck, tool: produce, tool: scan, tool: screengrab, tool: sigh, tool: snapshot, tool: spaceship, tool: supply, topic: swift, tool: trainer, type: ci

MatchfileProtocol - remove templateName
  fastlane/swift/MatchfileProtocol.swift
Labels: topic: swift

bundle update CFPropertyList
  Gemfile.lock
Labels: none

Add standard gem for Ruby 3.4 or higher
  Gemfile.lock
  fastlane.gemspec
Labels: none

Fix specs according to Ruby 3.4 error message style change
  fastlane/spec/fast_file_spec.rb
  spaceship/spec/portal/portal_permission_spec.rb
  spaceship/spec/tunes/app_version_spec.rb
  spaceship/spec/tunes/tunes_permissions_spec.rb
Labels: tool: spaceship

Update profile.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

Fix lint error
  scan/lib/scan/detect_values.rb
Labels: tool: scan

lint
  scan/lib/scan/detect_values.rb
Labels: tool: scan

typo
  scan/lib/scan/detect_values.rb
Labels: tool: scan

Fix #22233
  scan/lib/scan/detect_values.rb
Labels: tool: scan

removed template_name from profile model
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

removed template_name from profile model
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

removed template_name from profile model
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

Fix circle ci lint issues
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

[action][hipchat] remove hipchat action (#29558)
  fastlane/lib/fastlane/actions/hipchat.rb
  fastlane/swift/Fastlane.swift
Labels: tool: action, topic: swift

Update and rename token.rb to Using fastlane API Key JSON file
  spaceship/lib/spaceship/connect_api/Using fastlane API Key JSON file
Labels: tool: spaceship

apple removed DEVELOPER_ID_APPLICATION_G2 as a filter option that can be supplied to their api
  cert/lib/cert/runner.rb
  match/lib/match/importer.rb
  sigh/lib/sigh/module.rb
Labels: tool: cert, tool: match, tool: sigh

fix developer_id_application erroring in match nuke
  match/lib/match/module.rb
  match/lib/match/nuke.rb
Labels: tool: match

Add `lootBox` property in the file `age_rating_declaration`
  deliver/assets/example_rating_config.json
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
Labels: tool: deliver, tool: spaceship

Fix: error Google Api Error: Invalid request - HALTED release must have fraction
  supply/lib/supply/uploader.rb
Labels: tool: supply

fix: remove unused relationship
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
Labels: tool: spaceship

fix trailing whitespaces
  Gemfile.lock
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

Revert "fix trailing whitespaces"
  Gemfile.lock
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

Revert "fix trailing whitespaces"
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

fix: Manually add fix from https://github.com/fastlane/fastlane/pull/29580
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

Test new methods
  gym/spec/platform_detection_spec.rb
Labels: tool: gym

fix: Add verbosity on download_metadata without a tty and more details to documentation. Fixes: #21075.
  deliver/lib/deliver/commands_generator.rb
  deliver/lib/deliver/options.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: tool: action, tool: deliver

Update runner.rb
  sigh/lib/sigh/runner.rb
Labels: tool: sigh

Update profile.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

Fixes templatename
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: spaceship

Mark `template_name` options as deprecated.
  match/lib/match/options.rb
  sigh/lib/sigh/options.rb
Labels: tool: match, tool: sigh

Show a warning for users using `template_name`.
  sigh/lib/sigh/runner.rb
Labels: tool: sigh

Document changes to managed capabilities (fka custom entitlements).
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: tool: action

[sigh][match] fix issue where unknown attribute `template_name` is being sent when creating provisioning profiles (#29591)
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match/options.rb
  sigh/lib/sigh/options.rb
  sigh/lib/sigh/runner.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: action, tool: match, tool: sigh, tool: spaceship

[ci] prevent bin/console from being bundled with fastlane gem when bundle gem is run #29536
  fastlane.gemspec
Labels: none

fix: developer_id_application_g2 certificate filter
  spaceship/lib/spaceship/connect_api/models/certificate.rb
Labels: tool: spaceship

Properly handle package_authorization_provider when buiding a Swift Package
  scan/lib/scan/test_command_generator.rb
Labels: tool: scan

Add unit test
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: tool: scan

.github/labeler.yml:

# Configuration file for https://github.com/actions/labeler

"tool: action":
  - changed-files:
    - any-glob-to-any-file:
      - fastlane/lib/fastlane/actions/**/*

"tool: cert":
  - changed-files:
    - any-glob-to-any-file:
      - cert/**/*

"tool: deliver":
  - changed-files:
    - any-glob-to-any-file:
      - deliver/**/*

"tool: fastlane_core":
  - changed-files:
    - any-glob-to-any-file:
      - fastlane_core/**/*

"tool: frameit":
  - changed-files:
    - any-glob-to-any-file:
      - frameit/**/*

"tool: gym":
  - changed-files:
    - any-glob-to-any-file:
      - gym/**/*

"tool: match":
  - changed-files:
    - any-glob-to-any-file:
      - match/**/*

"tool: pem":
  - changed-files:
    - any-glob-to-any-file:
      - pem/**/*

"tool: pilot":
  - changed-files:
    - any-glob-to-any-file:
      - pilot/**/*

"tool: precheck":
  - changed-files:
    - any-glob-to-any-file:
      - precheck/**/*

"tool: produce":
  - changed-files:
    - any-glob-to-any-file:
      - produce/**/*

"tool: scan":
  - changed-files:
    - any-glob-to-any-file:
      - scan/**/*

"tool: screengrab":
  - changed-files:
    - any-glob-to-any-file:
      - screengrab/**/*

"tool: sigh":
  - changed-files:
    - any-glob-to-any-file:
      - sigh/**/*

"tool: snapshot":
  - changed-files:
    - any-glob-to-any-file:
      - snapshot/**/*

"tool: spaceship":
  - changed-files:
    - any-glob-to-any-file:
      - spaceship/**/*

"tool: supply":
  - changed-files:
    - any-glob-to-any-file:
      - supply/**/*

"topic: swift":
  - changed-files:
    - any-glob-to-any-file:
      - fastlane/swift/**/*

"tool: trainer":
  - changed-files:
    - any-glob-to-any-file:
      - trainer/**/*

"type: ci":
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*
      - .circleci/**/*
      - appveyor.yml
