Repository fastlane/fastlane, changes with the labels that .github/labeler.yml gives for each.
All labels: tool: action, tool: cert, tool: deliver, tool: fastlane_core, tool: frameit, tool: gym, tool: match, tool: pem, tool: pilot, tool: precheck, tool: produce, tool: scan, tool: screengrab, tool: sigh, tool: snapshot, tool: spaceship, tool: supply, topic: swift, tool: trainer, type: ci

allow extra filtering when querying an app's build info. This allows for excluding expired builds, e.g. when querying for the latest test flight build
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
Labels: tool: action

remove debug output
  fastlane/lib/fastlane/actions/app_store_build_number.rb
Labels: tool: action

Fix error with universal provisioning filter ("'UNIVERSAL' is not a valid filter value") on `match` (#29500)
  match/spec/portal_fetcher_spec.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
Labels: tool: match, tool: spaceship

- add `build_credential_params` to TransporterExecutor + add tests - rename api key param - update doc
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: tool: action, tool: fastlane_core

fix test on windows
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: tool: fastlane_core

return a single credential string
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: tool: fastlane_core

Ignore to contain boilerplate executable provided by bundle gem
  fastlane.gemspec
Labels: none

feat: added ci support for spaceauth 2-factor
  spaceship/lib/spaceship/spaceauth_runner.rb
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: tool: spaceship

feat: improved the 2 factor script error handling
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: tool: spaceship

feat: improved logging for automated script
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: tool: spaceship

fix: fixed logging
  spaceship/lib/spaceship/spaceauth_runner.rb
Labels: tool: spaceship

chore: fixed codestyle
  spaceship/lib/spaceship/spaceauth_runner.rb
Labels: tool: spaceship

Fix: Iphone-14-pro off by one
  frameit/lib/frameit/device_types.rb
Labels: tool: frameit

fix altool not logging errors
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
Labels: tool: fastlane_core

Make descriptions more concise
  scan/lib/scan/options.rb
Labels: tool: scan

[Sigh] Take 'cert_id' parameter into account while fetching profile.
  sigh/lib/sigh/runner.rb
Labels: tool: sigh

[=] Fix UI Message wording
  sigh/lib/sigh/runner.rb
Labels: tool: sigh

[=] Sigh Runner | clean extra space indentation
  sigh/lib/sigh/runner.rb
Labels: tool: sigh

[+] Sigh runner | filter by cert_id correct indentation & change unappropriate 'map' to 'each'
  sigh/lib/sigh/runner.rb
Labels: tool: sigh

[docs] Clarify only-testing/skip-testing format (#27585)
  scan/lib/scan/options.rb
Labels: tool: scan

[=] bump for CI unexpected fail.
  sigh/lib/sigh/runner.rb
Labels: tool: sigh

[pilot] ability to upload ipas to Testflight from Linux (#22014)
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane_core/lib/assets/XMLTemplate.xml.erb
  fastlane_core/lib/fastlane_core/ipa_file_analyser.rb
  fastlane_core/lib/fastlane_core/ipa_upload_package_builder.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: tool: action, tool: fastlane_core, tool: pilot

fix: fix typo in precheck error (#22086)
  deliver/lib/deliver/runner.rb
Labels: tool: deliver

[deliver] fix altool not logging errors (#29545)
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
Labels: tool: fastlane_core

Update CHANGELOG.latest.md
  CHANGELOG.latest.md
Labels: none

Fix duplicate output in CommandExecutor.execute() when run_tests() action finishes with failure
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/spec/command_executor_spec.rb
Labels: tool: fastlane_core

Fix duplicate output in CommandExecutor.execute() when run_tests() action finishes with failure
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/spec/command_executor_spec.rb
Labels: tool: fastlane_core

Update fastlane_core/spec/command_executor_spec.rb
  fastlane_core/spec/command_executor_spec.rb
Labels: tool: fastlane_core

Update fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/lib/fastlane_core/command_executor.rb
Labels: tool: fastlane_core

Update fastlane_core/spec/command_executor_spec.rb
  fastlane_core/lib/fastlane_core/command_executor.rb
Labels: tool: fastlane_core

Update fastlane_core/spec/command_executor_spec.rb
  fastlane_core/lib/fastlane_core/command_executor.rb
Labels: tool: fastlane_core

Fix duplicate output in CommandExecutor.execute() when command fails (#29525)
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/spec/command_executor_spec.rb
Labels: tool: fastlane_core

Speed up CommandExecutor.execute() output
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/spec/command_executor_spec.rb
Labels: tool: fastlane_core

[action][hipchat] remove hipchat action
  fastlane/lib/fastlane/actions/hipchat.rb
  fastlane/swift/Fastlane.swift
Labels: tool: action, topic: swift

Fix: ruby 3.4 support, add dependencies for abbrev, base64, nkf, and mutex_m in fastlane.gemspec
  Gemfile.lock
  fastlane.gemspec
Labels: none

fix: ruby 3.5 support, add dependencies for csv, logger, and ostruct in fastlane.gemspec and update Gemfile.lock
  Gemfile.lock
  fastlane.gemspec
Labels: none

fix: removed all whitespaces from 2-Factor script
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: tool: spaceship

fix: improved logging
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: tool: spaceship

fix: improved logging #2
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: tool: spaceship

fix: improved logging #3
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: tool: spaceship

.github/labeler.yml:

# Configuration file for https://github.com/actions/labeler

"tool: action":
  - changed-files:
    - any-glob-to-any-file:
      - fastlane/lib/fastlane/actions/**/*

"tool: cert":
  - changed-files:
    - any-glob-to-any-file:
      - cert/**/*

"tool: deliver":
  - changed-files:
    - any-glob-to-any-file:
      - deliver/**/*

"tool: fastlane_core":
  - changed-files:
    - any-glob-to-any-file:
      - fastlane_core/**/*

"tool: frameit":
  - changed-files:
    - any-glob-to-any-file:
      - frameit/**/*

"tool: gym":
  - changed-files:
    - any-glob-to-any-file:
      - gym/**/*

"tool: match":
  - changed-files:
    - any-glob-to-any-file:
      - match/**/*

"tool: pem":
  - changed-files:
    - any-glob-to-any-file:
      - pem/**/*

"tool: pilot":
  - changed-files:
    - any-glob-to-any-file:
      - pilot/**/*

"tool: precheck":
  - changed-files:
    - any-glob-to-any-file:
      - precheck/**/*

"tool: produce":
  - changed-files:
    - any-glob-to-any-file:
      - produce/**/*

"tool: scan":
  - changed-files:
    - any-glob-to-any-file:
      - scan/**/*

"tool: screengrab":
  - changed-files:
    - any-glob-to-any-file:
      - screengrab/**/*

"tool: sigh":
  - changed-files:
    - any-glob-to-any-file:
      - sigh/**/*

"tool: snapshot":
  - changed-files:
    - any-glob-to-any-file:
      - snapshot/**/*

"tool: spaceship":
  - changed-files:
    - any-glob-to-any-file:
      - spaceship/**/*

"tool: supply":
  - changed-files:
    - any-glob-to-any-file:
      - supply/**/*

"topic: swift":
  - changed-files:
    - any-glob-to-any-file:
      - fastlane/swift/**/*

"tool: trainer":
  - changed-files:
    - any-glob-to-any-file:
      - trainer/**/*

"type: ci":
  - changed-files:
    - any-glob-to-any-file:
      - .github/**/*
      - .circleci/**/*
      - appveyor.yml
