Repository fastlane/fastlane, pull requests merged in 2018-04, with the labels that each got.

#11891 Update docs with links to ProvisionQL Quick Look plugin
  fastlane/lib/fastlane/actions/docs/assets/QuickLookScreenshot-App.png
  fastlane/lib/fastlane/actions/docs/assets/QuickLookScreenshot-Provision.png
  fastlane/lib/fastlane/actions/docs/assets/QuickLookScreenshot.png
  fastlane/lib/fastlane/actions/docs/build_ios_app.md
  fastlane/lib/fastlane/actions/docs/get_certificates.md
  fastlane/lib/fastlane/actions/docs/get_provisioning_profile.md
  fastlane/lib/fastlane/actions/docs/get_push_certificate.md
Labels: cla: yes, status: needs-attention

#12201 Enable set 'NFC Tag Reading' at 'fastlane produce' cli. (#12179)
  fastlane/lib/fastlane/actions/docs/create_app_online.md
  produce/lib/produce/commands_generator.rb
  produce/lib/produce/developer_center.rb
  produce/lib/produce/service.rb
  spaceship/lib/spaceship/portal/app_service.rb
Labels: cla: yes

#12111 Spaceship delete testflight groups
  spaceship/lib/spaceship/test_flight/client.rb
  spaceship/lib/spaceship/test_flight/group.rb
  spaceship/spec/test_flight/client_spec.rb
  spaceship/spec/test_flight/group_spec.rb
Labels: cla: yes

#11978 Add Support for Registering Mac Devices on Apple Developer Portal
  fastlane/lib/fastlane/actions/register_devices.rb
Labels: cla: yes, status: needs-attention, tool: spaceship, type: feature

#12134 Use correct spelling of icloud service in product/service.rb
  produce/lib/produce/developer_center.rb
  produce/lib/produce/service.rb
Labels: cla: yes

#12196 Remove rubocop errors from simctl dependency
  fastlane.gemspec
  snapshot/lib/snapshot/test_command_generator.rb
Labels: cla: yes

#12187 Make enable_automatic_code_signing more robust to xcodeproj conf
  fastlane/lib/fastlane/actions/automatic_code_signing.rb
  fastlane/spec/actions_specs/automatic_code_signing_spec.rb
  fastlane/spec/fixtures/xcodeproj/automatic_code_signing.xcodeproj/project.pbxproj
Labels: cla: yes

#12212 [action] Make sure get_version_number targets respond to test_target_type?
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/spec/fixtures/actions/get_version_number/get_version_number.xcodeproj/project.pbxproj
  fastlane/spec/fixtures/actions/get_version_number/get_version_number.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: cla: yes

#12216 Version bump to 2.89.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12217 Fix for tool formatting in frame_screenshots.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
Labels: cla: yes

#12220 Fix Gym skip_archive option
  gym/lib/gym/runner.rb
Labels: cla: yes

#12219 Fix spec in automatic_code_signing action
  fastlane/lib/fastlane/actions/automatic_code_signing.rb
Labels: cla: yes

#12197 Added option to set path to lint using swiftlint action
  fastlane/lib/fastlane/actions/swiftlint.rb
  fastlane/spec/actions_specs/swiftlint_spec.rb
Labels: cla: yes

#12199 Add support for Apple TV to set_changelog
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/spec/actions_specs/set_changelog_spec.rb
  spaceship/lib/spaceship/tunes/app_version.rb
  spaceship/spec/tunes/app_version_spec.rb
Labels: cla: yes

#11535 Issue #11497: [screengrab] Adding Falcon as a ScreenshotStrategy
  screengrab/example/src/androidTest/java/tools/fastlane/localetester/FalconScreenshots.java
  screengrab/screengrab-lib/build.gradle
  screengrab/screengrab-lib/src/main/AndroidManifest.xml
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/FalconScreenshotStrategy.java
Labels: cla: yes, status: needs-attention

#11506 Improve behavior of cfpropertylist extension
  fastlane_core/lib/fastlane_core/core_ext/cfpropertylist.rb
Labels: cla: yes, status: needs-attention

#12239 Add new parameter to allow custom Fastfile path for LaneManager
  fastlane/lib/fastlane/lane_manager.rb
Labels: cla: yes

#12240 Bump screengrab-lib and add new docs for Falcon strat
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  screengrab/version.properties
Labels: cla: yes

#12241 Adds testes to new cruise_lanes fastfile path parameter
  fastlane/spec/fixtures/fastfiles/FastfileCruiseLane
  fastlane/spec/lane_manager_spec.rb
Labels: cla: yes

#12232 Getting Derived Data path value from Xcode preferences
  fastlane/lib/fastlane/actions/clear_derived_data.rb
Labels: cla: yes

#12247 Remove extra ul from screengrab falcon strat
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/FalconScreenshotStrategy.java
Labels: cla: yes

#12245 Adds an option android_gcm_sender_id to onesignal action as optional
  fastlane/lib/fastlane/actions/onesignal.rb
Labels: cla: yes

#9875 Allow multiple paths with wildcards in git_add action.
  fastlane/lib/fastlane/actions/git_add.rb
  fastlane/spec/actions_specs/git_add_spec.rb
Labels: status: needs-attention, tool: action

#12266 Add small documentation fixes
  RespondingToIssuesAndPullRequests.md
  ToolsAndDebugging.md
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes

#12235 [match][spaceship] Fixed matchfile overriding fastfile team_id with bonus spaceship select_team additions
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/spaceship_ensure.rb
  spaceship/lib/spaceship/launcher.rb
  spaceship/lib/spaceship/portal/portal_client.rb
  spaceship/lib/spaceship/portal/spaceship.rb
  spaceship/lib/spaceship/portal/ui/select_team.rb
  spaceship/lib/spaceship/tunes/spaceship.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/UI/select_team_spec.rb
  spaceship/spec/launcher_spec.rb
  spaceship/spec/portal/portal_client_spec.rb
Labels: cla: yes

#12178 Use PrintTable instead of puts in validate_build action
  fastlane/lib/fastlane/actions/verify_build.rb
  fastlane/spec/actions_specs/verify_build_spec.rb
  fastlane_core/spec/fixtures/ipas/very-capable-app.ipa
Labels: cla: yes

#12273 Add skip_plugin_scores option to the update_docs lane
  fastlane/Fastfile
Labels: cla: yes

#10364 Add test to make sure uploaded IPAs do not contain special chars
  fastlane_core/lib/fastlane_core/ipa_upload_package_builder.rb
  fastlane_core/spec/ipa_upload_package_builder_spec.rb
Labels: cla: yes, status: needs-attention

#12256 Temporary fix incorrect indented code formatting
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
Labels: cla: yes

#12270 Version bump to 2.90.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12272 Fix action info table not rendering correctly in docs
  fastlane/lib/assets/ActionDetails.md.erb
Labels: cla: yes

#12280 Fix incorrect code samples
  fastlane/Fastfile
  fastlane/actions/test_sample_code.rb
  fastlane/lib/fastlane/actions/check_app_store_metadata.rb
  fastlane/lib/fastlane/actions/git_add.rb
  fastlane/lib/fastlane/actions/swiftlint.rb
Labels: cla: yes

#12198 [adb] Pick up ANDROID_SDK_ROOT environment variable
  fastlane/lib/fastlane/actions/adb.rb
  fastlane/lib/fastlane/actions/adb_devices.rb
  fastlane/lib/fastlane/helper/adb_helper.rb
  fastlane/spec/actions_specs/adb_devices_spec.rb
  fastlane/spec/actions_specs/adb_spec.rb
Labels: cla: yes

#12287 Fix incorrect action deprecation notes and details formatting in docs and terminal
  fastlane/lib/assets/ActionDetails.md.erb
  fastlane/lib/fastlane/actions/increment_version_number.rb
  fastlane/lib/fastlane/actions/read_podspec.rb
  fastlane/lib/fastlane/actions/s3.rb
  fastlane/lib/fastlane/documentation/actions_list.rb
Labels: cla: yes

#12191 [WIP] remove emoji from changelog
  fastlane.gemspec
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes, status: needs-attention

#12298 Fix fastlane crashing when running a lane
  fastlane/lib/fastlane/lane_manager.rb
Labels: cla: yes

#12299 Version bump to 2.91.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12307 Fix sample code in spaceship DeveloperPortal document
  spaceship/docs/DeveloperPortal.md
Labels: cla: yes

#12290 Fix force output files on trade_representative_contact_information
  deliver/lib/deliver/setup.rb
Labels: cla: yes

#12313 [swift] give lane_context return_type of hash_with_strings
  fastlane/lib/fastlane/actions/lane_context.rb
Labels: cla: yes

#12312 Stabilize tests by setting all android sdk path environment variables
  fastlane/spec/actions_specs/adb_spec.rb
Labels: cla: yes

#12048 Add filename option for cert
  cert/lib/cert/options.rb
  cert/lib/cert/runner.rb
  cert/spec/commands_generator_spec.rb
  cert/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention

#12281 [match] Correct how match handles enterprise adhoc
  match/lib/match/module.rb
  sigh/lib/sigh/runner.rb
Labels: cla: yes

#12321 Don't allow spaces in IPA file name being uploaded to ITC
  fastlane_core/lib/fastlane_core/ipa_upload_package_builder.rb
  fastlane_core/spec/fixtures/ipas/iOS App With Spaces.ipa
  fastlane_core/spec/ipa_upload_package_builder_spec.rb
Labels: cla: yes

#12328 Revert "[match] Correct how match handles enterprise adhoc"
  match/lib/match/module.rb
  sigh/lib/sigh/runner.rb
Labels: cla: yes

#12329 Version bump to 2.92.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12333 [spaceship] remove duplicate names in select_team to work with ruby 2.0
  spaceship/lib/spaceship/launcher.rb
  spaceship/lib/spaceship/portal/portal_client.rb
  spaceship/lib/spaceship/portal/spaceship.rb
  spaceship/lib/spaceship/portal/ui/select_team.rb
  spaceship/lib/spaceship/tunes/spaceship.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes

#12334 Removing original IPA basename from copied IPA for ITC upload for sta…
  fastlane_core/lib/fastlane_core/ipa_upload_package_builder.rb
Labels: cla: yes

#12341 Add available plugins link to Fastfile template
  fastlane/lib/assets/DefaultFastfileTemplate
Labels: cla: yes

#12347 [snapshot] add 'xcrun simctl addmedia' and fallback to addphoto/addvideo
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
  snapshot/spec/simulator_launcher_base_spec.rb
Labels: cla: yes

#12338 Move FastlaneCore::UpdateChecker to after dot_env load
  fastlane/lib/fastlane/cli_tools_distributor.rb
Labels: cla: yes

#12350 Bugfix: scan with result_bundle cannot be run twice
  scan/lib/scan/test_command_generator.rb
Labels: cla: yes

#12357 Delete result_bundle_path for gym and update gym and scan result_bundle descriptions
  gym/lib/gym/generators/build_command_generator.rb
  gym/lib/gym/options.rb
  scan/lib/scan/options.rb
Labels: cla: yes

#12190 new action update_plist
  fastlane/lib/fastlane/actions/update_info_plist.rb
  fastlane/lib/fastlane/actions/update_plist.rb
  fastlane/spec/actions_specs/update_plist_spec.rb
Labels: cla: yes, status: needs-attention

#12360 [swift] fix fastlane swift for return type of hash with anything
  fastlane/lib/fastlane/action.rb
  fastlane/lib/fastlane/actions/lane_context.rb
  fastlane/lib/fastlane/server/json_return_value_processor.rb
  fastlane/lib/fastlane/swift_fastlane_api_generator.rb
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes

#12365 Version bump to 2.93.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12368 Set FastlaneCore::Globals.capture_output once
  fastlane/lib/fastlane/commands_generator.rb
Labels: cla: yes

#12373 [supply] fixed rollout fraction to only be sent on track "rollout"
  supply/lib/supply/client.rb
Labels: cla: yes

#12374 Version bump to 2.93.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12385 Removed unused Fastfile in pem folder
  pem/fastlane/Fastfile
Labels: cla: yes

#12370 [verify_build] App build path support
  fastlane/lib/fastlane/actions/verify_build.rb
  fastlane/spec/actions_specs/verify_build_spec.rb
  fastlane_core/spec/fixtures/bundles/simulator-app.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
  fastlane_core/spec/fixtures/bundles/simulator-app.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
  fastlane_core/spec/fixtures/bundles/simulator-app.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
  fastlane_core/spec/fixtures/bundles/simulator-app.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
  fastlane_core/spec/fixtures/bundles/simulator-app.app/Base.lproj/Main.storyboardc/Info.plist
  fastlane_core/spec/fixtures/bundles/simulator-app.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
  fastlane_core/spec/fixtures/bundles/simulator-app.app/Info.plist
  fastlane_core/spec/fixtures/bundles/simulator-app.app/PkgInfo
  fastlane_core/spec/fixtures/bundles/simulator-app.app/_CodeSignature/CodeResources
  fastlane_core/spec/fixtures/bundles/simulator-app.app/very-capable-app
  fastlane_core/spec/fixtures/bundles/very capable app.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
  fastlane_core/spec/fixtures/bundles/very capable app.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
  fastlane_core/spec/fixtures/bundles/very capable app.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
  fastlane_core/spec/fixtures/bundles/very capable app.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
  fastlane_core/spec/fixtures/bundles/very capable app.app/Base.lproj/Main.storyboardc/Info.plist
  fastlane_core/spec/fixtures/bundles/very capable app.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
  fastlane_core/spec/fixtures/bundles/very capable app.app/Info.plist
  fastlane_core/spec/fixtures/bundles/very capable app.app/PkgInfo
  fastlane_core/spec/fixtures/bundles/very capable app.app/_CodeSignature/CodeResources
  fastlane_core/spec/fixtures/bundles/very capable app.app/embedded.mobileprovision
  fastlane_core/spec/fixtures/bundles/very capable app.app/very capable app
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/Base.lproj/Main.storyboardc/Info.plist
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/Info.plist
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/PkgInfo
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/_CodeSignature/CodeResources
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/embedded.mobileprovision
  fastlane_core/spec/fixtures/bundles/very-capable-app.app/very-capable-app
  fastlane_core/spec/fixtures/ipas/very capable app.ipa
Labels: cla: yes

#12387 Add skip_bundle_update option to the update_docs lane
  fastlane/Fastfile
Labels: cla: yes

#12383 Screengrab + Snapshot: Generate ids onto languages headers and device name sections.
  screengrab/lib/screengrab/page.html.erb
  snapshot/lib/snapshot/page.html.erb
Labels: cla: yes

#12389 [slack] add link names arg
  fastlane/lib/fastlane/actions/slack.rb
Labels: cla: yes

#12399 Fix old documentation for ConfigItem
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
Labels: cla: yes

#12378 [scan] add option for zipping build productions
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/helper_spec.rb
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
  scan/spec/runner_spec.rb
Labels: cla: yes

#12413 [match] only check if cert is installed on specified keychain
  fastlane_core/lib/fastlane_core/cert_checker.rb
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
Labels: cla: yes

#12406 Fix incorrect formatting in Migration Guide
  deliver/MigrationGuide.md
Labels: cla: yes

#12407 Fix formatting for the frame_screenshots action
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
Labels: cla: yes

#12414 [frameit] accepts utf8 and utf16 .strings files
  frameit/lib/frameit/strings_parser.rb
  frameit/spec/fixtures/translations.utf32.strings
  frameit/spec/strings_parser_spec.rb
Labels: cla: yes
