Repository fastlane/fastlane, pull requests merged in 2018-02, with the labels that each got.

#11798 Option to upload symbols to Firebase Crashlytics via GoogleService-Info.plist
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane/spec/actions_specs/upload_symbols_to_crashlytics_spec.rb
Labels: cla: yes, tool: action, type: feature

#11810 Fix erroneous success message during setup
  fastlane/lib/fastlane/setup/setup_ios.rb
Labels: cla: yes

#11817 Screengrab + snapshot: Also allow h + l for navigating between screenshots.
  screengrab/lib/screengrab/page.html.erb
  snapshot/lib/snapshot/page.html.erb
Labels: cla: yes

#11804 removed watermark, added defaults to auto-update
  fastlane/lib/fastlane/actions/testfairy.rb
Labels: cla: yes

#11771 Include contents of BCSymbolMaps directory in dSYM.zip file.
  gym/lib/gym/runner.rb
Labels: cla: yes

#11819 Add extra verbose logging to help diagnose issues related to #11755
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes

#11811 Generate more idomatic screenshots.html file when using screengrab.
  screengrab/lib/screengrab/page.html.erb
  snapshot/lib/snapshot/page.html.erb
Labels: cla: yes

#11787 Make name conflict error message more obvious
  fastlane/lib/fastlane/lane.rb
  fastlane/spec/fast_file_spec.rb
  fastlane/spec/tools_spec.rb
Labels: cla: yes

#11786 Prioritize user's lane over actions
  fastlane/lib/fastlane/runner.rb
  fastlane/spec/fast_file_spec.rb
  fastlane/spec/fixtures/fastfiles/FastfileLaneNameEqualsActionName
Labels: cla: yes

#11793 Fastlane.swift: Fix default type for Integer parameters
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes

#11791 Fastlane.swift: Fix getPushCertificate type
  fastlane/swift/Fastlane.swift
Labels: cla: yes

#11822 Version bump to 2.81.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#11832 Remove parentheses from desc and lane calls
  .rubocop.yml
  fastlane/Fastfile
Labels: cla: yes

#11833 Fix RuboCop warnings caused by renamed namespaces
  spaceship/lib/spaceship/portal/ui/select_team.rb
  spaceship/lib/spaceship/ui.rb
Labels: cla: yes

#11838 Fix getting certificate info in match/utils.rb
  match/lib/match/utils.rb
Labels: cla: yes, tool: match

#11845 Fastlane.swift: Fix getPushCertificate type
  pem/lib/pem/options.rb
Labels: cla: yes

#11837 Extract testing instructions in their own Testing.md file
  Testing.md
  ToolsAndDebugging.md
  YourFirstPR.md
Labels: cla: yes

#11840 [snapshot] fix "Quick start" list indentation and structure
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
Labels: cla: yes

#11843 Mapping dSYM files with BCSymbolMaps
  gym/lib/gym/runner.rb
Labels: cla: yes

#11835 Support Other Gem Server on PluginManager
  fastlane/lib/fastlane/plugins/plugin_manager.rb
  fastlane/spec/plugins_specs/plugin_manager_spec.rb
Labels: cla: yes, tool: fastlane

#11836 `update_app_identifier` resolves SRCROOT on build_settings
  fastlane/lib/fastlane/actions/update_app_identifier.rb
  fastlane/spec/actions_specs/update_app_identifier_spec.rb
Labels: cla: yes, tool: action

#11794 Allow the usage of a postfix for the add_git_tag action
  fastlane/lib/fastlane/actions/add_git_tag.rb
  fastlane/spec/actions_specs/add_git_tag_spec.rb
Labels: cla: yes

#11852 fix team_id handling in automatic_code_signing action
  fastlane/lib/fastlane/actions/automatic_code_signing.rb
Labels: cla: yes

#11848 Update commander-fastlane
  fastlane.gemspec
Labels: cla: yes

#11862 Update code of conduct to use HTTPs
  CODE_OF_CONDUCT.md
Labels: cla: yes

#11144 Extend ErbTemplateHelper with trim_mode parameter
  fastlane/lib/fastlane/erb_template_helper.rb
  fastlane/spec/erb_template_helper_spec.rb
  fastlane/spec/fixtures/templates/trim_mode_template.erb
Labels: cla: yes, status: needs-attention

#10596 Add default values for actions documentation
  cert/lib/cert/options.rb
  deliver/lib/deliver/options.rb
  fastlane/lib/assets/ActionDetails.md.erb
  fastlane/lib/fastlane/actions/add_git_tag.rb
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/appaloosa.rb
  fastlane/lib/fastlane/actions/appetize_viewing_url_generator.rb
  fastlane/lib/fastlane/actions/automatic_code_signing.rb
  fastlane/lib/fastlane/actions/backup_xcarchive.rb
  fastlane/lib/fastlane/actions/commit_github_file.rb
  fastlane/lib/fastlane/actions/crashlytics.rb
  fastlane/lib/fastlane/actions/create_pull_request.rb
  fastlane/lib/fastlane/actions/deploygate.rb
  fastlane/lib/fastlane/actions/dotgpg_environment.rb
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/lib/fastlane/actions/dsym_zip.rb
  fastlane/lib/fastlane/actions/frame_screenshots.rb
  fastlane/lib/fastlane/actions/get_ipa_info_plist_value.rb
  fastlane/lib/fastlane/actions/github_api.rb
  fastlane/lib/fastlane/actions/hockey.rb
  fastlane/lib/fastlane/actions/install_on_device.rb
  fastlane/lib/fastlane/actions/installr.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
  fastlane/lib/fastlane/actions/modify_services.rb
  fastlane/lib/fastlane/actions/read_podspec.rb
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  fastlane/lib/fastlane/actions/resign.rb
  fastlane/lib/fastlane/actions/s3.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/lib/fastlane/actions/set_github_release.rb
  fastlane/lib/fastlane/actions/testfairy.rb
  fastlane/lib/fastlane/actions/tryouts.rb
  fastlane/lib/fastlane/actions/update_app_identifier.rb
  fastlane/lib/fastlane/actions/update_info_plist.rb
  fastlane/lib/fastlane/actions/update_project_code_signing.rb
  fastlane/lib/fastlane/actions/update_project_provisioning.rb
  fastlane/lib/fastlane/actions/update_project_team.rb
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane/lib/fastlane/actions/upload_symbols_to_sentry.rb
  fastlane/lib/fastlane/actions/verify_xcode.rb
  fastlane/lib/fastlane/actions/version_bump_podspec.rb
  fastlane/lib/fastlane/actions/version_get_podspec.rb
  fastlane/lib/fastlane/actions/xcode_install.rb
  fastlane/lib/fastlane/documentation/actions_list.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  fastlane_core/spec/configuration_spec.rb
  frameit/lib/frameit/options.rb
  gym/lib/gym/options.rb
  match/lib/match/options.rb
  pem/lib/pem/options.rb
  pilot/lib/pilot/options.rb
  precheck/lib/precheck/options.rb
  produce/lib/produce/options.rb
  scan/lib/scan/options.rb
  screengrab/lib/screengrab/options.rb
  sigh/lib/sigh/options.rb
  snapshot/lib/snapshot/options.rb
  supply/lib/supply/options.rb
Labels: cla: yes, status: needs-attention

#11861 Use correct spelling of icloud service
  produce/lib/produce/developer_center.rb
Labels: cla: yes

#11868 Ensure the correct formatting of the fastlane tools
  README.md
  RespondingToIssuesAndPullRequests.md
  ToolsAndDebugging.md
  VISION.md
  YourFirstPR.md
  cert/ManualSteps.md
  credentials_manager/README.md
  deliver/MigrationGuide.md
  fastlane/Fastfile
  fastlane/docs/README.md
  fastlane/lib/fastlane/actions/README.md
  fastlane/lib/fastlane/actions/device_grid/README.md
  fastlane/lib/fastlane/actions/device_grid/assets/README.md
  fastlane/lib/fastlane/actions/docs/build_ios_app.md
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  fastlane/lib/fastlane/actions/docs/check_app_store_metadata.md
  fastlane/lib/fastlane/actions/docs/create_app_online.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  fastlane/lib/fastlane/actions/docs/get_certificates.md
  fastlane/lib/fastlane/actions/docs/get_provisioning_profile.md
  fastlane/lib/fastlane/actions/docs/get_push_certificate.md
  fastlane/lib/fastlane/actions/docs/run_tests.md
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane_core/README.md
  match/lib/assets/READMETemplate.md
  spaceship/README.md
  spaceship/docs/DeveloperPortal.md
  spaceship/docs/iTunesConnect.md
Labels: cla: yes

#11763 Enable RuboCop for template files
  .rubocop.yml
  fastlane/docs/README.md
  fastlane/lib/assets/AppfileTemplate
  fastlane/lib/assets/AppfileTemplateAndroid
  fastlane/lib/fastlane/actions/device_grid/README.md
  fastlane/lib/fastlane/actions/docs/build_ios_app.md
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  fastlane/lib/fastlane/actions/docs/run_tests.md
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md
  fastlane_core/README.md
  gym/lib/assets/GymfileTemplate
  match/lib/assets/MatchfileTemplate
  match/spec/setup_spec.rb
  scan/lib/assets/ScanfileTemplate
  screengrab/lib/assets/ScreengrabfileTemplate
  snapshot/lib/assets/SnapfileTemplate
  spaceship/README.md
Labels: cla: yes

#11873 FastLane android init: clean before build/deploy
  fastlane/lib/fastlane/setup/setup_android.rb
Labels: cla: yes

#11874 Added whitespace after URL in error message
  sigh/lib/sigh/runner.rb
Labels: cla: yes

#11325 Update reference to age rating template
  spaceship/docs/iTunesConnect.md
Labels: cla: no, cla: yes, status: needs-attention

#11300 [snapshot] Fixes failure on physical device due to snapshot()
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, status: needs-attention, tool: snapshot

#11882 Add option to disable any kind of formatting on the output
  fastlane_core/README.md
  fastlane_core/lib/fastlane_core/ui/implementations/shell.rb
Labels: cla: yes

#11889 Setting keychain path to decode provisioning profiles
  fastlane_core/lib/fastlane_core/provisioning_profile.rb
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
Labels: cla: yes

#11898 Fix actions default values
  fastlane/lib/assets/ActionDetails.md.erb
  fastlane/lib/fastlane/actions/add_git_tag.rb
  fastlane/lib/fastlane/actions/appetize.rb
  fastlane/lib/fastlane/actions/backup_xcarchive.rb
  fastlane/lib/fastlane/actions/commit_github_file.rb
  fastlane/lib/fastlane/actions/gradle.rb
  fastlane/lib/fastlane/actions/hg_push.rb
  fastlane/lib/fastlane/actions/import_from_git.rb
  fastlane/lib/fastlane/actions/ipa.rb
  fastlane/lib/fastlane/actions/nexus_upload.rb
  fastlane/lib/fastlane/actions/push_git_tags.rb
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
  fastlane/lib/fastlane/actions/reset_git_repo.rb
  fastlane/lib/fastlane/actions/update_fastlane.rb
  fastlane/lib/fastlane/documentation/actions_list.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  gym/lib/gym/options.rb
  pem/lib/pem/options.rb
  scan/lib/scan/options.rb
  snapshot/lib/snapshot/options.rb
Labels: cla: yes

#11897 Disable more tests on Windows (temporarily)
  fastlane/spec/actions_specs/automatic_code_signing_spec.rb
  spec_helper.rb
Labels: cla: yes

#11899 Fix syntax errors for sample code
  fastlane/lib/fastlane/actions/import_from_git.rb
Labels: cla: yes

#11346 [sigh] Fix entitlements merging when resigning with `use_app_entitlements` option
  sigh/lib/assets/resign.sh
Labels: cla: yes, status: needs-attention

#11894 Update capture_ios_screenshots.md
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
Labels: cla: yes

#11906 Add support for 10 screenshots on iTunes Connect
  deliver/lib/deliver/upload_screenshots.rb
  spaceship/lib/spaceship/tunes/app_version.rb
  spaceship/spec/tunes/app_version_spec.rb
Labels: cla: yes, tool: deliver, tool: spaceship

#11907 Version bump to 2.82.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#11908 Add @minuscorp and @AndrewMcBurney to fastlane team
  team.json
Labels: cla: yes

#11911 Cache groups by app_id
  spaceship/lib/spaceship/test_flight/client.rb
Labels: cla: yes

#11918 Fix for regression #11917
  fastlane/lib/fastlane/erb_template_helper.rb
Labels: cla: yes

#11919 Improve actions default values formatting
  fastlane/lib/assets/ActionDetails.md.erb
  fastlane/lib/fastlane/documentation/actions_list.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
Labels: cla: yes

#11924 Add plugin scores caching
  fastlane/Fastfile
  fastlane/actions/plugin_scores.rb
  fastlane/helper/plugin_scores_helper.rb
  fastlane/plugin_scores_cache.yml
Labels: cla: yes

#11921 Ensure the correct formatting of the fastlane tools
  fastlane/lib/fastlane/actions/xcodebuild.rb
Labels: cla: yes

#11923 YES/NO auto convert fix
  fastlane/spec/actions_specs/zip_spec.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  fastlane_core/spec/configuration_spec.rb
Labels: cla: yes

#11914 Disable metrics collection
  fastlane/lib/fastlane/fast_file.rb
  fastlane/lib/fastlane/lane_manager.rb
  fastlane/lib/fastlane/runner.rb
  fastlane/lib/fastlane/swift_lane_manager.rb
  fastlane_core/lib/fastlane_core/module.rb
  fastlane_core/lib/fastlane_core/ui/errors/fastlane_error.rb
  fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb
  fastlane_core/spec/analytics/analytics_session_spec.rb
Labels: cla: yes

#11932 rubocop can't handle our contributor scale
  Rakefile
  fastlane.gemspec
Labels: cla: yes

#11920 [pilot] added option to notify external testers
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
  spaceship/lib/spaceship/test_flight/build.rb
Labels: cla: yes

#11926 Version bump to 2.83.0
  README.md
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#11857 Update fastlane UI handler to support FastlaneCI rendering
  fastlane/spec/plugins_specs/plugin_manager_spec.rb
  fastlane_core/lib/fastlane_core/ui/ui.rb
  fastlane_core/spec/ui_spec.rb
Labels: cla: yes, tool: fastlane_core

#11938 Add possibility to use a specific proxy
  spaceship/lib/spaceship/client.rb
Labels: cla: yes

#11941 Update remaining tests after merge
  fastlane/spec/plugins_specs/plugin_manager_spec.rb
Labels: cla: yes

#11935 Some actions fail if true is passed as one of their params
  fastlane/lib/fastlane/actions/artifactory.rb
  fastlane/lib/fastlane/actions/import_certificate.rb
  fastlane/lib/fastlane/actions/nexus_upload.rb
  fastlane/lib/fastlane/actions/version_bump_podspec.rb
  fastlane/lib/fastlane/actions/version_get_podspec.rb
  fastlane/lib/fastlane/actions/zip.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  fastlane_core/spec/configuration_spec.rb
  scan/lib/scan/options.rb
  snapshot/lib/snapshot/options.rb
Labels: cla: yes

#11548 match/sigh/sync_code_signing: Improving documentation on profile templates.
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match/options.rb
  sigh/lib/sigh/options.rb
Labels: cla: yes, status: needs-attention
