Repository fastlane/fastlane, pull requests merged in 2018-12, with the labels that each got.

#13782 Fix set Github release to accept an array for the uploadAssets folder
  fastlane/lib/fastlane/actions/set_github_release.rb
Labels: cla: yes, tool: action, topic: swift

#13671 [match] fixes device count in match runner
  match/lib/match/runner.rb
Labels: cla: yes, status: needs-attention, tool: match

#13753 [spaceship] Improve Logger
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/spaceauth_runner.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/client_spec.rb
Labels: cla: no, tool: spaceship

#13748 [spaceship] Improve spaceship documentation (/docs)
  spaceship/docs/Architecture.md
  spaceship/docs/Debugging.md
  spaceship/docs/TestFlightTesting.md
  spaceship/lib/spaceship/client.rb
Labels: cla: no, tool: spaceship, type: documentation

#13812 Version bump to 2.109.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13825 [spaceship] Fix logging of non-JSON request bodies
  spaceship/lib/spaceship/client.rb
Labels: cla: yes, tool: spaceship

#13827 Version bump to 2.109.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13747 fix random typo
  frameit/lib/frameit/options.rb
Labels: cla: yes, status: needs-attention, tool: frameit, type: documentation

#13589 Implement Google Cloud Storage match
  fastlane.gemspec
  match/lib/match.rb
  match/lib/match/change_password.rb
  match/lib/match/commands_generator.rb
  match/lib/match/encryption.rb
  match/lib/match/encryption/openssl.rb
  match/lib/match/migrate.rb
  match/lib/match/module.rb
  match/lib/match/nuke.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/spaceship_ensure.rb
  match/lib/match/storage.rb
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/interface.rb
  match/spec/runner_spec.rb
Labels: cla: no, status: needs-attention, tool: match

#13846 Fix AdbHelper
  fastlane/lib/fastlane/helper/adb_helper.rb
  fastlane/spec/actions_specs/adb_spec.rb
Labels: cla: yes, tool: action

#13796 [resign] move details to code example
  fastlane/lib/fastlane/actions/resign.rb
Labels: cla: yes, tool: action

#13711 [scan] resort and group options
  scan/lib/scan/options.rb
Labels: cla: yes, status: needs-attention, tool: scan

#13867 [match] fix crash in error message when no GC Cloud buckets are available
  match/lib/match/storage/google_cloud_storage.rb
Labels: cla: yes, tool: match, type: bug

#13869 Version bump to 2.110.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13872 [docs] upload_to_play_store/supply: add link to explanation of version code
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
Labels: cla: yes

#13881 Add warning about keys file during match onboarding
  match/lib/match/storage/google_cloud_storage.rb
Labels: cla: yes, tool: match

#13882 [deliver] submit for review docs
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes

#13883 Update match docs to describe Google Cloud Storage
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes, tool: match

#13884 Add match docs on how to migrate to Google Cloud
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes, tool: match

#13885 Add key information to GC bucket selection
  match/lib/match/storage/google_cloud_storage.rb
Labels: cla: yes

#13887 Add support for `gc_keys.json` file in fastlane subfolder
  match/lib/match/storage/google_cloud_storage.rb
Labels: cla: yes, tool: match

#13886 Add human-readable storage identifier string to various match outputs
  match/lib/match/nuke.rb
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/interface.rb
Labels: cla: yes, tool: match

#13888 [docs] crashlytics: better `crashlytics_path` explanation and examples
  fastlane/lib/fastlane/actions/crashlytics.rb
Labels: cla: yes

#13898 Address docs feedback by @janpio
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes

#13880 [Swift] Fix frameit's Boolean options are generated as String? instead of Bool?
  fastlane/lib/fastlane/actions/frame_screenshots.rb
  frameit/lib/frameit/module.rb
  frameit/lib/frameit/options.rb
Labels: cla: yes, topic: swift

#13836 [zip] Handle symbolic links
  fastlane/lib/fastlane/actions/zip.rb
Labels: cla: yes, tool: action

#13854 [action] Fix Crashlytics deprecated message for submit binary path
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
Labels: cla: yes, tool: action

#13890 [docs] Improve instructions for using Charles to debug spaceship
  ToolsAndDebugging.md
  spaceship/docs/Architecture.md
  spaceship/docs/Debugging.md
Labels: cla: yes

#13907 [match] fix match adhoc RuntimeError error
  spaceship/lib/spaceship/portal/provisioning_profile.rb
Labels: cla: yes

#13908 Version bump to 2.111.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13866 New action ensure_bundle_exec to enforce use of bundler
  fastlane/lib/fastlane/actions/ensure_bundle_exec.rb
Labels: cla: yes, tool: action

#13909 [spaceship] Improve Tests for Spaceship::Portal::ProvisioningProfile#factory
  spaceship/lib/spaceship/portal/provisioning_profile.rb
  spaceship/spec/provisioning_profile_spec.rb
Labels: cla: yes

#13918 [core] remove leftover launch and completion analytics from UpdateChecker
  fastlane_core/lib/fastlane_core/update_checker/update_checker.rb
  fastlane_core/spec/app_identifier_guesser_spec.rb
  fastlane_core/spec/update_checker_spec.rb
Labels: cla: yes

#13920 [deliver] default html generator to current dir
  deliver/lib/deliver/html_generator.rb
Labels: cla: yes

#13919 [spaceship] replace post_for_testflight_review with new public API
  pilot/spec/build_manager_spec.rb
  spaceship/lib/spaceship.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/base.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/test_flight/build.rb
  spaceship/lib/spaceship/test_flight/client.rb
Labels: cla: yes

#13945 [spaceship] Fix Spaceship not returning AdHoc profile
  sigh/lib/sigh/download_all.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/stubbing.rb
  spaceship/docs/DeveloperPortal.md
  spaceship/lib/spaceship/portal/provisioning_profile.rb
  spaceship/spec/portal/fixtures/dev_center_provisioning_profiles_response.json
  spaceship/spec/portal/fixtures/getProvisioningProfileAdHoc.action.json
  spaceship/spec/portal/fixtures/listProvisioningProfiles.action.json
  spaceship/spec/portal/fixtures/listProvisioningProfiles.action.plist
  spaceship/spec/provisioning_profile_spec.rb
Labels: cla: yes, tool: spaceship

#13955 Version bump to 2.112.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13946 Fix support for specifying emulator serial
  fastlane/lib/fastlane/helper/adb_helper.rb
  fastlane/spec/actions_specs/adb_spec.rb
Labels: cla: yes

#13967 check exit status of security command
  fastlane/spec/actions_specs/import_certificate_spec.rb
  fastlane_core/lib/fastlane_core/keychain_importer.rb
  match/spec/utils_spec.rb
Labels: cla: yes

#13941 Added option to spaceship to be able to release version to all users
  spaceship/lib/spaceship/tunes/app_version.rb
  spaceship/lib/spaceship/tunes/application.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/spec_helper.rb
  spaceship/spec/tunes/app_version_spec.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, tool: spaceship

#13958 [match] resort and group options
  match/lib/match/options.rb
Labels: cla: yes, tool: match

#13954 [spaceship] Fix logging to not crash when used in Threads
  spaceship/lib/spaceship/client.rb
Labels: cla: yes, tool: spaceship

#13878 [spaceship] Improve TunesClient request retry
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes, tool: spaceship

#13795 [snapshot] Sort screenshots.html by screen name
  snapshot/lib/snapshot/page.html.erb
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes, status: needs-attention, tool: snapshot
