Repository fastlane/fastlane, pull requests merged in 2018-06, with the labels that each got.

#12640 [action] add mute to say action (with rework)
  fastlane/lib/fastlane/actions/say.rb
  fastlane/lib/fastlane/fast_file.rb
  fastlane/spec/actions_specs/say_spec.rb
Labels: cla: yes

#12540 increment_build_number informs user what to do when detecting SRCROOT
  fastlane/lib/fastlane/actions/increment_build_number.rb
  fastlane/spec/actions_specs/increment_build_number_action_spec.rb
  fastlane/spec/actions_specs/set_build_number_repository_spec.rb
Labels: cla: yes, status: needs-attention

#12674 Version bump to 2.97.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes

#12685 Add support for the latest capabilities available in the Developer Portal
  spaceship/lib/spaceship/portal/app_service.rb
Labels: cla: yes

#12727 require terminal-table in files that didn't
  fastlane/lib/fastlane/plugins/plugin_search.rb
  fastlane/lib/fastlane/plugins/plugin_update_manager.rb
Labels: cla: yes

#12735 Ensure correct formatting for code snippets
  fastlane/Fastfile
  fastlane/lib/fastlane/actions/docs/build_ios_app.md
  fastlane/lib/fastlane/actions/docs/check_app_store_metadata.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  fastlane/lib/fastlane/actions/docs/get_provisioning_profile.md
  fastlane/lib/fastlane/actions/docs/get_push_certificate.md
  fastlane/lib/fastlane/actions/docs/run_tests.md
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane/lib/fastlane/documentation/markdown_docs_generator.rb
Labels: cla: yes

#12736 Update example in modify_services
  fastlane/lib/fastlane/actions/modify_services.rb
Labels: cla: yes

#12614 Login is the default keychain name
  fastlane/lib/fastlane/actions/unlock_keychain.rb
Labels: cla: yes, status: needs-attention

#12620 [nexus_upload] Add support for Nexus 3
  fastlane/lib/fastlane/actions/nexus_upload.rb
  fastlane/spec/actions_specs/nexus_upload_spec.rb
Labels: cla: yes, status: needs-attention

#12684 Make Carthage action support dependencies for bootstrap command
  fastlane/lib/fastlane/actions/carthage.rb
  fastlane/spec/actions_specs/carthage_spec.rb
Labels: cla: yes

#12737 [snapshot] initialize directories on retry and clear collected_errors on retry
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes

#12742 [action] app_store_build_number now nicely alerts user when no live version
  fastlane/lib/fastlane/actions/app_store_build_number.rb
Labels: cla: yes

#12715 Lock xcpretty at 0.2.x to prevent auto 0.3.x updates
  fastlane.gemspec
Labels: cla: yes

#12565 [pilot] - reject previous 'waiting for review' build
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
  spaceship/lib/spaceship/test_flight/build.rb
  spaceship/spec/test_flight/build_spec.rb
Labels: cla: yes, status: needs-attention

#12716 Prevent automatic_code_signing spec from changing test fixture
  fastlane/spec/actions_specs/automatic_code_signing_spec.rb
Labels: cla: yes

#12730 fixes doc on how to use export_options in Gymfile
  fastlane/lib/fastlane/actions/docs/build_ios_app.md
Labels: cla: yes

#12732 [supply] set google client send_timeout
  supply/lib/supply/client.rb
Labels: cla: yes

#12768 Version bump to 2.98.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12467 Account for adhoc certificates under enterprise accounts
  sigh/lib/sigh/runner.rb
Labels: cla: yes, status: needs-attention

#12668 Raise error when submission fails on export compliance
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes, status: needs-attention

#12779 Do not track .rakeTasks files
  .gitignore
Labels: cla: yes

#12787 Fix detecting provisioning profiles
  gym/lib/gym/detect_values.rb
  gym/lib/gym/generators/package_command_generator_xcode7.rb
Labels: cla: yes

#12783 Fix fastlane session caching
  spaceship/lib/spaceship/client.rb
Labels: cla: yes

#12754 Scan formatter backticks patch
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes

#12752 testflight - added method to find internal users
  spaceship/lib/spaceship/test_flight/client.rb
  spaceship/spec/test_flight/client_spec.rb
Labels: cla: yes

#12634 Allow parameterize port
  fastlane/lib/fastlane/command_line_handler.rb
  fastlane/lib/fastlane/commands_generator.rb
  fastlane/lib/fastlane/server/socket_server.rb
  fastlane/lib/fastlane/swift_lane_manager.rb
  fastlane/swift/ArgumentProcessor.swift
  fastlane/swift/Runner.swift
  fastlane/swift/main.swift
Labels: cla: yes, status: needs-attention

#12802 Accept an Array to github_api body
  fastlane/lib/fastlane/actions/github_api.rb
  fastlane/spec/actions_specs/github_api_spec.rb
Labels: cla: yes, tool: action

#12811 added default value for cocoapods option
  fastlane/lib/fastlane/actions/cocoapods.rb
Labels: cla: yes

#12639 Spaceship app analytics
  spaceship/lib/spaceship/tunes/app_analytics.rb
  spaceship/lib/spaceship/tunes/application.rb
  spaceship/lib/spaceship/tunes/tunes.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/app_analytics_spec.rb
  spaceship/spec/tunes/fixtures/app_analytics_active_devices.json
  spaceship/spec/tunes/fixtures/app_analytics_crashes.json
  spaceship/spec/tunes/fixtures/app_analytics_in_app_purchases.json
  spaceship/spec/tunes/fixtures/app_analytics_installs.json
  spaceship/spec/tunes/fixtures/app_analytics_paying_users.json
  spaceship/spec/tunes/fixtures/app_analytics_sales.json
  spaceship/spec/tunes/fixtures/app_analytics_sessions.json
  spaceship/spec/tunes/fixtures/app_analytics_units.json
  spaceship/spec/tunes/fixtures/app_analytics_views.json
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, status: needs-attention

#12781 Re-add metrics
  fastlane/lib/fastlane/fast_file.rb
  fastlane/lib/fastlane/lane_manager.rb
  fastlane/lib/fastlane/runner.rb
  fastlane/lib/fastlane/swift_lane_manager.rb
  fastlane_core/lib/fastlane_core/analytics/analytics_event_builder.rb
  fastlane_core/lib/fastlane_core/analytics/analytics_ingester_client.rb
  fastlane_core/lib/fastlane_core/analytics/analytics_session.rb
  fastlane_core/lib/fastlane_core/analytics/app_identifier_guesser.rb
  fastlane_core/lib/fastlane_core/module.rb
  fastlane_core/lib/fastlane_core/ui/errors/fastlane_error.rb
  fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb
  fastlane_core/spec/analytics/analytics_event_builder_spec.rb
  fastlane_core/spec/analytics/analytics_session_spec.rb
Labels: cla: yes
