Repository fastlane/fastlane, pull requests merged in 2018-09, with the labels that each got.

#13254 Fix device name mapping of snapshot report generator for Xcode 9
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes, tool: snapshot

#13258 [spaceship] Remove ensure_csrf in 'delete_provisioning_profile!' for more relability
  spaceship/lib/spaceship/portal/portal_client.rb
Labels: cla: yes

#13204 [deliver] fix submission of tvos build on combined ios/tvos apps
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_metadata.rb
  spaceship/lib/spaceship/tunes/app_submission.rb
  spaceship/lib/spaceship/tunes/application.rb
Labels: cla: yes, tool: deliver, tool: spaceship

#13255 [spaceship] also catch and handle "Gateway Timeout"
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/errors.rb
  spaceship/spec/client_spec.rb
Labels: cla: no

#13137 Catch syntax errors in imported actions
  .rubocop.yml
  fastlane/lib/fastlane/actions/actions_helper.rb
  fastlane/spec/actions_helper_spec.rb
  fastlane/spec/fixtures/broken_files/broken_file.rb
Labels: cla: yes, status: needs-attention

#13272 [spaceship] update API endpoints to use https://appstoreconnect.apple.com
  ToolsAndDebugging.md
  spaceship/README.md
  spaceship/docs/TestFlightTesting.md
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/test_flight/client.rb
  spaceship/lib/spaceship/tunes/app_version.rb
  spaceship/lib/spaceship/tunes/application.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/du/du_stubbing.rb
  spaceship/spec/mock_servers.rb
  spaceship/spec/test_flight/client_spec.rb
  spaceship/spec/tunes/app_version_spec.rb
  spaceship/spec/tunes/application_spec.rb
  spaceship/spec/tunes/fixtures/login_cookie_spam.txt
  spaceship/spec/tunes/server_failures_spec.rb
  spaceship/spec/tunes/tunes_client_spec.rb
  spaceship/spec/tunes/tunes_permissions_spec.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes

#13273 Update xcpretty to 0.3.0
  fastlane.gemspec
Labels: cla: yes

#13278 Version bump to 2.103.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13291 [spaceship] use itunesconnect.com hostname when looking up itc_service_key for olympus session
  spaceship/lib/spaceship/client.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes

#13280 Pull in new test result path for Xcode 10.
  fastlane/lib/fastlane/actions/run_tests.rb
Labels: cla: yes

#13285 [scan] add skip_detect_devices
  scan/lib/scan/detect_values.rb
  scan/lib/scan/options.rb
Labels: cla: yes

#13307 [gemspec] Use rubyzip >= 1.2.2
  fastlane.gemspec
Labels: cla: yes

#13315 [deliver] always only submit latest build
  deliver/lib/deliver/submit_for_review.rb
Labels: cla: yes

#13299 Add an option to overwrite zip file
  fastlane_core/lib/fastlane_core/helper.rb
  scan/lib/scan/runner.rb
  scan/spec/runner_spec.rb
Labels: cla: yes

#13279 Fix includes in docs
  fastlane/actions/plugin_scores.rb
  fastlane/lib/assets/Actions.md.erb
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
Labels: cla: yes

#13325 [core] bubble up FastlanePty exit status in FastlanePtyError
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/lib/fastlane_core/fastlane_pty.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
Labels: cla: yes

#13328 [core] add exit_status to FastlanePty errors
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/lib/fastlane_core/fastlane_pty.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: cla: no

#13230 [core] Extend Shellwords (`String.shellescape`, `Array.shelljoin`) for Windows support
  fastlane/lib/fastlane/actions/add_git_tag.rb
  fastlane/spec/actions_specs/add_git_tag_spec.rb
  fastlane/spec/actions_specs/appledoc_spec.rb
  fastlane/spec/actions_specs/carthage_spec.rb
  fastlane/spec/actions_specs/changelog_from_git_commits_spec.rb
  fastlane/spec/actions_specs/create_keychain_spec.rb
  fastlane/spec/actions_specs/ensure_no_debug_code_spec.rb
  fastlane/spec/actions_specs/git_add_spec.rb
  fastlane/spec/actions_specs/git_commit_spec.rb
  fastlane/spec/actions_specs/import_certificate_spec.rb
  fastlane/spec/actions_specs/install_on_device_spec.rb
  fastlane/spec/actions_specs/oclint_spec.rb
  fastlane/spec/actions_specs/slather_spec.rb
  fastlane/spec/actions_specs/swiftlint_spec.rb
  fastlane/spec/helper/sh_helper_spec.rb
  fastlane_core/lib/fastlane_core.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  fastlane_core/lib/fastlane_core/core_ext/shellwords.rb
  fastlane_core/spec/cert_checker_spec.rb
  fastlane_core/spec/configuration_spec.rb
  fastlane_core/spec/core_ext/shellwords_ext_spec.rb
  match/spec/utils_spec.rb
Labels: cla: yes, os: windows

#13333 Report fastlane.swift usage vs normal fastlane (ruby) usage
  fastlane/lib/fastlane/fast_file.rb
  fastlane/lib/fastlane/runner.rb
  fastlane/lib/fastlane/server/socket_server_action_command_executor.rb
  fastlane_core/lib/fastlane_core/analytics/action_completion_context.rb
  fastlane_core/lib/fastlane_core/analytics/action_launch_context.rb
  fastlane_core/lib/fastlane_core/analytics/analytics_event_builder.rb
  fastlane_core/lib/fastlane_core/analytics/analytics_session.rb
  fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb
  fastlane_core/spec/analytics/analytics_event_builder_spec.rb
  fastlane_core/spec/analytics/analytics_session_spec.rb
Labels: cla: yes

#13350 Adding a way to parse marketing url and privacy policy url
  spaceship/lib/spaceship/test_flight/test_info.rb
  spaceship/spec/test_flight/test_info_spec.rb
Labels: cla: yes

#13301 [scan] Make it clear that output_style: raw disables xcpretty
  scan/lib/scan/options.rb
Labels: cla: yes

#13314 Push only tags on `push_git_tags`
  fastlane/lib/fastlane/actions/push_git_tags.rb
  fastlane/spec/actions_specs/push_git_tags_spec.rb
Labels: cla: yes

#13322 FL_HOCKEY_TIMEOUT fix for "undefined method `zero?'"
  fastlane/lib/fastlane/actions/hockey.rb
Labels: cla: yes

#13357 [core] Add keychain as context to match error
  fastlane_core/lib/fastlane_core/cert_checker.rb
Labels: cla: yes

#13366 [deliver,spaceship] Support new screen size (iPhone XS Max)
  deliver/lib/deliver/app_screenshot.rb
  spaceship/lib/spaceship/du/du_client.rb
  spaceship/lib/spaceship/tunes/device_type.rb
Labels: cla: yes, tool: deliver, tool: spaceship

#13378 [documentation - changelog_from_git_commits] Fixes typo -
  fastlane/lib/fastlane/actions/changelog_from_git_commits.rb
Labels: cla: yes

#13335 [spaceship] Include ApplePayMerchantIdentifier certificates
  spaceship/lib/spaceship/portal/certificate.rb
  spaceship/spec/portal/portal_stubbing.rb
Labels: cla: yes, tool: spaceship

#13363 Distribution name with deploygate action
  fastlane/lib/fastlane/actions/deploygate.rb
  fastlane/spec/actions_specs/deploygate_spec.rb
Labels: cla: yes, tool: action

#13391 [docs] Fix test_sample_code to use ConfigItem methods for ensuring valid values
  fastlane/actions/test_sample_code.rb
  fastlane/lib/fastlane/actions/import_from_git.rb
Labels: cla: yes

#13396 [docs] fix CircleCI shield badge
  README.md
Labels: cla: yes

#13324 [scan] add option to pass xcpretty options
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
  scan/lib/scan/test_command_generator.rb
  scan/lib/scan/xcpretty_reporter_options_generator.rb
  scan/spec/xcpretty_reporter_options_generator_spec.rb
Labels: cla: yes

#13369 Return authority info for gather_cert_info
  fastlane/lib/fastlane/actions/verify_build.rb
  fastlane/spec/actions_specs/verify_build_spec.rb
Labels: cla: yes, tool: action

#13348 Tryouts token is a combination of key and secret
  fastlane/lib/fastlane/actions/tryouts.rb
Labels: cla: yes

#13377 Added auto_fill_credential to produce enable_services
  fastlane/lib/fastlane/actions/modify_services.rb
  produce/lib/produce/commands_generator.rb
  produce/lib/produce/developer_center.rb
  produce/lib/produce/service.rb
Labels: cla: yes

#13351 [supply] prevent disabling of tracks on promotion
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
  supply/spec/uploader_spec.rb
Labels: cla: yes, tool: supply

#13399 Version bump to 2.105.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13412 [core] fix for when FastlaneFolder.swift? when no Fastfile or Fastfile.swift?
  fastlane_core/lib/fastlane_core/fastlane_folder.rb
  fastlane_core/spec/fastlane_folder_spec.rb
Labels: cla: yes

#13413 Version bump to 2.105.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13407 Fix UDID format for new iPhone XS
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
Labels: cla: yes

#13416 [snapshot] add new apple devices to device mapping
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes

#13419 Version bump to 2.105.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13418 Fix incorrect comment in example code
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
Labels: cla: yes

#13420 [spaceship] Improve code comment/documentation
  spaceship/lib/spaceship/tunes/app_details.rb
Labels: cla: yes

#13425 make `Helper.ci?` return true when running on Azure DevOps (VSTS)
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/helper_spec.rb
Labels: cla: yes

#13415 Fix modify_services by adding missing keys to services_mapping (13090)
  fastlane/lib/fastlane/actions/modify_services.rb
Labels: cla: yes

#13345 [deliver] wait for candidate builds to appear if not available immediately
  deliver/lib/deliver/submit_for_review.rb
  deliver/spec/submit_for_review_spec.rb
Labels: cla: yes, tool: deliver

#13442 Update `fastlane spaceauth` command to work with new API
  spaceship/lib/spaceship/spaceauth_runner.rb
Labels: cla: yes

#13448 Remove broken LOAD_PATH.push
  bin/fastlane
Labels: cla: yes

#13450 Remove unused ItunesSearchApi
  fastlane_core/lib/fastlane_core.rb
  fastlane_core/lib/fastlane_core/itunes_search_api.rb
  fastlane_core/spec/itunes_search_api_spec.rb
Labels: cla: yes

#13468 random .shellescape instead of hard coded wrapping in single quotes
  fastlane/helper/plugin_scores_helper.rb
Labels: cla: yes

#13467 Replace Shellwords.*(var) with var.*
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
  fastlane/spec/actions_specs/apteligent_spec.rb
  fastlane_core/lib/fastlane_core/device_manager.rb
Labels: cla: yes

#13464 [frameit] Fix downloading frames on Windows
  frameit/lib/frameit/editor.rb
  frameit/lib/frameit/frame_downloader.rb
Labels: cla: yes

#13462 [snapshot] Improve screenshot rotation code
  snapshot/lib/snapshot/screenshot_rotate.rb
Labels: cla: yes

#13167 Improve fastlane startup time using bootsnap - behind feature flag (-61% on macOS, -65% on Ubuntu, -7% on Windows!)
  Gemfile
  bin/fastlane
  fastlane.gemspec
  fastlane/Fastfile
Labels: cla: yes, status: needs-attention

#13113 New action `download_from_play_store` that does as an action what `fastlane supply init` does as a command
  fastlane/lib/fastlane/actions/download_from_play_store.rb
  fastlane/spec/unused_options_spec.rb
Labels: cla: yes, status: needs-attention

#13453 [deliver,spaceship] Support a new screenshot (Apple Watch Series 4)
  deliver/lib/deliver/app_screenshot.rb
  spaceship/lib/spaceship/du/du_client.rb
  spaceship/lib/spaceship/tunes/device_type.rb
Labels: cla: yes, tool: spaceship
