Repository fastlane/fastlane, pull requests merged in 2018-07, with the labels that each got.

#12828 Fixed installation of test apk's
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes

#12835 Version bump to 2.99.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12836 Add note about metrics
  README.md
Labels: cla: yes

#12869 Enable IP anonymization for analytics
  fastlane_core/lib/fastlane_core/analytics/analytics_ingester_client.rb
Labels: cla: yes

#12876 [action] updated crashlytics to search for submit binary location outside of framework
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
  fastlane/spec/actions_specs/crashlytics_spec.rb
Labels: cla: yes

#12884 Version bump to 2.99.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12814 [Fastlane.swift] Now has access to lane name with laneContext() and environmentVariable()
  fastlane/lib/fastlane/swift_lane_manager.rb
Labels: cla: yes

#12823 [Fastlane.swift] pod_lib_lint and pod_push sources option is now an array
  fastlane/lib/fastlane/actions/pod_lib_lint.rb
  fastlane/lib/fastlane/actions/pod_push.rb
Labels: cla: yes

#12829 Set ConnectHardwareKeyboard to false for all simulators. Issue #12325.
  snapshot/lib/snapshot/fixes/hardware_keyboard_fix.rb
Labels: cla: yes

#12858 Fix incorrect service id for Wallet
  spaceship/lib/spaceship/portal/app_service.rb
Labels: cla: yes

#12860 Fix wording in ensure_git_branch's output message
  fastlane/lib/fastlane/actions/ensure_git_branch.rb
Labels: cla: yes

#12864 Make all require types consistent
  .rubocop.yml
  fastlane/Fastfile
Labels: cla: yes

#12841 Remove un-needed puts from configuration_file.rb
  fastlane_core/lib/fastlane_core/configuration/configuration_file.rb
Labels: cla: yes

#12812 [deliver] generate Preview.html file in fastlane directory like gitignore docs suggests (see migration notes)
  deliver/lib/deliver/html_generator.rb
Labels: cla: yes

#12862 [spaceship] remove defaulting push notifications on in create_app
  produce/lib/produce/developer_center.rb
  spaceship/lib/spaceship/portal/portal_client.rb
  spaceship/spec/portal/fixtures/addAppId.action.apostroph.json
  spaceship/spec/portal/fixtures/addAppId.action.explicit.json
  spaceship/spec/portal/fixtures/addAppId.action.push.json
  spaceship/spec/portal/portal_client_spec.rb
  spaceship/spec/portal/portal_stubbing.rb
Labels: cla: yes

#12809 [action] fix version_get_podspec to allow parsing pre-release suffix
  fastlane/lib/fastlane/helper/podspec_helper.rb
  fastlane/spec/helper/podspec_helper_spec.rb
Labels: cla: yes, status: needs-attention

#12863 [action] fix reset_simulator_contents to work with Xcode 9 and later
  fastlane/lib/fastlane/actions/reset_simulator_contents.rb
Labels: cla: yes

#12897 Show opt-out message the first time fastlane runs
  fastlane_core/lib/fastlane_core/analytics/analytics_session.rb
Labels: cla: yes

#12896 [action] crashlytics action handles user set crashlytics path better if submit binary not linked directly
  .gitignore
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
  fastlane/spec/actions_specs/crashlytics_spec.rb
  fastlane/spec/fixtures/actions/crashlytics/submit
Labels: cla: yes

#12825 [snapshot] add result_bundle option (same as gym and scan)
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/test_command_generator.rb
  snapshot/lib/snapshot/test_command_generator_base.rb
  snapshot/lib/snapshot/test_command_generator_xcode_8.rb
Labels: cla: yes

#12846 Fix option to disable ssl verification
  fastlane/lib/fastlane/actions/github_api.rb
  fastlane/spec/actions_specs/github_api_spec.rb
Labels: cla: yes

#12881 [snapshot] fix bug getting the device width
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes

#12904 Replace occurrences of "iTunesConnect" with "App Store Connect"
  fastlane/lib/fastlane/actions/download_dsyms.rb
  pilot/lib/pilot/options.rb
  spaceship/README.md
  spaceship/docs/AppStoreConnect.md
  spaceship/docs/iTunesConnect.md
  spaceship/lib/spaceship/tunes/app_ratings.rb
  spaceship/lib/spaceship/tunes/spaceship.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes

#12907 Add server url to the Sonar action
  fastlane/lib/fastlane/actions/sonar.rb
Labels: cla: yes

#12912 Add new option to "jira" action
  fastlane/lib/fastlane/actions/jira.rb
Labels: cla: yes

#12832 [action] add dsym_paths option to upload_symbols_to_crashlytics
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane/spec/actions_specs/upload_symbols_to_crashlytics_spec.rb
  fastlane/spec/fixtures/dSYM/Themoji2.dSYM/Contents/Info.plist
  fastlane/spec/fixtures/dSYM/Themoji2.dSYM/Contents/Resources/BA84E1C7-148F-37B0-B36D-2DC5C6493464.plist
Labels: cla: yes, status: needs-attention

#12922 [test] Fix failing tests on master
  fastlane/spec/actions_specs/upload_symbols_to_crashlytics_spec.rb
Labels: cla: yes

#12916 [scan] raise error if scan fails with a building/compiling error
  fastlane/lib/fastlane/actions/run_tests.rb
  fastlane/spec/actions_specs/run_tests_spec.rb
Labels: cla: yes

#12927 Version bump to 2.100.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#12940 [action] remove conflicting_options on repo_update in cocoapods action
  fastlane/lib/fastlane/actions/cocoapods.rb
Labels: cla: yes

#12941 Version bump to 2.100.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12918 [gemspec] Make Google API Client gemspec version looser
  fastlane.gemspec
Labels: cla: yes

#12856 Fix issue that uploading aab with mapping file
  supply/lib/supply/uploader.rb
Labels: cla: yes, status: needs-attention

#12926 added author_email to last_git_commit action
  fastlane/lib/fastlane/actions/last_git_commit.rb
  fastlane/lib/fastlane/helper/git_helper.rb
Labels: cla: yes

#12938 Ensure correct formatting for fastlane tools
  fastlane/Fastfile
  fastlane/lib/fastlane/actions/docs/get_push_certificate.md
Labels: cla: yes

#12936 [docs] Update docs for importing external testers
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
Labels: cla: yes

#12967 [spaceship] Parametrize view_by in analytics API
  spaceship/lib/spaceship/tunes/app_analytics.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/app_analytics_spec.rb
  spaceship/spec/tunes/fixtures/app_analytics_installs_by_source.json
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes

#12985 [Improvement] Filter out non-xcodeproj files from the list returned by `project_paths`.
  fastlane_core/lib/fastlane_core/project.rb
  gym/spec/fixtures/projects/cocoapods/Example.xcworkspace/contents.xcworkspacedata
Labels: cla: yes

#12990 Add trailing slash to generated (and individual) docs links
  fastlane/lib/assets/Actions.md.erb
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  fastlane/lib/fastlane/actions/ipa.rb
Labels: cla: yes

#12993 Make Testing.md more flexible
  Testing.md
Labels: cla: yes

#11875 Spaceship: support subscription_pricing_target when creating IAP.
  spaceship/lib/spaceship/tunes/iap.rb
  spaceship/lib/spaceship/tunes/iap_detail.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/fixtures/iap_create_recurring_without_pricing.json
  spaceship/spec/tunes/iap_detail_spec.rb
  spaceship/spec/tunes/iap_spec.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#12964 Fix/window is not found
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes

#12981 [supply] added new timeout option
  supply/lib/supply/client.rb
  supply/lib/supply/options.rb
Labels: cla: yes

#12997 Version bump to 2.101.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes
