Repository fastlane/fastlane, pull requests merged in 2018-08, with the labels that each got.

#13001 allow fastlane to fetch list of available bundle ids
  spaceship/lib/spaceship/tunes/application.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/application_spec.rb
Labels: cla: yes

#12998 Return empty array when aab not set
  supply/lib/supply/uploader.rb
Labels: cla: yes

#13010 Add trailing slash to docs links
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
Labels: cla: yes

#13011 Version bump to 2.101.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13014 [action] google_play_track_version_codes needs :timeout
  fastlane/lib/fastlane/actions/google_play_track_version_codes.rb
Labels: cla: yes

#12999 Fixed documentation for gradle
  fastlane/lib/fastlane/actions/gradle.rb
Labels: cla: yes

#13006 Add external links to descriptions of actions for external services
  fastlane/lib/fastlane/actions/appaloosa.rb
  fastlane/lib/fastlane/actions/appetize.rb
  fastlane/lib/fastlane/actions/apteligent.rb
  fastlane/lib/fastlane/actions/chatwork.rb
  fastlane/lib/fastlane/actions/crashlytics.rb
  fastlane/lib/fastlane/actions/flock.rb
  fastlane/lib/fastlane/actions/hipchat.rb
  fastlane/lib/fastlane/actions/hockey.rb
  fastlane/lib/fastlane/actions/ifttt.rb
  fastlane/lib/fastlane/actions/installr.rb
  fastlane/lib/fastlane/actions/nexus_upload.rb
  fastlane/lib/fastlane/actions/onesignal.rb
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/lib/fastlane/actions/splunkmint.rb
  fastlane/lib/fastlane/actions/testfairy.rb
  fastlane/lib/fastlane/actions/tryouts.rb
  fastlane/lib/fastlane/actions/twitter.rb
  fastlane/lib/fastlane/actions/typetalk.rb
  fastlane/lib/fastlane/actions/update_urban_airship_configuration.rb
Labels: cla: yes

#13043 Document api_token as optional in the action create_pull_request
  fastlane/lib/fastlane/actions/create_pull_request.rb
Labels: cla: yes

#13045 docs: add trailing slash to link
  fastlane/lib/assets/ActionDetails.md.erb
  fastlane/lib/fastlane/actions/docs/get_certificates.md
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes

#13003 Add Match manual for handling multiple apps per developer account
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes

#13052 Display success logs in git_add only when it has been a success
  fastlane/lib/fastlane/actions/git_add.rb
Labels: cla: yes

#13078 Invalidate group list when a group is created
  spaceship/lib/spaceship/test_flight/client.rb
Labels: cla: yes

#12995 Fix FastlanePty.spawn on Windows
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/lib/fastlane_core/fastlane_pty.rb
  fastlane_core/spec/command_executor_spec.rb
Labels: cla: yes

#13077 [supply] always return empty array for tracks
  supply/lib/supply/client.rb
Labels: cla: yes

#13064 [screengrab] replace double escape with simple escape so command also works on Windows
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes

#13065 [screengrab] strip whitespace from device_ext_storage to get rid of newline on Windows
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes

#13095 [deliver] Handle frameit "fonts" directory
  deliver/lib/deliver/loader.rb
  deliver/spec/loader_spec.rb
Labels: cla: yes, tool: deliver, type: bug, type: enhancement

#13093 Add comment for incorrect env names in pilot and snapshot
  pilot/lib/pilot/options.rb
  snapshot/lib/snapshot/options.rb
Labels: cla: yes

#13103 Fastfile: output number of checked files in `ensure_code_samples`
  fastlane/Fastfile
Labels: cla: yes

#13110 Ensure correct formatting for fastlane tools
  fastlane/Fastfile
  fastlane/lib/fastlane/actions/docs/build_ios_app.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  fastlane/lib/fastlane/actions/docs/get_certificates.md
  fastlane/lib/fastlane/actions/docs/get_push_certificate.md
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  spaceship/README.md
Labels: cla: yes

#13115 Emojify `supply init` output
  supply/lib/supply/setup.rb
Labels: cla: yes

#13111 [action] deprecate options in cocoapods that no longer exist
  fastlane/lib/fastlane/actions/cocoapods.rb
Labels: cla: yes

#13128 [pilot] fix `fastlane pilot find`
  pilot/lib/pilot/tester_manager.rb
Labels: cla: yes

#13129 [spaceship] change tester.pretty_install_date to useful date format
  spaceship/lib/spaceship/test_flight/tester.rb
Labels: cla: yes

#13136 Version bump to 2.102.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13107 [CI] check "special action docs" code samples
  fastlane/Fastfile
  fastlane/lib/fastlane/fast_file.rb
Labels: cla: yes

#13116 [deliver] Sort and comment options
  deliver/lib/deliver/options.rb
Labels: cla: yes

#13074 Spaceship/Produce iCloud Containers
  fastlane/lib/fastlane/actions/docs/create_app_online.md
  produce/lib/produce/cloud_container.rb
  produce/lib/produce/commands_generator.rb
  produce/spec/commands_generator_spec.rb
  spaceship/docs/DeveloperPortal.md
  spaceship/lib/spaceship/portal/app.rb
  spaceship/lib/spaceship/portal/cloud_container.rb
  spaceship/lib/spaceship/portal/portal.rb
  spaceship/lib/spaceship/portal/portal_client.rb
  spaceship/lib/spaceship/portal/spaceship.rb
Labels: cla: yes

#13154 Make CredentialsManager output more Windows friendly
  credentials_manager/lib/credentials_manager/account_manager.rb
Labels: cla: yes

#13182 [CI/AppVeyor] Remove dependency on Chocolatey
  appveyor.yml
Labels: cla: yes

#13120 [precheck] support IDN: normalize URI before creating connection
  precheck/lib/precheck/rules/unreachable_urls_rule.rb
  precheck/spec/rules/unreachable_urls_rule_spec.rb
Labels: cla: yes

#13153 Testing.md: Add information what to put in Gemfile in this file instead of just referring to other file
  Testing.md
Labels: cla: yes

#13161 [screengrab] Docs: add instructions how to build APKs via lane
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
Labels: cla: yes

#13163 [gradle] Docs: Add `task: "clean"` example
  fastlane/lib/fastlane/actions/gradle.rb
Labels: cla: yes

#13183 [Docs] Android screenshot build lane: camelCase => snake_case
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
Labels: cla: yes

#13158 New action category: App Store Connect
  fastlane/lib/fastlane/action.rb
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/check_app_store_metadata.rb
  fastlane/lib/fastlane/actions/create_app_online.rb
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/lib/fastlane/documentation/markdown_docs_generator.rb
Labels: cla: yes

#13200 [GitHub] Fix pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#13202 [produce] reprompt app name on failed create_app_online setup
  fastlane/lib/fastlane/setup/setup_ios.rb
Labels: cla: yes

#13197 [Fastlane.swift] init Deliverfile with Deliverfile swift class
  deliver/lib/assets/DeliverfileDefault.swift
Labels: cla: yes

#13196 Remove duplicate instructions
  snapshot/lib/snapshot/commands_generator.rb
Labels: cla: yes

#13201 [deliver] fix double screenshots directory on deliver setup
  deliver/lib/deliver/setup.rb
Labels: cla: yes

#13216 [Pilot] Print error when failing to import tester
  pilot/lib/pilot/tester_importer.rb
Labels: cla: yes

#13211 [supply] remove unused CredentialsLoader
  supply/lib/supply/client.rb
Labels: cla: yes

#13191 [CI/Appveyor] cleaner way to install iconv on Windows
  appveyor.yml
Labels: cla: yes

#13205 [snapshot] added check for missing Snapshot Helper File (#13038)
  snapshot/lib/snapshot/runner.rb
Labels: cla: yes

#13155 Move `rescue Errno::EIO` into FastlanePty
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/lib/fastlane_core/fastlane_pty.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/command_executor_spec.rb
  spec_helper.rb
Labels: cla: yes

#13223 [deliver] make screenshots path relative to Preview.html file
  deliver/lib/assets/summary.html.erb
  deliver/lib/deliver/html_generator.rb
Labels: cla: yes

#13253 update xcodeproj gem to 1.6.0
  fastlane.gemspec
  fastlane/spec/actions_specs/automatic_code_signing_spec.rb
  spec_helper.rb
Labels: cla: yes

#13148 iTMSTransporter support on Windows
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/lib/fastlane_core/ipa_upload_package_builder.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: cla: yes

#13040 Limit reviews upto date specified.
  spaceship/lib/spaceship/tunes/app_ratings.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/app_ratings_spec.rb
Labels: cla: no, status: needs-attention

#13166 measure fastlane startup time via execution time of `--help` command 🏎️
  fastlane/Fastfile
Labels: cla: yes

#13250 [produce] removed log with a tag of iTC
  produce/lib/produce/itunes_connect.rb
Labels: cla: yes
