Repository fastlane/fastlane, pull requests merged in 2018-05, with the labels that each got.

#12377 Scan: Add option to limit max concurrent simulators
  scan/lib/scan/options.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes

#12409 added secure text input option
  fastlane/lib/fastlane/actions/prompt.rb
Labels: cla: yes

#12416 Make sure xcov action's parameters are generated in the docs
  fastlane.gemspec
  fastlane/lib/fastlane/actions/xcov.rb
  fastlane/spec/unused_options_spec.rb
Labels: cla: yes

#12427 Version bump to 2.94.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12425 Specify source filename in pilot import docs
  pilot/lib/pilot/commands_generator.rb
Labels: cla: yes, tool: pilot, type: documentation

#12431 Update spelling of update_fastlane action
  fastlane/lib/fastlane/actions/update_fastlane.rb
Labels: cla: yes

#12429 Changelog from git commits path option
  fastlane/lib/fastlane/actions/changelog_from_git_commits.rb
Labels: cla: yes

#11946 Show failed point of lines in configuration file
  fastlane/lib/fastlane/fast_file.rb
  fastlane/lib/fastlane/lane_manager.rb
  fastlane/lib/fastlane/lane_manager_base.rb
  fastlane/spec/fast_file_spec.rb
  fastlane_core/lib/fastlane_core/configuration/configuration_file.rb
  fastlane_core/lib/fastlane_core/ui/implementations/shell.rb
  fastlane_core/lib/fastlane_core/ui/interface.rb
Labels: cla: yes, status: needs-attention

#12432 [frameit] updating doc for utf-8 support
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
Labels: cla: yes

#12285 Update sync_code_signing.md
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes, status: needs-attention

#12364 Add support for hidding Ruby backtraces
  fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb
Labels: cla: yes

#12450 Add xcpretty_output option to spm action
  fastlane/lib/fastlane/actions/spm.rb
  fastlane/spec/actions_specs/spm_spec.rb
Labels: cla: yes

#12443 [xcodebuild] escape $(inherited) values in build settings
  fastlane/lib/fastlane/actions/xcodebuild.rb
  fastlane/spec/actions_specs/xcodebuild_spec.rb
Labels: cla: yes

#12437 [pilot] stubbed PILOT_APP_IDENTIFIER in tests (pilot was depending on fastlane_core tests to pass)
  fastlane_core/spec/update_checker_spec.rb
  pilot/spec/commands_generator_spec.rb
Labels: cla: yes

#12452 [mailgun] fix 400 bad request happening with 'from' option
  fastlane/lib/fastlane/actions/mailgun.rb
Labels: cla: yes

#12461 Added in new GitHub issue template builder
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/QUESTION.md
  .github/ISSUE_TEMPLATE/REGRESSION.md
Labels: cla: yes

#12462 GitHub issue templates spellings/grammar fixes
  .github/ISSUE_TEMPLATE/QUESTION.md
  .github/ISSUE_TEMPLATE/REGRESSION.md
Labels: cla: yes

#12470 Trying fallback legacy issue template
  .github/ISSUE_TEMPLATE.md
Labels: cla: yes

#12465 Replaced adb_spec ENV settings with stubbed ENV
  fastlane/spec/actions_specs/adb_spec.rb
Labels: cla: yes

#12455 [spaceship] delete preOrder from update_price_tier request body
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/application_spec.rb
  spaceship/spec/tunes/fixtures/update_price_tier/update_price_tier_request.json
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes

#12487 [supply] allow for custom closed track names
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
  supply/spec/uploader_spec.rb
Labels: cla: yes

#12479 Add support for xcode-version file
  fastlane/lib/fastlane/actions/ensure_xcode_version.rb
  fastlane/spec/actions_specs/ensure_xcode_version_spec.rb
Labels: cla: yes, tool: action

#12505 Fix nil path crash in changelog_from_git_commits action
  fastlane/lib/fastlane/actions/changelog_from_git_commits.rb
Labels: cla: yes

#12426 Fix pilot 504ing on build submission for review on testflight
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#12494 Fix slack crash in case of exception
  fastlane/lib/fastlane/actions/slack.rb
Labels: cla: yes

#12519 disables color in xcpretty if env var is set
  snapshot/lib/snapshot/test_command_generator.rb
Labels: cla: yes

#12513 Make sure the user is logged in RubyGems when releasing a new version
  fastlane/Fastfile
Labels: cla: yes

#12524 Add attr_reader for :prefix in AccountManager
  credentials_manager/lib/credentials_manager/account_manager.rb
Labels: cla: yes

#12514 Fixed typo in feature request template
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Labels: cla: yes

#12518 added loading indicator for frameit
  frameit/lib/frameit/editor.rb
  frameit/lib/frameit/runner.rb
Labels: cla: yes

#12477 changelog_from_git_commits fix from command line
  fastlane/lib/fastlane/actions/changelog_from_git_commits.rb
  fastlane/spec/actions_specs/changelog_from_git_commits_spec.rb
Labels: cla: yes

#12512 added support for appcenter is_ci?
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/helper_spec.rb
Labels: cla: yes

#12544 [appetize] - fixes crash when url param is given
  fastlane/lib/fastlane/actions/appetize.rb
Labels: cla: yes

#12420 Adding support for b2b vpp
  spaceship/lib/spaceship/tunes/availability.rb
  spaceship/lib/spaceship/tunes/b2b_user.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/availability_spec.rb
  spaceship/spec/tunes/b2b_user_spec.rb
  spaceship/spec/tunes/fixtures/app_pricing_intervals_b2b_flag_disabled.json
  spaceship/spec/tunes/fixtures/app_pricing_intervals_b2b_included.json
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, status: needs-attention

#12527 [gym] Fix analyze_build_time setting interfering with xcpretty log generation
  gym/lib/gym/generators/build_command_generator.rb
  gym/lib/gym/runner.rb
  gym/spec/build_command_generator_spec.rb
Labels: cla: yes

#12326 Add parameter code_signing_identity for CODE_SIGN_IDENTITY setting
  fastlane/lib/fastlane/actions/update_project_provisioning.rb
Labels: cla: yes, status: needs-attention

#12568 [supply] add aab (android app bundle) support
  fastlane.gemspec
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  fastlane/lib/fastlane/actions/gradle.rb
  supply/lib/supply/client.rb
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
  supply/spec/client_spec.rb
  supply/spec/uploader_spec.rb
Labels: cla: yes

#12562 Improve formatting in sync_code_signing's docs
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes

#12561 Fix broken parameters' table
  fastlane/lib/assets/ActionDetails.md.erb
Labels: cla: yes

#12545 Update docs on gym's :export_options action parameter
  gym/lib/gym/options.rb
Labels: cla: yes

#12553 Fix formatting for create_app_online action documentation
  fastlane/lib/fastlane/actions/docs/create_app_online.md
Labels: cla: yes

#12457 added `team_name` to spaceship client
  spaceship/lib/spaceship/client.rb
  spaceship/spec/portal/portal_client_spec.rb
Labels: cla: no, status: needs-attention

#12559 Updates documentation of `repo_update` option.
  fastlane/lib/fastlane/actions/cocoapods.rb
Labels: cla: yes

#12574 [supply] disable rubo complexity warning on options
  supply/lib/supply/options.rb
Labels: cla: yes

#12578 Fix for handling Apple's new Apple ID and Privacy statement
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/errors.rb
  spaceship/spec/tunes/tunes_client_spec.rb
Labels: cla: yes

#12575 Version bump to 2.96.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12590 [spaceship] display apple id and privacy statement instructions to non-sa accounts
  spaceship/lib/spaceship/client.rb
  spaceship/spec/tunes/tunes_client_spec.rb
Labels: cla: yes

#12591 [spaceship] display apple id and privacy statement instructions to hsa2 accounts
  spaceship/lib/spaceship/client.rb
  spaceship/spec/tunes/tunes_client_spec.rb
Labels: cla: yes

#12592 Version bump to 2.96.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12594 Add missing parentheses in create_app_online action's docs
  fastlane/lib/fastlane/actions/docs/create_app_online.md
Labels: cla: yes

#12474 Add `log_path` option to the carthage action
  fastlane/lib/fastlane/actions/carthage.rb
  fastlane/spec/actions_specs/carthage_spec.rb
Labels: cla: yes, status: needs-attention

#12472 [slack] add pretext to show text above attachment block
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/spec/actions_specs/slack_spec.rb
Labels: cla: yes, status: needs-attention

#12618 spaceship: allow to remove tester(s) from testflight
  spaceship/lib/spaceship/test_flight/client.rb
  spaceship/lib/spaceship/test_flight/tester.rb
  spaceship/spec/test_flight/client_spec.rb
  spaceship/spec/test_flight/tester_spec.rb
Labels: cla: yes

#12615 [gemspec] use rubyzip >= 1.2.1
  fastlane.gemspec
Labels: cla: yes

#12605 [spaceship] Updated Tunes.client so select_team returns team_id when executed just like Portal.client does
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/tunes_client_spec.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes

#12630 Fix *_path is not affected on deliver-init
  deliver/lib/deliver/setup.rb
Labels: cla: yes

#12616 Add ability to retrieve builds for a given TestFlight group
  spaceship/lib/spaceship/test_flight/client.rb
  spaceship/lib/spaceship/test_flight/group.rb
  spaceship/spec/test_flight/client_spec.rb
  spaceship/spec/test_flight/group_spec.rb
Labels: cla: yes

#12631 [action] add apk option to testfairy action
  fastlane/lib/fastlane/actions/testfairy.rb
  fastlane/spec/actions_specs/testfairy_spec.rb
Labels: cla: yes

#12635 Fix incorrect formatting in deliver action's docs
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes

#12661 [match] fix cert check when the keychain is specified
  fastlane_core/lib/fastlane_core/cert_checker.rb
Labels: cla: yes
