Repository fastlane/fastlane, pull requests merged in 2018-11, with the labels that each got.

#13556 iOS SnapshotHelper.swift Set locale only when not empty
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, status: needs-attention

#13615 Update team.json to fix Andrew McBurney's GitHub handle.
  team.json
Labels: cla: yes

#13585 Use train_version to detect build on download_dsym action
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/spec/actions_specs/download_dsyms_spec.rb
Labels: cla: yes, tool: action

#13514 Add support for arch parameter to slather
  fastlane/lib/fastlane/actions/slather.rb
  fastlane/spec/actions_specs/slather_spec.rb
Labels: cla: yes, status: needs-attention

#13633 Version bump to 2.108.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13621 [spaceship, deliver, snapshot] add support for new device screenshot sizes (iPad Pro 11-inch and iPad Pro 12.9-inch 3rd Gen.)
  deliver/lib/deliver/app_screenshot.rb
  snapshot/lib/snapshot/reports_generator.rb
  spaceship/lib/spaceship/du/du_client.rb
  spaceship/lib/spaceship/tunes/device_type.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: no, tool: spaceship

#13631 Make Scan::ErrorHandler account for Xcode 10 parallel testing failures
  scan/lib/scan/error_handler.rb
  scan/spec/error_handler_spec.rb
  scan/spec/fixtures/early_testing_failure.log
  scan/spec/fixtures/non_parallel_testing_failure.log
  scan/spec/fixtures/parallel_testing_failure.log
Labels: cla: yes

#13543 [supply] adding multiple aabs
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
  supply/spec/uploader_spec.rb
Labels: cla: no, status: needs-attention

#13524 Add swift-version to pod_lib_lint action
  fastlane/lib/fastlane/actions/pod_lib_lint.rb
  fastlane/lib/fastlane/actions/pod_push.rb
  fastlane/spec/actions_specs/pod_lib_lint_spec.rb
  fastlane/spec/actions_specs/pod_push_spec.rb
Labels: cla: no, status: needs-attention

#13640 [match] added comments for mapping git_url to keychain for openssl encryption
  match/lib/match/encryption.rb
Labels: cla: yes

#13646 [match] Refactor to storage/encryption interfaces
  match/lib/match/encryption.rb
  match/lib/match/storage.rb
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/interface.rb
Labels: cla: yes

#13692 Improve AdbHelper
  fastlane/lib/fastlane/helper/adb_helper.rb
  fastlane/spec/actions_specs/adb_devices_spec.rb
Labels: cla: yes, os: windows, tool: action

#13695 [spaceship] remove application and version from app submission params
  spaceship/lib/spaceship/tunes/app_submission.rb
Labels: cla: yes, tool: spaceship

#13685 [resign.sh] only create the archived-expanded-entitlements.xcent file if the version of Xcode < 9.3
  sigh/lib/assets/resign.sh
Labels: cla: yes, tool: sigh

#13674 Testfairy upload timeout
  fastlane/lib/fastlane/actions/testfairy.rb
Labels: cla: yes, tool: action, type: enhancement

#13725 Update gym docs
  fastlane/lib/fastlane/actions/docs/build_ios_app.md
Labels: cla: yes

#13724 Improve Spaceship API documentation
  spaceship/docs/AppStoreConnect.md
  spaceship/docs/DeveloperPortal.md
Labels: cla: yes

#13739 Update puts.rb
  fastlane/lib/fastlane/actions/puts.rb
Labels: cla: yes

#12539 [match] recreate profiles that were deleted from dev portal
  match/lib/match/spaceship_ensure.rb
Labels: cla: yes, status: needs-attention, tool: match

#13727 [docs] add id to plugin headline so it becomes linkable
  fastlane/assets/render_plugin.md.erb
Labels: cla: yes

#13597 [crashlytics] fix generated command (generate_android_command) for Windows
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
  fastlane/spec/actions_specs/crashlytics_spec.rb
Labels: cla: yes, os: windows, status: needs-attention, tool: action

#13754 [precheck] Allow mentioning Google Drive
  precheck/lib/precheck/rules/other_platforms_rule.rb
  precheck/spec/rules/other_platforms_rule_spec.rb
Labels: cla: yes

#13662 [fastlane_core] Fix project_paths() in project.rb to respect `container:` references
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/fixtures/projects/project_paths/containers/FooBar.xcworkspace/contents.xcworkspacedata
  fastlane_core/spec/fixtures/projects/project_paths/containers/FooBar.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  fastlane_core/spec/fixtures/projects/project_paths/containers/FooBar/FooBar.xcodeproj/project.pbxproj
  fastlane_core/spec/fixtures/projects/project_paths/groups/FooBar.xcworkspace/contents.xcworkspacedata
  fastlane_core/spec/fixtures/projects/project_paths/groups/FooBar.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  fastlane_core/spec/fixtures/projects/project_paths/groups/FooBar/FooBar.xcodeproj/project.pbxproj
  fastlane_core/spec/project_spec.rb
Labels: cla: no, status: needs-attention, tool: fastlane_core

#13752 [spaceship] support --verbose for `fastlane spaceauth`
  spaceship/lib/spaceship/commands_generator.rb
Labels: cla: yes, tool: spaceship

#13769 Improves parse error reporting for non-conventional setups
  fastlane/lib/fastlane/fast_file.rb
Labels: cla: yes

#13765 Allow for the host of the Appetize API to be configured
  fastlane/lib/fastlane/actions/appetize.rb
  fastlane/spec/actions_specs/appetize_spec.rb
Labels: cla: yes, tool: action

#13743 [spaceship] Fix environment variable provided sessions
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/two_step_client.rb
Labels: cla: yes, tool: spaceship, topic: login

#13736 [spaceship] improve client (mainly: login)
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: cla: yes, tool: spaceship

#13771 Use HTTPs for Facebook frame URL
  frameit/frames_generator/Rakefile
Labels: cla: yes
