Repository fastlane/fastlane, pull requests merged in 2018-10, with the labels that each got.

#13478 [match] reworked requires for new match storage and encryption classes
  match/lib/match.rb
  match/lib/match/change_password.rb
  match/lib/match/commands_generator.rb
  match/lib/match/encryption.rb
  match/lib/match/encryption/interface.rb
  match/lib/match/encryption/openssl.rb
  match/lib/match/nuke.rb
  match/lib/match/runner.rb
  match/lib/match/storage.rb
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/interface.rb
Labels: cla: yes

#13480 Add `fastlane-plugin-firebase_test_lab` to list of gems
  Rakefile
Labels: cla: yes

#13481 Add powerivq to RubyGems permission list
  Rakefile
Labels: cla: yes

#13459 [action] remove UDID format validation from register_device
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  spaceship/lib/spaceship/portal/portal_client.rb
  spaceship/spec/portal/device_spec.rb
  spaceship/spec/portal/fixtures/addDeviceFailureResponse.json
  spaceship/spec/portal/portal_stubbing.rb
Labels: cla: no

#13500 match multiple storage implementation reworks/cleanup
  match/lib/match/change_password.rb
  match/lib/match/commands_generator.rb
  match/lib/match/encryption.rb
  match/lib/match/encryption/interface.rb
  match/lib/match/encryption/openssl.rb
  match/lib/match/module.rb
  match/lib/match/nuke.rb
  match/lib/match/runner.rb
  match/lib/match/storage.rb
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/interface.rb
  match/spec/commands_generator_spec.rb
  match/spec/encryption/openssl_spec.rb
  match/spec/runner_spec.rb
  match/spec/storage/git_storage_spec.rb
Labels: cla: yes

#13405 [match] add support for multiple storage and encryption providers
  VISION.md
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match.rb
  match/lib/match/change_password.rb
  match/lib/match/commands_generator.rb
  match/lib/match/encrypt.rb
  match/lib/match/encryption.rb
  match/lib/match/encryption/interface.rb
  match/lib/match/encryption/openssl.rb
  match/lib/match/generator.rb
  match/lib/match/git_helper.rb
  match/lib/match/module.rb
  match/lib/match/nuke.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/storage.rb
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/interface.rb
  match/spec/commands_generator_spec.rb
  match/spec/encryption/openssl_spec.rb
  match/spec/generator_spec.rb
  match/spec/git_helper_spec.rb
  match/spec/runner_spec.rb
  match/spec/spec_helper.rb
  match/spec/storage/git_storage_spec.rb
Labels: cla: no, status: needs-attention, tool: match, type: feature

#13496 Take the AAB from Gradle in supply
  fastlane/lib/fastlane/actions/upload_to_play_store.rb
  fastlane/spec/actions_specs/supply_spec.rb
Labels: cla: yes

#13509 Fix new try_create_device method
  fastlane/lib/fastlane/actions/register_devices.rb
  spaceship/lib/spaceship/portal/device.rb
Labels: cla: no

#13487 [docs] update readme with bypass device instructions
  spaceship/README.md
Labels: cla: yes

#13513 Version bump to 2.106.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13519 Deliver: skip version check when no icons are provided.
  deliver/lib/deliver/upload_assets.rb
  deliver/spec/upload_assets_spec.rb
Labels: cla: yes

#13518 [resign] Fix typo in resign.sh
  sigh/lib/assets/resign.sh
Labels: cla: yes

#13486 Fix: New iPhone XS devices not included in the result of `FastlaneCore::DeviceManager.connected_devices('iOS')`
  fastlane_core/lib/fastlane_core/device_manager.rb
  fastlane_core/spec/device_manager_spec.rb
  fastlane_core/spec/fixtures/DeviceManagerInstrumentsOutput
  fastlane_core/spec/fixtures/DeviceManagerSystem_profilerOutput
Labels: cla: yes

#12484 [frameit] Multiple layout improvements
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  frameit/lib/frameit/config_parser.rb
  frameit/lib/frameit/editor.rb
Labels: cla: no, status: needs-attention, tool: frameit

#13525 [core] revert bootsnap to fix brew install
  Gemfile
  bin/fastlane
  fastlane.gemspec
  fastlane/Fastfile
Labels: cla: yes

#13527 Version bump to 2.106.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12824 [frameit] Allow specifying frame colour override in Framefile.json
  frameit/lib/frameit/config_parser.rb
  frameit/lib/frameit/editor.rb
Labels: cla: yes, status: needs-attention, tool: frameit

#13533 [match] remove un-needed encryption from match nuke
  match/lib/match/nuke.rb
Labels: cla: yes

#13526 require open uri for downloading file
  deliver/lib/deliver/setup.rb
Labels: cla: yes

#13534 Version bump to 2.106.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12274 [scan] suppress xcode output and also open report if tests fail
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/lib/fastlane_core/device_manager.rb
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
  scan/spec/test_result_parser_spec.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes, status: needs-attention

#13546 [match] need to encrypt before save
  match/lib/match/nuke.rb
Labels: cla: yes

#13547 Version bump to 2.107.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#13431 Refactor Supply::Client to be usable by create_app_on_managed_play_store
  fastlane/lib/fastlane/actions/create_app_on_managed_play_store.rb
  fastlane/spec/unused_options_spec.rb
  supply/lib/supply.rb
  supply/lib/supply/client.rb
  supply/lib/supply/options.rb
Labels: cla: yes, status: needs-attention

#13421 [action] Integrate Managed Google Play with get_managed_play_store_publishing_rights and create_app_on_managed_play_store
  fastlane/lib/fastlane/actions/create_app_on_managed_play_store.rb
  fastlane/lib/fastlane/actions/get_managed_play_store_publishing_rights.rb
  fastlane/spec/actions_specs/create_app_on_managed_play_store_spec.rb
  fastlane/spec/actions_specs/get_managed_play_store_publishing_rights_spec.rb
  fastlane/spec/fixtures/google_play/google_play.json
  fastlane/spec/unused_options_spec.rb
  supply/lib/supply.rb
  supply/lib/supply/client.rb
  supply/lib/supply/languages.rb
  supply/lib/supply/options.rb
Labels: cla: no, status: needs-attention

#13606 Fixed typo in deliver options.rb
  deliver/lib/deliver/options.rb
Labels: cla: yes
