Repository fastlane/fastlane, pull requests merged in 2018-03, with the labels that each got.

#11927 Move plugin scores cache file to the docs repo
  fastlane/Fastfile
  fastlane/plugin_scores_cache.yml
Labels: cla: yes

#11964 Shellscape java_home ENV var in Crashlytics helper
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
Labels: cla: yes

#11965 Add workaround for iTC transporter outage
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
Labels: cla: yes

#11966 Version bump to 2.84.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#11974 Add debug option to the update_docs lane
  fastlane/Fastfile
Labels: cla: yes

#11991 Auto-generate deliver doc content (metadata folder options and langua…
  deliver/lib/deliver/upload_metadata.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane/lib/fastlane/documentation/markdown_docs_generator.rb
Labels: cla: yes

#11993 Add joshdholtz to RubyGems owners
  Rakefile
Labels: cla: yes

#11994 Don't verify env variables when debugging the docs
  fastlane/Fastfile
Labels: cla: yes

#11989 [pem] "No such file or directory" fix
  pem/lib/pem/manager.rb
Labels: cla: yes, tool: pem

#11940 Remove crash reporter from fastlane
  deliver/lib/deliver/runner.rb
  fastlane/lib/fastlane/actions/opt_out_crash_reporting.rb
  fastlane/lib/fastlane/runner.rb
  fastlane_core/README.md
  fastlane_core/lib/fastlane_core.rb
  fastlane_core/lib/fastlane_core/crash_reporter/crash_report_generator.rb
  fastlane_core/lib/fastlane_core/crash_reporter/crash_report_sanitizer.rb
  fastlane_core/lib/fastlane_core/crash_reporter/crash_reporter.rb
  fastlane_core/lib/fastlane_core/ui/errors/fastlane_crash.rb
  fastlane_core/lib/fastlane_core/ui/errors/fastlane_error.rb
  fastlane_core/lib/fastlane_core/ui/errors/fastlane_exception.rb
  fastlane_core/lib/fastlane_core/ui/errors/fastlane_shell_error.rb
  fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb
  fastlane_core/spec/crash_reporter/crash_report_generator_spec.rb
  fastlane_core/spec/crash_reporter/crash_report_sanitizer_spec.rb
  fastlane_core/spec/crash_reporter/crash_reporter_spec.rb
  fastlane_core/spec/fastlane_exception_spec.rb
Labels: cla: yes

#11997 Fix incorrect backup_xcarchive example
  fastlane/lib/fastlane/actions/backup_xcarchive.rb
Labels: cla: yes

#11975 [pilot] Fix a bug that auto_notify_enabled always be true
  pilot/lib/pilot/build_manager.rb
Labels: cla: yes

#12002 Improve build watcher message
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
Labels: cla: yes

#12000 Added alias for 'swift init' to map to 'init swift'
  fastlane/lib/fastlane/commands_generator.rb
Labels: cla: yes

#11601 Remove unused init classes
  fastlane/lib/fastlane/commands_generator.rb
  fastlane/lib/fastlane/setup/crashlytics_beta.rb
  fastlane/lib/fastlane/setup/crashlytics_beta_command_line_handler.rb
  fastlane/lib/fastlane/setup/crashlytics_beta_info.rb
  fastlane/lib/fastlane/setup/crashlytics_beta_info_collector.rb
  fastlane/lib/fastlane/setup/crashlytics_beta_ui.rb
  fastlane/lib/fastlane/setup/crashlytics_beta_user_email_fetcher.rb
  fastlane/lib/fastlane/setup/crashlytics_project_parser.rb
  fastlane/lib/fastlane/setup/setup.rb
  fastlane/spec/setup/crashlytics_beta_command_line_handler_spec.rb
  fastlane/spec/setup/crashlytics_beta_info_collector_spec.rb
  fastlane/spec/setup/crashlytics_beta_info_spec.rb
  fastlane/spec/setup/crashlytics_beta_ui_spec.rb
  fastlane/spec/setup/crashlytics_beta_user_email_fetcher_spec.rb
  fastlane/spec/setup/crashlytics_project_parser_spec.rb
Labels: cla: yes, status: needs-attention

#12016 Version bump to 2.85.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12013 Derived data test
  .gitignore
  scan/examples/standard/WorkspaceSettings.xcsettings
  scan/spec/detect_values_spec.rb
Labels: cla: yes

#11986 Add parentheses for calls in generated Appfile
  fastlane/lib/fastlane/setup/setup_ios.rb
Labels: cla: yes

#12021 Added tests and fixed a bug where upload_binaries would try to update…
  supply/lib/supply/uploader.rb
  supply/spec/uploader_spec.rb
Labels: cla: yes

#11970 Reinitialize Spaceship::TestFlight.client if Spaceship::Tunes.client is auth with different team id
  spaceship/docs/TestFlightTesting.md
  spaceship/lib/spaceship/test_flight/base.rb
  spaceship/spec/test_flight/app_test_info_spec.rb
  spaceship/spec/test_flight/build_spec.rb
  spaceship/spec/test_flight/build_trains_spec.rb
  spaceship/spec/test_flight/group_spec.rb
  spaceship/spec/test_flight/test_info_spec.rb
  spaceship/spec/test_flight/tester_spec.rb
  spaceship/spec/tunes/application_spec.rb
Labels: cla: yes

#12027 Use xcodeproj to introspect Xcode projects
  fastlane_core/lib/fastlane_core.rb
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/lib/fastlane_core/xcodebuild_list_output_parser.rb
  fastlane_core/spec/project_spec.rb
  fastlane_core/spec/xcodebuild_list_output_parser_spec.rb
Labels: cla: yes

#12031 Ignore "be" test method for MethodCallWithArgsParentheses cop
  .rubocop.yml
Labels: cla: yes

#12032 Update devices in SnapfileTemplate
  snapshot/lib/assets/SnapfileTemplate
Labels: cla: yes

#12033 Fix auto generated files link
  fastlane/lib/assets/ActionDetails.md.erb
  fastlane/lib/assets/Actions.md.erb
Labels: cla: yes

#12047 Apply FASTLANE_DISABLE_COLORS globally (with bonus earlier dotenv loading)
  fastlane/lib/fastlane/cli_tools_distributor.rb
  fastlane/lib/fastlane/helper/dotenv_helper.rb
  fastlane/lib/fastlane/lane_manager.rb
  fastlane/lib/fastlane/lane_manager_base.rb
  fastlane/lib/fastlane/swift_lane_manager.rb
  fastlane/spec/lane_manager_spec.rb
  fastlane_core/lib/fastlane_core/ui/implementations/shell.rb
Labels: cla: yes

#12052 Fix plugin scores updating crash
  fastlane/helper/plugin_scores_helper.rb
Labels: cla: yes

#12057 Updating upload_to_play_store documentation to reflect changes to Ser…
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
Labels: cla: yes

#12059 [spaceship] Raise a meaningful error if the device name is too long
  spaceship/lib/spaceship/portal/device.rb
  spaceship/spec/portal/device_spec.rb
Labels: cla: yes

#12041 Updated upload_to_play_store.md
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
Labels: cla: yes

#12068 download_dysm will now find more trains and versions by switching to …
  fastlane/lib/fastlane/actions/download_dsyms.rb
  spaceship/lib/spaceship/tunes/application.rb
  spaceship/lib/spaceship/tunes/build_train.rb
Labels: cla: yes

#12049 Proposal to remove and/or from conditionals with Mr. Rubocop 🚨
  .rubocop.yml
  credentials_manager/lib/credentials_manager/appfile_config.rb
  deliver/lib/deliver/app_screenshot.rb
  deliver/lib/deliver/commands_generator.rb
  deliver/lib/deliver/submit_for_review.rb
  fastlane/lib/fastlane/actions/badge.rb
  fastlane/lib/fastlane/actions/crashlytics.rb
  fastlane/lib/fastlane/actions/get_build_number.rb
  fastlane/lib/fastlane/actions/get_push_certificate.rb
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/lib/fastlane/actions/hockey.rb
  fastlane/lib/fastlane/actions/increment_build_number.rb
  fastlane/lib/fastlane/actions/installr.rb
  fastlane/lib/fastlane/actions/oclint.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/lib/fastlane/actions/slather.rb
  fastlane/lib/fastlane/actions/sonar.rb
  fastlane/lib/fastlane/actions/swiftlint.rb
  fastlane/lib/fastlane/actions/testfairy.rb
  fastlane/lib/fastlane/actions/tryouts.rb
  fastlane/lib/fastlane/actions/typetalk.rb
  fastlane/lib/fastlane/actions/update_app_group_identifiers.rb
  fastlane/lib/fastlane/actions/update_icloud_container_identifiers.rb
  fastlane/lib/fastlane/actions/update_info_plist.rb
  fastlane/lib/fastlane/actions/upload_symbols_to_sentry.rb
  fastlane/lib/fastlane/actions/verify_xcode.rb
  fastlane/lib/fastlane/actions/xcode_server_get_assets.rb
  fastlane/lib/fastlane/configuration_helper.rb
  fastlane/lib/fastlane/lane_manager.rb
  fastlane/lib/fastlane/runner.rb
  fastlane/lib/fastlane/setup/setup.rb
  fastlane/lib/fastlane/swift_lane_manager.rb
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/lib/fastlane_core/configuration/configuration.rb
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/lib/fastlane_core/ipa_file_analyser.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/lib/fastlane_core/tool_collector.rb
  frameit/lib/frameit/editor.rb
  match/lib/match/git_helper.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  pilot/lib/pilot/build_manager.rb
  scan/lib/scan/slack_poster.rb
  scan/lib/scan/test_result_parser.rb
  sigh/lib/sigh/runner.rb
  snapshot/lib/snapshot/runner.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/du/du_client.rb
  spaceship/lib/spaceship/launcher.rb
  spaceship/lib/spaceship/portal/provisioning_profile.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes

#12037 get_version_number uses xcodeproj as fallback when can't find "target"
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/spec/actions_specs/get_version_number_action_spec.rb
  fastlane/spec/fixtures/actions/get_version_number/SampleProject-Info.plist
  fastlane/spec/fixtures/actions/get_version_number/SampleProject_tests/Info.plist
  fastlane/spec/fixtures/actions/get_version_number/Target-for-D/Plist-For-D-Target.plist
  fastlane/spec/fixtures/actions/get_version_number/TargetA/TargetA-Info.plist
  fastlane/spec/fixtures/actions/get_version_number/TargetATests/Info.plist
  fastlane/spec/fixtures/actions/get_version_number/TargetB/TargetB-Info.plist
  fastlane/spec/fixtures/actions/get_version_number/TargetBTests/Info.plist
  fastlane/spec/fixtures/actions/get_version_number/TargetDifferentConfigurations-Debug.plist
  fastlane/spec/fixtures/actions/get_version_number/TargetDifferentConfigurations-Release.plist
  fastlane/spec/fixtures/actions/get_version_number/get_version_number.xcodeproj/project.pbxproj
  fastlane/spec/fixtures/actions/get_version_number/get_version_number.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  fastlane/spec/fixtures/actions/get_version_number/get_version_number/AppDelegate.swift
  fastlane/spec/fixtures/actions/get_version_number/get_version_number/Assets.xcassets/AppIcon.appiconset/Contents.json
  fastlane/spec/fixtures/actions/get_version_number/get_version_number/Base.lproj/LaunchScreen.storyboard
  fastlane/spec/fixtures/actions/get_version_number/get_version_number/Base.lproj/Main.storyboard
  fastlane/spec/fixtures/actions/get_version_number/get_version_number/ViewController.swift
  fastlane/spec/fixtures/actions/get_version_number/get_version_numberTests/get_version_numberTests.swift
  fastlane/spec/fixtures/actions/get_version_number/supporting_files/TargetC_internal-Info.plist
  fastlane/spec/fixtures/actions/get_version_number/supporting_files/TargetC_production-Info.plist
  fastlane/spec/fixtures/xcodeproj/automatic_code_signing.xcodeproj/project.pbxproj
  fastlane/spec/fixtures/xcodeproj/crashlytics_beta_project.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Labels: cla: yes

#12065 Allow actions with zero options and properly generate JSON for payload
  fastlane/lib/fastlane/server/socket_server.rb
  fastlane/lib/fastlane/swift_fastlane_api_generator.rb
Labels: cla: yes

#12039 snapshot - get actual sim device types instead of inferring by name
  fastlane.gemspec
  gym/spec/gymfile_spec.rb
  snapshot/lib/snapshot/test_command_generator.rb
Labels: cla: yes

#12073 Fixes app_store_build_number when finding latest version
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/spec/actions_specs/app_store_build_number_spec.rb
Labels: cla: yes

#12067 Take xcconfig option into account when generating showBuildSettings command
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
  gym/lib/gym/generators/build_command_generator.rb
  scan/lib/scan/test_command_generator.rb
  snapshot/lib/snapshot/options.rb
Labels: cla: yes

#12075 Ignore FastlaneSwiftRunner.xcodeproj for detecting ios projects of users
  fastlane/lib/fastlane/setup/setup.rb
Labels: cla: yes

#12064 Add the git_submodule_update action
  fastlane/lib/fastlane/actions/git_submodule_update.rb
  fastlane/spec/actions_specs/git_submodule_update_spec.rb
Labels: cla: yes

#12087 Version bump to 2.86.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#12095 [Action] Fix download_dsyms crashing issue
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes

#12105 Version bump to 2.86.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12108 Limit AppVeyor builds to `master` and PRs
  appveyor.yml
Labels: cla: yes

#12121 For for get_version_number to auto-select target when its only one
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/spec/actions_specs/get_version_number_action_spec.rb
Labels: cla: yes

#12126 Version bump to 2.86.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12078 Replace parentheses in export_options parameter
  fastlane/lib/fastlane/actions/docs/build_ios_app.md
Labels: cla: yes

#12125 Improve ActionDetails.md.erb look at actual file names
  fastlane/lib/assets/ActionDetails.md.erb
  fastlane/lib/fastlane/documentation/markdown_docs_generator.rb
Labels: cla: yes

#12098 [Action] Fix a bug that upload_symbols_to_crashlytics fails in specific cases
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane/spec/actions_specs/upload_symbols_to_crashlytics_spec.rb
  fastlane/spec/fixtures/plist/With Space.plist
Labels: cla: yes

#12136 Fixed typo in setup UI message
  fastlane/lib/fastlane/setup/setup.rb
Labels: cla: yes

#12112 Write Match encrypted files in binary mode to avoid UndefinedConversi…
  match/lib/match/encrypt.rb
Labels: cla: yes

#11947 Add use_bundle_exec option to pod_push action
  fastlane/lib/fastlane/actions/pod_push.rb
  fastlane/spec/actions_specs/pod_push_spec.rb
Labels: cla: yes, status: needs-attention

#12142 Ignore *.xcodeproj & *.xcworkspace in gem paths for detecting ios projects
  fastlane/lib/fastlane/setup/setup.rb
Labels: cla: yes

#12147 Call Workspace.load_schemes() to load workspace contained schemes
  fastlane.gemspec
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemes.xcworkspace/contents.xcworkspacedata
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemes.xcworkspace/xcshareddata/xcschemes/WorkspaceSchemesScheme.xcscheme
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesApp/WorkspaceSchemesApp.xcodeproj/project.pbxproj
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesApp/WorkspaceSchemesApp/AppDelegate.swift
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesApp/WorkspaceSchemesApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesApp/WorkspaceSchemesApp/Base.lproj/LaunchScreen.storyboard
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesApp/WorkspaceSchemesApp/Base.lproj/Main.storyboard
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesApp/WorkspaceSchemesApp/Info.plist
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesApp/WorkspaceSchemesApp/ViewController.swift
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesFramework/WorkspaceSchemesFramework.xcodeproj/project.pbxproj
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesFramework/WorkspaceSchemesFramework/Info.plist
  fastlane_core/spec/fixtures/projects/workspace_schemes/WorkspaceSchemesFramework/WorkspaceSchemesFramework/WorkspaceSchemesFramework.h
  fastlane_core/spec/project_spec.rb
Labels: cla: yes

#12148 app_store_build_number converts return to int if possible
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/spec/actions_specs/app_store_build_number_spec.rb
Labels: cla: yes

#12138 get_latest_version handles $(SRCROOT) and tries to get target that isn't test
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/spec/actions_specs/get_version_number_action_spec.rb
  fastlane/spec/fixtures/actions/get_version_number/TargetSRC.plist
  fastlane/spec/fixtures/actions/get_version_number/get_version_number.xcodeproj/project.pbxproj
Labels: cla: yes

#12145 Add simple yardopts to generate yardoc indexes
  .yardopts
Labels: cla: yes

#12128 [supply] Added internal track
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
  supply/spec/uploader_spec.rb
Labels: cla: yes

#12150 Revise README for yardoc
  README.md
Labels: cla: yes

#12151 Version bump to 2.87.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12156 Include .yardopts in fastlane gem
  fastlane.gemspec
Labels: cla: yes

#12162 Default skip_build to true in Scanfile template
  scan/lib/assets/ScanfileTemplate
Labels: cla: yes

#12171 [Swift] Fixes string return value and shows all lanes (even without description)
  fastlane/lib/fastlane/lane_list.rb
  fastlane/lib/fastlane/server/json_return_value_processor.rb
Labels: cla: yes

#12174 [snapshot] Make sure matched window has a non-empty frame
  snapshot/lib/assets/SnapshotHelper.swift
  snapshot/spec/runner_spec.rb
Labels: cla: yes

#12168 Use Android environment to find adb (don't just rely on it being in PATH)
  screengrab/lib/screengrab/options.rb
  screengrab/lib/screengrab/runner.rb
  screengrab/spec/runner_spec.rb
Labels: cla: yes

#12157 Add tests for verify build action
  fastlane/spec/actions_specs/verify_build_spec.rb
  fastlane_core/spec/fixtures/ipas/not-an-ipa.ipa
  fastlane_core/spec/fixtures/ipas/very-capable-app.ipa
Labels: cla: yes

#11675 Support checking remote git tags existence
  fastlane/lib/fastlane/actions/git_tag_exists.rb
  fastlane/spec/actions_specs/git_tag_exists_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#12182 Improve error message when specified scheme is not found
  fastlane_core/lib/fastlane_core/project.rb
Labels: cla: yes

#12176 Fix crashlytics to not autoload gsp_path if api_token is set
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane/spec/actions_specs/set_info_plist_value_spec.rb
  fastlane/spec/actions_specs/upload_symbols_to_crashlytics_spec.rb
  fastlane/spec/fixtures/plist/GoogleService-Info.plist
Labels: cla: yes

#12186 Version bump to 2.88.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#12153 [action] added custom api_url option to testfairy
  fastlane/lib/fastlane/actions/testfairy.rb
  fastlane/spec/actions_specs/testfairy_spec.rb
Labels: cla: yes

#12192 Clarify difference between SUPPLY_JSON_KEY and SUPPLY_JSON_KEY_DATA
  supply/lib/supply/options.rb
Labels: cla: yes, tool: supply

#11662 frameit documentation should describe all parameters from the Framefile
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
Labels: cla: yes, status: needs-attention
