Repository fastlane/fastlane, pull requests merged in 2019-08, with the labels that each got.

#15094 [spaceship] Map additional build details
  spaceship/lib/spaceship/tunes/build_details.rb
Labels: cla: yes, tool: spaceship

#15128 [snapshot] Replace Objective-C-style NSMakeRange with Swift-style NSRange.init
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, tool: snapshot

#15164 [match] fix match not making new profiles for force_for_new_devices
  match/lib/match/runner.rb
Labels: cla: yes

#15165 [Fastlane.swift] options of `is_string: false` should be Any and not String
  fastlane/lib/fastlane/swift_fastlane_api_generator.rb
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes

#15152 [Fastlane Swift] Fix suppress_xcode_output parameter type
  gym/lib/gym/options.rb
  scan/lib/scan/options.rb
Labels: cla: yes, topic: swift

#15126 [spaceship] add invited state for TestFlight beta testers.
  spaceship/lib/spaceship/connect_api/models/beta_tester_metric.rb
Labels: cla: yes, tool: spaceship

#15131 [core] Less hacks in command_executor_spec
  fastlane_core/spec/command_executor_spec.rb
Labels: cla: yes, tool: fastlane_core

#15139 [action] fix for Xcode 11 when using `$(MARKETING_VERSION)` in `get_version_number`
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/spec/actions_specs/get_version_number_action_spec.rb
  fastlane/spec/fixtures/actions/get_version_number/TargetVariableAsBundleVersion-Info.plist
  fastlane/spec/fixtures/actions/get_version_number/get_version_number.xcodeproj/project.pbxproj
Labels: cla: no, tool: action, topic: xcode11

#15169 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#15127 [action] add environment variables for pod push
  fastlane/lib/fastlane/actions/pod_push.rb
Labels: cla: yes, tool: action

#15061 [fastlane] fix typos across fastlane repository
  .rubocop.yml
  deliver/lib/deliver/submit_for_review.rb
  fastlane/lib/fastlane/actions/appetize_viewing_url_generator.rb
  fastlane/lib/fastlane/actions/automatic_code_signing.rb
  fastlane/lib/fastlane/actions/commit_github_file.rb
  fastlane/lib/fastlane/actions/github_api.rb
  fastlane/lib/fastlane/actions/import_from_git.rb
  fastlane/lib/fastlane/actions/puts.rb
  fastlane/lib/fastlane/commands_generator.rb
  fastlane/lib/fastlane/helper/adb_helper.rb
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
  fastlane/spec/actions_specs/swiftlint_spec.rb
  fastlane/spec/fixtures/requests/github_releases.json
  fastlane_core/lib/fastlane_core/analytics/analytics_event_builder.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  frameit/frames_generator/Rakefile
  frameit/lib/frameit/editor.rb
  match/lib/match/nuke.rb
  match/lib/match/runner.rb
  match/lib/match/storage/interface.rb
  scan/lib/scan/runner.rb
  spaceship/lib/spaceship/spaceauth_runner.rb
  spaceship/lib/spaceship/test_flight/tester.rb
  spaceship/lib/spaceship/tunes/display_family.rb
  spaceship/spec/spec_helper.rb
  spaceship/spec/tunes/iap_detail_spec.rb
  spaceship/spec/tunes/tunes_stubbing.rb
  supply/lib/supply/client.rb
Labels: cla: no, status: needs-attention

#15080 [spaceship] add option to upload and view merch_screenshot
  spaceship/lib/spaceship/du/du_client.rb
  spaceship/lib/spaceship/tunes/iap.rb
  spaceship/lib/spaceship/tunes/iap_detail.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes, status: needs-attention, tool: spaceship, type: feature

#15058 [gradle] update gradle docs with example for task "bundle"
  fastlane/lib/fastlane/actions/gradle.rb
Labels: cla: yes, status: needs-attention, tool: action, type: documentation

#15069 [action] add SonarQube pull request parameters to sonar
  fastlane/lib/fastlane/actions/sonar.rb
  fastlane/spec/actions_specs/sonar_spec.rb
Labels: cla: no, status: needs-attention, tool: action

#15130 [spaceship/cert] add Apple Development and Apple Distribution certificate type
  spaceship/lib/spaceship/portal/certificate.rb
  spaceship/spec/portal/portal_stubbing.rb
Labels: cla: no, tool: spaceship

#15174 Version bump to 2.129.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15203 [Fastlane.swift] generate Swift API for third party plugins and local actions
  fastlane/Fastfile
  fastlane/lib/fastlane.rb
  fastlane/lib/fastlane/actions/actions_helper.rb
  fastlane/lib/fastlane/commands_generator.rb
  fastlane/lib/fastlane/plugins/plugin_manager.rb
  fastlane/lib/fastlane/swift_fastlane_api_generator.rb
  fastlane/swift/Actions.swift
  fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/project.pbxproj
  fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  fastlane/swift/Plugins.swift
Labels: cla: yes, topic: swift

#15142 [CI] Run tests with Xcode 11 (and ruby 2.5) on Circle CI
  .circleci/config.yml
  fastlane_core/spec/helper_spec.rb
Labels: cla: yes, status: needs-attention, type: ci

#15132 [core] chomp, not strip output in CommandExecutor
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/spec/command_executor_spec.rb
Labels: cla: yes, status: needs-attention, tool: fastlane_core

#15166 [action] Only add derived data parameter if it's set, and command is update, build…
  fastlane/lib/fastlane/actions/carthage.rb
  fastlane/spec/actions_specs/carthage_spec.rb
Labels: cla: yes, tool: action

#15208 [fastlane/gym] add rubocop rule for FastlaneCore::ConfigItem `is_string` (applied to gym)
  .rubocop.yml
  gym/lib/gym/options.rb
  rubocop/is_string_usage.rb
Labels: cla: yes, topic: rubocop

#15187 [snapshot] Added --force option to fastlane snapshot update
  snapshot/lib/snapshot/commands_generator.rb
  snapshot/lib/snapshot/update.rb
Labels: cla: yes, tool: snapshot

#15193 [spaceship] Spaceship::Portal raising UnexpectedResponse instead of ProgramLicenseAgreementUpdated
  spaceship/lib/spaceship/client.rb
Labels: cla: yes, tool: spaceship

#15206 [action] danger: Support for remove-previous-comments option
  fastlane/lib/fastlane/actions/danger.rb
  fastlane/spec/actions_specs/danger_spec.rb
Labels: cla: yes, tool: action

#15220 [action] slather: Add :binary_file support for handling multiple input files
  fastlane/lib/fastlane/actions/slather.rb
  fastlane/spec/actions_specs/slather_spec.rb
Labels: cla: yes

#15049 [download_dsyms] Fix wait for dSYM file to appear on App Store Connect
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes, status: needs-attention, tool: action

#15212 [action] plugin_scores: Add support for rendering multiline description of plugin actions on docs
  fastlane/helper/plugin_scores_helper.rb
Labels: cla: yes, tool: action

#15189 [gym] add skip codesign option to build_ios_app
  gym/lib/gym/generators/build_command_generator.rb
  gym/lib/gym/options.rb
Labels: cla: yes, tool: gym

#15175 [sigh] Allow download_all to support the platform option
  sigh/lib/sigh/download_all.rb
Labels: cla: yes, tool: sigh

#15225 [gym] remove is_string option on skip_codesigning
  gym/lib/gym/options.rb
Labels: cla: yes

#14852 [spaceship] Adding support for DEP_ID
  spaceship/lib/spaceship/tunes/availability.rb
  spaceship/lib/spaceship/tunes/b2b_organization.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/availability_spec.rb
  spaceship/spec/tunes/b2b_organization_spec.rb
  spaceship/spec/tunes/fixtures/app_pricing_intervals.json
  spaceship/spec/tunes/fixtures/app_pricing_intervals_b2b_flag_disabled.json
  spaceship/spec/tunes/fixtures/app_pricing_intervals_b2b_included.json
  spaceship/spec/tunes/fixtures/availability/add_request.json
  spaceship/spec/tunes/fixtures/availability/add_response.json
  spaceship/spec/tunes/fixtures/availability/remove_request.json
  spaceship/spec/tunes/fixtures/availability/remove_response.json
  spaceship/spec/tunes/fixtures/availability/set_preorder_cleared_request.json
  spaceship/spec/tunes/fixtures/availability/set_preorder_cleared_response.json
  spaceship/spec/tunes/fixtures/availability/set_preorder_cleared_with_date_request.json
  spaceship/spec/tunes/fixtures/availability/set_preorder_cleared_with_date_response.json
  spaceship/spec/tunes/fixtures/availability/uninclude_all_future_territories_request.json
  spaceship/spec/tunes/fixtures/availability/uninclude_all_future_territories_response.json
  spaceship/spec/tunes/fixtures/update_price_tier/update_price_tier_request.json
Labels: cla: yes, status: needs-attention, tool: spaceship

#15176 [action] register_devices: Update file format
  fastlane/lib/fastlane/actions/register_devices.rb
  fastlane/spec/actions_specs/register_devices_spec.rb
  fastlane/spec/fixtures/actions/register_devices/devices-list-with-platform.txt
  fastlane/spec/fixtures/actions/register_devices/devices-list-without-platform.txt
Labels: cla: yes, status: needs-attention, tool: action

#15248 Version bump to 2.130.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/upgrade_manifest.json
Labels: cla: yes
