Repository fastlane/fastlane, pull requests merged in 2019-07, with the labels that each got.

#14841 [snapshot] Take screenshot of entire device screen instead of just the app window
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: no, status: needs-attention, tool: snapshot

#14938 [pilot] Add verification to apple_id parameter
  fastlane/spec/actions_specs/pilot_spec.rb
  pilot/lib/pilot/options.rb
  pilot/spec/tester_manager_spec.rb
Labels: cla: yes, tool: pilot, type: enhancement

#14982 [Snapshot] Fix "Clone of" regex
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes

#14945 [fastlane/action] allow sh helper to take keyword arguments/hash to match sh action options
  fastlane/lib/fastlane/fast_file.rb
  fastlane/spec/fast_file_spec.rb
Labels: cla: yes, tool: action

#14827 [pilot] fix testflight distribution for multiplatform app bundles (ios/tvos)
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
  spaceship/lib/spaceship/test_flight/build.rb
  spaceship/lib/spaceship/test_flight/build_trains.rb
Labels: cla: no, status: needs-attention

#14991 [spaceship] fix crash deleting testers
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: no, tool: spaceship

#14858 [pilot] fix nil build metrics on pilot builds
  pilot/lib/pilot/build_manager.rb
Labels: cla: yes, status: needs-attention, tool: pilot

#14836 [action] Add support for analyzer mode in SwiftLint
  fastlane/lib/fastlane/actions/swiftlint.rb
  fastlane/spec/actions_specs/swiftlint_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#14990 [spaceship] relax SPACESHIP_2FA_SMS_DEFAULT_PHONE_NUMBER matching regex
  spaceship/lib/spaceship/two_step_or_factor_client.rb
  spaceship/spec/two_step_or_factor_client_spec.rb
Labels: cla: no, tool: spaceship

#15000 Version bump to 2.127.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15013 [actions] Fix `SharedValues` warnings when executing `fastlane` commands
  fastlane/lib/fastlane/actions/build_ios_app.rb
  fastlane/lib/fastlane/actions/changelog_from_git_commits.rb
  fastlane/lib/fastlane/actions/get_provisioning_profile.rb
  fastlane/lib/fastlane/actions/increment_build_number.rb
  fastlane/lib/fastlane/actions/increment_version_number.rb
  fastlane/lib/fastlane/actions/version_bump_podspec.rb
  fastlane/lib/fastlane/actions/xcodebuild.rb
Labels: cla: yes

#15014 [fastlane] fix FastlaneCore::BuildWatcher from erroring on multiple builds found
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
Labels: cla: yes

#15015 Version bump to 2.127.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15042 gemspec: Update mini_magick version requirement to 4.9.4
  fastlane.gemspec
Labels: cla: yes

#15052 Version bump to 2.127.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15054 [spaceship] Fix typo in `ready_for_beta_submission?` error message
  spaceship/lib/spaceship/connect_api/models/build.rb
Labels: cla: yes, tool: spaceship

#15032 [action] Fix variable usage in increment_build_number call
  fastlane/lib/fastlane/actions/number_of_commits.rb
Labels: cla: yes, tool: action

#15045 [snapshot] Fix warning about unused variable in SnapshotHelper.swift
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, tool: snapshot

#14904 [spaceship] fix Spaceship::Portal.provisioning_profile.all not reporting expired profiles
  spaceship/lib/spaceship/portal/portal_client.rb
  spaceship/spec/portal/portal_stubbing.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#15023 [match] import certs and p12 files into match repo
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match.rb
  match/lib/match/commands_generator.rb
  match/lib/match/generator.rb
  match/lib/match/importer.rb
  match/lib/match/runner.rb
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/interface.rb
  match/spec/fixtures/test.cer
  match/spec/fixtures/test.p12
  match/spec/generator_spec.rb
  match/spec/importer_spec.rb
  match/spec/runner_spec.rb
Labels: cla: no, tool: match, type: feature

#15067 Version bump to 2.128.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15073 [match] fix for match username not found if readonly
  match/lib/match/runner.rb
Labels: cla: yes

#15079 Version bump to 2.128.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15095 Allow Crashlytics devtools.jar to be auto updated
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
Labels: cla: yes

#15086 [action] update_fastlane: Fix broken link
  fastlane/lib/fastlane/actions/update_fastlane.rb
Labels: cla: no, tool: action
