Repository fastlane/fastlane, pull requests merged in 2019-06, with the labels that each got.

#14839 Version bump to 2.125.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14842 Fix typo in deprecation message
  fastlane_core/lib/fastlane_core/build_watcher.rb
Labels: cla: yes

#14848 [action] fix latest app_store_build_number to work with new spaceship
  fastlane/lib/fastlane/actions/app_store_build_number.rb
Labels: cla: yes

#14849 Version bump to 2.125.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14853 [action] fix app_store_build_number and latest_testflight_build_number when no version given
  fastlane/lib/fastlane/actions/app_store_build_number.rb
Labels: cla: yes

#14854 Version bump to 2.125.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14864 [spaceship,produce,fastlane_core] Add support for Arabic and Hebrew
  fastlane_core/lib/fastlane_core/languages.rb
  produce/lib/produce/available_default_languages.rb
  spaceship/lib/assets/languageMapping.json
Labels: cla: yes, tool: fastlane_core, tool: produce, tool: spaceship

#14412 [deliver, spaceship] Allow developers to upload files as review attachments while submitting app to AppStore
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/upload_metadata.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  spaceship/lib/spaceship/du/du_client.rb
  spaceship/lib/spaceship/du/utilities.rb
  spaceship/lib/spaceship/tunes/app_review_attachment.rb
  spaceship/lib/spaceship/tunes/app_version.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/app_version_spec.rb
  spaceship/spec/tunes/fixtures/app_review_attachment.json
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, status: needs-attention, tool: deliver, tool: spaceship

#14895 [SnapshotHelper] Remove "Clone X of " in simulator name
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: no, tool: snapshot

#14911 [actions] reset simulator content tvOS & watchOS
  fastlane/lib/fastlane/actions/reset_simulator_contents.rb
Labels: cla: no, tool: action

#14939 [fastlane] handle empty exception backtrace
  fastlane/lib/fastlane/lane_manager_base.rb
Labels: cla: no

#14877 [action] Add extra_arg parameter to oclint action
  fastlane/lib/fastlane/actions/oclint.rb
  fastlane/spec/actions_specs/oclint_spec.rb
Labels: cla: no, tool: action

#14874 [action] Add xcodebuild_command option to scan action
  scan/lib/scan/options.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes, status: needs-attention, tool: scan

#14943 Version bump to 2.126.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14892 [fastlane] Improve Lane Variables documentation by detecting `SharedValues` key assignment in functions
  fastlane/lib/fastlane/actions/build_ios_app.rb
  fastlane/lib/fastlane/actions/get_build_number.rb
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/lib/fastlane/actions/ipa.rb
  fastlane/lib/fastlane/actions/make_changelog_from_jenkins.rb
  fastlane/lib/fastlane/actions/sync_code_signing.rb
  fastlane/lib/fastlane/actions/version_get_podspec.rb
  rubocop/missing_keys_on_shared_area.rb
Labels: cla: yes, type: documentation

#14944 [fastlane] use IO.popen instead of sh for release because input needed for 2FA
  fastlane/Fastfile
Labels: cla: yes, tool: fastlane

#14847 [snapshot] Fix grouping for iPad Pro 12.9-inch (3rd gen) in sc…
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes, status: needs-attention, tool: snapshot

#14962 [fastlane_core] added deliver/pilot support for Xcode 11 - new search path for itms_path
  fastlane_core/lib/fastlane_core/helper.rb
Labels: cla: yes, tool: fastlane_core
