Repository fastlane/fastlane, pull requests merged in 2019-04, with the labels that each got.

#14508 fix syntax error changes introduced in ruby 2.6
  fastlane/spec/fast_file_spec.rb
Labels: cla: yes

#14501 [action] Continue git_commit action execution if there is nothing to commit
  fastlane/lib/fastlane/actions/git_commit.rb
  fastlane/spec/actions_specs/git_commit_spec.rb
Labels: cla: yes

#14519 [spaceship] Add app screenshot download endpoint to README.md
  spaceship/README.md
Labels: cla: yes, tool: spaceship

#14360 [gym] Fix provisioning profile detection for projects based on inherited xcconfigs
  gym/lib/gym/code_signing_mapping.rb
  gym/spec/code_signing_mapping_spec.rb
  gym/spec/fixtures/projects/cocoapods/Example.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  gym/spec/fixtures/projects/cocoapods/Example.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig.xcodeproj/project.pbxproj
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig.xcodeproj/xcshareddata/xcschemes/Target A.xcscheme
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig.xcodeproj/xcshareddata/xcschemes/Target B.xcscheme
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig.xcworkspace/contents.xcworkspacedata
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/AppDelegate.swift
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/Assets.xcassets/AppIcon.appiconset/Contents.json
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/Assets.xcassets/Contents.json
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/Base.lproj/LaunchScreen.storyboard
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/Base.lproj/Main.storyboard
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/Info.plist
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/SupportFiles/Common/Variables.xcconfig
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/SupportFiles/Configurations/Debug.xcconfig
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/SupportFiles/Configurations/Release.xcconfig
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/SupportFiles/Targets/TargetA.xcconfig
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/SupportFiles/Targets/TargetB.xcconfig
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig/ViewController.swift
Labels: cla: yes, status: needs-attention, tool: gym

#14423 Add the ability to specify Step Name for all actions
  fastlane/Fastfile
  fastlane/lib/fastlane/runner.rb
  fastlane/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention, tool: fastlane

#14523 [pilot + spaceship] temporary workaround for remove bulid trains API call and replace beta group API calls
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
  pilot/spec/build_manager_spec.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/test_flight/build.rb
  spaceship/lib/spaceship/test_flight/build_trains.rb
  spaceship/spec/connect/client_spec.rb
  spaceship/spec/test_flight/build_spec.rb
  spaceship/spec/test_flight/build_trains_spec.rb
  spaceship/spec/tunes/application_spec.rb
Labels: cla: yes

#14509 [spaceship] migrate "olympus" authentication endpoint to appstoreconnect api
  spaceship/lib/spaceship/client.rb
  spaceship/spec/portal/portal_client_spec.rb
  spaceship/spec/portal/portal_stubbing.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, tool: spaceship

#14544 [pilot] app not app_id
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#14545 Version bump to 2.120.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14513 [deliver] Fix builds whose versions have components with leading zeros infinitely wait for submission
  deliver/lib/deliver/submit_for_review.rb
  deliver/spec/submit_for_review_spec.rb
Labels: cla: no, tool: deliver

#14533 [deliver] upload_screenshots_spec to test screenshot collection
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/upload_screenshots_spec.rb
Labels: cla: yes, tool: deliver, topic: tests

#14582 [match] Broken link to register_devices in docs
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes, type: documentation

#14611 [action] sonar: new optional param for branch name
  fastlane/lib/fastlane/actions/sonar.rb
Labels: cla: yes

#14579 [action] pod_lib_lint: Add new cocoapods 1.7 parameters of the lint command
  fastlane/lib/fastlane/actions/pod_lib_lint.rb
  fastlane/spec/actions_specs/pod_lib_lint_spec.rb
Labels: cla: yes, tool: action

#14580 [action] artifactory: Add a read timeout option
  fastlane/lib/fastlane/actions/artifactory.rb
Labels: cla: yes, tool: action

#14612 [action] Post line break characters as actual interpreted line break through slack integration
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/spec/actions_specs/slack_spec.rb
Labels: cla: yes, tool: action

#14623 update LICENSE
  LICENSE
Labels: cla: yes

#14588 [deliver] Test Deliver::AppScreenshot methods and fix uncovered bugs
  deliver/lib/deliver/app_screenshot.rb
  deliver/spec/app_screenshot_spec.rb
Labels: cla: yes, tool: deliver

#14436 [spaceship] Automate phone number selection for "request code via SMS" in 2FA with `SPACESHIP_2FA_SMS_DEFAULT_PHONE_NUMBER` env var
  cert/lib/cert/runner.rb
  spaceship/lib/spaceship/spaceauth_runner.rb
  spaceship/lib/spaceship/two_step_or_factor_client.rb
  spaceship/spec/fixtures/client_appleauth_auth_2fa_response.json
  spaceship/spec/tunes/tunes_stubbing.rb
  spaceship/spec/two_step_or_factor_client_spec.rb
Labels: cla: yes, status: needs-attention, tool: spaceship, topic: authentication

#14525 [spaceship] Include 'DES' cookie into FASTLANE_SESSION
  spaceship/lib/spaceship.rb
  spaceship/lib/spaceship/spaceauth_runner.rb
  spaceship/spec/spaceauth_spec.rb
  spaceship/spec/tunes/fixtures/spaceauth_cookie.yml
Labels: cla: yes, tool: spaceship

#14604 [action] app_store_build_number: Pass teamID when selecting itunes team
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
Labels: cla: yes, tool: action

#14599 [action] pod_lib_lint: Add support for use_module_headers and subspecs
  fastlane/lib/fastlane/actions/pod_lib_lint.rb
  fastlane/spec/actions_specs/pod_lib_lint_spec.rb
Labels: cla: yes, tool: action

#14596 [frameit] Fix percentage padding
  frameit/lib/frameit/editor.rb
Labels: cla: yes, tool: frameit

#14620 [cert] Prevent from crash when keychain_path param wasn't passed
  cert/lib/cert/runner.rb
Labels: cla: yes, tool: cert

#14574 [spaceship] Make Spaceship::Tunes::DisplayFamily main data source for screenshot information
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/upload_screenshots_spec.rb
  spaceship/lib/assets/displayFamilies.json
  spaceship/lib/spaceship/du/du_client.rb
  spaceship/lib/spaceship/tunes/app_version.rb
  spaceship/lib/spaceship/tunes/device_type.rb
  spaceship/lib/spaceship/tunes/display_family.rb
  spaceship/spec/du/du_client_spec.rb
  spaceship/spec/tunes/device_type_spec.rb
Labels: cla: yes, tool: spaceship

#14576 [deliver] iPad Pro (12.9-inch) (3rd generation) ambiguity resolution
  deliver/lib/deliver/app_screenshot.rb
  deliver/spec/app_screenshot_spec.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes, tool: deliver, topic: ipad pro 12.9 3rd gen

#14569 [deliver] apple tv privacy policy update from deliver
  deliver/lib/deliver/download_screenshots.rb
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_screenshots.rb
Labels: cla: yes, tool: deliver

#14571 [action] allow modify_services to enable data_protection
  fastlane/lib/fastlane/actions/modify_services.rb
  fastlane/spec/actions_specs/modify_services_spec.rb
Labels: cla: yes, tool: action

#14636 Version bump to 2.121.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14646 [pilot] Fix typo in message
  pilot/lib/pilot/build_manager.rb
Labels: cla: yes, tool: pilot

#14651 [frameit] Add missing documentation for title_min_height option
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
Labels: cla: yes, tool: frameit

#14653 [deliver] fix ipad 3rd gen naming to prevent future collisions
  deliver/lib/deliver/app_screenshot.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes, tool: deliver

#14524 [spaceship] Authentication documentation
  spaceship/docs/Authentication.md
  spaceship/docs/README.md
Labels: cla: no, status: needs-attention, tool: spaceship

#14654 [action] app_store_build_number (and latest_testflight_build_number) don't raise error if using :initial_build_number
  fastlane/lib/fastlane/actions/app_store_build_number.rb
Labels: cla: yes, tool: action

#14655 [deliver] `download_screenshots`: write screenshots as binary
  deliver/lib/deliver/download_screenshots.rb
Labels: cla: yes, os: windows, tool: deliver

#14658 Version bump to 2.121.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14667 [spaceship] require pathname needed when not using bundler and requiring spaceship directly
  spaceship/lib/spaceship/module.rb
Labels: cla: yes

#14409 [action] Fix increment_build_number precondition issue
  fastlane/lib/fastlane/actions/increment_build_number.rb
  fastlane/spec/actions_specs/increment_build_number_action_spec.rb
  fastlane/spec/actions_specs/set_build_number_repository_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#14346 [actions] extract shared code from setup_travis and setup_circle_ci actions
  fastlane/lib/fastlane/actions/setup_ci.rb
  fastlane/lib/fastlane/actions/setup_circle_ci.rb
  fastlane/lib/fastlane/actions/setup_travis.rb
  fastlane/spec/actions_specs/setup_ci_spec.rb
  fastlane/spec/actions_specs/setup_circle_ci_spec.rb
  fastlane/spec/actions_specs/setup_travis_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#14610 [rubocop] Add a new rule to prevent missing keys on the shared area provided by an action
  .rubocop.yml
  fastlane/lib/fastlane/actions/build_ios_app.rb
  fastlane/lib/fastlane/actions/capture_android_screenshots.rb
  fastlane/lib/fastlane/actions/capture_ios_screenshots.rb
  fastlane/lib/fastlane/actions/changelog_from_git_commits.rb
  fastlane/lib/fastlane/actions/commit_version_bump.rb
  fastlane/lib/fastlane/actions/create_keychain.rb
  fastlane/lib/fastlane/actions/create_pull_request.rb
  fastlane/lib/fastlane/actions/default_platform.rb
  fastlane/lib/fastlane/actions/ensure_xcode_version.rb
  fastlane/lib/fastlane/actions/get_certificates.rb
  fastlane/lib/fastlane/actions/get_provisioning_profile.rb
  fastlane/lib/fastlane/actions/git_branch.rb
  fastlane/lib/fastlane/actions/gradle.rb
  fastlane/lib/fastlane/actions/run_tests.rb
  fastlane/lib/fastlane/actions/slather.rb
  fastlane/lib/fastlane/actions/sync_code_signing.rb
  fastlane/lib/fastlane/actions/update_app_group_identifiers.rb
  fastlane/lib/fastlane/actions/update_icloud_container_identifiers.rb
  fastlane/lib/fastlane/actions/verify_build.rb
  fastlane/lib/fastlane/actions/xcode_install.rb
  fastlane/spec/fixtures/actions/archive.rb
  fastlane/spec/fixtures/actions/example_action_second.rb
  rubocop/missing_keys_on_shared_area.rb
Labels: cla: yes, topic: tests, type: enhancement

#14682 [spaceship] Feature to troubleshoot to_json issues, related to #13608
  spaceship/lib/spaceship/base.rb
  spaceship/spec/spaceship_base_spec.rb
Labels: cla: yes

#14687 [action] update_app_identifier fails to search for curly brace variables in Info.plist
  fastlane/lib/fastlane/actions/update_app_identifier.rb
  fastlane/spec/actions_specs/update_app_identifier_spec.rb
Labels: cla: yes

#14631 [action] build_and_upload_to_appetize: Added public key and note parameters
  fastlane/lib/fastlane/actions/build_and_upload_to_appetize.rb
Labels: cla: yes, tool: action

#14683 [action] Fix latest testflight build number problems / expired build scenario
  fastlane/lib/fastlane/actions/app_store_build_number.rb
Labels: cla: no, tool: action, topic: error 410 gone fallout

#14690 [spaceship] class to handle JWT token generation for AppStore connect
  fastlane.gemspec
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/token.rb
  spaceship/spec/connect/token_spec.rb
Labels: cla: yes, tool: spaceship

#14659 [actions] New action `validate_play_store_json_key`
  fastlane/lib/fastlane/actions/validate_play_store_json_key.rb
  fastlane/spec/unused_options_spec.rb
Labels: cla: no, tool: action

#14679 [Circle CI] Use Xcode 9.0.1 instead of 9.0.0
  .circleci/config.yml
Labels: cla: yes, type: ci

#14668 [tests/CI] Test module import
  .circleci/config.yml
  test_modules/run_tests.sh
Labels: cla: yes, topic: tests
