Repository fastlane/fastlane, pull requests merged in 2019-03, with the labels that each got.

#14224 [spaceship] fix pilot distribute with new Connect API beta calls
  fastlane/lib/fastlane/actions/upload_to_testflight.rb
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/manager.rb
  pilot/lib/pilot/module.rb
  pilot/lib/pilot/options.rb
  pilot/spec/build_manager_spec.rb
  pilot/spec/options_spec.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/spec/connect/client_spec.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#14329 Version bump to 2.117.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14331 Fix for pilot submit review
  pilot/spec/build_manager_spec.rb
  spaceship/lib/spaceship/test_flight/build.rb
Labels: cla: yes

#14332 Version bump to 2.117.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14281 [import_certificate] Improve documentation
  fastlane/lib/fastlane/actions/import_certificate.rb
Labels: cla: yes, tool: action, type: documentation

#14288 [push_to_git_remote] add --no-verify option
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
  fastlane/spec/actions_specs/push_to_git_remote_spec.rb
Labels: cla: yes, tool: action

#14269 [supply] Enable obb updating
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  supply/lib/supply/client.rb
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
Labels: cla: yes, tool: supply

#14302 [action] hockeyapp: Include Hockey CDN bypass example
  fastlane/lib/fastlane/actions/hockey.rb
Labels: cla: no, tool: action

#14054 [gym] Detect true build configuration for archive action
  fastlane.gemspec
  fastlane_core/lib/fastlane_core/project.rb
  gym/lib/gym/code_signing_mapping.rb
  gym/spec/code_signing_mapping_spec.rb
  gym/spec/fixtures/projects/cocoapods/Example.xcodeproj/project.pbxproj
  gym/spec/fixtures/projects/cocoapods/Example.xcodeproj/xcshareddata/xcschemes/Example (Debug).xcscheme
Labels: cla: no, status: needs-attention, tool: gym

#14313 [match] clear_changes after saving for all storage options
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/interface.rb
Labels: cla: yes

#10597 [pem] Create webpush certificates
  fastlane/lib/fastlane/actions/docs/get_push_certificate.md
  pem/lib/pem/manager.rb
  pem/lib/pem/options.rb
  spaceship/lib/spaceship/portal/certificate.rb
  spaceship/lib/spaceship/portal/portal_client.rb
  spaceship/lib/spaceship/portal/website_push.rb
  spaceship/spec/portal/certificate_spec.rb
  spaceship/spec/portal/portal_stubbing.rb
  spaceship/spec/portal/website_push_spec.rb
Labels: cla: no, status: needs-attention, tool: pem, tool: spaceship

#12782 [automatic_code_signing] create TargetAttributes for targets missing them
  fastlane/lib/fastlane/actions/automatic_code_signing.rb
Labels: cla: no, status: needs-attention, tool: action

#13672 Support .gradle.kts project
  fastlane/lib/fastlane/setup/setup.rb
Labels: cla: yes, status: needs-attention, topic: setup, type: enhancement

#14303 [screengrab] Add documentation on how to detect screengrab at runtime
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
Labels: cla: no, tool: screengrab

#14311 [fastlane] fix keychain shellescaping
  fastlane/lib/fastlane/actions/create_keychain.rb
  fastlane/spec/actions_specs/create_keychain_spec.rb
  fastlane/spec/actions_specs/import_certificate_spec.rb
  fastlane_core/lib/fastlane_core/keychain_importer.rb
  match/spec/utils_spec.rb
Labels: cla: yes, tool: action

#14335 [resign.sh] Don't create archived-expanded-entitlements.xcent if xcode10
  sigh/lib/assets/resign.sh
Labels: cla: yes, topic: resign.sh

#14370 [action] Add skip_import_validation and skip_tests parameters to pod_push action
  fastlane/lib/fastlane/actions/pod_push.rb
  fastlane/spec/actions_specs/pod_push_spec.rb
Labels: cla: no

#14333 [match] Clean up match/sync_code_signing docs
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: no, tool: match, type: documentation

#14325 [action] added Appcenter plugin link to use instead of hockeyApp
  fastlane/lib/fastlane/action.rb
  fastlane/lib/fastlane/actions/hockey.rb
  fastlane/lib/fastlane/documentation/actions_list.rb
  fastlane/lib/fastlane/runner.rb
Labels: cla: no, tool: action, type: documentation

#14306 [snapshot] Set locale only when identifier is valid
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, status: needs-attention, tool: snapshot

#14216 [pilot] added extra documentation for skip_waiting_for_build_processing
  pilot/lib/pilot/options.rb
Labels: cla: no, status: needs-attention, tool: pilot

#14367 [snapshot] Improve SnapshotHelper.swift to support snapshotting for multiple apps.
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: no

#14401 [pilot] add option for `uses_non_exempt_encryption` and wait for processing again when being set
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
  pilot/spec/build_manager_spec.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/test_flight/build.rb
Labels: cla: yes

#14394 [action] added new spaceship_logs action
  fastlane/lib/fastlane/actions/clipboard.rb
  fastlane/lib/fastlane/actions/spaceship_logs.rb
Labels: cla: yes

#14388 [scan] Skip unavailable os_versions from simclt output
  fastlane_core/lib/fastlane_core/device_manager.rb
  fastlane_core/spec/device_manager_spec.rb
  fastlane_core/spec/fixtures/DeviceManagerSimctlOutputXcode10BootedUnavailable
Labels: cla: yes, tool: scan

#14415 Version bump to 2.118.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14425 Revert "[fastlane] fix keychain shellescaping"
  fastlane/lib/fastlane/actions/create_keychain.rb
  fastlane/spec/actions_specs/create_keychain_spec.rb
  fastlane/spec/actions_specs/import_certificate_spec.rb
  fastlane_core/lib/fastlane_core/keychain_importer.rb
  match/spec/utils_spec.rb
Labels: cla: yes

#14426 Version bump to 2.118.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14400 fix(Docs): Typo
  fastlane/lib/fastlane/actions/upload_to_testflight.rb
Labels: cla: yes

#14434 Fix typo
  gym/lib/gym/options.rb
Labels: cla: yes

#14432 Adds FASTLANE_SKIP_ACTION_SUMMARY variable to skip table output
  fastlane/lib/fastlane/lane_manager_base.rb
  fastlane/spec/lane_manager_spec.rb
Labels: cla: yes

#14439 Avoid Search for the Crashlytics API token if parameter gsp_path is set
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
Labels: cla: yes

#14442 add --no-verify option to commit_version_bump
  fastlane/lib/fastlane/actions/commit_version_bump.rb
  fastlane/spec/actions_specs/commit_version_bump_action_spec.rb
Labels: cla: yes

#14292 [spaceship] Basic support for app bundles
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/fixtures/bundle_details.json
  spaceship/spec/tunes/tunes_client_spec.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#14410 [update_project_provisioning] Show default xcodeproj in success output
  fastlane/lib/fastlane/actions/update_project_provisioning.rb
Labels: cla: yes, tool: action

#13656 [screengrab] check if package is already installed before uninstalling
  screengrab/lib/screengrab/runner.rb
  screengrab/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention, tool: screengrab

#13174 [deliver, pilot] Look up provider IDs programmatically
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/spec/runner_spec.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
Labels: cla: no, status: needs-attention, tool: deliver, tool: fastlane_core, tool: pilot, topic: itunes transporter

#14460 [deliver + frameit] Rename variables
  deliver/lib/deliver/upload_screenshots.rb
  frameit/lib/frameit/offsets.rb
Labels: cla: yes, tool: deliver, tool: frameit

#14459 [deliver + spaceship] Format and comment device type lists
  deliver/lib/deliver/app_screenshot.rb
  spaceship/lib/spaceship/tunes/device_type.rb
Labels: cla: no, tool: deliver, tool: spaceship

#14448 [spaceship] Create README for /docs
  spaceship/docs/README.md
Labels: cla: yes, tool: spaceship

#14455 [spaceship] Clean up README
  spaceship/README.md
Labels: cla: yes, tool: spaceship

#14450 [fastlane_core] Verify environment variable values for options
  fastlane_core/lib/fastlane_core/configuration/configuration.rb
  fastlane_core/spec/configuration_spec.rb
Labels: cla: no, tool: fastlane_core

#14452 [frameit] Add double quotes to path in StringParser.encoding_type
  frameit/lib/frameit/strings_parser.rb
  frameit/spec/fixtures/translations file.utf8.strings
  frameit/spec/strings_parser_spec.rb
Labels: cla: no, tool: frameit

#14464 [pilot] filter builds by app id
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
  spaceship/lib/spaceship/test_flight/build.rb
Labels: cla: yes

#14465 Version bump to 2.119.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14462 [sign] fix sigh not using custom keychain path
  cert/lib/cert/runner.rb
  cert/spec/runner_spec.rb
Labels: cla: yes

#14484 Fix linux circle docker
  .circleci/config.yml
  fastlane/Fastfile
Labels: cla: yes

#14496 [action] add --set-upstream option to push_to_git_remote
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
  fastlane/spec/actions_specs/push_to_git_remote_spec.rb
Labels: cla: yes, tool: action, type: feature

#14492 [scan] Add env_name values for commonly used options
  scan/lib/scan/options.rb
Labels: cla: yes, tool: scan

#14490 [deliver] Do not set ratings_resets to null if not specified
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes, tool: deliver, type: enhancement

#14498 [snapshot] Make the `sleep` waiting for animations optional
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes

#14471 [fastlane] git: more responsible, Windows-compatible shellout
  fastlane/lib/fastlane/helper/git_helper.rb
  fastlane/spec/actions_specs/changelog_from_git_commits_spec.rb
  fastlane/spec/actions_specs/last_git_tag_spec.rb
Labels: cla: yes, os: windows, tool: action, tool: fastlane
