Repository fastlane/fastlane, pull requests merged in 2019-05, with the labels that each got.

#14503 spec_helper refactoring and fixing Scan tests
  cert/spec/spec_helper.rb
  cert/spec/stubbing.rb
  deliver/spec/commands_generator_spec.rb
  fastlane.gemspec
  fastlane/spec/actions_specs/copy_artifacts_spec.rb
  fastlane/spec/actions_specs/crashlytics_spec.rb
  fastlane/spec/actions_specs/git_add_spec.rb
  fastlane/spec/actions_specs/git_branch_spec.rb
  fastlane/spec/actions_specs/git_tag_exists_spec.rb
  fastlane/spec/actions_specs/supply_spec.rb
  fastlane/spec/cli_tools_distributor_spec.rb
  fastlane/spec/spec_helper.rb
  fastlane/spec/spec_helper_spec.rb
  fastlane_core/spec/command_executor_spec.rb
  fastlane_core/spec/configuration_file_spec.rb
  fastlane_core/spec/env_spec.rb
  fastlane_core/spec/fastlane_runner_spec.rb
  fastlane_core/spec/feature_spec.rb
  fastlane_core/spec/itunes_transporter_spec.rb
  fastlane_core/spec/print_table_spec.rb
  fastlane_core/spec/spec_helper.rb
  fastlane_core/spec/update_checker_spec.rb
  pem/spec/spec_helper.rb
  pem/spec/stubbing.rb
  scan/spec/slack_poster_spec.rb
  screengrab/spec/android_environment_spec.rb
  screengrab/spec/spec_helper.rb
  sigh/spec/spec_helper.rb
  sigh/spec/stubbing.rb
  spec_helper.rb
Labels: cla: yes, status: needs-attention, topic: tests

#14702 Fix failing tests
  spaceship/spec/spaceship_base_spec.rb
Labels: cla: yes

#14677 [action] slather: Change binaryFile data type from Bool to optional String
  fastlane/lib/fastlane/actions/slather.rb
  fastlane/spec/actions_specs/slather_spec.rb
Labels: cla: yes, tool: action, topic: swift

#14695 [supply] add API error logging and spec for supply
  supply/lib/supply/client.rb
  supply/spec/client_spec.rb
  supply/spec/fixtures/playstore-icon.png
  supply/spec/fixtures/sample-service-account.json
  supply/spec/spec_helper.rb
Labels: cla: yes

#14691 [pilot] Trim leading zeros in app_version in wait_for_build_processing_to_be_complete
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
Labels: cla: yes, tool: pilot

#14615 [action] increment_version_number: Allow version without patch number
  fastlane/lib/fastlane/actions/increment_version_number.rb
  fastlane/spec/actions_specs/increment_version_number_action_spec.rb
Labels: cla: no, status: needs-attention, tool: action

#14637 [action] create_pull_request: add assignees option
  fastlane/lib/fastlane/actions/create_pull_request.rb
  fastlane/spec/actions_specs/create_pull_request_spec.rb
Labels: cla: yes, tool: action

#14643 [action] Added `format` option to `swiftlint` action
  fastlane/lib/fastlane/actions/swiftlint.rb
  fastlane/spec/actions_specs/swiftlint_spec.rb
Labels: cla: no, tool: action

#14707 Version bump to 2.122.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14456 [pilot] Do not use spaceship if both skip_waiting_for_build_processing and apple_id are set
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: no, status: needs-attention, tool: pilot, topic: authentication

#14706 [danger] adds warning to PR when maintainer_can_modify is false
  Dangerfile
Labels: cla: yes

#14720 [action] pod_lib_lint: Add missing parameters
  fastlane/lib/fastlane/actions/pod_lib_lint.rb
  fastlane/spec/actions_specs/pod_lib_lint_spec.rb
Labels: cla: yes, tool: action

#14516 [action] New action to install provisioning profile from file
  fastlane/lib/fastlane/actions/install_provisioning_profile.rb
Labels: cla: no, status: needs-attention, tool: action, type: feature

#14763 Version bump to 2.123.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14648 [action] modify_services: fix "data_protection": "complete"
  fastlane/lib/fastlane/actions/modify_services.rb
  fastlane/spec/actions_specs/modify_services_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#14644 [frameit] Add ability to resume frameit with --resume flag
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  frameit/lib/frameit/editor.rb
  frameit/lib/frameit/options.rb
  frameit/lib/frameit/runner.rb
  frameit/lib/frameit/screenshot.rb
Labels: cla: yes, status: needs-attention, tool: frameit

#14511 [supply] Also upload changelog when uploading bundle
  supply/lib/supply/uploader.rb
Labels: cla: yes, status: needs-attention, tool: supply

#14786 Drop MultiJson in favor of stdlib JSON
  fastlane.gemspec
  supply/lib/supply/client.rb
Labels: cla: yes

#14554 [action] create_keychain: do not add keychain to list-keychains if it is already present
  fastlane/lib/fastlane/actions/create_keychain.rb
  fastlane/spec/actions_specs/create_keychain_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#14787 [frameit] Add missing case for iPad Pro 12.9 (3rd Generation)
  frameit/lib/frameit/screenshot.rb
Labels: cla: yes, tool: frameit

#14818 Add `PRs welcome` badge to README.md file
  README.md
Labels: cla: yes

#14806 [CI] Download libiconv.exe to a temporary directory
  appveyor.yml
Labels: cla: yes, type: ci

#14817 [spaceship] Fix video preview resolution device names
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes, tool: spaceship

#14820 [Team] Update Danielle's Github and Twitter usernames
  team.json
Labels: cla: yes

#14469 [gym] add result_bundle_path option.
  gym/lib/gym/generators/build_command_generator.rb
  gym/lib/gym/options.rb
  gym/spec/build_command_generator_spec.rb
Labels: cla: yes, status: needs-attention, tool: gym

#14810 [frameit] Fix iPhone XR black color (instead of Space Gray)
  frameit/lib/frameit/screenshot.rb
Labels: cla: yes

#14742 [snapshot] Get rid of Xcode 10.2 / SwiftLint warnings
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, tool: snapshot

#14793 [download_dsyms] show platform name during download
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: no, tool: action

#14746 The `output` table is visible in the action's documentation
  fastlane/lib/assets/ActionDetails.md.erb
Labels: cla: yes, tool: action, type: documentation

#14718 [scan] reorganize order of operations for simulator management in scan action.
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
Labels: cla: yes, status: needs-attention, tool: scan

#14512 [action] prioritize GSP path over fabric token
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
Labels: cla: yes, status: needs-attention, tool: action

#14829 Version bump to 2.124.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes
