Repository fastlane/fastlane, pull requests merged in 2019-09, with the labels that each got.

#15259 [download_dsyms] Replace error with message when no dSYM found
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes, tool: action

#15260 [download_dsyms] Do not attempt to download Dsyms if the dsym_url is missing
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/spec/actions_specs/download_dsyms_spec.rb
Labels: cla: yes, tool: action

#15258 [Fastlane.Swift] Add missing FastlaneRunnerAPIVersion comment
  fastlane/swift/Actions.swift
  fastlane/swift/Plugins.swift
Labels: cla: yes, topic: swift

#15256 [match,crashlytics] Fix unknown method error
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
  match/lib/match/importer.rb
Labels: cla: yes, tool: action, tool: match

#15262 [swift] file_needs_update: Ignore files with no FastlaneRunnerAPIVersion
  fastlane/lib/fastlane/swift_runner_upgrader.rb
Labels: cla: yes, topic: swift

#15263 [Fastlane.swift] remove puts in swift_fastlane_api_generator.rb
  fastlane/lib/fastlane/swift_fastlane_api_generator.rb
Labels: cla: yes

#15238 [action] gradle: Add support for GRADLE_OUTPUT_JSON_OUTPUT_PATH and GRADLE_ALL_OUTPUT_JSON_OUTPUT_PATHS
  fastlane/lib/fastlane/actions/gradle.rb
Labels: cla: yes, tool: action

#15232 [action] is_ci also looks at GITHUB_ACTIONS
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/helper_spec.rb
Labels: cla: yes, tool: fastlane_core, type: ci

#15223 [match] add option to skip provisioning profiles
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
Labels: cla: yes, tool: match

#15243 [gym] Provide bcsymbolmap path to dsymutil for each architecture
  gym/lib/gym/runner.rb
Labels: cla: yes, tool: gym

#14872 [action] app_store_build_number: Changed the sort value for when returning the list of builds from the Connect API for TestFlight builds
  fastlane/lib/fastlane/actions/app_store_build_number.rb
Labels: cla: yes, status: needs-attention, tool: action

#15266 [action] plugin_scores: Fix support for rendering single line description of plugin actions on docs
  fastlane/helper/plugin_scores_helper.rb
  fastlane/spec/fixtures/plugins/multi_line_description_action.rb
  fastlane/spec/fixtures/plugins/single_line_description_action.rb
  fastlane/spec/helper/plugin_scores_helper_spec.rb
Labels: cla: yes, tool: action

#15293 [cert/resign] Fix simple typo: provisiong -> provisioning
  cert/ManualSteps.md
  fastlane/lib/fastlane/actions/resign.rb
Labels: cla: yes, tool: action, tool: cert

#15228 [spaceship] Change provisioning profile update request to match what Apple Developer passes
  spaceship/lib/spaceship/portal/provisioning_profile.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#15330 [snapshot] Add iPhone 11 series devices to reports_generator
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes, tool: snapshot

#15324 [match] Added basic authorization to git storage
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/storage/git_storage.rb
  match/spec/runner_spec.rb
Labels: cla: yes, tool: match, type: feature

#15291 [action] Add ensure_env_vars action
  fastlane/Fastfile
  fastlane/lib/fastlane/actions/ensure_env_vars.rb
  fastlane/spec/actions_specs/ensure_env_vars_spec.rb
Labels: cla: yes, topic: @fastlane-bot

#15288 [action] Add the possibility to update an app to the onesignal action
  fastlane/lib/fastlane/actions/onesignal.rb
  fastlane/spec/actions_specs/onesignal_spec.rb
Labels: cla: yes, tool: action

#15305 Enable `fastlane-env-reminder` GitHub Action
  .github/workflows/issues.yml
Labels: cla: yes, topic: @fastlane-bot

#15289 [latest_testflight_build_number] Support :platform parameter for non-live builds
  fastlane/lib/fastlane/actions/app_store_build_number.rb
Labels: cla: yes, tool: action

#15337 [spaceship] Add support for changing subscription tiers
  spaceship/lib/spaceship/tunes/iap_family_details.rb
Labels: cla: yes, tool: spaceship

#15339 [spaceship] Add support for adding and removing IAPs to/from app version
  spaceship/lib/spaceship/tunes/app_version.rb
Labels: cla: yes, tool: spaceship

#15310 [match] Improve Google Cloud Storage wizard
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match/storage/google_cloud_storage.rb
Labels: cla: no, tool: match

#15327 [produce] Check before push_notification service enable
  produce/lib/produce/service.rb
Labels: cla: yes, tool: produce

#15347 [action] Add modular headers pod push option and env variable
  fastlane/lib/fastlane/actions/pod_push.rb
Labels: cla: yes, tool: action

#15391 [match] Fix for git_basic_authorization option
  match/lib/match/options.rb
  match/lib/match/storage/git_storage.rb
Labels: cla: yes

#15373 [frameit] Added device names for new iPad sizes
  frameit/lib/frameit/screenshot.rb
Labels: cla: yes, tool: frameit

#15399 pin faraday to < 0.16.0
  fastlane.gemspec
Labels: cla: yes

#12673 Set FASTLANE_SHOW_TIMEZONE env var to show timestamp in logs
  fastlane_core/lib/fastlane_core/ui/implementations/shell.rb
Labels: cla: yes, tool: fastlane_core

#15394 Replace map.flatten with flat_map
  fastlane/lib/fastlane/actions/copy_artifacts.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
  spaceship/lib/spaceship/connect_api/models/build_delivery.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id.rb
  spaceship/lib/spaceship/connect_api/models/certificate.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
  spaceship/spec/tunes/iap_subscription_pricing_tier_spec.rb
Labels: cla: yes, topic: performance

#15387 Resolve multiple -t parameters overriding each other for iTMSTransporter
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: cla: yes, topic: itunes transporter, topic: xcode11

#15354 [fastlane] attempt to require lib in Fastfile before warning
  fastlane/lib/fastlane/fast_file.rb
  fastlane/spec/fast_file_spec.rb
  fastlane/spec/fixtures/fastfiles/FastfileRequireInstalledGem
  fastlane/spec/fixtures/fastfiles/FastfileRequireUninstalledGem
Labels: cla: yes, tool: fastlane

#15410 [match/cert/sigh] support xcode 11 profiles
  cert/lib/cert/module.rb
  cert/lib/cert/options.rb
  cert/lib/cert/runner.rb
  cert/spec/runner_spec.rb
  match/lib/match/generator.rb
  match/lib/match/module.rb
  match/lib/match/nuke.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/spec_helper.rb
Labels: cla: yes, tool: sigh

#15265 fix wording on android setup "service action" -> "service account"
  fastlane/lib/fastlane/setup/setup_android.rb
Labels: cla: yes, status: needs-attention

#15377 [spaceship] Add support for answering Resolution Center programmatically
  spaceship/lib/spaceship/tunes/application.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes, tool: spaceship

#15303 [snapshot] Added Snapshot support for dark mode in iOS 13
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/simulator_launchers/launcher_configuration.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes, status: needs-attention, tool: snapshot
