Repository fastlane/fastlane, pull requests merged in 2019-12, with the labels that each got.

#15758 [action] verify_build: remove extraneous quote
  fastlane/lib/fastlane/actions/verify_build.rb
Labels: cla: yes

#15737 [action] increment_version_number: New default value for bump_type
  fastlane/lib/fastlane/actions/increment_version_number.rb
  fastlane/spec/actions_specs/increment_version_number_action_spec.rb
Labels: cla: yes, tool: action, type: feature

#15738 [action] get_version_number: Supports when INFOPLIST_FILE is specified as an absolute path
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/spec/actions_specs/get_version_number_action_spec.rb
  fastlane/spec/fixtures/actions/get_version_number/TargetAbsolutePath-Info.plist
  fastlane/spec/fixtures/actions/get_version_number/TargetRelativePath-Info.plist
  fastlane/spec/fixtures/actions/get_version_number/get_version_number.xcodeproj/project.pbxproj
Labels: cla: yes, tool: action

#15722 [match] Add bearer authentication support for git
  .circleci/config.yml
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/swift/Fastlane.swift
  fastlane/swift/MatchfileProtocol.swift
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/storage/git_storage.rb
  match/spec/runner_spec.rb
Labels: cla: no, tool: match

#15572 [spaceship] Fix language list
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#15579 [action] make xcode_select action's details clearer
  fastlane/lib/fastlane/actions/xcode_select.rb
Labels: cla: yes, status: needs-attention, tool: action, type: documentation

#15812 [gemspec] ensure excon version is at least 0.71.0 (CVE-2019-16779)
  .circleci/config.yml
  fastlane.gemspec
Labels: cla: yes

#15801 [action] register_devices: More useful error message for invalid device files
  fastlane/lib/fastlane/actions/register_devices.rb
  fastlane/spec/actions_specs/register_devices_spec.rb
  fastlane/spec/fixtures/actions/register_devices/devices-list-with-spaces.txt
  fastlane/spec/fixtures/actions/register_devices/devices-list-with-too-many-columns.txt
Labels: cla: yes, tool: action

#15809 [spaceship] ignore corrupted cookie file
  spaceship/lib/spaceship/client.rb
Labels: cla: yes

#15799 [supply] fix error when no tracks are returned
  supply/lib/supply/client.rb
Labels: cla: yes, tool: supply

#15793 [spaceship] add basic support for retrieving TestFlight Feedback screenshots via ConnectAPI
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/beta_feedback.rb
  spaceship/lib/spaceship/connect_api/models/beta_screenshot.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/fixtures/testflight/beta_feedbacks.json
  spaceship/spec/connect_api/models/beta_feedback_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/testflight/testflight_stubbing.rb
  spaceship/spec/spec_helper.rb
Labels: cla: yes, tool: spaceship

#15701 [supply] Support default changelog
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  supply/lib/supply/uploader.rb
Labels: cla: yes, status: needs-attention, tool: supply, type: feature

#15688 [action] fix app_store_build_number so it works with macOS builds.
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
Labels: cla: yes, status: needs-attention, tool: action

#15818 Version bump to 2.138.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15833 [ci] improve CircleCI cache
  .circleci/config.yml
Labels: cla: yes

#15831 [action] add proxy config file path for Xcode11 #15819
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes

#15822 [action] add `upload_to_play_store_internal_app_sharing` action
  fastlane.gemspec
  fastlane/lib/fastlane/actions/upload_to_play_store_internal_app_sharing.rb
  fastlane/spec/unused_options_spec.rb
  supply/lib/supply/client.rb
  supply/lib/supply/uploader.rb
  supply/spec/client_spec.rb
Labels: cla: yes, tool: action, tool: supply

#15808 [GitHub Actions] Enable `communicate-on-pull-request-merged`
  .github/workflows/pull-requests.yml
Labels: cla: yes, type: ci

#15825 [action] add temp keychain to search list in setup_ci action
  fastlane/lib/fastlane/actions/setup_ci.rb
  fastlane/spec/actions_specs/setup_circle_ci_spec.rb
  fastlane/spec/actions_specs/setup_travis_spec.rb
Labels: cla: yes, tool: action, type: ci

#15795 [action] last_git_tag: Provided parameter that specifies filter pattern when looking for last available tag
  fastlane/lib/fastlane/actions/last_git_tag.rb
  fastlane/spec/actions_specs/last_git_tag_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#15749 [scan] Add support for disabling "KeyboardContinuousPathEnabled"
  fastlane_core/lib/fastlane_core/device_manager.rb
  fastlane_core/spec/device_manager_spec.rb
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
Labels: cla: yes, status: needs-attention, tool: scan

#15741 [frameit] Preserve colorspace when composing with background image
  frameit/lib/frameit/editor.rb
Labels: cla: yes, status: needs-attention, tool: frameit

#15837 [GitHub Actions] Update pull-requests.yml workflow
  .github/workflows/pull-requests.yml
Labels: cla: yes

#15836 [GitHub Actions] enable automatic bump of homebrew formula with github action
  .github/workflows/tags.yml
Labels: cla: yes

#15612 [deliver] fix a bug that deliver fails to find version
  deliver/lib/deliver/submit_for_review.rb
  deliver/spec/submit_for_review_spec.rb
Labels: cla: yes, status: needs-attention, tool: deliver

#15617 [pilot] improves testflight metadata upload
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
  pilot/spec/build_manager_spec.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
  spaceship/lib/spaceship/connect_api/models/build_beta_detail.rb
Labels: cla: yes, status: needs-attention, tool: pilot

#15558 [action] create_pull_request: add reviewers and/or team_reviewers option
  fastlane/lib/fastlane/actions/create_pull_request.rb
  fastlane/spec/actions_specs/create_pull_request_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#15547 [fastlane] fix parsing of action name
  fastlane/lib/fastlane/action.rb
  fastlane/spec/action_spec.rb
Labels: cla: yes, status: needs-attention, tool: fastlane

#15542 [action] setup_ci – always setup keychain when running on a CI
  fastlane/lib/fastlane/actions/setup_ci.rb
  fastlane/spec/actions_specs/setup_ci_spec.rb
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/helper_spec.rb
Labels: cla: yes, status: needs-attention, tool: action, type: ci

#15838 [gym] using the correct build command when `skip_archive` is used
  gym/lib/gym/generators/build_command_generator.rb
  gym/lib/gym/runner.rb
  gym/spec/build_command_generator_spec.rb
Labels: cla: yes

#15844 Version bump to 2.139.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes
