Repository fastlane/fastlane, pull requests merged in 2019-11, with the labels that each got.

#14594 [screengrab] LocaleUtil set default locale
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/locale/LocaleUtil.java
Labels: cla: yes, status: needs-attention, tool: screengrab

#15610 [fastlane] lock in google-cloud-env and google-cloud-core for under Ruby 2.4 versions
  fastlane.gemspec
Labels: cla: yes

#15269 [suppy] migration from AndroidpublisherV2 to AndroidpublisherV3
  .rubocop.yml
  fastlane.gemspec
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  fastlane/lib/fastlane/actions/download_from_play_store.rb
  fastlane_core/lib/fastlane_core/configuration/commander_generator.rb
  supply/lib/supply.rb
  supply/lib/supply/client.rb
  supply/lib/supply/options.rb
  supply/lib/supply/release_listing.rb
  supply/lib/supply/setup.rb
  supply/lib/supply/uploader.rb
  supply/spec/client_spec.rb
  supply/spec/uploader_spec.rb
Labels: cla: no, status: needs-attention, tool: supply

#15620 Version bump to 2.135.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15623 [action] force google_play_track_version_codes to return array of ints
  .circleci/config.yml
  fastlane/lib/fastlane/actions/google_play_track_version_codes.rb
Labels: cla: yes

#15625 Version bump to 2.135.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15627 [supply] fix allowing uploading of a draft release on a track with a completed release
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
Labels: cla: yes

#15632 Version bump to 2.135.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15217 [screengrab] Upgrade to AndroidX
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  screengrab/build.gradle
  screengrab/example/build.gradle
  screengrab/example/src/androidTest/java/tools/fastlane/localetester/FalconScreenshots.java
  screengrab/example/src/androidTest/java/tools/fastlane/localetester/JUnit4StyleTests.java
  screengrab/example/src/main/java/tools/fastlane/localetester/AnotherActivity.java
  screengrab/example/src/main/java/tools/fastlane/localetester/MainActivity.java
  screengrab/example/src/main/res/layout/activity_main.xml
  screengrab/gradle.properties
  screengrab/gradle/wrapper/gradle-wrapper.properties
  screengrab/lib/screengrab/options.rb
  screengrab/screengrab-lib/build.gradle
  screengrab/screengrab-lib/src/main/AndroidManifest.xml
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/DecorViewScreenshotStrategy.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/FalconScreenshotStrategy.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/FileWritingScreenshotCallback.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/Screengrab.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/UiAutomatorScreenshotStrategy.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/file/Chmod.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/locale/LocaleUtil.java
  screengrab/version.properties
Labels: cla: yes, status: needs-attention, tool: screengrab

#15635 [screengrab] added new internal path for screenshots and run adb root to prevent access denied
  .rubocop.yml
  screengrab/lib/screengrab/module.rb
  screengrab/lib/screengrab/options.rb
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes

#15077 [screengrab] updated apk paths in Screengrabfile
  screengrab/example/fastlane/Screengrabfile
Labels: cla: yes, status: needs-attention, tool: screengrab

#14781 [screengrab] Add config to allow disabling timestamp suffix to filename
  screengrab/lib/screengrab/options.rb
  screengrab/lib/screengrab/runner.rb
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/FileWritingScreenshotCallback.java
  screengrab/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention, tool: screengrab

#14948 [screengrab] add `adb_host` option
  screengrab/lib/screengrab/options.rb
  screengrab/lib/screengrab/runner.rb
  screengrab/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention, tool: screengrab, type: feature

#15284 [screengrab] Let users set clean status bar
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  screengrab/example/src/androidTest/java/tools/fastlane/localetester/JUnit4StyleTests.java
  screengrab/example/src/debug/AndroidManifest.xml
  screengrab/lib/screengrab/options.rb
  screengrab/lib/screengrab/runner.rb
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/cleanstatusbar/BarsMode.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/cleanstatusbar/BluetoothState.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/cleanstatusbar/CleanStatusBar.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/cleanstatusbar/IconVisibility.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/cleanstatusbar/MobileDataType.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/cleanstatusbar/VolumeState.java
Labels: cla: no, status: needs-attention, tool: screengrab

#15647 [supply] fixes some issue with version codes not being found and allows promote with rollout now
  supply/lib/supply/uploader.rb
  supply/spec/uploader_spec.rb
Labels: cla: yes

#15642 [screengrab] update bintray plugin to 0.9.1 so releases work again
  screengrab/screengrab-lib/build.gradle
Labels: cla: yes

#15654 [Fastlane.swift] default tool hash to [:] not {} and test swift generation on circle
  .circleci/config.yml
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes

#15665 [supply] use version code for changelog again (regression introduced in 2.135.0)
  supply/lib/supply/uploader.rb
Labels: cla: yes

#15666 Version bump to 2.136.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15605 [ruby_version] Fix formatting in ruby_version action's details
  fastlane/lib/fastlane/actions/ruby_version.rb
Labels: cla: yes, tool: action

#15604 [fastlane] Fix typo in code comment
  fastlane/lib/fastlane/commands_generator.rb
Labels: cla: yes, tool: fastlane

#15596 [ensure_bundle_exec] Fix wording in action error message and d…
  fastlane/lib/fastlane/actions/ensure_bundle_exec.rb
  fastlane/lib/fastlane/cli_tools_distributor.rb
Labels: cla: yes, tool: action

#15668 [supply] don't apply rollout when value 1 of when uploading and don't call promote or rollout methods when uploading
  supply/lib/supply/uploader.rb
Labels: cla: yes, tool: supply

#15670 [action] Added custom option to testfairy upload
  fastlane/lib/fastlane/actions/testfairy.rb
  fastlane/spec/actions_specs/testfairy_spec.rb
Labels: cla: yes, tool: action

#15679 [screengrab] Remove unused clean status bar options
  screengrab/lib/screengrab/options.rb
Labels: cla: yes, tool: screengrab

#15684 [screengrab] Skip clean status bar if aapt not found
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes, tool: screengrab

#15597 [action] gradle: Add support for mapping.txt file
  fastlane/lib/fastlane/actions/gradle.rb
Labels: cla: yes, status: needs-attention, tool: action

#15691 [supply] upload meta in same commit to fix issue with validate_only
  supply/lib/supply/uploader.rb
Labels: cla: yes

#15692 [supply] error track or track_promote_to are rollout as that is no longer used by Google Play and causing errors
  supply/lib/supply/options.rb
Labels: cla: yes

#15697 Version bump to 2.137.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15402 [screenscrab] use AdbHelper instead of duplicated code
  fastlane/lib/fastlane/helper/adb_helper.rb
  fastlane/spec/helper/adb_helper_spec.rb
  screengrab/lib/screengrab/runner.rb
  screengrab/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention, tool: screengrab

#15716 [action] Add the BITRISE_IO env var to the is_ci check.
  fastlane_core/lib/fastlane_core/helper.rb
Labels: cla: yes, tool: action

#15728 [gemspec] Change xcodeproj dependency to be 1.13.0 minimum to fix Swift Package Manager (SPM) support
  fastlane.gemspec
Labels: cla: yes, topic: xcode11
