Repository fastlane/fastlane, pull requests merged in 2019-02, with the labels that each got.

#14170 [frameit] Document `frame` option in Framefile.json
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
Labels: cla: yes, tool: frameit

#14164 [frameit] Add "Screenshot orientation" section to `frameit` documentation
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
Labels: cla: no, tool: frameit

#14175 [core] skip setting partition list if key is already imported
  fastlane/spec/actions_specs/import_certificate_spec.rb
  fastlane_core/lib/fastlane_core/keychain_importer.rb
  match/lib/match/runner.rb
  match/spec/utils_spec.rb
Labels: cla: yes, tool: fastlane_core

#14186 Add @snatchev as RubyGems owner
  Rakefile
Labels: cla: yes

#14198 Version bump to 2.116.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14209 [spaceship] add method for submitting iap for review
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/fixtures/iap_submission.json
  spaceship/spec/tunes/tunes_client_spec.rb
Labels: cla: yes, tool: spaceship

#14208 Speed up tests by moving IAP stubbing to the relevant specs
  spaceship/spec/spec_helper.rb
  spaceship/spec/tunes/iap_detail_spec.rb
  spaceship/spec/tunes/iap_families_spec.rb
  spaceship/spec/tunes/iap_family_details_spec.rb
  spaceship/spec/tunes/iap_family_list_spec.rb
  spaceship/spec/tunes/iap_list_spec.rb
  spaceship/spec/tunes/iap_spec.rb
  spaceship/spec/tunes/iap_subscription_pricing_tier_spec.rb
Labels: cla: yes

#14210 [scan] Always zip build products
  scan/lib/scan/runner.rb
Labels: cla: yes, tool: scan

#14199 [frameit] Fix inconsistent dimensions on device frames
  frameit/frames_generator/Rakefile
Labels: cla: yes, tool: frameit

#14168 [match] check certificate validity date
  match/lib/match/runner.rb
  match/lib/match/utils.rb
  match/spec/runner_spec.rb
Labels: cla: yes, tool: match

#14110 [produce,deliver,spaceship] Support for new AppStore Connect languages: Catalan, Croatian, Czech, Hindi, Hungarian, Polish, Romanian, Slovak, and Ukrainian
  fastlane_core/lib/fastlane_core/languages.rb
  produce/lib/produce/available_default_languages.rb
  spaceship/lib/assets/languageMapping.json
Labels: cla: no, status: needs-attention, tool: deliver, tool: produce, tool: spaceship

#14233 [docs] fix typo in action CLI docs
  fastlane/lib/assets/ActionDetails.md.erb
Labels: cla: yes

#14231 [match][spaceship] better message when invalid team id or team name and pass match's team_name in to sigh and cert
  match/lib/match/generator.rb
  spaceship/lib/spaceship/portal/ui/select_team.rb
Labels: cla: no

#14243 Fixed incorrect language name in languageMapping.json
  spaceship/lib/assets/languageMapping.json
Labels: cla: yes

#14222 [fastlane] load actions for tools
  fastlane/lib/fastlane/cli_tools_distributor.rb
Labels: cla: yes, tool: fastlane

#14241 [fastlane] Fix slack action when it adds `last_git_commit` when passing `adds last_git_commit_hash`
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/spec/actions_specs/slack_spec.rb
Labels: cla: yes, tool: action, tool: fastlane

#14257 [fastlane] fix prompt crash on multi_line_end_keyword: "^D"
  fastlane/lib/fastlane/actions/prompt.rb
Labels: cla: yes, tool: action

#14184 [frameit] Automate measuring of "slot" offsets and width
  frameit/frames_generator/Gemfile
  frameit/frames_generator/Rakefile
Labels: cla: yes, tool: frameit

#14160 [supply] Checking for interactive mode before user's input when creating from config
  fastlane/spec/actions_specs/create_app_on_managed_play_store_spec.rb
  supply/lib/supply/client.rb
Labels: cla: no, status: needs-attention, tool: supply

#14215 [action] add symbols and booleans in modify_services action
  fastlane/lib/fastlane/actions/modify_services.rb
  fastlane/spec/actions_specs/modify_services_spec.rb
Labels: cla: no, tool: action

#14267 Align TestFlight doc description with UI names
  pilot/lib/pilot/options.rb
Labels: cla: yes

#14273 Version bump to 2.116.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#14167 [spaceship] AppAnalytics: support for impressions (and some comments + doc additions)
  spaceship/docs/AppStoreConnect.md
  spaceship/lib/spaceship/tunes/app_analytics.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#14286 Update create_app_online.md
  fastlane/lib/fastlane/actions/docs/create_app_online.md
Labels: cla: yes, tool: produce, type: documentation

#14289 [deliver] Reset the summary rating
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/upload_metadata_spec.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes, tool: deliver

#14293 [spaceship] Docs: Fix vendor_id description
  spaceship/lib/spaceship/tunes/application.rb
Labels: cla: yes, tool: spaceship
