Repository fastlane/fastlane, pull requests merged in 2020-03, with the labels that each got.

#16041 [match] Fixed `match import` looking for old certificate types only
  match/lib/match/importer.rb
  spaceship/lib/spaceship/connect_api/models/certificate.rb
Labels: cla: yes, status: needs-attention, tool: match

#15200 [match] Add Amazon S3 storage.
  fastlane.gemspec
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/lib/fastlane/actions/s3.rb
  fastlane/lib/fastlane/helper/s3_client_helper.rb
  fastlane/spec/actions_specs/s3_spec.rb
  fastlane/spec/unused_options_spec.rb
  match/lib/match/change_password.rb
  match/lib/match/encryption.rb
  match/lib/match/module.rb
  match/lib/match/nuke.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/setup.rb
  match/lib/match/storage.rb
  match/lib/match/storage/s3_storage.rb
  match/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention, tool: match

#16094 [screengrab] fix screengrab folder name
  screengrab/lib/screengrab/runner.rb
Labels: cla: no, tool: screengrab

#15087 [frameit] Support for Android
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  fastlane/lib/fastlane/actions/frame_screenshots.rb
  fastlane/spec/fast_file_spec.rb
  fastlane/spec/fixtures/fastfiles/FastfileGrouped
  frameit/frames_generator/Rakefile
  frameit/lib/frameit/commands_generator.rb
  frameit/lib/frameit/config_parser.rb
  frameit/lib/frameit/device.rb
  frameit/lib/frameit/device_types.rb
  frameit/lib/frameit/editor.rb
  frameit/lib/frameit/offsets.rb
  frameit/lib/frameit/options.rb
  frameit/lib/frameit/runner.rb
  frameit/lib/frameit/screenshot.rb
  frameit/lib/frameit/template_finder.rb
  frameit/spec/device_spec.rb
  frameit/spec/editor_spec.rb
  frameit/spec/fixtures/editor/Framefile.json
  frameit/spec/template_finder_spec.rb
Labels: cla: yes, status: needs-attention, tool: frameit

#16119 Version bump to 2.143.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes, size/L

#16125 ci: remove size-label action
  .github/workflows/size-label.yml
Labels: cla: yes, type: ci

#16132 [swiftlint] add support for the --no-cache flag on autocorrect and lint
  fastlane/lib/fastlane/actions/swiftlint.rb
  fastlane/spec/actions_specs/swiftlint_spec.rb
Labels: cla: yes, tool: action

#14738 [spaceship] add a check in app_version.setup_screenshots to also check if there is an app_preview already uploaded
  spaceship/lib/spaceship/tunes/app_version.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#16143 [fastlane] migrate from AWS-SDK v2 to AWS-SDK v3
  fastlane.gemspec
  fastlane/lib/fastlane/helper/s3_client_helper.rb
Labels: cla: yes, topic: dependencies

#16178 [clean_build_artifacts] Remove references to downloaded files after they are deleted
  fastlane/lib/fastlane/actions/clean_build_artifacts.rb
Labels: cla: yes, tool: action

#16179 [deliver] Provide 'env_name' to each config option that didn't previously have one*
  deliver/lib/deliver/options.rb
Labels: cla: yes, tool: deliver

#16180 [spaceship] Add ability to create a beta group to Spaceship
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/fixtures/testflight/beta_create_group.json
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/testflight/testflight_stubbing.rb
Labels: cla: yes, tool: spaceship

#16157 Add deprecation message to Crashlytic's Beta action
  fastlane/lib/fastlane/actions/crashlytics.rb
Labels: cla: yes, tool: action

#16161 [supply] Fixing empty track use case
  supply/lib/supply/client.rb
Labels: cla: yes, tool: action, tool: supply

#16189 Update crashlytics deprecation date to May 4, 2020
  fastlane/lib/fastlane/actions/crashlytics.rb
Labels: cla: yes

#16190 [pod_lib_lint] add "analyze" option
  fastlane/lib/fastlane/actions/pod_lib_lint.rb
  fastlane/spec/actions_specs/pod_lib_lint_spec.rb
Labels: cla: yes, tool: action

#16188 [match] Provisioning Profiles Import and Windows Support
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane_core/lib/fastlane_core/provisioning_profile.rb
  match/lib/match/importer.rb
  match/spec/fixtures/test.provisionprofile
  match/spec/importer_spec.rb
Labels: cla: yes, tool: match

#16043 [scan] Add testPlan option to scan
  scan/lib/scan/options.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes, status: needs-attention, tool: scan

#16117 [gym] Copy Asset Pack into output directory
  gym/lib/gym/generators/package_command_generator.rb
  gym/lib/gym/generators/package_command_generator_xcode7.rb
  gym/lib/gym/runner.rb
Labels: cla: yes, status: needs-attention, tool: gym

#16123 [core] Suppress output of PlistBuddy when disabling "KeyboardContinuousPathEnabled"
  fastlane_core/lib/fastlane_core/device_manager.rb
Labels: cla: yes, status: needs-attention

#16202 Version bump to 2.144.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16205 [scan] Fix issue with spaces in testplan option
  scan/lib/scan/test_command_generator.rb
Labels: cla: yes

#16217 [spaceship] add list_pending_agreements to Spaceship::Portal
  spaceship/lib/spaceship/portal/portal_client.rb
Labels: cla: yes, tool: spaceship
