Repository fastlane/fastlane, pull requests merged in 2020-10, with the labels that each got.

#17291 [match] add support for App Store Connect API Key
  cert/lib/cert/options.rb
  cert/lib/cert/runner.rb
  deliver/lib/deliver/options.rb
  deliver/spec/runner_spec.rb
  match/lib/match/generator.rb
  match/lib/match/importer.rb
  match/lib/match/migrate.rb
  match/lib/match/nuke.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/spaceship_ensure.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/s3_storage.rb
  match/spec/importer_spec.rb
  match/spec/runner_spec.rb
  sigh/lib/sigh/options.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/models/certificate.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/models/bundle_id_capability_spec.rb
  spaceship/spec/connect_api/models/bundle_id_spec.rb
  spaceship/spec/connect_api/models/pre_release_version_spec.rb
  spaceship/spec/connect_api/models/profile_spec.rb
  spaceship/spec/connect_api/models/user_spec.rb
  spaceship/spec/connect_api/spaceship_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: yes

#17265 [sigh] add support for App Store Connect API Key
  cert/lib/cert/options.rb
  cert/lib/cert/runner.rb
  deliver/lib/deliver/options.rb
  deliver/spec/runner_spec.rb
  match/lib/match/generator.rb
  match/lib/match/importer.rb
  match/lib/match/migrate.rb
  match/lib/match/nuke.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/spaceship_ensure.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/s3_storage.rb
  match/spec/importer_spec.rb
  match/spec/runner_spec.rb
  sigh/lib/sigh/options.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/spec_helper.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/models/certificate.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/models/bundle_id_capability_spec.rb
  spaceship/spec/connect_api/models/bundle_id_spec.rb
  spaceship/spec/connect_api/models/pre_release_version_spec.rb
  spaceship/spec/connect_api/models/profile_spec.rb
  spaceship/spec/connect_api/models/user_spec.rb
  spaceship/spec/connect_api/spaceship_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: yes

#17263 [cert] migrate to App Store Connect API endpoints and can use App Store Connect API Key
  cert/lib/cert/options.rb
  cert/lib/cert/runner.rb
  cert/spec/runner_spec.rb
  cert/spec/spec_helper.rb
  deliver/lib/deliver/options.rb
  deliver/spec/runner_spec.rb
  fastlane_core/lib/fastlane_core/keychain_importer.rb
  match/lib/match/generator.rb
  match/lib/match/importer.rb
  match/lib/match/migrate.rb
  match/lib/match/nuke.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/spaceship_ensure.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/s3_storage.rb
  match/spec/importer_spec.rb
  match/spec/runner_spec.rb
  sigh/lib/sigh/options.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/spec_helper.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/models/certificate.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/models/bundle_id_capability_spec.rb
  spaceship/spec/connect_api/models/bundle_id_spec.rb
  spaceship/spec/connect_api/models/pre_release_version_spec.rb
  spaceship/spec/connect_api/models/profile_spec.rb
  spaceship/spec/connect_api/models/user_spec.rb
  spaceship/spec/connect_api/spaceship_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: yes

#17356 Version bump to 2.162.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17336 [Fastlane.Swift] fix: beforeAll method not called
  Package.resolved
  Package.swift
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/MainProcess.swift
  fastlane/swift/main.swift
Labels: cla: yes

#17382 [sigh] fix download_all to also use App Store Connect API Key
  sigh/lib/sigh/download_all.rb
Labels: cla: yes

#17383 [deliver] make automatic_release optional for app types that aren't a ble to set it (like Apple Arcade and Pre Release)
  deliver/lib/deliver/module.rb
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/upload_metadata_spec.rb
Labels: cla: yes

#17393 [spaceship] show proper 401 error message for Spaceship::ConnectAPI
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/api_client.rb
Labels: cla: yes

#17413 [actions] add App Store Connect API key to app_store_build_number action
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
Labels: cla: yes

#17401 [action] add is_key_content_base64 to app_store_connect_api_key to make easier for env and CI
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
  fastlane/spec/actions_specs/app_store_connect_api_key_spec.rb
  spaceship/lib/spaceship/connect_api/token.rb
  spaceship/spec/connect_api/fixtures/asc_key_base64.json
  spaceship/spec/connect_api/token_spec.rb
Labels: cla: yes, tool: action

#17397 [gym] Fix building project with unicode characters in a name
  gym/lib/gym/generators/package_command_generator_xcode7.rb
Labels: cla: yes

#17390 [cert][deliver][match][precheck][sigh] use `api_key` config from `app_store_connect_api_key`
  fastlane/lib/fastlane/actions/check_app_store_metadata.rb
  fastlane/lib/fastlane/actions/get_certificates.rb
  fastlane/lib/fastlane/actions/get_provisioning_profile.rb
  fastlane/lib/fastlane/actions/sync_code_signing.rb
  fastlane/lib/fastlane/actions/upload_to_app_store.rb
Labels: cla: yes

#17387 Fix comment about using `force` option
  deliver/lib/deliver/options.rb
  fastlane/lib/fastlane/actions/upload_to_app_store.rb
Labels: cla: yes

#17360 [snapshot] update SnapshotHelper.swift to work with tvOS
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes

#17426 [action] App Store Connect API Key for register_device and register_devices
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  fastlane/spec/actions_specs/register_devices_spec.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
Labels: cla: yes

#17427 Version bump to 2.163.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17422 [deliver] optimize metadata uploading speed
  deliver/lib/deliver/queue_worker.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/queue_worker_spec.rb
Labels: cla: yes

#17433 [action] fix register_devices to compare udids without case
  fastlane/lib/fastlane/actions/register_devices.rb
Labels: cla: yes

#17445 [action] App Store Connect API Key for set_changelog
  fastlane/lib/fastlane/actions/set_changelog.rb
Labels: cla: yes

#17459 [action] is_ci - Fix confusing example
  fastlane/lib/fastlane/actions/is_ci.rb
Labels: cla: yes

#17446 [sigh] fixed "\x82" from ASCII-8BIT to UTF-8
  sigh/lib/sigh/runner.rb
Labels: cla: yes

#17457 [snapshot] fix compiler error in Objective-C documentation sample code
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
Labels: cla: yes, tool: snapshot, type: documentation

#17456 [match] add `codesign:` to partition IDs in match's `keychain_importer`
  fastlane_core/lib/fastlane_core/keychain_importer.rb
  match/spec/utils_spec.rb
Labels: cla: yes, tool: match

#17465 [fastlane_core][snapshot][scan] collect sim logs starting for current process
  fastlane_core/lib/fastlane_core/device_manager.rb
  scan/lib/scan/runner.rb
  scan/spec/test_command_generator_spec.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
  snapshot/spec/test_command_generator_spec.rb
  snapshot/spec/test_command_generator_xcode_8_spec.rb
Labels: cla: yes

#17405 [supply] Upload Rejects releases with empty version_codes
  supply/lib/supply/uploader.rb
Labels: cla: yes

#17412 [action] import_from_git - Add caching support
  .rubocop.yml
  appveyor.yml
  fastlane/Fastfile
  fastlane/lib/fastlane/actions/import_from_git.rb
  fastlane/lib/fastlane/fast_file.rb
  fastlane/spec/actions_specs/import_from_git_spec.rb
  fastlane_core/lib/fastlane_core/helper.rb
  spaceship/spec/two_step_or_factor_client_spec.rb
Labels: cla: yes

#17142 [scan] fix default device list when using `skip_detect_devices`
  scan/lib/scan/detect_values.rb
Labels: cla: yes, status: needs-attention

#17251 [match] add skip certificate verification option to match import
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match/importer.rb
  match/lib/match/options.rb
Labels: cla: yes, status: needs-attention, tool: match

#17354 [sigh] fix resigning of OnDemandResources when app has space in name
  sigh/lib/assets/resign.sh
Labels: cla: yes, status: needs-attention

#17469 Version bump to 2.164.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17489 [cert] fixed "\x82" from ASCII-8BIT to UTF-8
  cert/lib/cert/runner.rb
Labels: cla: yes, tool: cert

#17480 [action] match - Fix incorrect app_identifier description
  match/lib/match/options.rb
Labels: cla: yes

#17432 [sigh] fix undefined method owner_name with display_name in Sigh::Runner
  sigh/lib/sigh/runner.rb
Labels: cla: yes, tool: spaceship

#17490 [spaceship] added b2b and educational discount to app
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/custom_app_organization.rb
  spaceship/lib/spaceship/connect_api/models/custom_app_user.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#17369 [spaceship] allow authentication to take key content instead of just its file path
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/spaceship.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/spaceship_spec.rb
Labels: cla: yes, status: needs-attention

#17493 Version bump to 2.165.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17496 [scan] add Catalyst support
  Testing.md
  scan/lib/scan/detect_values.rb
  scan/lib/scan/module.rb
  scan/lib/scan/options.rb
  scan/spec/detect_values_spec.rb
Labels: cla: yes

#17499 Fixed typo with misspell
  fastlane/lib/fastlane/actions/actions_helper.rb
  fastlane/lib/fastlane/cli_tools_distributor.rb
  fastlane/lib/fastlane/swift_fastlane_function.rb
  fastlane/spec/actions_specs/download_dsyms_spec.rb
Labels: cla: yes

#17505 [snapshot] pass FASTLANE_LANGUAGE env variable to xcode for use in run scripts
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  snapshot/lib/snapshot/test_command_generator.rb
  snapshot/lib/snapshot/test_command_generator_base.rb
  snapshot/lib/snapshot/test_command_generator_xcode_8.rb
  snapshot/spec/test_command_generator_spec.rb
  snapshot/spec/test_command_generator_xcode_8_spec.rb
Labels: cla: yes

#17518 [supply] remove promoGraphic since no longer supported
  supply/lib/supply.rb
Labels: cla: yes, status: on-hold
