Repository fastlane/fastlane, pull requests merged in 2020-07, with the labels that each got.

#16715 [deliver] fix first version logic now uses number of versions, reject_if_possible, and automatic_release_date uses ms again
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/upload_metadata.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: cla: yes

#16718 [spaceship] reorder app screenshots in AppScreenshotSet
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16675 [Fastlane.Swift] Increase default command timeout
  fastlane/swift/SocketClient.swift
Labels: cla: yes, topic: swift

#16719 [deliver] fix deliver download screenshot file extension
  deliver/lib/deliver/download_screenshots.rb
  deliver/lib/deliver/upload_screenshots.rb
Labels: cla: yes

#16722 [deliver] fix language detection on upload meta data
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes

#16640 [WIP] [deliver][produce][spaceship] Update to use new App Store Connect API endpoints
  deliver/lib/deliver.rb
  deliver/lib/deliver/app_screenshot.rb
  deliver/lib/deliver/download_screenshots.rb
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/setup.rb
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_assets.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_price_tier.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/app_screenshot_spec.rb
  deliver/spec/setup_spec.rb
  deliver/spec/submit_for_review_spec.rb
  deliver/spec/upload_assets_spec.rb
  deliver/spec/upload_metadata_spec.rb
  deliver/spec/upload_screenshots_spec.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/spec/actions_specs/set_changelog_spec.rb
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/lib/fastlane_core/pkg_file_analyser.rb
  fastlane_core/spec/itunes_transporter_spec.rb
  frameit/lib/frameit/device_types.rb
  produce/lib/produce/itunes_connect.rb
  produce/lib/produce/options.rb
  spaceship/docs/AppStoreConnect.md
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/file_uploader.rb
  spaceship/lib/spaceship/connect_api/model.rb
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_category.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_info_localization.rb
  spaceship/lib/spaceship/connect_api/models/app_preview.rb
  spaceship/lib/spaceship/connect_api/models/app_preview_set.rb
  spaceship/lib/spaceship/connect_api/models/app_price.rb
  spaceship/lib/spaceship/connect_api/models/app_price_tier.rb
  spaceship/lib/spaceship/connect_api/models/app_review_attachment.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
  spaceship/lib/spaceship/connect_api/models/app_store_review_detail.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_phased_release.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_submission.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
  spaceship/lib/spaceship/connect_api/models/idfa_declaration.rb
  spaceship/lib/spaceship/connect_api/models/reset_ratings_request.rb
  spaceship/lib/spaceship/connect_api/models/territory.rb
  spaceship/lib/spaceship/connect_api/models/user.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/lib/spaceship/connect_api/tunes/client.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
  spaceship/spec/connect_api/testflight/testflight_stubbing.rb
Labels: cla: no, tool: deliver

#16730 [spaceship] rename model to appStoreViewAttachments
  deliver/lib/deliver/upload_metadata.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_store_review_attachment.rb
  spaceship/lib/spaceship/connect_api/models/app_store_review_detail.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16731 Version bump to 2.150.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16703 Added support to output coverage results as simple JSON
  fastlane/lib/fastlane/actions/slather.rb
  fastlane/spec/actions_specs/slather_spec.rb
  fastlane/swift/Fastlane.swift
Labels: cla: yes, tool: action

#16735 [deliver] add platform to reject_if_possible and fix order to happen before meta
  deliver/lib/deliver/runner.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes

#16741 [spaceship] get app info categories easier
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
Labels: cla: yes

#16742 [spaceship] added Spaceship::ConnectAPI::SandboxTester
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/sandbox_tester.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16743 [spaceship] upload screenshots and previews to specific position
  spaceship/lib/spaceship/connect_api/models/app_preview.rb
  spaceship/lib/spaceship/connect_api/models/app_preview_set.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16750 [deliver] fix auto_release_date to work with timezones with minutes
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes

#16751 Version bump to 2.150.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16754 [deliver] use utc for autoreleasdate
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes

#16753 add requester fields Spaceship::ConnectAPI::Certificate
  spaceship/lib/spaceship/connect_api/models/certificate.rb
  spaceship/spec/connect_api/models/certificate_spec.rb
Labels: cla: yes

#16752 Fix iPad iMessage Screenshot Typo
  deliver/lib/deliver/app_screenshot.rb
Labels: cla: yes

#16755 Version bump to 2.150.3
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16698 [action] add synchronous option to pod_push
  fastlane/lib/fastlane/actions/pod_push.rb
  fastlane/spec/actions_specs/pod_push_spec.rb
Labels: cla: yes, tool: action

#16745 [upload_symbols_to_crashlytics] add support for debug flag
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane/spec/actions_specs/upload_symbols_to_crashlytics_spec.rb
Labels: cla: yes, tool: action

#16756 [deliver] Fix typo: delcaration => declaration
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_metadata.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: cla: yes, tool: deliver

#16699 [spaceship] Remove babosa fix
  fastlane.gemspec
  spaceship/lib/spaceship/babosa_fix.rb
  spaceship/lib/spaceship/client.rb
Labels: cla: yes, topic: dependencies

#16697 [spaceship] Remove multi_xml dependency
  fastlane.gemspec
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/client.rb
Labels: cla: yes, topic: dependencies

#16766 [pilot] update docs to include App Store Connect roles
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
Labels: cla: yes

#16693 [Fastlane.swift] Add formatter to Fastlane.swift
  fastlane/Fastfile
  fastlane/lib/fastlane/swift_fastlane_function.rb
  fastlane/swift/Actions.swift
  fastlane/swift/ArgumentProcessor.swift
  fastlane/swift/ControlCommand.swift
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Plugins.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/RubyCommand.swift
  fastlane/swift/RubyCommandable.swift
  fastlane/swift/Runner.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/SocketClient.swift
  fastlane/swift/SocketResponse.swift
  fastlane/swift/formatting/.swiftformat
  fastlane/swift/formatting/Brewfile
  fastlane/swift/formatting/Brewfile.lock.json
  fastlane/swift/formatting/Rakefile
  fastlane/swift/main.swift
Labels: cla: yes, topic: swift, type: enhancement

#16670 [Installation] Change the `brew cask install fastlane` in any output to `brew install fastlane`
  fastlane/lib/fastlane/documentation/docs_generator.rb
  fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb
  match/lib/assets/READMETemplate.md
Labels: cla: yes, topic: installation

#16669 [sigh] Resign OnDemandResources
  sigh/lib/assets/resign.sh
Labels: cla: yes, tool: sigh

#16632 [fastlane] Extend socket failure payload
  fastlane/lib/fastlane/server/socket_server.rb
Labels: cla: yes, status: needs-attention, topic: socket server

#16705 [resign] Fix typo in resign.rb
  fastlane/lib/fastlane/actions/resign.rb
Labels: cla: no, tool: action, topic: resign.sh

#16682 [match] Add `s3_object_prefix` option to match's S3Storage.
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/storage/s3_storage.rb
  match/spec/runner_spec.rb
  match/spec/storage/s3_storage_spec.rb
Labels: cla: yes, tool: match

#16733 run setup_keychain on macOS environments only
  fastlane/lib/fastlane/actions/setup_ci.rb
  fastlane/lib/fastlane/actions/setup_circle_ci.rb
  fastlane/lib/fastlane/actions/setup_travis.rb
  fastlane/spec/actions_specs/setup_ci_spec.rb
  fastlane/spec/actions_specs/setup_circle_ci_spec.rb
  fastlane/spec/actions_specs/setup_travis_spec.rb
Labels: cla: yes, type: ci

#16767 [deliver] set type of auto release date to integer
  deliver/lib/deliver/options.rb
Labels: cla: yes

#16687 [fastlane] Fix S3ClientHelper side effects
  fastlane/lib/fastlane/helper/s3_client_helper.rb
  fastlane/spec/helper/s3_client_helper_spec.rb
Labels: cla: yes, tool: fastlane

#16776 [spaceship] Update sinatra to 2.x (uses rack 2.x)
  fastlane.gemspec
Labels: cla: yes

#16778 [spaceship] Loosen jwt dependency
  fastlane.gemspec
Labels: cla: yes

#16622 [match] Always checkout the specified branch as master may not be the default branch
  match/lib/match/storage/git_storage.rb
  match/spec/storage/git_storage_spec.rb
Labels: cla: yes, status: needs-attention, tool: match

#16774 [deliver] set default ITMSTransporter transport flag to blank #16749
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: cla: yes

#16784 Version bump to 2.151.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16787 [spaceship] remove xml parser from Spaceship::ConnectAPI::FileUploader
  spaceship/lib/spaceship/connect_api/file_uploader.rb
Labels: cla: yes

#16788 Version bump to 2.151.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16654 [deliver] Implement parallel screenshot downloads
  deliver/lib/deliver/download_screenshots.rb
Labels: cla: yes, status: needs-attention, tool: deliver

#16786 [spaceship] return model (not response) from create
  spaceship/lib/spaceship/connect_api/models/app_preview.rb
Labels: cla: yes

#16791 [deliver] Update fakefs to 1.2.x
  fastlane.gemspec
Labels: cla: yes

#16795 [fastlane_core] escape xcrun itmstransporter password for special characters
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: topic: itunes transporter

#16798 [fastlane] fixes issue in S3ClientHelper Aws::Credentials were being initialized with blank access_key/secret
  fastlane/lib/fastlane/helper/s3_client_helper.rb
  fastlane/spec/helper/s3_client_helper_spec.rb
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
Labels: cla: yes

#16801 [deliver][spaceship] fix some small typos
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_screenshots.rb
  spaceship/lib/spaceship/connect_api/models/app_preview.rb
Labels: cla: yes

#16802 Version bump to 2.151.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16803 Revert "Version bump to 2.151.2"
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16804 [fastlane] replace blank? with to_s.empty?
  fastlane/lib/fastlane/helper/s3_client_helper.rb
Labels: cla: yes

#16806 Version bump to 2.151.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16807 [deliver][copy] Fix & Improve Example IDFA Copy
  deliver/lib/deliver/submit_for_review.rb
Labels: cla: yes

#16805 Make individual_metadata_items optional to fix deprecation warning
  deliver/lib/deliver/options.rb
Labels: cla: yes

#16794 [action] git_branch - add support for CircleCI env variable
  fastlane/lib/fastlane/actions/git_branch.rb
Labels: cla: yes

#16816 [pilot] add new distribute_only option (similar to 'fastlane pilot distribute' command)
  fastlane/lib/fastlane/actions/upload_to_testflight.rb
  fastlane/spec/actions_specs/pilot_spec.rb
  pilot/lib/pilot/options.rb
Labels: cla: yes, tool: pilot

#16793 [actions] update `danger` to 8, lock faraday to <1
  Gemfile
  fastlane.gemspec
Labels: cla: yes

#16822 [fastlane] ignore vendor debug check when running tests
  fastlane/Fastfile
  fastlane/spec/actions_specs/ensure_no_debug_code_spec.rb
Labels: cla: yes

#16843 [deliver] update app version before localization to prevent invalid state
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes

#16848 Version bump to 2.152.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16841 [fastlane] Update rspec, rspec_junit_formatter
  fastlane.gemspec
Labels: cla: yes

#16857 [deliver] fetches app with Spaceship::ConnectAPI
  deliver/lib/deliver/commands_generator.rb
  deliver/lib/deliver/detect_values.rb
  deliver/lib/deliver/download_screenshots.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/setup.rb
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_price_tier.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/commands_generator_spec.rb
  deliver/spec/runner_spec.rb
  deliver/spec/setup_spec.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  spaceship/lib/spaceship/connect_api/model.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_info_localization.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
Labels: cla: yes

#16853 Update webmock, faraday
  fastlane.gemspec
  spaceship/spec/portal/portal_stubbing.rb
Labels: cla: yes

#16876 [deliver] add tests for submit_for_review spec
  deliver/spec/submit_for_review_spec.rb
Labels: cla: yes

#16880 [deliver] reimplementing tests from 2.150.0
  deliver/lib/deliver/app_screenshot.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/app_screenshot_spec.rb
  deliver/spec/upload_metadata_spec.rb
  deliver/spec/upload_screenshots_spec.rb
Labels: cla: yes

#16882 [action] erb uses ErbTemplateHelper and adds trim mode
  fastlane/lib/fastlane/actions/erb.rb
Labels: cla: yes

#16765 [spaceship] Support manual app release
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_release_request.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/spec/connect_api/fixtures/tunes/app_store_version_release_request.json
  spaceship/spec/connect_api/models/app_store_version_release_request_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_stubbing.rb
  spaceship/spec/spec_helper.rb
Labels: cla: yes, tool: spaceship

#16833 [scan] fix empty simulator logs
  fastlane_core/lib/fastlane_core/device_manager.rb
  scan/lib/scan/runner.rb
  scan/spec/test_command_generator_spec.rb
  snapshot/spec/test_command_generator_spec.rb
  snapshot/spec/test_command_generator_xcode_8_spec.rb
Labels: cla: yes, tool: scan

#16889 [fastlane] fix directory change on nested actions
  fastlane/lib/fastlane/runner.rb
Labels: cla: yes, tool: fastlane, type: bug

#16877 [spaceship] add endpoint availableTerritories
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes, tool: spaceship

#16900 [download_dsyms ] Add option to pass `build_number` as an integer
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/spec/actions_specs/download_dsyms_spec.rb
Labels: cla: yes

#16870 [frameit] add font_size parameter
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  frameit/lib/frameit/editor.rb
Labels: cla: yes, tool: frameit

#16842 [deliver] verify all screenshot deleted succesfully
  deliver/lib/deliver/upload_screenshots.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
  spaceship/lib/spaceship/connect_api/models/app_preview.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
  spaceship/lib/spaceship/connect_api/models/app_store_review_detail.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
  spaceship/lib/spaceship/connect_api/models/idfa_declaration.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes, tool: deliver

#16927 Version bump to 2.153.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16930 [deliver] fix for reverse attribute mapping for app store review detail
  spaceship/lib/spaceship/connect_api/model.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/spec/connect_api/models/app_store_version_spec.rb
Labels: cla: yes

#16931 Version bump to 2.153.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16933 [pilot] remove < characters from TestFlight changelogs
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#16953 [spaceship] fix infinite retry of with_asc_retry
  spaceship/lib/spaceship/connect_api/client.rb
Labels: cla: yes

#16948 [match] Updated match documentation to with hashing algorithm option
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes, tool: match

#16942 Add --use-netrc option to carthage action
  fastlane/lib/fastlane/actions/carthage.rb
  fastlane/spec/actions_specs/carthage_spec.rb
Labels: cla: yes, tool: action

#16936 [fastlane_core] Update the simulator device state
  fastlane_core/lib/fastlane_core/device_manager.rb
Labels: cla: yes, tool: fastlane_core

#16934 [pilot] Update docs to reflect setting changelog while still skipping processing
  pilot/lib/pilot/options.rb
Labels: cla: yes, tool: pilot

#16863 [snapshot] add headless option
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/simulator_launchers/launcher_configuration.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes, tool: snapshot

#16808 [spaceship] add shortcuts for getting current pending release and current in revi…
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#16630 [frameit] look for title.strings in parent folders
  frameit/lib/frameit/editor.rb
  frameit/spec/editor_spec.rb
  frameit/spec/fixtures/editor/android/en-US/images/phoneScreenshots/screen1.png
  frameit/spec/fixtures/editor/android/en-US/images/phoneScreenshots/title-same-dir.strings
  frameit/spec/fixtures/editor/android/en-US/images/title-1-up.strings
  frameit/spec/fixtures/editor/android/en-US/title-2-up.strings
Labels: cla: yes, status: needs-attention, tool: frameit

#16609 [gym] iOS Export Options "Destination" Handling
  gym/lib/gym/module.rb
  gym/lib/gym/runner.rb
Labels: cla: yes, status: needs-attention, tool: gym

#16964 [deliver] Fixed crash on running 'deliver download_metadata'
  deliver/lib/deliver/setup.rb
Labels: cla: yes

#16592 [action] adds git_pull rebase option
  fastlane/lib/fastlane/actions/git_pull.rb
  fastlane/spec/actions_specs/git_pull_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#16457 [match] add git private key support for match
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/storage/git_storage.rb
  match/spec/runner_spec.rb
  match/spec/storage/git_storage_spec.rb
Labels: cla: yes, status: needs-attention, tool: match

#16963 [deliver] Fixed filename for review information of AppStoreConnect
  deliver/lib/deliver/setup.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/setup_spec.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes

#16968 [match] fix failing tests from merge
  match/spec/storage/git_storage_spec.rb
Labels: cla: yes

#16969 Version bump to 2.154.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16973 [spaceship] allow modify is_opted_in_to_distribute_ios_app_on_mac_app_store on Spaceship::ConnectAPI:App
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes

#16920 [create_keychain] Populate KEYCHAIN_NAME to lane variables upon creation of keychain
  fastlane/lib/fastlane/actions/create_keychain.rb
  fastlane/spec/actions_specs/create_keychain_spec.rb
Labels: cla: yes, tool: action
