Repository fastlane/fastlane, pull requests merged in 2020-06, with the labels that each got.

#16522 Allow newer rake versions
  fastlane.gemspec
Labels: cla: yes, topic: dependencies

#16477 [upload_symbols_to_crashlytics] Fix `gsp_path` parameter will not expand when use with `api_token` parameter.
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
Labels: cla: yes, tool: action

#16512 [Fastlane.swift] Add support for Float and Double variables that can be 0 initialized.
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes, topic: swift

#16542 [match] delete the correct files when working with multiple teams on S3
  match/lib/match/nuke.rb
  match/lib/match/storage/git_storage.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/interface.rb
  match/lib/match/storage/s3_storage.rb
Labels: cla: yes, tool: match

#16556 [fastlane] update fastlane logo default in actions
  fastlane/lib/assets/s3_html_template.erb
  fastlane/lib/fastlane/actions/hipchat.rb
  fastlane/lib/fastlane/actions/slack.rb
  scan/lib/scan/options.rb
  scan/spec/slack_poster_spec.rb
Labels: cla: yes

#16557 Version bump to 2.149.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16560 Revert "[fastlane_core] add -derivedDataPath when SwiftPM dependencies resolving"
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
Labels: cla: yes

#16561 Version bump to 2.149.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16564 [Fastlane.swift] [snapshot] Fix html_template default value
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes

#16551 [actions] update upload_symbols_to_crashlytics.rb
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane/spec/actions_specs/upload_symbols_to_crashlytics_spec.rb
Labels: cla: no, tool: action

#16434 [action] download_dsyms: add explicit proxy specification for dsyms file downloading in case when 'http_proxy' env variable was specified
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes, status: needs-attention, tool: action

#15961 [action] add action google_play_track_release_names
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  fastlane/lib/fastlane/actions/google_play_track_release_names.rb
  fastlane/spec/unused_options_spec.rb
  supply/lib/supply/client.rb
  supply/lib/supply/reader.rb
Labels: cla: yes, status: needs-attention, topic: android

#16569 [gemspec] Remove public_suffix version constraint
  fastlane.gemspec
Labels: cla: yes, topic: dependencies

#16572 [snapshot] Remove double word
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
Labels: cla: yes

#16583 [fastlane] remove blacklist and whitelist references
  appveyor.yml
  fastlane/actions/test_sample_code.rb
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/lib/fastlane/lane.rb
  fastlane/spec/fast_file_spec.rb
  sigh/lib/assets/resign.sh
  snapshot/lib/assets/SnapshotHelper.swift
  snapshot/lib/assets/SnapshotHelperXcode8.swift
  spaceship/lib/spaceship/spaceauth_runner.rb
Labels: cla: yes

#16578 [Fastlane.swift] Fix swift function nesting
  fastlane/lib/fastlane/swift_fastlane_function.rb
  fastlane/swift/ControlCommand.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/xcshareddata/xcschemes/FastlaneRunner.xcscheme
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/RubyCommand.swift
  fastlane/swift/RubyCommandable.swift
  fastlane/swift/Runner.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/SocketClient.swift
  fastlane/swift/SocketClientDelegateProtocol.swift
  fastlane/swift/SocketResponse.swift
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
Labels: cla: yes, topic: swift, type: bug

#16602 [spm] Adds disable_sandbox parameter
  fastlane/lib/fastlane/actions/spm.rb
  fastlane/spec/actions_specs/spm_spec.rb
Labels: cla: yes, tool: action

#16626 [deliver][produce][spaceship] Update to use new App Store Connect API endpoints
  deliver/lib/deliver.rb
  deliver/lib/deliver/app_screenshot.rb
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/setup.rb
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_assets.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_price_tier.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/app_screenshot_spec.rb
  deliver/spec/setup_spec.rb
  deliver/spec/submit_for_review_spec.rb
  deliver/spec/upload_assets_spec.rb
  deliver/spec/upload_metadata_spec.rb
  deliver/spec/upload_screenshots_spec.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane_core/lib/fastlane_core/pkg_file_analyser.rb
  frameit/lib/frameit/device_types.rb
  produce/lib/produce/itunes_connect.rb
  produce/lib/produce/options.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/model.rb
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_category.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_info_localization.rb
  spaceship/lib/spaceship/connect_api/models/app_price.rb
  spaceship/lib/spaceship/connect_api/models/app_price_tier.rb
  spaceship/lib/spaceship/connect_api/models/app_review_attachment.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
  spaceship/lib/spaceship/connect_api/models/app_store_review_detail.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_phased_release.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_submission.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
  spaceship/lib/spaceship/connect_api/models/idfa_declaration.rb
  spaceship/lib/spaceship/connect_api/models/reset_ratings_request.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/lib/spaceship/connect_api/tunes/client.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/spec/connect_api/testflight/testflight_stubbing.rb
Labels: cla: yes, tool: deliver

#16636 [fastlane_core] fix: paths with spaces fail
  fastlane_core/lib/fastlane_core/provisioning_profile.rb
Labels: cla: yes, tool: fastlane_core

#16646 [2.150.0][deliver] better error when uses non exempt encryption not set
  deliver/lib/deliver/submit_for_review.rb
  fastlane/lib/fastlane/version.rb
Labels: cla: yes

#16652 [2.150.0][deliver] fix category deleting when not specified
  deliver/lib/deliver/upload_metadata.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16655 [deliver] warn about mapped/deprecated age rating values
  deliver/lib/deliver/upload_metadata.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
Labels: cla: yes

#16656 [deliver][produce] map language names and available countries on app
  deliver/lib/deliver/upload_price_tier.rb
  produce/lib/produce/itunes_connect.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/territory.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16657 [deliver] allow default language for metadata
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes

#16658 [action] fix set_changelog
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/spec/actions_specs/set_changelog_spec.rb
Labels: cla: yes

#16667 [deliver][spaceship] multi-thread delete screenshots and retry on 504
  deliver/lib/deliver/upload_screenshots.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/file_uploader.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
Labels: cla: yes

#16671 [spaceship] add app preview
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app_preview.rb
  spaceship/lib/spaceship/connect_api/models/app_preview_set.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16676 [spaceship] increase timeout for web session connect api to 1200
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/client.rb
Labels: cla: yes

#16680 [spaceship] waiting_for_review is editable (ish)
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes

#16684 [spaceship] retry file uploader and poll app preview to set frame
  spaceship/lib/spaceship/connect_api/file_uploader.rb
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
  spaceship/lib/spaceship/connect_api/models/app_preview.rb
  spaceship/lib/spaceship/connect_api/models/app_preview_set.rb
  spaceship/lib/spaceship/connect_api/models/app_review_attachment.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16662 [pilot] Strip Unicode 13 emoji
  fastlane.gemspec
  pilot/spec/build_manager_spec.rb
Labels: cla: yes, tool: pilot

#16660 [fastlane-core] Require rubyzip >= 2.0.0
  fastlane.gemspec
  fastlane_core/lib/fastlane_core/ipa_file_analyser.rb
Labels: cla: yes, tool: fastlane_core

#16689 [spaceship][fastlane_core] run iTMSTransporter with `xcrun` if Xcode 11 or up
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: cla: yes, tool: fastlane_core, tool: spaceship

#16694 [deliver][spaceship] fix 500 with appInfos and skip already uploaded screenshots with deliver
  deliver/lib/deliver/upload_screenshots.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#16692 [Fastlane.swift] Fix function hanging with error from command
  fastlane/swift/SocketClient.swift
Labels: cla: yes, status: regression, topic: swift

#16695 [produce][spaceship] add users to app when created
  produce/lib/produce/itunes_connect.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/user.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
Labels: cla: yes

#16706 [deliver] updated docs on how to use submission and fix for submission information when using CLI
  deliver/lib/deliver/submit_for_review.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes

#16709 [deliver][spaceship] wait for screenshots to be completed after processing and download properly formatted screenshots and error on processing error
  deliver/lib/deliver/download_screenshots.rb
  deliver/lib/deliver/upload_screenshots.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
Labels: cla: yes

#16713 [deliver][spaceship] choose highest edit version, retry on 500, submit without app version
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_screenshots.rb
  fastlane_core/lib/fastlane_core/build_watcher.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes

#16714 [deliver] give better error message when edit or live version is not found when downloading screenshots
  deliver/lib/deliver/download_screenshots.rb
Labels: cla: yes
