Repository fastlane/fastlane, pull requests merged in 2020-08, with the labels that each got.

#16158 [match][sigh][gym] migrate to new App Store Connect API and improve building with Catalyst
  fastlane/lib/fastlane/actions/sync_code_signing.rb
  gym/lib/gym/detect_values.rb
  gym/lib/gym/module.rb
  gym/lib/gym/runner.rb
  match/lib/match/generator.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/spaceship_ensure.rb
  sigh/lib/sigh/download_all.rb
  sigh/lib/sigh/module.rb
  sigh/lib/sigh/options.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/manager_spec.rb
  sigh/spec/runner_spec.rb
  sigh/spec/spec_helper.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/model.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id_capability.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
  spaceship/lib/spaceship/connect_api/provisioning/client.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
Labels: cla: yes, status: needs-attention, tool: gym, tool: match, tool: sigh

#16990 Update AppStoreConnect.md - Adds missing quote to issuer_id param value
  spaceship/docs/AppStoreConnect.md
Labels: cla: yes

#16983 [match] Fix Google Cloud Storage Crash When No Fastfile Is Being Used
  .gitignore
  match/lib/match/storage/google_cloud_storage.rb
Labels: cla: yes, tool: match

#16979 [deliver] Fix language detection for HtmlGenerator
  deliver/lib/deliver/html_generator.rb
Labels: cla: yes, tool: deliver

#16971 [supply] add support for ack_bundle_installation_warning - updated
  supply/lib/supply/client.rb
  supply/lib/supply/options.rb
Labels: cla: yes, tool: supply

#16982 [snapshot] Add `suppress_xcode_output` option
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/test_command_generator.rb
  snapshot/lib/snapshot/test_command_generator_xcode_8.rb
  snapshot/spec/test_command_generator_spec.rb
  snapshot/spec/test_command_generator_xcode_8_spec.rb
Labels: cla: yes, tool: snapshot

#17005 [spaceship] use created_date for fetching latest app store version
  snapshot/spec/test_command_generator_xcode_8_spec.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes

#17007 Version bump to 2.155.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17009 [sigh] fix issue with dev development devices
  sigh/lib/sigh/runner.rb
  sigh/spec/spec_helper.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
Labels: cla: yes

#17010 Version bump to 2.155.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17018 [sigh] improve device logic and tests
  sigh/lib/sigh/runner.rb
  sigh/spec/runner_spec.rb
Labels: cla: yes

#17020 Version bump to 2.155.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17022 [sigh] fix for sending up template_name to ASC API
  sigh/lib/sigh/runner.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: cla: yes

#17023 Version bump to 2.155.3
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17006 [screengrab] Permission Issues on API > 21
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes, tool: screengrab

#16986 [gym][scan] xcodebuild -resolvePackageDependencies missing -derivedDataPath
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
  gym/lib/gym/generators/build_command_generator.rb
  gym/spec/build_command_generator_spec.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
  snapshot/lib/snapshot/test_command_generator_base.rb
  snapshot/spec/test_command_generator_spec.rb
  snapshot/spec/test_command_generator_xcode_8_spec.rb
Labels: cla: yes

#16972 [deliver] make uploading and deleting screenshots more efficient
  deliver/lib/deliver/app_screenshot_iterator.rb
  deliver/lib/deliver/queue_worker.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/app_screenshot_iterator_spec.rb
  deliver/spec/queue_worker_spec.rb
  deliver/spec/upload_screenshots_spec.rb
Labels: cla: yes, tool: deliver

#17037 Version bump to 2.156.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17040 [deliver] fix upload screenshots when no screenshots
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/upload_screenshots_spec.rb
Labels: cla: yes

#17051 [deliver] fix upload_screenshots when not using upload_to_app_store for screenshots
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/upload_screenshots_spec.rb
Labels: cla: yes

#17054 Version bump to 2.156.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17049 [action] Add support to exclude files from sonar qube analysis
  fastlane/lib/fastlane/actions/sonar.rb
  fastlane/spec/actions_specs/sonar_spec.rb
  fastlane/swift/Fastlane.swift
Labels: cla: yes, tool: action

#17042 [spaceship] improve multiple sessions and multiple auth types
  fastlane/lib/fastlane/actions/spaceship_stats.rb
  sigh/spec/manager_spec.rb
  spaceship/lib/spaceship.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/provisioning/client.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/lib/spaceship/connect_api/spaceship.rb
  spaceship/lib/spaceship/connect_api/testflight/client.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/lib/spaceship/connect_api/tunes/client.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/lib/spaceship/connect_api/users/client.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
  spaceship/lib/spaceship/stats_middleware.rb
  spaceship/spec/connect_api/api_client_spec.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
  spaceship/spec/connect_api/spaceship_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
  spaceship/spec/stats_middleware_spec.rb
Labels: cla: yes, tool: spaceship

#17091 Revert "[spaceship] improve multiple sessions and multiple auth types"
  fastlane/lib/fastlane/actions/spaceship_stats.rb
  sigh/spec/manager_spec.rb
  spaceship/lib/spaceship.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/provisioning/client.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/lib/spaceship/connect_api/spaceship.rb
  spaceship/lib/spaceship/connect_api/testflight/client.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/lib/spaceship/connect_api/tunes/client.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/lib/spaceship/connect_api/users/client.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
  spaceship/lib/spaceship/stats_middleware.rb
  spaceship/spec/connect_api/api_client_spec.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
  spaceship/spec/connect_api/spaceship_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
  spaceship/spec/stats_middleware_spec.rb
Labels: cla: yes

#17061 [pilot][spaceship][action] set ASC API key in pilot, new app_store_connect_api_key action, and spaceship fixes for both of those
  deliver/lib/deliver.rb
  deliver/lib/deliver/detect_values.rb
  deliver/lib/deliver/languages.rb
  deliver/lib/deliver/loader.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/runner_spec.rb
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/lib/fastlane/actions/spaceship_stats.rb
  fastlane/lib/fastlane/actions/upload_to_testflight.rb
  fastlane/spec/actions_specs/app_store_connect_api_key_spec.rb
  fastlane/spec/actions_specs/set_changelog_spec.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/manager.rb
  pilot/lib/pilot/options.rb
  pilot/spec/build_manager_spec.rb
  pilot/spec/manager_spec.rb
  produce/lib/produce/itunes_connect.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/manager_spec.rb
  sigh/spec/spec_helper.rb
  spaceship/lib/spaceship.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/provisioning/client.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/lib/spaceship/connect_api/spaceship.rb
  spaceship/lib/spaceship/connect_api/testflight/client.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/lib/spaceship/connect_api/token.rb
  spaceship/lib/spaceship/connect_api/token_refresh_middleware.rb
  spaceship/lib/spaceship/connect_api/tunes/client.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/lib/spaceship/connect_api/users/client.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
  spaceship/lib/spaceship/stats_middleware.rb
  spaceship/spec/connect_api/api_client_spec.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/fixtures/asc_key.json
  spaceship/spec/connect_api/fixtures/asc_key.p8
  spaceship/spec/connect_api/fixtures/asc_key_in_house.json
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
  spaceship/spec/connect_api/spaceship_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/token_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
  spaceship/spec/stats_middleware_spec.rb
Labels: cla: yes

#17096 [gym] safer logic getting last 5 lines of logs
  gym/lib/gym/error_handler.rb
Labels: cla: yes

#17092 [action] fix formatting syntax error on commit_version_bump
  fastlane/lib/fastlane/actions/commit_version_bump.rb
Labels: cla: yes

#17077 [screengrab] Wait for device to reconnect after adb root
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes

#17057 [docs] supply/upload_to_play_store - update the quick-start requirement to setup supply correctly
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
Labels: cla: yes, tool: supply, type: documentation

#17060 [deliver] improve screenshot uploading verification
  deliver/lib/deliver/app_screenshot_iterator.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/upload_screenshots_spec.rb
Labels: cla: yes

#17098 Version bump to 2.157.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17102 [actions] fix window tests for app_store_connect_api_key
  fastlane/spec/actions_specs/app_store_connect_api_key_spec.rb
Labels: cla: yes

#17104 [spaceship] separate portal team id and tunes team id
  deliver/lib/deliver/runner.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  pilot/lib/pilot/manager.rb
  produce/lib/produce/itunes_connect.rb
  sigh/lib/sigh/runner.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/spaceship.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/spaceship_spec.rb
Labels: cla: yes

#17099 [screengrab] pass adb_path into AdbHelper
  screengrab/lib/screengrab/runner.rb
  screengrab/spec/runner_spec.rb
Labels: cla: yes

#17101 [screengrab] handle permission denied during screengrab `adb pull`
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/spec/command_executor_spec.rb
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes

#17106 [deliver] fix upload screenshot when display type not yet created
  deliver/lib/deliver/app_screenshot_iterator.rb
  deliver/spec/app_screenshot_iterator_spec.rb
Labels: cla: yes

#17107 Version bump to 2.157.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17110 [spaceship] share tunes and portal session when logging in with apple id from connect api
  spaceship/lib/spaceship/connect_api/client.rb
Labels: cla: yes

#17111 Version bump to 2.157.2
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes
