Repository fastlane/fastlane, pull requests merged in 2020-12, with the labels that each got.

#17687 Conditional compiler directive
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes

#17701 [spaceship] fix get_live_version
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: cla: yes

#17703 [spaceship] ConnectAPI::App - actually limit get_app_store_versions
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes

#17704 [cert] add tvos to platform option
  cert/lib/cert/options.rb
Labels: cla: yes

#17705 Version bump to 2.169.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17695 [match] Only include enabled devices for force_for_new_devices
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
  spaceship/spec/connect_api/models/device_spec.rb
Labels: cla: yes

#17592 [action] NEW ACTION for App Data Usages: upload_app_data_usage_to_app_store
  .rubocop.yml
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane/lib/fastlane/actions/upload_app_privacy_details_to_app_store.rb
  gym/spec/code_signing_mapping_spec.rb
  precheck/spec/rule_processor_spec.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app_data_usage.rb
  spaceship/lib/spaceship/connect_api/models/app_data_usage_category.rb
  spaceship/lib/spaceship/connect_api/models/app_data_usage_data_protection.rb
  spaceship/lib/spaceship/connect_api/models/app_data_usage_grouping.rb
  spaceship/lib/spaceship/connect_api/models/app_data_usage_purposes.rb
  spaceship/lib/spaceship/connect_api/models/app_data_usages_publish_state.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/spec/tunes/iap_detail_spec.rb
  spaceship/spec/tunes/iap_family_details_spec.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#17730 [deliver] fix a regression in language detection in Deliver::UploadMetadata
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/upload_metadata_spec.rb
Labels: cla: yes

#17696 [onesignal]Update onesignal.rb to include optional organization_id
  fastlane/lib/fastlane/actions/onesignal.rb
Labels: cla: yes

#17660 [SwiftActionsAPIGenerator] fixed undefined method `action_name'
  fastlane/lib/fastlane/swift_fastlane_api_generator.rb
Labels: cla: yes

#17735 Version bump to 2.170.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17750 [tests] fix random test sample code failing test
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/helper_spec.rb
Labels: cla: yes

#17708 [deliver] improve screenshot validation
  .circleci/config.yml
  deliver/lib/deliver/app_screenshot.rb
  deliver/lib/deliver/app_screenshot_validator.rb
  deliver/lib/deliver/loader.rb
  deliver/spec/app_screenshot_spec.rb
  deliver/spec/app_screenshot_validator_spec.rb
  deliver/spec/loader_spec.rb
Labels: cla: yes, status: needs-attention, tool: deliver

#17555 [screengrab] allow locales with underscores and map to dash (ex: en_US to en-US)
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes, status: needs-attention

#17739 [deliver] correct dependencies
  deliver/lib/deliver/loader.rb
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes, tool: deliver

#17740 [nexus_upload] fail action when the underlying nexus upload command line fails
  fastlane/lib/fastlane/actions/nexus_upload.rb
Labels: cla: yes, tool: action

#17557 [match] fix recursion when MATCH_PASSWORD is not set
  match/lib/match/encryption/openssl.rb
  match/spec/commands_generator_spec.rb
  snapshot/lib/snapshot/options.rb
Labels: cla: yes, status: needs-attention, tool: match

#17746 [fastlane] add `download_app_privacy_details_from_app_store` action
  fastlane/lib/fastlane/actions/download_app_privacy_details_from_app_store.rb
  fastlane/lib/fastlane/actions/upload_app_privacy_details_to_app_store.rb
Labels: cla: yes, status: needs-attention

#17761 [spaceship] adding missing phased release and review details attributes to AppStoreVersion
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: cla: yes, status: needs-attention

#17863 [CI] Fix homebrew issue on CircleCI
  .circleci/config.yml
Labels: cla: yes, type: ci

#17741 [sigh] fix undefined method `expires` with `expiration_date` in Sigh::Runner
  sigh/lib/sigh/runner.rb
  sigh/spec/runner_spec.rb
  sigh/spec/spec_helper.rb
  spaceship/spec/connect_api/models/certificate_spec.rb
Labels: cla: yes, status: needs-attention, tool: sigh

#17866 [scan][slack] add `slack_default_payloads` option to scan and improve slack action's `default_payloads` docs
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/spec/actions_specs/slack_spec.rb
  scan/lib/scan/options.rb
  scan/lib/scan/slack_poster.rb
  scan/spec/slack_poster_spec.rb
Labels: cla: yes, tool: scan

#17867 [spaceship] Adding headers attribute to ConnectAPI Response object
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/response.rb
Labels: cla: yes

#17829 [match] fix MATCH_GIT_PRIVATE_KEY ignored on repo push
  match/lib/match/storage/git_storage.rb
  match/spec/storage/git_storage_spec.rb
Labels: cla: yes, tool: match

#17738 [precheck] allow precheck to be run on live app versions as well as edit ones
  precheck/lib/precheck/options.rb
  precheck/lib/precheck/rule_processor.rb
  precheck/lib/precheck/runner.rb
  precheck/spec/rule_processor_spec.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes, status: needs-attention, tool: precheck

#17764 [actions] github action - add Bearer authentication option
  fastlane/lib/fastlane/actions/github_api.rb
  fastlane/lib/fastlane/actions/set_github_release.rb
  fastlane/spec/actions_specs/github_api_spec.rb
  fastlane/spec/actions_specs/set_github_release_spec.rb
Labels: cla: yes, status: needs-attention

#17792 [add_git_tag] add option to omit the current lane from tag and message
  fastlane/lib/fastlane/actions/add_git_tag.rb
  fastlane/spec/actions_specs/add_git_tag_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#17804 [action] git_commit - skip commit if nothing is staged
  fastlane/lib/fastlane/actions/git_commit.rb
  fastlane/spec/actions_specs/git_commit_spec.rb
Labels: cla: yes, status: needs-attention

#17805 [action] spm - add `--enable-code-coverage` option to `spm` action `test` command
  fastlane/lib/fastlane/actions/spm.rb
  fastlane/spec/actions_specs/spm_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#17809 [action] pod_push - add `use_json` parameter to `pod_push` action
  fastlane/lib/fastlane/actions/pod_push.rb
  fastlane/spec/actions_specs/pod_push_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#17791 [push_to_git_remote] add `--push-options` option to `push_to_git_remote` action
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
  fastlane/spec/actions_specs/push_to_git_remote_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#17793 [itunes-transporter] fix transporter `DELIVER_ITMSTRANSPORTER_ADDITIONAL_UPLOAD_PARAMETERS` env var validation
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: cla: yes, status: needs-attention, topic: itunes transporter

#17888 Version bump to 2.171.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes
