Repository fastlane/fastlane, pull requests merged in 2020-01, with the labels that each got.

#15855 [spaceship]: fix a bug that fail to get reviews with version id
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/app_ratings_spec.rb
  spaceship/spec/tunes/fixtures/review_by_version_id.json
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes

#15655 [spaceship] fix live family edit
  fastlane.gemspec
  spaceship/lib/spaceship/tunes/iap.rb
  spaceship/lib/spaceship/tunes/iap_detail.rb
  spaceship/lib/spaceship/tunes/iap_families.rb
  spaceship/lib/spaceship/tunes/iap_family_details.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/fixtures/iap_family_edit.json
  spaceship/spec/tunes/fixtures/iap_family_edit_with_de.json
  spaceship/spec/tunes/iap_detail_spec.rb
  spaceship/spec/tunes/iap_family_details_spec.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#15346 [gym] let dsymutil figure out which .bcsymbolmap files to use.
  gym/lib/gym/runner.rb
Labels: cla: yes, status: needs-attention, tool: gym

#15732 [scan] removing duplicate settings of config
  fastlane/lib/fastlane/actions/run_tests.rb
  scan/lib/scan/detect_values.rb
  scan/lib/scan/manager.rb
  scan/lib/scan/options.rb
  scan/lib/scan/slack_poster.rb
  scan/lib/scan/test_command_generator.rb
Labels: cla: yes, status: needs-attention, tool: scan

#15524 [gradle] add multiple tasks option
  fastlane/lib/fastlane/actions/gradle.rb
  fastlane/spec/actions_specs/gradle_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#15526 [gradle] print out task name instead of 'gradle' step
  fastlane/lib/fastlane/action.rb
  fastlane/lib/fastlane/actions/gradle.rb
  fastlane/lib/fastlane/runner.rb
  fastlane/spec/action_spec.rb
  fastlane/spec/actions_specs/gradle_spec.rb
  fastlane/spec/fixtures/actions/step_text_custom_no_params.rb
  fastlane/spec/fixtures/actions/step_text_custom_with_params.rb
  fastlane/spec/fixtures/actions/step_text_none_no_params.rb
Labels: cla: yes, status: needs-attention, tool: action

#15516 [pilot] truncate changelog based on bytes instead of characters
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
  pilot/spec/fixtures/build_manager/changelog_long_truncated
Labels: cla: yes, status: needs-attention, tool: action

#15866 Version bump to 2.140.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#15861 Extend update_plist documentation from 1 to 6 code-examples
  fastlane/lib/fastlane/actions/update_plist.rb
Labels: cla: yes

#15869 Update team.json for mollyIV and maxott
  team.json
Labels: cla: yes

#15933 [snapshot] Add support for disabling "KeyboardContinuousPathEnabled"
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/simulator_launchers/launcher_configuration.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes, tool: snapshot

#15914 [deliver] docs: document conflicting options
  deliver/lib/deliver/options.rb
Labels: cla: yes, tool: deliver, type: documentation

#15912 docs: Remove old Fastfile documentation
  fastlane/docs/README.md
Labels: cla: yes, type: documentation

#15889 [GitHub Actions] Enable `communicate-on-pull-request-released`
  .github/workflows/release.yml
Labels: cla: yes, topic: github actions

#15883 [action] set_github_release: fix return type to use from swift
  fastlane/lib/fastlane/actions/set_github_release.rb
Labels: cla: yes, tool: action, topic: swift

#15873 [action] introduce milestone support for create_pull_request action
  fastlane/lib/fastlane/actions/create_pull_request.rb
  fastlane/spec/actions_specs/create_pull_request_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#15872 [spaceship] replenish IAP status
  spaceship/lib/spaceship/tunes/iap_status.rb
Labels: cla: yes, tool: spaceship

#15804 [action] import_from_git: Import multiple files from git
  fastlane/lib/fastlane/actions/import_from_git.rb
  fastlane/lib/fastlane/fast_file.rb
Labels: cla: yes, status: needs-attention, tool: action

#15505 [gym, scan] resolve SwiftPM dependencies before fetching build settings
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
  gym/lib/gym/options.rb
  scan/lib/scan/options.rb
  scan/spec/test_command_generator_spec.rb
  snapshot/lib/snapshot/options.rb
Labels: cla: yes, status: needs-attention, tool: gym

#15928 [match] Change http_auth_header capitalization
  match/lib/match/storage/git_storage.rb
Labels: cla: yes, tool: match

#15881 [GitHub Actions] Disable `pull-requests.yml` workflow
  .github/workflows/pull-requests.yml
Labels: cla: yes, status: needs-attention, topic: github actions

#15940 [spaceship] delete beta feedback
  spaceship/lib/spaceship/connect_api/models/beta_feedback.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/models/beta_feedback_spec.rb
  spaceship/spec/connect_api/testflight/testflight_stubbing.rb
  spaceship/spec/spec_helper.rb
Labels: cla: yes

#15952 Version bump to 2.141.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#15953 Update LICENSE
  LICENSE
Labels: cla: yes
