Repository fastlane/fastlane, pull requests merged in 2020-02, with the labels that each got.

#15947 [cocoapods] Add missing params argument to pod_version
  fastlane/lib/fastlane/actions/cocoapods.rb
Labels: cla: yes, tool: action

#15949 [run_tests/scan] Add -parallel-testing-worker-count option
  scan/lib/scan/options.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes, tool: scan

#15951 [socket_server_action_command_executor] Fix sh error_callback
  fastlane/lib/fastlane/server/socket_server_action_command_executor.rb
  fastlane/swift/RubyCommand.swift
Labels: cla: yes, topic: swift

#15990 [s3]: ✏️ Fix ipa and dsym docs example comments
  fastlane/lib/fastlane/actions/s3.rb
Labels: cla: yes, tool: action

#15789 [screengrab] Fix crash granting DUMP permission
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes, status: needs-attention, tool: screengrab

#15976 [upload_symbols_to_crashlytics] Add support for --app-id argument (App ID)
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane/spec/actions_specs/upload_symbols_to_crashlytics_spec.rb
Labels: cla: yes, tool: action

#15991 [core] fix cert import into keychain for catalina and productbuild
  fastlane/spec/actions_specs/import_certificate_spec.rb
  fastlane_core/lib/fastlane_core/keychain_importer.rb
  match/spec/utils_spec.rb
Labels: cla: yes, tool: action, tool: match, topic: macOS Catalina

#15911 docs: add documentation link to actions README
  fastlane/lib/fastlane/actions/README.md
Labels: cla: yes, status: needs-attention, type: documentation

#15913 docs: Include version number in docs commit and PR
  fastlane/Fastfile
Labels: cla: yes, status: needs-attention, type: documentation

#15941 docs: SwiftLint :reporter parameter documented and validated
  fastlane/lib/fastlane/actions/swiftlint.rb
Labels: cla: yes, tool: action, type: documentation

#15945 [ensure_git_branch] Add a regex example
  fastlane/lib/fastlane/actions/ensure_git_branch.rb
Labels: cla: yes, tool: action

#15946 [app_store_build_number/latest_testflight_build_number ] Export version in SharedValues
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
  fastlane/spec/actions_specs/app_store_build_number_spec.rb
Labels: cla: yes, tool: action

#15958 Allow subfolders in the Actions folder
  fastlane/lib/fastlane/plugins/plugin_manager.rb
Labels: cla: yes, tool: fastlane

#15956 [action] add notarize action
  fastlane/lib/fastlane/actions/notarize.rb
Labels: cla: yes, status: needs-attention, tool: action, topic: mac

#16025 Use size-label-action to label PRs by size
  .github/workflows/size-label.yml
Labels: cla: yes, size/S

#16028 [action] default print_log on notarize to false
  fastlane/lib/fastlane/actions/notarize.rb
Labels: cla: yes

#16022 Adding Raise if swiftlint error
  fastlane/lib/fastlane/actions/swiftlint.rb
Labels: cla: yes, tool: action

#16016 [gym] Fix watchOS platform
  fastlane_core/lib/fastlane_core/project.rb
  gym/lib/gym/runner.rb
Labels: cla: yes, tool: gym

#16023 [scan] macOS testing fixes
  scan/lib/scan/runner.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes

#16011 [CI] Add ruby version for tests; format structure
  .circleci/config.yml
  test_modules/run_tests.sh
Labels: cla: yes, type: ci

#16008 [snapshot] disable Pasteboard sync
  snapshot/lib/snapshot/fixes/simulator_shared_pasteboard.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes, tool: snapshot

#16006 [pilot] Guard against error when trying to notify testers once a Testflight build is uploaded
  pilot/lib/pilot/build_manager.rb
Labels: cla: yes, tool: pilot

#15994 [screengrab] Re-add locale and `images` to screenshots output path
  screengrab/lib/screengrab/runner.rb
  screengrab/spec/runner_spec.rb
Labels: cla: yes, tool: screengrab

#15971 [spm] Adds xcpretty_args optional parameter (#15922)
  fastlane/lib/fastlane/actions/spm.rb
  fastlane/spec/actions_specs/spm_spec.rb
Labels: cla: yes, tool: action

#15986 [screengrab] Fix escaping issue with adb path (#15981)
  fastlane/lib/fastlane/helper/adb_helper.rb
  fastlane/spec/actions_specs/adb_spec.rb
Labels: cla: yes, tool: screengrab

#15995 [get_github_release] Use GITHUB_API_TOKEN for default for consistency
  fastlane/lib/fastlane/actions/get_github_release.rb
Labels: cla: yes, tool: action

#16029 Update size-label.yml
  .github/workflows/size-label.yml
Labels: cla: yes, size/XS

#15906 [ensure_xcode_version] Implement flexible version check
  fastlane/lib/fastlane/actions/ensure_xcode_version.rb
  fastlane/spec/actions_specs/ensure_xcode_version_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#15898 [match] update an instruction in match/storage/google_cloud_storage.rb
  match/lib/match/storage/google_cloud_storage.rb
Labels: cla: yes, status: needs-attention, tool: match

#15890 [GitHub Action] Enable `stale.yml` workflow
  .github/workflows/stale.yml
Labels: cla: yes, status: needs-attention, topic: github actions

#16042 Version bump to 2.142.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes, size/L

#16051 [GitHub Actions] `fastlane-bot` should not close PRs
  .github/workflows/stale.yml
Labels: cla: yes, size/S

#16072 Improve rubyzip security behavior to be able to continue using 1.3.0
  fastlane_core/lib/fastlane_core/ipa_file_analyser.rb
Labels: cla: yes, size/XS, tool: fastlane

#16044 [scan] Set an extension of resultBundlePath as ".xcresult" when using Xcode 11
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes, tool: scan
