Repository fastlane/fastlane, pull requests merged in 2020-09, with the labels that each got.

#17118 [spaceship] get selected build from App Store Version
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: cla: yes

#17078 [spaceship] add endpoint AppPricePoint
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app_price_point.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#17075 [resign] add full sed path for resign.sh
  sigh/lib/assets/resign.sh
Labels: cla: yes

#17133 [match] fix occasional auth issues with App Store Connect
  match/lib/match/spaceship_ensure.rb
  produce/lib/produce/itunes_connect.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
Labels: cla: yes

#17136 [spaceship] automatically select Spaceship::Portal or Spaceship::Tunes team if env is set when logging into Spaceship:: ConnectAPI
  deliver/lib/deliver/runner.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/manager.rb
  produce/lib/produce/itunes_connect.rb
  sigh/lib/sigh/runner.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/spec/connect_api/client_spec.rb
Labels: cla: yes

#17138 [deliver] update example rating config json
  deliver/assets/example_rating_config.json
Labels: cla: yes

#17148 [actions] fix download_dsyms, app_store_build_number, and test_flight_build_number
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/spec/actions_specs/download_dsyms_spec.rb
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/file_uploader.rb
Labels: cla: yes

#17149 Version bump to 2.157.3
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17160 [spaceship][match] fix and improve team selection flow with Spaceship::ConnectAPI client
  deliver/lib/deliver/runner.rb
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  match/lib/match/spaceship_ensure.rb
  produce/lib/produce/itunes_connect.rb
  sigh/lib/sigh/runner.rb
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/models/bundle_id_capability_spec.rb
  spaceship/spec/connect_api/models/bundle_id_spec.rb
  spaceship/spec/connect_api/models/pre_release_version_spec.rb
  spaceship/spec/connect_api/models/profile_spec.rb
  spaceship/spec/connect_api/models/user_spec.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: yes

#17163 Version bump to 2.157.4
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17165 [spaceship] pause, resume and complete a appstore version in phased release
  spaceship/lib/spaceship/connect_api/models/app_store_version_phased_release.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#17167 [precheck] migrate to App Store Connect API (except for IAPs)
  deliver/lib/deliver/runner.rb
  precheck/lib/precheck/options.rb
  precheck/lib/precheck/rule_processor.rb
  precheck/lib/precheck/runner.rb
  precheck/spec/rule_processor_spec.rb
Labels: cla: yes

#17168 Version bump to 2.158.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17186 [actions] fix typo in `download_dsyms` action
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes

#17200 [spaceship] fix Spaceship::ConnectAPI.get_app_price_points
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#17182 [docs] typo in pilot docs
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
Labels: cla: yes

#17180 [snapshot] fix snapshot landscape orientation issue
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes

#17169 [deliver] fix UploadMetadata taking too long to run
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/upload_metadata_spec.rb
Labels: cla: yes

#17205 typo fix of the typo fix
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
Labels: cla: yes

#17213 [match] fix match import wrong profile names
  match/lib/match/importer.rb
  match/spec/importer_spec.rb
Labels: cla: yes

#17204 [actions] fix an issue where last_git_tag command sometimes didn't return the correct tag
  fastlane/lib/fastlane/helper/git_helper.rb
  fastlane/spec/actions_specs/changelog_from_git_commits_spec.rb
  fastlane/spec/actions_specs/last_git_tag_spec.rb
Labels: cla: yes

#16537 ci: Fix Homebrew + Ruby version
  .circleci/config.yml
Labels: cla: yes, status: needs-attention, type: ci

#16844 [Fastlane.swift] Swift Package Manager support
  Package.resolved
  Package.swift
  fastlane/Fastfile
  fastlane/lib/fastlane/swift_fastlane_api_generator.rb
  fastlane/lib/fastlane/swift_fastlane_function.rb
  fastlane/swift/Actions.swift
  fastlane/swift/Appfile.swift
  fastlane/swift/ArgumentProcessor.swift
  fastlane/swift/ControlCommand.swift
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/project.pbxproj
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/MainProcess.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Plugins.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/RubyCommand.swift
  fastlane/swift/RubyCommandable.swift
  fastlane/swift/Runner.swift
  fastlane/swift/RunnerArgument.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/SocketClient.swift
  fastlane/swift/SocketClientDelegateProtocol.swift
  fastlane/swift/SocketResponse.swift
  fastlane/swift/formatting/.swiftformat
  fastlane/swift/formatting/Brewfile.lock.json
  fastlane/swift/main.swift
Labels: cla: yes, status: needs-attention, topic: swift

#17215 [spaceship] add skip_select_team to Spaceship::ConnectAPI.login
  .circleci/config.yml
  spaceship/lib/spaceship/connect_api/client.rb
  spaceship/lib/spaceship/connect_api/spaceship.rb
  spaceship/spec/connect_api/spaceship_spec.rb
Labels: cla: yes

#17216 Version bump to 2.159.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/upgrade_manifest.json
Labels: cla: yes

#17238 [deliver] add support for App Store Connect API Key
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/upload_price_tier.rb
  precheck/lib/precheck/options.rb
  precheck/lib/precheck/runner.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/spec/connect_api/testflight/testflight_stubbing.rb
Labels: cla: yes

#17228 [actions] add filter date to download_dsyms
  fastlane/lib/fastlane/actions/clean_build_artifacts.rb
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/spec/actions_specs/download_dsyms_spec.rb
Labels: cla: yes

#17159 [frameit] allow setting font_weight for keyword/title
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  frameit/lib/frameit/editor.rb
Labels: cla: yes

#17235 [deliver] add retry when fetching edit app version and edit app info
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_price_tier.rb
  deliver/spec/upload_metadata_spec.rb
  pilot/lib/pilot/options.rb
  precheck/lib/precheck/options.rb
  precheck/lib/precheck/runner.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/spec/connect_api/testflight/testflight_stubbing.rb
Labels: cla: yes

#17254 [spaceship] support PENDING_APPLE_RELEASE
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: cla: yes

#17255 Version bump to 2.160.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17218 Modify `Net::HTTPGenericRequest` monkeypatch so that only Apple domains are affected
  spaceship/lib/spaceship/helper/net_http_generic_request.rb
Labels: cla: yes

#17261 [spaceship] prevent error on update app territory_ids
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes

#17322 [action] fixed issue in app_store_connect_api_key with loading key content from env variable
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
Labels: cla: yes

#17256 [pilot] make key contents sensitive
  fastlane/lib/fastlane/actions/actions_helper.rb
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
Labels: cla: yes, tool: pilot

#17324 [documentation] fix typos in documentation across the board
  CORE_CONTRIBUTOR.md
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  fastlane/lib/fastlane/actions/docs/create_app_online.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  fastlane/lib/fastlane/actions/docs/run_tests.md
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  gym/examples/cocoapods/Pods/HexColors/README.md
  match/lib/match/options.rb
  spaceship/README.md
Labels: cla: yes

#17319 [docs] update AppStoreConnect.md - replace deprecated Spaceship::Tunes calls
  spaceship/docs/AppStoreConnect.md
Labels: cla: yes

#17276 [Fastlane.swift] fix crash in `LaneFileProtocol.swift` when executing fastlane Swift without using SPM
  fastlane/swift/LaneFileProtocol.swift
Labels: cla: yes

#17262 [action] fix Net::readtimeout error in download_dsyms action
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes

#17115 [action] add file ignore param for ensure_git_status_clean
  fastlane/lib/fastlane/actions/ensure_git_status_clean.rb
Labels: cla: yes, status: needs-attention

#17331 Version bump to 2.161.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17315 [spaceship] support for adding & removing users
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/user_invitation.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
Labels: cla: yes, tool: spaceship

#17304 [spaceship] add ability to delete multiple beta testers at a time
  spaceship/lib/spaceship/connect_api/models/beta_tester.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
Labels: cla: yes

#17302 [deliver] transform string key to symbol, since hash args in options from CLI keyed by string
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes

#17345 [fastlane_core] skip analytics message on first run if opted out
  fastlane_core/lib/fastlane_core/analytics/analytics_session.rb
Labels: cla: yes

#17346 [deliver] fix screenshot uploads issue when overwrite_screenshot option is set to false
  deliver/lib/deliver/app_screenshot_iterator.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/app_screenshot_iterator_spec.rb
  deliver/spec/upload_screenshots_spec.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
Labels: cla: yes
