Repository fastlane/fastlane, pull requests merged in 2020-05, with the labels that each got.

#16386 [match] profile name parameter to specify your own provisioning profile name
  match/lib/match/generator.rb
  match/lib/match/options.rb
Labels: cla: yes, tool: match

#16404 [git_branch] Adding AppCenter for ENV variable check
  fastlane/lib/fastlane/actions/git_branch.rb
Labels: cla: yes, type: ci

#16403 [spaceship] fix error "can't modify frozen String"
  spaceship/lib/spaceship/base.rb
Labels: cla: yes, topic: ruby 2.7

#16381 Adding --port setter to socket_server
  fastlane/lib/fastlane/commands_generator.rb
Labels: cla: yes, tool: fastlane

#16395 [verify_xcode] Add entry with TeamIdentifier=APPLECOMPUTER
  fastlane/lib/fastlane/actions/verify_xcode.rb
  fastlane/spec/actions_specs/verify_xcode_spec.rb
  fastlane/spec/fixtures/verify_xcode/xcode_codesign_appstore_11_4.txt
Labels: cla: yes, tool: action

#16375 [scan] Add disable_xcpretty option that skips it post-xcodebuild too
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/runner_spec.rb
Labels: cla: yes, tool: scan

#16408 [fastlane] drop Ruby 2.0, 2.1, 2.2 and 2.3 from gemspec
  .circleci/config.yml
  fastlane.gemspec
  fastlane/spec/actions_specs/verify_build_spec.rb
  fastlane_core/spec/fixtures/ipas/IncorrectlySigned.ipa
Labels: cla: yes, topic: dependencies, type: ci

#16435 [action] cocoapods: replace clean -> clean_install in example
  fastlane/lib/fastlane/actions/cocoapods.rb
Labels: cla: yes, tool: action

#16448 [match] prompt for keychain password to set partition list for certificates to disable xcode prompt for password on sign
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/lib/fastlane_core/keychain_importer.rb
  match/lib/match/change_password.rb
  match/lib/match/encryption/openssl.rb
  match/lib/match/utils.rb
  match/spec/utils_spec.rb
Labels: cla: yes

#16444 [frameit] add iPad Pro 12.9 4th generation frame
  frameit/lib/frameit/device_types.rb
Labels: cla: yes, tool: frameit

#16422 [spaceship] Add to_json for ConnectAPI models
  spaceship/lib/spaceship/connect_api/model.rb
  spaceship/spec/connect_api/model_spec.rb
Labels: cla: yes, tool: spaceship

#16421 [action] set_pod_key: remove shellescape of params
  fastlane/lib/fastlane/actions/set_pod_key.rb
Labels: cla: yes, tool: action

#16419 [snapshot] Add override_status_bar option
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  snapshot/lib/assets/SnapfileTemplate
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/simulator_launchers/launcher_configuration.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes, tool: snapshot

#16428 [frameit] Automatically determine platform from fastfile
  fastlane/lib/fastlane/helper/lane_helper.rb
  fastlane/spec/helper/lane_helper_spec.rb
  frameit/lib/frameit/device_types.rb
  frameit/lib/frameit/options.rb
  frameit/lib/frameit/screenshot.rb
Labels: cla: yes, tool: frameit

#16425 [action] testfairy: Add download url and landing page returned by TestFairy
  fastlane/lib/fastlane/actions/testfairy.rb
Labels: cla: yes, tool: action

#16454 Version bump to 2.147.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16445 [action] swiftlint: Add missing env_names
  fastlane/lib/fastlane/actions/swiftlint.rb
Labels: cla: yes, tool: action

#16401 [upload_symbols_to_crashlytics] Include Path Suggested by Carthage Instructions
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
Labels: cla: yes, tool: action

#16370 [screengrab] adding locales in all the paths where screenshots could be saved
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes, status: needs-attention, tool: screengrab

#16312 [snapshot] Add -only-testing and -skip-testing options from scan
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
  snapshot/lib/snapshot/detect_values.rb
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/test_command_generator_base.rb
  snapshot/spec/detect_values_spec.rb
  snapshot/spec/test_command_generator_spec.rb
Labels: cla: yes, status: needs-attention, tool: snapshot

#16367 [scan] Add `only_test_configurations` and `skip_test_configurations` options for use with test plans
  scan/lib/scan/detect_values.rb
  scan/lib/scan/options.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/detect_values_spec.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes, status: needs-attention, tool: scan

#16363 [doc][crashlytics] DeprecationMessage
  fastlane/lib/fastlane/actions/crashlytics.rb
Labels: cla: yes, status: needs-attention, tool: action, type: documentation

#16345 [docs][gym] Add info on passing plist into export_options on gym
  fastlane/lib/fastlane/actions/docs/build_app.md
Labels: cla: yes, status: needs-attention, tool: gym, type: documentation

#16332 [spaceship][pilot] Expire TestFlight Builds
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
Labels: cla: yes, status: needs-attention, tool: pilot

#16299 [snapshot] Erase simulator only when erase_simulator is true
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes, status: needs-attention, tool: snapshot

#16281 [sigh][match] Add :fail_on_name_taken in sigh, use in match
  match/lib/match/generator.rb
  match/lib/match/options.rb
  match/spec/generator_spec.rb
  sigh/lib/sigh/options.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/manager_spec.rb
  sigh/spec/spec_helper.rb
Labels: cla: yes, status: needs-attention, tool: match, tool: sigh

#16244 [snapshot] Fix warning in SnapshotHelper.swift
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, status: needs-attention, tool: snapshot

#16409 [Ruby 2.7] Fix deprecated warnings
  fastlane/lib/fastlane/actions/get_managed_play_store_publishing_rights.rb
  fastlane/lib/fastlane/actions/xcodebuild.rb
  fastlane/lib/fastlane/plugins/plugin_manager.rb
  fastlane/spec/actions_specs/get_managed_play_store_publishing_rights_spec.rb
Labels: cla: yes, topic: ruby 2.7

#16452 [supply] Added `in_app_update_priority` option to set the InAppUpdatePriority …
  fastlane.gemspec
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
Labels: cla: yes, tool: supply

#16220 [Fastlane.swift] add options to beforeAll
  fastlane/swift/LaneFileProtocol.swift
Labels: cla: yes, status: needs-attention, topic: swift

#16146 [deliver] Fix crash when metadata_path is outside of the fastlane path
  deliver/lib/deliver/html_generator.rb
  deliver/spec/html_generator_spec.rb
Labels: cla: yes, status: needs-attention, tool: deliver

#16141 [push_to_git_remote] Avoid using master unexpectedly
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
  fastlane/spec/actions_specs/push_to_git_remote_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#16133 [gym] Move AppStoreInfo.plist to build output directory if generated …
  gym/lib/gym/generators/package_command_generator.rb
  gym/lib/gym/generators/package_command_generator_xcode7.rb
  gym/lib/gym/runner.rb
  gym/spec/package_command_generator_xcode7_spec.rb
Labels: cla: yes, status: needs-attention, tool: gym

#16456 [match] improve match macOS support
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/lib/fastlane/actions/sync_code_signing.rb
  match/lib/match/options.rb
Labels: cla: yes

#16096 [fastlane] load additional .env files from within CLIToolsDistributor
  cert/lib/cert/commands_generator.rb
  credentials_manager/lib/credentials_manager/cli.rb
  deliver/lib/deliver/commands_generator.rb
  fastlane/lib/fastlane/cli_tools_distributor.rb
  fastlane/lib/fastlane/commands_generator.rb
  fastlane/lib/fastlane/lane_manager.rb
  fastlane/lib/fastlane/swift_lane_manager.rb
  fastlane/spec/cli_tools_distributor_spec.rb
  fastlane/spec/commands_generator_spec.rb
  fastlane/spec/helper/dotenv_helper_spec.rb
  fastlane/spec/lane_manager_spec.rb
  frameit/lib/frameit/commands_generator.rb
  match/lib/match/commands_generator.rb
  pem/lib/pem/commands_generator.rb
  produce/lib/produce/commands_generator.rb
  sigh/lib/sigh/commands_generator.rb
  spaceship/lib/spaceship/commands_generator.rb
  supply/lib/supply/commands_generator.rb
Labels: cla: yes, status: needs-attention, tool: fastlane

#16091 [deliver] Add fix for app_version and build_number matching
  deliver/lib/deliver/submit_for_review.rb
Labels: cla: yes, status: needs-attention, tool: deliver

#16459 Version bump to 2.148.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#16464 [fastlane] add test workflow for GitHub Actions to plugin template
  fastlane/lib/fastlane/plugins/template/.github/workflows/test.yml
Labels: cla: yes, tool: plugin

#16470 [fastlane] fix overly strong substitution of “action” for plugin/actions with the phrase “action” in it
  fastlane/lib/fastlane/documentation/actions_list.rb
  fastlane/lib/fastlane/plugins/plugin_manager.rb
Labels: cla: yes

#16472 Version bump to 2.148.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16481 [scan] Fix test result parser issue with disable_xcpretty
  scan/lib/scan/test_result_parser.rb
  scan/spec/test_result_parser_spec.rb
Labels: cla: yes, tool: scan

#16500 Added support for Slather's SonarQube option
  fastlane/lib/fastlane/actions/slather.rb
  fastlane/spec/actions_specs/slather_spec.rb
  fastlane/swift/Fastlane.swift
Labels: cla: yes, tool: action

#16507 ci(ruby): fix ruby selection
  .circleci/config.yml
Labels: cla: yes

#14485 [pilot] changelog bytesize truncate tests
  pilot/spec/build_manager_spec.rb
  pilot/spec/fixtures/build_manager/changelog_bytes_long
  pilot/spec/fixtures/build_manager/changelog_bytes_long_truncated
Labels: cla: yes, status: needs-attention, tool: pilot

#15349 [snapshot] Specify custom path for erb
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes, status: needs-attention, tool: snapshot

#16446 [GH Actions] Enable lock action
  lock.yml
Labels: cla: yes, topic: github actions

#16466 [snapshot] add disable_xcpretty option from scan
  scan/spec/test_command_generator_spec.rb
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/test_command_generator.rb
  snapshot/spec/test_command_generator_spec.rb
Labels: cla: yes, tool: snapshot

#16503 [deliver] fix app_screenshot comments
  deliver/lib/deliver/app_screenshot.rb
Labels: cla: yes, tool: frameit

#16517 [gym] Fix typo in `installer_cert_name` description
  fastlane/swift/GymfileProtocol.swift
  gym/lib/gym/options.rb
Labels: cla: yes

#16478 [spaceship] Retry request when Developer Portal responds with a 403 status code
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/errors.rb
  spaceship/spec/client_spec.rb
Labels: cla: yes, tool: spaceship

#16476 [screengrab] Improved screengrab documentation for use with kotlin
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
Labels: cla: yes, tool: screengrab, topic: kotlin

#16534 [fastlane_core] add -derivedDataPath when SwiftPM dependencies resolving
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
Labels: cla: yes, tool: fastlane_core
