Repository fastlane/fastlane, pull requests merged in 2020-11, with the labels that each got.

#17530 [action] update_fastlane fixed for rubygems >= 3.1.0 and added homebrew support
  fastlane/lib/fastlane/actions/update_fastlane.rb
  fastlane/spec/actions_specs/update_fastlane_spec.rb
Labels: cla: yes

#17502 [fastlane_core][deliver] allow FASTLANE_ITUNES_TRANSPORTER_PATH to work again
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/helper_spec.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: cla: yes

#17513 [action] update homebrew install for appledoc action
  fastlane/lib/fastlane/actions/appledoc.rb
Labels: cla: yes

#17540 [cert] fix issues where to_pem wasn't always getting called when creating a cert
  cert/lib/cert/runner.rb
Labels: cla: yes

#17542 Version bump to 2.166.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17543 Revert "Version bump to 2.166.0"
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17544 Version bump to 2.166.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17538 [fastlane_core] install both old and new WWDR certificates
  fastlane_core/lib/fastlane_core/cert_checker.rb
  fastlane_core/spec/cert_checker_spec.rb
Labels: cla: yes, tool: fastlane_core

#17547 [fastlane_core] disable colors for colorize gem too
  .rubocop.yml
  fastlane_core/lib/fastlane_core/ui/disable_colors.rb
Labels: cla: yes

#17553 [fastlane_core] use additional key for fetching bundle ID from provisioning profile (com.apple.application-identifier)
  fastlane_core/lib/fastlane_core/provisioning_profile.rb
Labels: cla: yes

#17559 [snapshot] move fake artifacts to temp directory in tests
  snapshot/spec/test_command_generator_spec.rb
  snapshot/spec/test_command_generator_xcode_8_spec.rb
Labels: cla: yes

#17560 [pilot] update to new emoji regex
  pilot/lib/pilot/build_manager.rb
Labels: cla: yes

#17570 Fix typos
  fastlane/lib/fastlane/cli_tools_distributor.rb
  fastlane/lib/fastlane/features.rb
  fastlane/spec/actions_specs/push_git_tags_spec.rb
  gym/lib/gym/code_signing_mapping.rb
Labels: cla: yes

#17590 [Fastlane.swift] fix: swiftformat issues
  fastlane/swift/Fastfile.swift
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/MainProcess.swift
  fastlane/swift/Runner.swift
  fastlane/swift/SocketClient.swift
Labels: cla: yes

#17582 [action] add --enable-code-coverage option to generate-xcodeproj command for the spm action
  fastlane/lib/fastlane/actions/spm.rb
  fastlane/spec/actions_specs/spm_spec.rb
Labels: cla: yes

#17573 [add_git_tag] make `build_number` parameter optional and validate presence of `tag`
  fastlane/lib/fastlane/actions/add_git_tag.rb
  fastlane/spec/actions_specs/add_git_tag_spec.rb
Labels: cla: yes, tool: action

#17594 [deliver] support the latest 6.5 inch screenshot size
  deliver/lib/deliver/app_screenshot.rb
  deliver/spec/app_screenshot_spec.rb
Labels: cla: yes

#17588 [spaceship] Spaceship::ConnectAPI - added betaGroup delete and get builds for the group functions
  spaceship/lib/spaceship/connect_api/models/beta_group.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/models/beta_group_spec.rb
  spaceship/spec/connect_api/testflight/testflight_stubbing.rb
Labels: cla: yes

#17569 [pilot] Fix TypeError in `list` by ignoring nil counts
  pilot/lib/pilot/build_manager.rb
Labels: cla: yes

#17601 [docs] update CONTRIBUTING.md to mention needing a Google account
  CONTRIBUTING.md
Labels: cla: yes

#17599 [Fastlane.Swift][update_fastlane] upgrade Fastlane.swift files
  fastlane/lib/fastlane/actions/update_fastlane.rb
  fastlane/spec/actions_specs/update_fastlane_spec.rb
Labels: cla: yes, topic: swift

#17571 [match] skip committing changes when nuking if the repo is already empty
  match/lib/match/nuke.rb
Labels: cla: yes, tool: match

#17610 Version bump to 2.167.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17618 [docs] improve GitHub Pull Request template by guiding users to properly link PRs to Issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#17617 [supply] skip sending user fraction if it's 1.0 when promoting track
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
Labels: cla: yes, tool: supply

#17623 [scan] fix crash on TestResultParser when disable_xcpretty=true
  scan/lib/scan/runner.rb
  scan/spec/runner_spec.rb
Labels: cla: yes

#17616 [deliver] read values from SharedValues context only if needed
  fastlane/lib/fastlane/actions/upload_to_app_store.rb
Labels: cla: yes, tool: deliver

#17611 [fastlane] also support NO_COLOR for disabling colors
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/helper_spec.rb
Labels: cla: yes

#17606 [action] add support for arrays in in slather action for binary_basename and FL_SLATHER_BINARY_BASENAME environment variable
  fastlane/lib/fastlane/actions/slather.rb
  fastlane/spec/actions_specs/slather_spec.rb
Labels: cla: yes

#17604 [docs] clarify which account password is expected in cert and match docs
  cert/lib/cert/options.rb
  match/lib/match/options.rb
Labels: cla: yes, type: documentation

#17561 [match] Support mac_installer_distribution certificate type
  match/lib/match/module.rb
Labels: cla: yes

#17475 [spaceship] add client optional parameter in model helpers
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_info_localization.rb
  spaceship/lib/spaceship/connect_api/models/app_preview.rb
  spaceship/lib/spaceship/connect_api/models/app_preview_set.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
  spaceship/lib/spaceship/connect_api/models/app_store_review_attachment.rb
  spaceship/lib/spaceship/connect_api/models/app_store_review_detail.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_submission.rb
  spaceship/lib/spaceship/connect_api/models/beta_app_review_submission.rb
  spaceship/lib/spaceship/connect_api/models/beta_feedback.rb
  spaceship/lib/spaceship/connect_api/models/beta_group.rb
  spaceship/lib/spaceship/connect_api/models/beta_tester.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
  spaceship/lib/spaceship/connect_api/models/build_delivery.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id_capability.rb
  spaceship/lib/spaceship/connect_api/models/certificate.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
  spaceship/lib/spaceship/connect_api/models/idfa_declaration.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
  spaceship/lib/spaceship/connect_api/models/reset_ratings_request.rb
  spaceship/lib/spaceship/connect_api/models/sandbox_tester.rb
  spaceship/lib/spaceship/connect_api/models/territory.rb
  spaceship/lib/spaceship/connect_api/models/user.rb
  spaceship/lib/spaceship/connect_api/models/user_invitation.rb
  spaceship/lib/spaceship/tunes/iap_detail.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/iap_detail_spec.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#17634 Version bump to 2.168.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#17691 [xcode-install] add option to customize number of download retry attempts
  Gemfile
  fastlane/lib/fastlane/actions/xcode_install.rb
Labels: cla: yes, tool: action

#17665 Add support for Privacy Choices URL
  spaceship/lib/spaceship/connect_api/models/app_info_localization.rb
Labels: cla: yes, tool: spaceship

#17666 [spaceship] Get push mode from trustedPhoneNumbers
  spaceship/lib/spaceship/two_step_or_factor_client.rb
  spaceship/spec/fixtures/appleauth_2fa_voice_no_trusted_devices.json
  spaceship/spec/tunes/tunes_stubbing.rb
  spaceship/spec/two_step_or_factor_client_spec.rb
Labels: cla: yes

#17692 [spaceship] Handle 429 error response
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/errors.rb
  spaceship/spec/client_spec.rb
Labels: cla: yes

#17644 [action] add -scmProvider option to xcodebuild command for the gym and scan actions
  gym/lib/gym/generators/build_command_generator.rb
  gym/lib/gym/options.rb
  gym/spec/build_command_generator_spec.rb
  scan/lib/scan/options.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes

#17661 [deliver] prepare for adding new validations for screenshots (refactoring)
  deliver/lib/deliver/loader.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/loader_spec.rb
  deliver/spec/upload_screenshots_spec.rb
Labels: cla: yes

#17646 fixed doc typo
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
Labels: cla: yes
