Repository fastlane/fastlane, pull requests merged in 2020-04, with the labels that each got.

#16230 [action] Allow `get_version_number` to resolve version numbers in xcconfig files
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/spec/actions_specs/get_version_number_action_spec.rb
  fastlane/spec/fixtures/actions/get_version_number/Version.xcconfig
  fastlane/spec/fixtures/actions/get_version_number/get_version_number.xcodeproj/project.pbxproj
Labels: cla: yes

#16225 [match] Update documentation
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes

#16207 [spaceship] fixed Spaceship doc deeplink
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: cla: yes

#16206 [action] changing the :ignore parameter of the slather action to an Array
  fastlane/lib/fastlane/actions/slather.rb
Labels: cla: yes

#16196 [acition] adds 'Apple Distribution' as valid authority when verifying builds
  fastlane/lib/fastlane/actions/verify_build.rb
Labels: cla: yes

#16181 [gym] Gym::DetectValues test date fix
  gym/spec/detect_values_spec.rb
Labels: cla: yes, status: needs-attention, tool: gym, topic: tests

#16162 [spaceship] Fix 2FA to handle sms fallback for accounts with no trusted devices
  spaceship/lib/spaceship/two_step_or_factor_client.rb
  spaceship/spec/fixtures/appleauth_2fa_no_trusted_devices.json
  spaceship/spec/fixtures/appleauth_2fa_no_trusted_devices_two_numbers.json
  spaceship/spec/tunes/tunes_stubbing.rb
  spaceship/spec/two_step_or_factor_client_spec.rb
Labels: cla: yes, status: needs-attention, tool: spaceship

#16185 [supply] fix error when downloading metadata with drafts
  supply/lib/supply/client.rb
Labels: cla: yes, status: needs-attention, tool: supply

#16256 [match] Remove documentation typo
  match/lib/match/options.rb
Labels: cla: yes

#16258 Version bump to 2.145.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16259 [ci] fix Xcode 9 test on CircleCI
  .circleci/config.yml
Labels: cla: yes

#16268 [screengrab] Passing 'specific_device' paremeter to 'adb root' call when 'use_adb_root' is enabled.
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes, tool: screengrab

#16275 [snapshot] update list of known simulators to include latest from Xcode 11.4
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes

#16288 [delivery] Resolves issue uploading iPad Pro 4th gen screenshots
  deliver/lib/deliver/app_screenshot.rb
  deliver/spec/app_screenshot_spec.rb
Labels: cla: yes

#16287 Xcode simctl parse fix
  fastlane_core/lib/fastlane_core/device_manager.rb
  fastlane_core/spec/device_manager_spec.rb
  fastlane_core/spec/fixtures/DeviceManagerSimctlOutputXcode11
Labels: cla: yes

#16292 Improve device names in capture_ios_screenshots documentation
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
Labels: cla: yes

#16273 [supply] Save changelog files as version code instead of version name
  supply/lib/supply/setup.rb
Labels: cla: yes, tool: supply

#16254 [action] setup_jenkins with match
  fastlane/lib/fastlane/actions/setup_jenkins.rb
  fastlane/spec/actions_specs/setup_jenkins_spec.rb
Labels: cla: yes, tool: action

#16335 [match] Fix S3 errors for match nuke and sync
  fastlane/lib/fastlane/helper/s3_client_helper.rb
  fastlane/spec/helper/s3_client_helper_spec.rb
  match/lib/match/storage/s3_storage.rb
  match/spec/storage/s3_storage_spec.rb
Labels: cla: yes

#16316 [frameit] prevent fonts to match if the screenshot name contains the language name
  frameit/lib/frameit/editor.rb
  frameit/lib/frameit/screenshot.rb
Labels: cla: yes

#16314 [fastlane_core] allow passing in Hash options via cli/env as json
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
Labels: cla: yes

#16334 [pilot] Remove redundant update_review_detail call
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#16310 [create_pull_request] Add `draft` option
  fastlane/lib/fastlane/actions/create_pull_request.rb
  fastlane/spec/actions_specs/create_pull_request_spec.rb
Labels: cla: yes, tool: action

#16300 [CI] Execute tests on macOS (Xcode 11.4.0, Ruby 2.6)
  .circleci/config.yml
Labels: cla: yes, type: ci

#16296 [upload_symbols_to_crashlytics] Prefer Firebase Crashlytics's upload-symbols to Fabric
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
Labels: cla: yes, tool: action

#16285 [deliver] concatenate newline into new string
  deliver/lib/deliver/setup.rb
Labels: cla: yes

#16267 [spaceship] fix service id for Wallet (Passbook)
  spaceship/lib/spaceship/portal/app_service.rb
Labels: cla: yes, tool: spaceship

#16346 [deliver] add itc_provider to DeliverFile
  credentials_manager/lib/credentials_manager/appfile_config.rb
  credentials_manager/spec/app_file_config_spec.rb
  credentials_manager/spec/fixtures/Appfile1
  deliver/lib/deliver/options.rb
Labels: cla: yes

#16211 [match] Enable importing developer ID certificates
  match/lib/match/importer.rb
  match/spec/importer_spec.rb
Labels: cla: yes, status: needs-attention, tool: match

#16348 [produce] support creating multiple platforms on App Store Connect
  produce/lib/produce/developer_center.rb
  produce/lib/produce/itunes_connect.rb
  produce/lib/produce/options.rb
  spaceship/lib/spaceship/tunes/application.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: cla: yes

#16353 [action] allow filtering by build configuration in update_code_sign_settings
  fastlane/lib/fastlane/actions/update_code_signing_settings.rb
  fastlane/spec/actions_specs/update_code_signing_settings.rb
  fastlane/spec/actions_specs/update_code_signing_settings_spec.rb
  fastlane/spec/fixtures/xcodeproj/update-code-signing-settings.xcodeproj/project.pbxproj
Labels: cla: yes

#16354 Version bump to 2.146.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16357 [action] fix update_code_signing_settings for unknown keys
  fastlane/lib/fastlane/actions/update_code_signing_settings.rb
Labels: cla: yes

#16358 Version bump to 2.146.1
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/Snapshotfile.swift
Labels: cla: yes

#16350 [snapshot] Add -testPlan option from scan
  scan/spec/test_command_generator_spec.rb
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/test_command_generator_base.rb
  snapshot/spec/test_command_generator_spec.rb
Labels: cla: yes, tool: snapshot

#16366 Remove trailing spaces from custom_action_template file
  fastlane/lib/assets/custom_action_template.rb
Labels: cla: yes

#16306 [frameit] Change framefile.json load path to support Screengrab and Supply
  frameit/lib/frameit/runner.rb
Labels: cla: yes, tool: frameit

#16326 [spaceship] Add retrieve-create of iap shared secret to Spaceship::Tunes
  spaceship/lib/spaceship/tunes/iap.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/fixtures/iap_shared_secret_1.json
  spaceship/spec/tunes/fixtures/iap_shared_secret_2.json
  spaceship/spec/tunes/iap_spec.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, tool: spaceship

#16399 [Ruby 2.7] Allow Faraday 1.0.0 and Faraday-middleware 1.0.0 with Ruby 2.7 fixes, fix base Ruby 2.3 tests
  .circleci/config.yml
  fastlane.gemspec
Labels: cla: yes
