Repository fastlane/fastlane, pull requests merged in 2021-08, with the labels that each got.

#19181 [pilot] improve the existing Pilot::BuildManager::Upload method unit tests
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#19182 [bundle_install] Add redownload option
  fastlane/lib/fastlane/actions/bundle_install.rb
Labels: cla: yes

#19184 [docs] Update docs templates to allow for parsing markdown in foldable details
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: cla: yes

#19185 [clean_cocoapods_cache] Add allow-root option
  fastlane/lib/fastlane/actions/clean_cocoapods_cache.rb
Labels: cla: yes

#19187 [clean_cocoapods_cache] Add silent option
  fastlane/lib/fastlane/actions/clean_cocoapods_cache.rb
Labels: cla: yes

#19183 [bundle_install] Add frozen option
  fastlane/lib/fastlane/actions/bundle_install.rb
Labels: cla: yes

#19188 [clean_cocoapods_cache] Add verbose option
  fastlane/lib/fastlane/actions/clean_cocoapods_cache.rb
Labels: cla: yes

#19039 [spaceship] Adding three missing beta testers/groups methods
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
Labels: cla: yes, status: needs-attention

#19053 [spaceship] Add visible_apps relationship to invite users with app permissions and fetch user's app permissions
  spaceship/lib/spaceship/connect_api/models/user.rb
  spaceship/lib/spaceship/connect_api/models/user_invitation.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: yes, status: needs-attention

#19189 [clean_cocoapods_cache] Add no-ansi option
  fastlane/lib/fastlane/actions/clean_cocoapods_cache.rb
Labels: cla: yes

#19190 [pilot] added the Pilot::BuildManager::check_for_changelog_or_whats_new! method unit tests
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#19191 [pilot] added the Pilot::BuildManager::list method unit tests
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#19193 Version bump to 2.190.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#19195 [spaceship] Add unit tests in user_client_spec
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: yes

#19070 [deliver] introduce a new synchronization logic for screenshots
  deliver/lib/deliver/app_screenshot.rb
  deliver/lib/deliver/app_screenshot_iterator.rb
  deliver/lib/deliver/loader.rb
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/screenshot_comparable.rb
  deliver/lib/deliver/sync_screenshots.rb
  deliver/spec/app_screenshot_iterator_spec.rb
  deliver/spec/sync_screenshots_spec.rb
  fastlane/lib/fastlane/features.rb
Labels: cla: yes, status: needs-attention, tool: deliver

#19207 [regression][zip] fix the `shellescape` for the folder path
  fastlane/lib/fastlane/actions/zip.rb
  fastlane/spec/actions_specs/zip_spec.rb
Labels: cla: yes

#19200 [spaceship] add requests to remove or replace visible apps
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: yes

#19211 [supply] fix upload_mapping for multiple mapping_paths
  supply/lib/supply/uploader.rb
Labels: cla: yes

#19168 [produce][spaceship] Add ability to fetch and display available bundle capabilities
  produce/lib/produce/commands_generator.rb
  produce/lib/produce/service.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/capabilities.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/spec/connect_api/fixtures/provisioning/capabilities.json
  spaceship/spec/connect_api/models/capabilities_spec.rb
  spaceship/spec/connect_api/provisioning/provisioning_stubbing.rb
  spaceship/spec/spec_helper.rb
Labels: cla: yes

#19214 Version bump to 2.191.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#19215 [action][zip] Fix regression in `zip` by escaping all args
  fastlane/lib/fastlane/actions/zip.rb
  fastlane/spec/actions_specs/zip_spec.rb
  fastlane/spec/fixtures/actions/zip/My Folder (New)/.gitkeep
  fastlane/spec/helper/sh_helper_spec.rb
Labels: cla: yes

#19223 [action][push_git_tags] escaping branch tag name in push_git_tags action
  fastlane/lib/fastlane/actions/push_git_tags.rb
Labels: cla: yes

#19226 [pilot] added the Pilot::BuildManager::update_build_beta_details method unit tests
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#19063 [spaceship] add Internal beta group
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
Labels: status: needs-attention, cla: yes

#19229 [action][create_xcframework] missing parameters in create xcframework
  fastlane/lib/fastlane/actions/create_xcframework.rb
  fastlane/spec/actions_specs/create_xcframework_spec.rb
Labels: cla: yes

#18760 [sigh] Fixed the broken `fastlane sigh manage -e` command
  Gemfile.lock
  fastlane.gemspec
  fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb
Labels: status: needs-attention, cla: yes

#19232 [fastlane] optimize bash and zsh completion scripts
  fastlane/lib/assets/completions/completion.bash
  fastlane/lib/assets/completions/completion.zsh
Labels: cla: yes

#19261 [produce] Fix service name typo for Produce
  produce/lib/produce/service.rb
Labels: cla: yes

#19248 [supply] automatically rescue changesNotSentForReview errors
  supply/lib/supply/client.rb
  supply/lib/supply/options.rb
Labels: cla: yes

#19258 [regression] [frameit] fix missing iPad Pro (2nd generation) frames
  frameit/frames_generator/Rakefile
Labels: cla: yes

#19235 [action][notarize] support using notarytool instead of altool if using Xcode 13 and up
  fastlane/lib/fastlane/actions/notarize.rb
  fastlane/spec/actions_specs/notarize_spec.rb
  spaceship/lib/spaceship/connect_api/token.rb
Labels: cla: yes

#19273 [spaceship] retries developer portal requests that receive 502 Bad Gateway up to 5 times (usually works after 1 retry)
  spaceship/lib/spaceship/connect_api/api_client.rb
Labels: cla: yes

#19276 Version bump to 2.192.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#19304 Add default empty array values in ZipAction initialize
  fastlane/lib/fastlane/actions/zip.rb
  fastlane/spec/actions_specs/zip_spec.rb
Labels: cla: yes

#19307 [pilot] added the Pilot::TesterImporter class unit tests
  pilot/spec/tester_importer_spec.rb
Labels: cla: yes

#19311 Version bump to 2.193.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes
