Repository fastlane/fastlane, pull requests merged in 2021-03, with the labels that each got.

#18287 [spaceship] Add support for deleting app_screenshot_sets and app_preview_sets
  spaceship/lib/spaceship/connect_api/models/app_preview_set.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot_set.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: cla: yes, tool: spaceship

#18314 [action] restore multi-threading uploads in upload_symbols_to_crashlytics
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_screenshots.rb
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
  fastlane_core/lib/fastlane_core.rb
  fastlane_core/lib/fastlane_core/queue_worker.rb
  fastlane_core/spec/queue_worker_spec.rb
Labels: cla: yes

#18300 [docs] fix typo in app_store_connect_api_key option description
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
Labels: cla: yes, type: documentation

#18297 [snapshot] fixed logic calling uninstall_app
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes

#18326 [action] Add 'changelog' option to Appaloosa
  fastlane/lib/fastlane/actions/appaloosa.rb
Labels: cla: yes

#18320 [deliver] reduce the number of API calls in deleting screenshots
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/upload_screenshots_spec.rb
Labels: cla: yes

#18294 [spaceship] make ensure_version pass the client to get_edit_app_store_version
  spaceship/lib/spaceship/connect_api/models/app.rb
Labels: cla: yes

#18279 [spaceship] resolve issue with current team_id being incorrectly reported
  spaceship/lib/spaceship/client.rb
  spaceship/spec/tunes/tunes_client_spec.rb
Labels: cla: yes

#18299 [spaceship] Better error handling of 403 status code when using API Key
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/spec/connect_api/api_client_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
Labels: cla: yes

#18276 [deliver] bring IOS_58 dimensions in line with the current Apple specification.
  deliver/lib/deliver/app_screenshot.rb
Labels: cla: yes

#18339 [ci] bump CI jobs to use Ruby 2.5 since some dependencies now require 2.5
  .circleci/config.yml
Labels: cla: yes

#18043 [spaceship] added missing create method for UserInvitation model
  spaceship/lib/spaceship/connect_api/models/user_invitation.rb
Labels: cla: yes, status: needs-attention

#18328 [pilot] fix issue where build sometimes doesn't submit for review
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
  spaceship/lib/spaceship/connect_api/models/build.rb
  spaceship/lib/spaceship/connect_api/models/build_beta_detail.rb
Labels: cla: yes

#18285 [pilot] change itmsp saved name to allow multiple upload.
  deliver/lib/deliver/runner.rb
  deliver/spec/runner_spec.rb
  fastlane_core/lib/fastlane_core/ipa_upload_package_builder.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/lib/fastlane_core/pkg_upload_package_builder.rb
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes, tool: pilot

#18270 [action] push_to_git_remote - Remove useless `pwd`
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
Labels: cla: yes

#18327 [scan] force to fail if requested devices do not exist
  scan/lib/scan/detect_values.rb
  scan/lib/scan/options.rb
Labels: cla: yes

#18355 Version bump to 2.177.0
  .circleci/config.yml
  Gemfile
  Gemfile.lock
  README.md
  appveyor.yml
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18021 [Ruby 3.0] Fix Ruby 2.7's deprecation warnings
  .circleci/config.yml
  Gemfile.lock
  Rakefile
  cert/lib/cert/runner.rb
  deliver/lib/deliver/runner.rb
  fastlane.gemspec
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/backup_file.rb
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  fastlane/lib/fastlane/actions/restore_file.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/lib/fastlane/erb_template_helper.rb
  fastlane/lib/fastlane/fast_file.rb
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/lib/fastlane_core/ui/interface.rb
  fastlane_core/spec/project_spec.rb
  match/lib/match/importer.rb
  match/lib/match/migrate.rb
  match/lib/match/nuke.rb
  match/lib/match/runner.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/s3_storage.rb
  pilot/lib/pilot/manager.rb
  pilot/spec/build_manager_spec.rb
  precheck/lib/precheck/runner.rb
  sigh/lib/sigh/download_all.rb
  sigh/lib/sigh/runner.rb
  spaceship/lib/spaceship/connect_api/token.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
Labels: cla: yes, status: needs-attention

#12259 [fastlane_core][pilot][deliver] Improved transporter logging to pilot
  deliver/lib/deliver/runner.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  pilot/lib/pilot/build_manager.rb
Labels: cla: no, status: needs-attention, tool: fastlane_core, tool: pilot, topic: itunes transporter

#18289 [pilot] do not update app beta details if not needed
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes

#18373 [fastlane_core] fix package upload after two-step rescue.
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: cla: yes

#18372 [action] add skip_info parameter to increment_build_number to avoid updating Info.plist
  fastlane/lib/fastlane/actions/increment_build_number.rb
  fastlane/spec/actions_specs/increment_build_number_action_spec.rb
Labels: cla: yes

#18346 [action] app_store_connect_api_key - add validation to the session duration (that can't be greater than 20 minutes)
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
  fastlane/spec/actions_specs/app_store_connect_api_key_spec.rb
Labels: cla: yes, tool: action

#18347 [actions] github_api action - 'headers' param improvements
  fastlane/lib/fastlane/actions/github_api.rb
Labels: cla: yes

#18345 [action] create_xcframework - delete .xcframework if already exists
  fastlane/lib/fastlane/actions/create_xcframework.rb
  fastlane/spec/actions_specs/create_xcframework_spec.rb
Labels: cla: yes, tool: action

#18382 [spaceship] add testers to other group
  spaceship/lib/spaceship/connect_api/models/beta_group.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
Labels: cla: yes

#18385 Version bump to 2.178.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18016 [gym] Handle situations where the `EXECUTABLE_NAME` is not accurate
  gym/lib/gym/runner.rb
Labels: cla: yes, status: needs-attention

#17891 [docs] add homebrew badge
  README.md
Labels: cla: yes, status: needs-attention, type: documentation

#17885 [gym] fix generating and exporting macOS `.app`
  gym/lib/gym/generators/package_command_generator.rb
  gym/lib/gym/generators/package_command_generator_xcode7.rb
  gym/lib/gym/runner.rb
Labels: cla: yes, status: needs-attention, tool: gym

#18398 [CI] Fix CI checks passing successfully when actually failing
  Rakefile
Labels: cla: yes

#18388 Update LICENSE
  LICENSE
Labels: cla: yes

#18402 [action] app_store_connect_api_key - fixed issue with ApiKey in home directory
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
Labels: cla: yes

#18395 [Ruby 3.0] Replace Kenerl.open overridden by open-uri with URI.open
  deliver/lib/deliver/download_screenshots.rb
  deliver/lib/deliver/setup.rb
  fastlane/actions/plugin_scores.rb
  fastlane/lib/fastlane/actions/update_project_provisioning.rb
  fastlane/lib/fastlane/plugins/plugin_fetcher.rb
  fastlane/lib/fastlane/plugins/plugin_info_collector.rb
Labels: cla: yes

#18405 [Ruby 3.0] fix failing CI checks by supporting open-uri on Ruby 2.4
  deliver/lib/deliver/download_screenshots.rb
  fastlane/actions/plugin_scores.rb
  fastlane/lib/fastlane/actions/update_project_provisioning.rb
  fastlane/lib/fastlane/plugins/plugin_fetcher.rb
  fastlane/lib/fastlane/plugins/plugin_info_collector.rb
  fastlane/lib/fastlane/plugins/plugin_manager.rb
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/helper_spec.rb
Labels: cla: yes

#18406 [docs] add rogerluan and ainame to team.json
  team.json
Labels: cla: yes

#17574 [get_version_number] update `xcodeproj` option to accept both Xcode project filepath or its containing directory
  fastlane/lib/fastlane/actions/get_version_number.rb
  fastlane/spec/actions_specs/get_version_number_action_spec.rb
Labels: cla: no, status: needs-attention, tool: action

#18418 [docs] document alphanumerical sort of supply screenshots
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
Labels: cla: yes

#18389 [match][change_password] re-encrypt using new password instead of MATCH_PASSWORD env var
  match/lib/match/change_password.rb
  match/lib/match/encryption/interface.rb
  match/lib/match/encryption/openssl.rb
  match/spec/encryption/openssl_spec.rb
  match/spec/runner_spec.rb
Labels: cla: yes, tool: match

#18443 [deliver] don't update review information if empty hash
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/upload_metadata_spec.rb
Labels: cla: yes

#18429 [fastlane_core] fix 2FA in CI environments by correctly evaluating falsey values of CI identifier env vars
  fastlane_core/lib/fastlane_core/helper.rb
Labels: cla: yes, tool: fastlane_core, type: ci

#18432 [git_branch][slack][ensure_git_branch] unify logic of `Actions.git_branch` helper and `git_branch` action
  fastlane/lib/fastlane/actions/git_branch.rb
  fastlane/lib/fastlane/helper/git_helper.rb
  fastlane/spec/actions_specs/git_branch_spec.rb
  fastlane/spec/fixtures/plist/Info.plist
Labels: cla: yes, tool: action

#18439 [frameit] fix for Nexus 5x naming and storing legacy frames that are needed but deleted in Facebook's frameset
  frameit/frames_generator/README.md
  frameit/frames_generator/Rakefile
  frameit/frames_generator/legacy/Apple iPad Air 2 Gold.png
  frameit/frames_generator/legacy/Apple iPad Air 2 Silver.png
  frameit/frames_generator/legacy/Apple iPad Air 2 Space Gray.png
  frameit/frames_generator/legacy/Apple iPad Air 2020 Green Landscape.png
  frameit/frames_generator/legacy/Apple iPad Air 2020 Rose Gold Landscape.png
  frameit/frames_generator/legacy/Apple iPad Air 2020 Silver Landscape.png
  frameit/frames_generator/legacy/Apple iPad Air 2020 Sky Blue Landscape.png
  frameit/frames_generator/legacy/Apple iPad Air 2020 Space Gray Landscape.png
  frameit/frames_generator/legacy/Apple iPad Pro Gold.png
  frameit/frames_generator/legacy/Apple iPad Pro Silver.png
  frameit/frames_generator/legacy/Apple iPad Pro Space Gray.png
  frameit/frames_generator/legacy/Samsung Galaxy S3.png
  frameit/frames_generator/legacy/Samsung Galaxy S5 Black.png
  frameit/frames_generator/legacy/Samsung Galaxy S5 White.png
  frameit/frames_generator/legacy/Samsung Galaxy S7 Black.png
  frameit/frames_generator/legacy/Samsung Galaxy S7 Gold.png
  frameit/frames_generator/legacy/Samsung Galaxy S7 Silver.png
  frameit/frames_generator/legacy/Samsung Galaxy S7 White.png
Labels: cla: yes

#18448 [frameit] Update iPad 12.9 version renaming mapping to match what the rest of frameit expects
  frameit/frames_generator/Rakefile
Labels: cla: yes

#18434 [screengrab] Fix screenshots on Android Q and above
  fastlane/spec/actions_specs/adb_spec.rb
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/command_executor_spec.rb
  screengrab/lib/screengrab/android_environment.rb
  screengrab/lib/screengrab/runner.rb
  screengrab/spec/android_environment_spec.rb
Labels: cla: yes

#18450 [Fastlane.Swift] Add some missing return types
  fastlane/lib/fastlane/actions/build_app.rb
  fastlane/lib/fastlane/actions/check_app_store_metadata.rb
  fastlane/lib/fastlane/actions/get_provisioning_profile.rb
  fastlane/lib/fastlane/actions/git_tag_exists.rb
  fastlane/lib/fastlane/actions/install_provisioning_profile.rb
  fastlane/lib/fastlane/actions/spaceship_logs.rb
Labels: cla: yes, topic: swift

#18449 [Fastlane.Swift] Fix Fastlane.Swift point values default value
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes, topic: swift

#18387 [action][match] match_nuke action - Nuke your certificate and provisioning profiles (via match)
  fastlane/lib/fastlane/actions/match_nuke.rb
  fastlane/spec/unused_options_spec.rb
  match/lib/match/module.rb
Labels: cla: yes

#18456 Version bump to 2.179.0
  Gemfile
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes
