Repository fastlane/fastlane, pull requests merged in 2021-06, with the labels that each got.

#18787 [docs] Update docs and code for age rating declaration
  deliver/assets/example_rating_config.json
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
Labels: cla: yes

#18784 [docs] Update upload_to_testflight.md docs with explanation of groups option
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  pilot/lib/pilot/options.rb
Labels: cla: yes

#18781 [action][add_extra_platforms] Added spec file and missing unit-tests
  fastlane/spec/actions_specs/add_extra_platforms_spec.rb
Labels: cla: yes

#18775 [action][adb_devices] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/adb_devices.rb
  fastlane/spec/actions_specs/adb_devices_spec.rb
Labels: cla: yes

#18776 [action][adb] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/adb.rb
  fastlane/spec/actions_specs/adb_spec.rb
Labels: cla: yes

#18777 [pilot] Improve the `Pilot::Manager` unit tests
  pilot/spec/manager_spec.rb
Labels: cla: yes

#18788 [action][app_store_build_number] Added the missing unit tests
  fastlane/spec/actions_specs/app_store_build_number_spec.rb
Labels: cla: yes

#18773 [docs] Fixed the broken `pry` links inside the ToolsAndDebugging.md
  ToolsAndDebugging.md
Labels: cla: yes

#18772 [fastlane_core] [env] Add Swift version to `fastlane env`
  fastlane/lib/fastlane/environment_printer.rb
  fastlane_core/lib/fastlane_core/helper.rb
Labels: cla: yes

#18774 [Fastlane.Swift] Fix complexity limits introduced in Swift 5.4
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes, topic: swift

#18804 [resign] fix app entitlements extraction
  sigh/lib/assets/resign.sh
Labels: cla: yes

#18802 [deliver] fix undefined variable when live edit
  deliver/lib/deliver/upload_metadata.rb
Labels: cla: yes

#18800 [action][appetize_viewing_url_generator] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/appetize_viewing_url_generator.rb
Labels: cla: yes

#18799 [action][app_store_connect_api_key] Added the missing unit tests
  fastlane/spec/actions_specs/app_store_connect_api_key_spec.rb
Labels: cla: yes

#18782 [action][add_git_tag] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/add_git_tag.rb
  fastlane/spec/actions_specs/add_git_tag_spec.rb
Labels: cla: yes

#18778 [action][unlock_keychain] Fix randomly failing unit tests for Ubuntu
  fastlane/spec/actions_specs/unlock_keychain_spec.rb
Labels: cla: yes

#18797 [snapshot][examples] Fixed broken example project for trying out fastlane snapshot feature
  snapshot/example/Example.xcodeproj/project.pbxproj
  snapshot/example/Example.xcodeproj/xcshareddata/xcschemes/Example.xcscheme
  snapshot/example/Example.xcodeproj/xcshareddata/xcschemes/ExampleMacOS.xcscheme
  snapshot/example/Example.xcodeproj/xcshareddata/xcschemes/ExampleTV.xcscheme
  snapshot/example/Example.xcodeproj/xcshareddata/xcschemes/ExampleTVUITests.xcscheme
  snapshot/example/Example.xcodeproj/xcshareddata/xcschemes/ExampleUITests.xcscheme
  snapshot/example/ExampleUITests/ExampleUITests.swift
  snapshot/example/fastlane/Fastfile
  snapshot/example/fastlane/Snapfile
  snapshot/example/fastlane/SnapshotHelper.swift
Labels: cla: yes, topic: swift

#18795 [action][app_store_build_number] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/spec/actions_specs/app_store_build_number_spec.rb
Labels: cla: yes

#18686 [regression][git_branch][push_to_git_remote] fix broken push to git remote on CI
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
  fastlane/lib/fastlane/helper/git_helper.rb
  fastlane/spec/actions_specs/push_to_git_remote_spec.rb
Labels: cla: yes, status: needs-attention, status: regression, tool: action

#18771 [regression][pilot] Fix upload using `api_key_path + apple_id` input options
  pilot/lib/pilot/build_manager.rb
Labels: cla: yes

#18807 Version bump to 2.185.0
  .rspec
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
  snapshot/example/fastlane/Snapfile
Labels: cla: yes

#18808 Revert "Version bump to 2.185.0"
  .rspec
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
  snapshot/example/fastlane/Snapfile
Labels: cla: yes

#18811 [snapshot] fix the broken CI to support newly added example `snapfile`
  snapshot/example/fastlane/Snapfile
  snapshot/spec/detect_values_spec.rb
Labels: cla: yes

#18812 Version bump to 2.185.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18815 [fastlane_core] add pods project schemes environment variable
  fastlane_core/lib/fastlane_core/project.rb
Labels: cla: yes

#18809 [action][appetize] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/appetize.rb
Labels: cla: yes

#18810 [README] fix latest version badge for screengrab
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
Labels: cla: yes

#18843 [snapshot] Allow iPods to run alongside iPhone and iPad
  snapshot/lib/snapshot/test_command_generator.rb
  snapshot/spec/test_command_generator_spec.rb
Labels: cla: yes

#18839 [fastlane_core] Add an environment variable to skip lane summaries
  fastlane_core/lib/fastlane_core/print_table.rb
Labels: cla: yes

#18838 [action][chatwork] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/chatwork.rb
Labels: cla: yes

#18836 [action][carthage] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/carthage.rb
Labels: cla: yes

#18835 [action][bundle_install] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/bundle_install.rb
Labels: cla: yes

#18834 [action][build_and_upload_to_appetize] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/build_and_upload_to_appetize.rb
Labels: cla: yes

#18826 [CircleCI] Bump Xcode to 12.5
  .circleci/config.yml
Labels: cla: yes, type: ci

#18837 [action][changelog_from_git_commits] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/changelog_from_git_commits.rb
  fastlane/spec/actions_specs/changelog_from_git_commits_spec.rb
Labels: cla: yes

#18832 [action][backup_xcarchive] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/backup_xcarchive.rb
Labels: cla: yes

#18831 [action][automatic_code_signing] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/automatic_code_signing.rb
Labels: cla: yes

#18830 [action][artifactory] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/artifactory.rb
Labels: cla: yes

#18829 [action][apteligent] clean-up input options
  fastlane/lib/fastlane/actions/apteligent.rb
Labels: cla: yes

#18825 [spaceship] migrate YAML.safe_load to support psych v4.0
  spaceship/lib/spaceship/spaceauth_runner.rb
Labels: cla: yes

#18833 [action][badge] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/badge.rb
Labels: cla: yes

#18847 [action][clean_build_artifacts] clean up options default_value
  fastlane/lib/fastlane/actions/clean_build_artifacts.rb
Labels: cla: yes

#18848 [action][clean_cocoapods_cache] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/clean_cocoapods_cache.rb
Labels: cla: yes

#18849 [action][cloc] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/cloc.rb
Labels: cla: yes

#18850 [action][cocoapods] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/cocoapods.rb
Labels: cla: yes

#18851 [action][commit_github_file] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/commit_github_file.rb
Labels: cla: yes

#18852 [action][commit_version_bump] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/commit_version_bump.rb
Labels: cla: yes

#18854 [action][copy_artifacts] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/copy_artifacts.rb
Labels: cla: yes

#18856 [action][create_app_on_managed_play_store] fixed the input options formatting
  fastlane/lib/fastlane/actions/create_app_on_managed_play_store.rb
Labels: cla: yes

#18857 [action][create_keychain] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/create_keychain.rb
Labels: cla: yes

#18858 [action][create_pull_request] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/create_pull_request.rb
Labels: cla: yes

#18859 [action][danger] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/danger.rb
Labels: cla: yes

#18589 [Fastlane.Swift] Fix Fastfile.swift template syntax error
  fastlane/lib/fastlane/setup/setup_ios.rb
Labels: cla: yes, status: needs-attention, topic: swift

#18855 [action][crashlytics] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/crashlytics.rb
  fastlane/lib/fastlane/helper/crashlytics_helper.rb
Labels: cla: yes

#18827 [Fastlane.Swift] Treat `Bool` as optional to avoid config issues
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes, topic: swift

#18886 Version bump to 2.185.1
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18868 [action][deploygate] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/deploygate.rb
Labels: cla: yes

#18869 [action][download_app_privacy_details_from_app_store] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/download_app_privacy_details_from_app_store.rb
Labels: cla: yes

#18870 [action][download_dsyms] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes

#18871 [action][dsym_zip] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/dsym_zip.rb
Labels: cla: yes

#18872 [action][ensure_git_branch] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/ensure_git_branch.rb
Labels: cla: yes

#18873 [action][ensure_git_status_clean] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/ensure_git_status_clean.rb
Labels: cla: yes

#18874 [action][ensure_no_debug_code] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/ensure_no_debug_code.rb
Labels: cla: yes

#18875 [action][ensure_xcode_version] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/ensure_xcode_version.rb
Labels: cla: yes

#18876 [action][environment_variable] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/environment_variable.rb
Labels: cla: yes

#18877 [action][erb] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/erb.rb
Labels: cla: yes

#18878 [action][get_build_number_repository] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/get_build_number_repository.rb
Labels: cla: yes

#18879 [action][get_ipa_info_plist_value] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/get_ipa_info_plist_value.rb
Labels: cla: yes

#18880 [action][get_managed_play_store_publishing_rights] Improve the options formatting
  fastlane/lib/fastlane/actions/get_managed_play_store_publishing_rights.rb
Labels: cla: yes

#18881 [action][get_push_certificate] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/get_push_certificate.rb
Labels: cla: yes

#18883 [action][git_commit] remove all instances of `is_string` in options and use `type`
  fastlane/actions/test_sample_code.rb
  fastlane/lib/fastlane/actions/git_commit.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
Labels: cla: yes

#18882 [action][git_add] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/git_add.rb
Labels: cla: yes

#18860 [regression][pilot] Fix upload using `api_key_path + apple_id` CLI options
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/manager.rb
  pilot/spec/manager_spec.rb
Labels: cla: yes

#18904 [action][github_api] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/github_api.rb
Labels: cla: yes

#18905 [action][gradle] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/gradle.rb
Labels: cla: yes

#18907 [action][hg_push] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/hg_push.rb
Labels: cla: yes

#18908 [action][hipchat] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/hipchat.rb
Labels: cla: yes

#18909 [action][hockey] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/hockey.rb
Labels: cla: yes

#18910 [action][ifttt] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/ifttt.rb
Labels: cla: yes

#18911 [action][import_from_git] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/import_from_git.rb
Labels: cla: yes

#18912 [action][increment_build_number] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/increment_build_number.rb
  fastlane/spec/actions_specs/increment_build_number_spec.rb
Labels: cla: yes

#18918 [action][install_on_device] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/install_on_device.rb
Labels: cla: yes

#18919 [action][installr] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/installr.rb
Labels: cla: yes

#18920 [action][ipa] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/ipa.rb
Labels: cla: yes

#18921 [action][jazzy] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/jazzy.rb
Labels: cla: yes

#18927 [fastlane_core] Fix the `ensure_array_type_passes_validation` error message
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  fastlane_core/spec/config_item_spec.rb
Labels: cla: yes

#18928 [Fastlane.Swift] Add new Swift 5.5 reserved keywords
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes, topic: swift

#18930 [snapshot] Fix Swift compiler version check for `SnapshotHelper.swift`
  snapshot/example/fastlane/SnapshotHelper.swift
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, tool: snapshot

#18924 [spaceship] Add missing method to individually assign beta tester to builds
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
Labels: cla: yes

#18923 [spaceship] Adding `builds` attribute to BetaTester model
  spaceship/lib/spaceship/connect_api/models/beta_tester.rb
Labels: cla: yes

#18903 [match] add git authentication methods to match import command
  match/lib/match/importer.rb
  match/spec/importer_spec.rb
Labels: cla: yes

#18864 [match] fix `nuke` exception when nuking with the empty files storage
  match/lib/match/nuke.rb
Labels: cla: yes

#18922 [spaceship] Adding `individual_testers` attribute to Build model
  spaceship/lib/spaceship/connect_api/models/build.rb
Labels: cla: yes

#18766 [spaceship] parse response body as json if not already
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/spec/connect_api/api_client_spec.rb
Labels: cla: yes, status: needs-attention

#18845 [action]Adds action for obtaining remote repo default branch
  fastlane/lib/fastlane/actions/git_remote_branch.rb
  fastlane/lib/fastlane/helper/git_helper.rb
  fastlane/spec/actions_specs/git_remote_branch_spec.rb
Labels: cla: yes

#18941 Version bump to 2.186.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18934 [docs] Improve explanation of `company_name` in `create_app_online`
  fastlane/lib/fastlane/actions/docs/create_app_online.md
  produce/lib/produce/options.rb
Labels: cla: yes

#18894 [regression][create-keychain] allow `timeout: 0` to specify "no time-out"
  fastlane/lib/fastlane/actions/create_keychain.rb
  fastlane/spec/actions_specs/create_keychain_spec.rb
Labels: cla: yes

#18890 [snapshot] enable Snapshot to take Apple Watch 44mm screenshots (#1709)
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  snapshot/lib/assets/SnapfileTemplate
  snapshot/lib/assets/SnapfileTemplate.swift
  snapshot/lib/assets/SnapshotHelper.swift
  snapshot/lib/snapshot/reports_generator.rb
  snapshot/lib/snapshot/test_command_generator.rb
  snapshot/spec/test_command_generator_spec.rb
Labels: cla: yes

#18945 [action][latest_testflight_build_number] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
Labels: cla: yes

#18946 [action][lcov] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/lcov.rb
Labels: cla: yes

#18947 [action][mailgun] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/mailgun.rb
Labels: cla: yes

#18948 [action][make_changelog_from_jenkins] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/make_changelog_from_jenkins.rb
Labels: cla: yes

#18949 [action][modify_services] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/modify_services.rb
Labels: cla: yes

#18950 [action][nexus_upload] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/nexus_upload.rb
Labels: cla: yes

#18951 [action][notarize] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/notarize.rb
Labels: cla: yes

#18952 [action][number_of_commits] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/number_of_commits.rb
Labels: cla: yes

#18953 [action][oclint] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/oclint.rb
Labels: cla: yes

#18954 [action][pod_push] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/pod_push.rb
Labels: cla: yes

#18955 [action][podio_item] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/podio_item.rb
Labels: cla: yes

#18956 [action][prompt] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/prompt.rb
Labels: cla: yes

#18957 [action][push_git_tags] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/push_git_tags.rb
Labels: cla: yes

#18958 [action][puts] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/puts.rb
Labels: cla: yes

#18959 [action][register_devices] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/register_devices.rb
Labels: cla: yes

#18960 [action][reset_git_repo] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/reset_git_repo.rb
Labels: cla: yes

#18961 [action][reset_simulator_contents] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/reset_simulator_contents.rb
Labels: cla: yes

#18962 [action][resign] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/resign.rb
Labels: cla: yes

#18963 [action][rsync] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/rsync.rb
Labels: cla: yes

#18964 [action][run_tests] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/run_tests.rb
Labels: cla: yes

#18968 docs: fix export method in the object three
  fastlane/lib/fastlane/actions/docs/build_app.md
Labels: cla: yes

#18969 [docs] update appstoreconnect docs for app store versions
  spaceship/docs/AppStoreConnect.md
Labels: cla: yes

#18979 [action][scp] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/scp.rb
Labels: cla: yes

#18980 [action][set_build_number_repository] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/set_build_number_repository.rb
Labels: cla: yes

#18981 [action][set_changelog] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/set_changelog.rb
Labels: cla: yes

#18982 [action][set_github_release] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/set_github_release.rb
Labels: cla: yes

#18983 [action][set_info_plist_value] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/set_info_plist_value.rb
Labels: cla: yes

#18984 [action][set_pod_key] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/set_pod_key.rb
Labels: cla: yes

#18985 [action][setup_ci] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/setup_ci.rb
Labels: cla: yes

#18986 [action][setup_circle_ci] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/setup_circle_ci.rb
Labels: cla: yes

#18987 [action][setup_jenkins] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/setup_jenkins.rb
Labels: cla: yes

#18988 [action][setup_travis] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/setup_travis.rb
Labels: cla: yes

#18989 [action][sh] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/sh.rb
Labels: cla: yes

#18990 [action][slack] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/slack.rb
Labels: cla: yes

#18992 [action][sonar] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/sonar.rb
Labels: cla: yes

#18995 [action][spm] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/spm.rb
Labels: cla: yes

#18978 [action][say] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/say.rb
Labels: cla: yes

#18977 [action][s3] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/s3.rb
Labels: cla: yes

#18996 [action][ssh] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/ssh.rb
Labels: cla: yes

#18997 [action][testfairy] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/testfairy.rb
Labels: cla: yes

#18998 [action][tryouts] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/tryouts.rb
Labels: cla: yes

#18999 [action][twitter] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/twitter.rb
Labels: cla: yes

#19003 [action][update_fastlane] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/update_fastlane.rb
Labels: cla: yes

#19002 [action][update_code_signing_settings] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/update_code_signing_settings.rb
Labels: cla: yes

#19001 [action][update_app_group_identifiers] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/update_app_group_identifiers.rb
  fastlane/spec/actions_specs/update_app_group_identifiers_spec.rb
Labels: cla: yes

#18991 [action][slather] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/slather.rb
Labels: cla: yes

#18993 [action][sourcedocs] Fix options formatting
  fastlane/lib/fastlane/actions/sourcedocs.rb
Labels: cla: yes

#19000 [action][unlock_keychain] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/unlock_keychain.rb
Labels: cla: yes

#19005 [action][setup_jenkins] Fix type for `add_keychain_to_search_list` option
  fastlane/lib/fastlane/actions/setup_jenkins.rb
Labels: cla: yes

#18853 [produce][spaceship] update bundle capability API and add new bundle capabilities
  fastlane/lib/fastlane/actions/docs/create_app_online.md
  fastlane/lib/fastlane/actions/modify_services.rb
  produce/lib/produce/commands_generator.rb
  produce/lib/produce/developer_center.rb
  produce/lib/produce/service.rb
  produce/spec/commands_generator_spec.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id_capability.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
  spaceship/spec/connect_api/provisioning/provisioning_stubbing.rb
  spaceship/spec/spec_helper.rb
Labels: cla: yes, status: needs-attention

#18003 [screengrab] general improvements, removed deprecated and un-needed code
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  fastlane/lib/fastlane/documentation/docs_generator.rb
  screengrab/build.gradle
  screengrab/example/build.gradle
  screengrab/example/fastlane/Fastfile
  screengrab/example/fastlane/README.md
  screengrab/example/gradle/wrapper/gradle-wrapper.properties
  screengrab/example/gradlew
  screengrab/example/src/androidTest/java/tools/fastlane/localetester/FalconScreenshots.java
  screengrab/example/src/androidTest/java/tools/fastlane/localetester/JUnit4StyleTests.java
  screengrab/example/src/debug/AndroidManifest.xml
  screengrab/fastlane/Fastfile
  screengrab/gradle/wrapper/gradle-wrapper.properties
  screengrab/lib/screengrab/android_environment.rb
  screengrab/lib/screengrab/dependency_checker.rb
  screengrab/lib/screengrab/options.rb
  screengrab/lib/screengrab/runner.rb
  screengrab/screengrab-lib/build.gradle
  screengrab/screengrab-lib/src/main/AndroidManifest.xml
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/DecorViewScreenshotStrategy.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/FileWritingScreenshotCallback.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/Screengrab.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/cleanstatusbar/CleanStatusBar.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/cleanstatusbar/DemoModeCallbackBroadcastReceiver.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/file/Chmod.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/locale/LocaleListCompat.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/locale/LocaleTestRule.java
  screengrab/screengrab-lib/src/main/java/tools.fastlane.screengrab/locale/LocaleUtil.java
  screengrab/spec/android_environment_spec.rb
  screengrab/spec/runner_spec.rb
  screengrab/version.properties
Labels: cla: yes, status: needs-attention
