Repository fastlane/fastlane, pull requests merged in 2021-02, with the labels that each got.

#18015 [fastlane_core] Support `SUPPORTS_UIKITFORMAC` build setting
  fastlane_core/lib/fastlane_core/project.rb
Labels: cla: yes

#18014 [gym] make error messages more clear with IPAs and PKGs cannot be found
  gym/lib/gym/error_handler.rb
  gym/lib/gym/generators/package_command_generator_xcode7.rb
Labels: cla: yes

#18116 [spaceship] opt-in to skipping 2FA upgrade with SPACESHIP_SKIP_2FA_UPGRADE=1
  spaceship/lib/spaceship/client.rb
  spaceship/lib/spaceship/upgrade_2fa_later_client.rb
  spaceship/spec/tunes/tunes_client_spec.rb
Labels: cla: yes

#18132 Version bump to 2.173.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes

#18053 [xcov] fix compatibility issues for plugins depending on FastlaneCore::Project
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
  gym/spec/build_command_generator_spec.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes

#18103 Fixed typo
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes

#18077 [carthage] Add archive option
  fastlane/lib/fastlane/actions/carthage.rb
  fastlane/spec/actions_specs/carthage_spec.rb
Labels: cla: yes

#18090 [action] carthage - add use_xcframeworks option
  fastlane/lib/fastlane/actions/carthage.rb
  fastlane/spec/actions_specs/carthage_spec.rb
Labels: cla: yes

#18109 [spaceship] Explicitly allow to continue 2FA in non-interactive mode
  spaceship/lib/spaceship/two_step_or_factor_client.rb
  spaceship/spec/two_step_or_factor_client_spec.rb
Labels: cla: yes

#18153 Fix "undefined method 'each' for NilClass" error with PushToGitRemoteAction
  fastlane/lib/fastlane/actions/push_to_git_remote.rb
Labels: cla: yes

#18088 [fastlane_core] improve config item validation conversion and use UI.error instead of puts to report validation exception
  fastlane_core/lib/fastlane_core/configuration/configuration.rb
  fastlane_core/spec/configuration_spec.rb
Labels: cla: yes

#18076 [action] - cocoapods - add allow_root option
  fastlane/lib/fastlane/actions/cocoapods.rb
  fastlane/spec/actions_specs/cocoapods_spec.rb
Labels: cla: yes

#18080 [spaceship] added ASC endpoints for bundle id & bundle id capability
  spaceship/docs/AppStoreConnect.md
  spaceship/lib/spaceship/connect_api/models/bundle_id.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id_capability.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
Labels: cla: yes

#18150 [spaceship] expose error also from source
  spaceship/lib/spaceship/connect_api/api_client.rb
Labels: cla: yes

#18074 [action] appetize add timeout support
  fastlane/lib/fastlane/actions/appetize.rb
  fastlane/lib/fastlane/actions/build_and_upload_to_appetize.rb
  fastlane/spec/actions_specs/appetize_spec.rb
Labels: cla: yes

#18068 [app store connect] update App Store Connect API token generation documentation
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
  fastlane/spec/actions_specs/app_store_connect_api_key_spec.rb
Labels: cla: yes

#18165 Version bump to 2.174.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Actions.swift
  fastlane/swift/Appfile.swift
  fastlane/swift/ArgumentProcessor.swift
  fastlane/swift/ControlCommand.swift
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/MainProcess.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Plugins.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/RubyCommand.swift
  fastlane/swift/RubyCommandable.swift
  fastlane/swift/Runner.swift
  fastlane/swift/RunnerArgument.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/SocketClient.swift
  fastlane/swift/SocketClientDelegateProtocol.swift
  fastlane/swift/SocketResponse.swift
  fastlane/swift/formatting/Brewfile.lock.json
  fastlane/swift/main.swift
Labels: cla: yes

#18042 [action] fix download dsyms with zero prefixed versions
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/spec/actions_specs/download_dsyms_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#18173 [fastlane_core] env_names - new config item option
  fastlane/lib/fastlane/documentation/actions_list.rb
  fastlane/swift/formatting/Brewfile.lock.json
  fastlane_core/lib/fastlane_core/configuration/commander_generator.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  fastlane_core/lib/fastlane_core/configuration/configuration.rb
  fastlane_core/spec/configuration_spec.rb
Labels: cla: yes

#18181 [app store connect] unified ENV vars for App Store Connect API Key
  cert/lib/cert/options.rb
  deliver/lib/deliver/options.rb
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  match/lib/match/options.rb
  pilot/lib/pilot/options.rb
  precheck/lib/precheck/options.rb
  sigh/lib/sigh/options.rb
Labels: cla: yes

#18216 [spaceship] use new analytics endpoint
  spaceship/lib/spaceship/tunes/tunes_client.rb
  spaceship/spec/tunes/tunes_stubbing.rb
Labels: cla: yes, tool: spaceship

#18202 [match] nuke use also token when cloning private repo
  match/lib/match/nuke.rb
Labels: cla: yes

#18201 [download_dsyms] fix build lookup when using option 'latest' for the version
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/spec/actions_specs/download_dsyms_spec.rb
Labels: cla: yes, status: regression, tool: download_dsyms

#18200 [deliver] sort screenshots naturally, in a human-friendly way
  Gemfile.lock
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/upload_screenshots_spec.rb
  fastlane.gemspec
Labels: cla: yes, tool: deliver

#18199 [fastlane_core][match] improve copy when asking user for password in interactive mode
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/lib/fastlane_core/keychain_importer.rb
Labels: cla: yes, tool: fastlane_core, tool: match

#18189 [docs] Remove "sudo" from instructions in code
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  fastlane/lib/fastlane/helper/gem_helper.rb
  fastlane/spec/actions_specs/min_fastlane_version_spec.rb
  fastlane_core/lib/fastlane_core/update_checker/update_checker.rb
  fastlane_core/spec/update_checker_spec.rb
  snapshot/MigrationGuide.md
  spaceship/README.md
  spaceship/lib/spaceship/playground.rb
Labels: cla: yes

#18066 [docs] add match documentation on how to use basic authorization with GitHub tokens
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
Labels: cla: yes, status: needs-attention

#18058 [docs] fix typo in update_code_signing_settings documentation
  fastlane/lib/fastlane/actions/update_code_signing_settings.rb
Labels: cla: yes, status: needs-attention

#18172 [screengrab][actions] - fix android executable checking on windows
  fastlane/lib/fastlane/actions/adb.rb
  fastlane/lib/fastlane/helper/adb_helper.rb
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/spec/command_executor_spec.rb
  screengrab/lib/screengrab/android_environment.rb
  screengrab/spec/android_environment_spec.rb
  screengrab/spec/fixtures/complete_home_complete_path_windows/android_home/.gitkeep
  screengrab/spec/fixtures/complete_home_complete_path_windows/android_home/build-tools/23.0.1/aapt.exe
  screengrab/spec/fixtures/complete_home_complete_path_windows/android_home/build-tools/23.0.2/aapt.exe
  screengrab/spec/fixtures/complete_home_complete_path_windows/android_home/platform-tools/adb.exe
  screengrab/spec/fixtures/complete_home_complete_path_windows/path/.gitkeep
  screengrab/spec/fixtures/complete_home_complete_path_windows/path/aapt.exe
  screengrab/spec/fixtures/complete_home_complete_path_windows/path/adb.exe
  screengrab/spec/fixtures/empty_home_complete_path_windows/android_home/.gitkeep
  screengrab/spec/fixtures/empty_home_complete_path_windows/path/.gitkeep
  screengrab/spec/fixtures/empty_home_complete_path_windows/path/aapt.exe
  screengrab/spec/fixtures/empty_home_complete_path_windows/path/adb.exe
Labels: cla: no

#18030 [swiftlint] fix syntactic issue when validating swiftlint reporters
  fastlane/lib/fastlane/actions/swiftlint.rb
Labels: cla: yes, status: needs-attention, status: regression, tool: action

#18031 [docs] update git_commit description
  fastlane/lib/fastlane/actions/git_commit.rb
Labels: cla: yes, status: needs-attention

#18238 Version bump to 2.175.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18241 [screengrab] fix regression: incorrect executable name on Windows
  screengrab/lib/screengrab/runner.rb
Labels: cla: yes

#18239 [spaceship][spaceauth] fix SPACESHIP_2FA_SMS_DEFAULT_PHONE_NUMBER forcing 'sms' push mode
  spaceship/lib/spaceship/two_step_or_factor_client.rb
  spaceship/spec/fixtures/client_appleauth_auth_2fa_response.json
  spaceship/spec/tunes/tunes_stubbing.rb
  spaceship/spec/two_step_or_factor_client_spec.rb
Labels: cla: yes

#18260 [jazzy] add module_version option
  fastlane/lib/fastlane/actions/jazzy.rb
  fastlane/spec/actions_specs/jazzy_spec.rb
Labels: cla: yes

#18251 [precheck] update error message for `Precheck cannot check In-app purchases with the App Store Connect API Key`
  deliver/lib/deliver/runner.rb
  precheck/lib/precheck/runner.rb
Labels: cla: yes

#18057 [scan] add possibility for copying pre-built .xctestrun file into test_output directory
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
  scan/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention

#18073 [pilot] also wait for build processing when only distributing
  fastlane/lib/fastlane/actions/upload_to_testflight.rb
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes, status: needs-attention

#18158 [pilot] fix default value of `demo_account_required` to nil instead of false
  pilot/lib/pilot/options.rb
  pilot/spec/build_manager_spec.rb
Labels: cla: yes, status: needs-attention

#18275 Version bump to 2.176.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes
