Repository fastlane/fastlane, pull requests merged in 2021-01, with the labels that each got.

#17957 Fix duplicate use_system_scm option in #17832
  fastlane.gemspec
  gym/lib/gym/generators/build_command_generator.rb
  gym/spec/build_command_generator_spec.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: cla: yes

#17832 [gym][snapshot] fix gym `use_system_scm` option and add `use_system_scm` option to snapshot
  fastlane.gemspec
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
  gym/lib/gym/generators/build_command_generator.rb
  gym/spec/build_command_generator_spec.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
  snapshot/lib/snapshot/options.rb
Labels: cla: yes, status: needs-attention, status: wip, tool: gym, tool: snapshot

#17916 [gym][scan][snapshot] disable automatic SPM dependencies resolution or skip it entirely
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
  gym/lib/gym/options.rb
  scan/lib/scan/options.rb
  snapshot/lib/snapshot/options.rb
Labels: cla: yes, tool: gym, tool: scan, tool: snapshot

#17923 [scan] fix scan regression caused by not setting `slack_default_payloads` option
  fastlane/spec/actions_specs/slack_spec.rb
  scan/lib/scan/slack_poster.rb
  scan/spec/slack_poster_spec.rb
Labels: cla: yes, status: regression, tool: scan

#17946 [scan] fix scan not failing when disable_xcpretty and fail_build are true
  scan/lib/scan/runner.rb
  scan/spec/runner_spec.rb
Labels: cla: yes

#17972 [action] add api bearer to create pull request
  fastlane/lib/fastlane/actions/create_pull_request.rb
Labels: cla: yes

#17942 [actions] change username for register_devices to optional
  fastlane/lib/fastlane/actions/register_devices.rb
Labels: cla: yes, tool: action

#17825 [fastlane_core] use unzip for IPA files that are too big (usually larger than 4GB)
  fastlane_core/lib/fastlane_core/ipa_file_analyser.rb
Labels: cla: yes, status: needs-attention, tool: fastlane_core

#17833 [snapshot] fix picking up 'SnapshotHelper'-files from DerivedData
  snapshot/lib/snapshot/update.rb
Labels: cla: yes, status: needs-attention, tool: snapshot

#17984 [spaceship] connect api - update functionality for beta test groups
  spaceship/lib/spaceship/connect_api/models/beta_group.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
Labels: cla: yes, tool: spaceship

#17865 [gym] update identifier used to looked up the bundle ID when parsing provisioning profile
  fastlane/lib/fastlane/actions/build_app.rb
Labels: cla: yes, status: needs-attention

#17835 [action] artifactory - add option to authenticate using an API key
  fastlane.gemspec
  fastlane/lib/fastlane/actions/artifactory.rb
  fastlane/spec/actions_specs/artifactory_spec.rb
Labels: cla: yes, status: needs-attention, tool: action

#17861 [CI] support Ruby 2.7 on Circle CI
  .circleci/config.yml
  fastlane/spec/fast_file_spec.rb
  fastlane_core/spec/itunes_transporter_spec.rb
Labels: cla: yes, status: needs-attention

#17854 [spaceship] allow 2FA request only in interactive mode
  fastlane/lib/fastlane/cli_tools_distributor.rb
  spaceship/lib/spaceship/two_step_or_factor_client.rb
  spaceship/spec/two_step_or_factor_client_spec.rb
Labels: cla: yes, status: needs-attention

#17799 [register_device] fix regression that was causing a crash when creating a device that already exists
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
  spaceship/spec/connect_api/fixtures/provisioning/devices.json
  spaceship/spec/connect_api/models/device_spec.rb
Labels: cla: yes, status: needs-attention, status: regression, tool: action

#17939 [gym] update available export_methods to match xcodebuild command
  gym/lib/gym/options.rb
Labels: cla: yes, tool: gym

#17936 [download_dsyms][docs] change `platform` option optionality (to nonnull) since passing nil would already crash
  fastlane/lib/fastlane/actions/download_dsyms.rb
Labels: cla: yes, tool: download_dsyms, type: documentation

#17935 [swiftlint] avoid throwing error for new types of reporters
  fastlane/lib/fastlane/actions/swiftlint.rb
Labels: cla: yes, tool: action

#17934 update PULL_REQUEST_TEMPLATE's sample issue to a fake issue number
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#17928 [spaceship] adding missing localizations attribute to AppStoreVersion
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: cla: yes

#17922 [fastlane_core] recognize "Buddy" CI service as a CI environment
  fastlane_core/lib/fastlane_core/helper.rb
Labels: cla: yes

#17912 [snapshot] fix snapshot not saving image files on Apple Silicon M1
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, tool: snapshot, topic: m1 processor

#17938 [spaceship][docs] update spaceship app store connect docs
  spaceship/docs/AppStoreConnect.md
Labels: cla: yes, tool: spaceship, type: documentation

#17913 [action] git_commit - skip commit if git status is clean for paths
  fastlane/lib/fastlane/actions/git_commit.rb
  fastlane/spec/actions_specs/git_commit_spec.rb
Labels: cla: yes

#17940 [frameit] add support for new iPhone 12-family devices and their new colors
  frameit/lib/frameit/device_types.rb
  frameit/spec/device_spec.rb
Labels: cla: yes, tool: frameit

#17892 [CI] improve bundler's cache on CircleCI
  .circleci/config.yml
  .gitignore
  Gemfile.lock
Labels: cla: yes, status: needs-attention, type: ci

#18020 Version bump to 2.172.0
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
Labels: cla: yes
