Repository fastlane/fastlane, pull requests merged in 2021-04, with the labels that each got.

#18475 [spaceship] Fix typo in app_screenshot.rb
  spaceship/lib/spaceship/connect_api/models/app_screenshot.rb
Labels: cla: yes

#18464 [action] new sourcedocs action
  fastlane/lib/fastlane/actions/sourcedocs.rb
  fastlane/spec/actions_specs/sourcedocs_spec.rb
Labels: cla: yes

#18460 Fix typo in queue_worker.rb
  fastlane_core/lib/fastlane_core/queue_worker.rb
Labels: cla: yes

#18458 [Fastlane.Swift] Fix array-typed RubyCommand arguments
  fastlane/swift/RubyCommand.swift
Labels: cla: yes, topic: swift

#18503 [snapshot] bump SnapshotHelper.swift's version
  snapshot/lib/assets/SnapshotHelper.swift
Labels: cla: yes, topic: swift

#18462 [action][app_store_connect_api_key] Updated `is_supported` platform
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
Labels: cla: yes

#18496 [Fastlane.Swift] Restore 'swift' directory if it is deleted before running a lane
  fastlane/lib/fastlane/setup/setup.rb
  fastlane/lib/fastlane/swift_runner_upgrader.rb
Labels: cla: yes, topic: swift

#18364 [action] notarize: add support for AppStore Connect API Key
  fastlane/lib/fastlane/actions/notarize.rb
  spaceship/lib/spaceship/connect_api/token.rb
Labels: cla: yes, status: needs-attention

#18510 [Match] Fix change password argument error
  match/lib/match/change_password.rb
Labels: cla: yes

#18452 [Fastlane.Swift] Fix onError not being called
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/SocketClient.swift
  fastlane/swift/SocketResponse.swift
Labels: cla: yes, topic: swift

#17765 [scan] retry after failure
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
  scan/lib/scan/test_command_generator.rb
  scan/spec/runner_spec.rb
Labels: cla: yes, status: needs-attention

#18075 [actions] fix "sh" broken when output is in encoding other than UTF-8
  fastlane_core/lib/fastlane_core/ui/implementations/shell.rb
  fastlane_core/spec/shell_spec.rb
Labels: cla: yes, status: needs-attention

#18513 [scan] fix tests for ruby 2.4
  scan/lib/scan/runner.rb
Labels: cla: yes

#18504 [action][jira] API response improvement
  fastlane/lib/fastlane/actions/jira.rb
Labels: cla: yes

#18514 Version bump to 2.180.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/SocketClient.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18520 [fastlane] fix fastlane_require to work with RubyGems 3.2.0 and up
  fastlane/lib/fastlane/fastlane_require.rb
Labels: cla: yes

#18523 Version bump to 2.180.1
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18525 [fastlane][action] fix git_branch when not in a git repo
  fastlane/lib/fastlane/actions/git_branch.rb
  fastlane/lib/fastlane/helper/git_helper.rb
Labels: cla: yes

#18522 [action][ensure_env_vars] efficiency improvement
  fastlane/lib/fastlane/actions/ensure_env_vars.rb
  fastlane/spec/actions_specs/ensure_env_vars_spec.rb
Labels: cla: yes

#18547 [fastlane_core][pilot][deliver] fix when polling for build processing to poll for X.Y and X.Y.0
  .circleci/config.yml
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
Labels: cla: yes

#18535 [snapshot] added iPhone 12 models to snapshot reports generator
  snapshot/lib/snapshot/reports_generator.rb
Labels: cla: yes

#18529 [gym] fix in the gym/runner. When moving mac 'app' silently fails if file already exist in that location.
  gym/lib/gym/runner.rb
Labels: cla: yes

#18515 [fastlane][lanemanager] Fastlane command suggestion improvement when running using bundler
  fastlane/lib/fastlane/lane_manager.rb
Labels: cla: yes

#18526 [supply] upload native symbols for crash symbolication
  supply/lib/supply/client.rb
  supply/lib/supply/options.rb
  supply/lib/supply/uploader.rb
Labels: cla: yes

#18573 [spaceship] fix case sensitive email issue for Spaceship::Members.find
  spaceship/lib/spaceship/tunes/members.rb
Labels: cla: yes

#18512 [Ruby 3.0] improve specs for Slack action
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/spec/actions_specs/slack_spec.rb
  scan/spec/slack_poster_spec.rb
Labels: cla: yes, tool: action, topic: ruby 3.0

#18538 [spaceauth] add `--copy_to_clipboard` option to `spaceauth`
  fastlane/lib/fastlane/actions/clipboard.rb
  fastlane_core/lib/fastlane_core.rb
  fastlane_core/lib/fastlane_core/clipboard.rb
  fastlane_core/spec/clipboard_spec.rb
  spaceship/README.md
  spaceship/lib/spaceship/commands_generator.rb
  spaceship/lib/spaceship/spaceauth_runner.rb
  spaceship/spec/spaceauth_spec.rb
Labels: cla: yes, tool: spaceship, type: feature

#18555 [scan] Keep initial xcresult
  scan/lib/scan/runner.rb
  scan/lib/scan/test_command_generator.rb
Labels: cla: yes

#18578 Version bump to 2.181.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18568 [action] import_from_git - Add caching support for branch
  fastlane/lib/fastlane/actions/import_from_git.rb
  fastlane/lib/fastlane/fast_file.rb
  fastlane/spec/actions_specs/import_from_git_spec.rb
Labels: cla: yes

#18585 [GH Actions] Move 'lock.yml' to '.github/workflows' to make it work
  .github/workflows/lock.yml
Labels: cla: yes

#18579 [doc] Improve git commit parameters info
  fastlane/lib/fastlane/actions/git_commit.rb
Labels: cla: yes

#18564 [Ruby 3.0] Bump rubocop version
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile.lock
  deliver/lib/deliver/languages.rb
  deliver/lib/deliver/options.rb
  fastlane.gemspec
  fastlane/helper/plugin_scores_helper.rb
  fastlane/lib/fastlane/actions/actions_helper.rb
  fastlane/lib/fastlane/cli_tools_distributor.rb
  fastlane/lib/fastlane/plugins/plugin_info.rb
  fastlane/lib/fastlane/plugins/template/%gem_name%.gemspec.erb
  fastlane/lib/fastlane/plugins/template/spec/spec_helper.rb.erb
  fastlane/lib/fastlane/swift_fastlane_function.rb
  fastlane/lib/fastlane/version.rb
  fastlane/spec/plugins_specs/plugin_generator_spec.rb
  fastlane/spec/spec_helper_spec.rb
  fastlane_core/lib/fastlane_core/languages.rb
  fastlane_core/lib/fastlane_core/swag.rb
  pilot/lib/pilot/options.rb
  rubocop/fork_usage.rb
  rubocop/is_string_usage.rb
  rubocop/missing_keys_on_shared_area.rb
  spaceship/lib/spaceship/base.rb
  spaceship/lib/spaceship/ui.rb
  spec_helper.rb
Labels: cla: yes, topic: ruby 3.0

#18620 [spaceship] Add `fetch_all_certificates` method
  spaceship/lib/spaceship/connect_api/models/profile.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
Labels: cla: yes, status: waiting-for-reply, tool: spaceship

#18607 [action][upload_symbols_to_crashlytics] Add a check for app_id before searching for gsp and api_token
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
Labels: cla: yes

#18601 [pilot] clean-up - removed empty `tester_util` file
  pilot/lib/pilot/tester_exporter.rb
  pilot/lib/pilot/tester_manager.rb
  pilot/lib/pilot/tester_util.rb
Labels: cla: yes, tool: pilot

#18600 [fastlane_core] `xcode_at_least` method improvements
  fastlane_core/lib/fastlane_core/helper.rb
Labels: cla: yes

#18622 [Ruby 3.0] Bump commander and highline
  Gemfile.lock
  fastlane.gemspec
  spec_helper.rb
Labels: cla: yes

#18537 [Ruby 3.0] replace slack-notifier gem with internal library
  Gemfile.lock
  fastlane.gemspec
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/lib/fastlane/notification/slack.rb
  fastlane/spec/notification/slack_spec.rb
Labels: cla: no, status: needs-attention, tool: action, topic: ruby 3.0

#18598 [action][git_submodule_update] documentation improvements
  fastlane/lib/fastlane/actions/git_submodule_update.rb
Labels: cla: yes
