Repository fastlane/fastlane, pull requests merged in 2021-05, with the labels that each got.

#18599 [Ruby 3.0] Switch back to the original commander gem and update dependencies
  .circleci/config.yml
  Gemfile.lock
  cert/lib/cert/commands_generator.rb
  deliver/lib/deliver/commands_generator.rb
  fastlane.gemspec
  fastlane/lib/fastlane/commands_generator.rb
  fastlane/spec/helper/adb_helper_spec.rb
  fastlane_core/lib/fastlane_core/ui/help.erb
  fastlane_core/lib/fastlane_core/ui/help_formatter.rb
  fastlane_core/spec/help_formatter_spec.rb
  frameit/lib/frameit/commands_generator.rb
  gym/lib/gym/commands_generator.rb
  match/lib/match/commands_generator.rb
  pem/lib/pem/commands_generator.rb
  pilot/lib/pilot/commands_generator.rb
  precheck/lib/precheck/commands_generator.rb
  produce/lib/produce/commands_generator.rb
  scan/lib/scan/commands_generator.rb
  screengrab/lib/screengrab/commands_generator.rb
  sigh/lib/sigh/commands_generator.rb
  snapshot/lib/snapshot/commands_generator.rb
  spaceship/lib/spaceship/commands_generator.rb
  spec_helper.rb
  supply/lib/supply/commands_generator.rb
Labels: cla: yes

#18635 [Fastlane.Swift] Sanitize Swift document comments
  fastlane/lib/fastlane/swift_fastlane_function.rb
Labels: cla: yes, topic: swift

#18544 [Fastlane.Swift] Swift's `ConfigItem` for conflicting values into Ruby's end.
  fastlane/lib/fastlane/swift_fastlane_function.rb
  fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/project.pbxproj
  fastlane/swift/OptionalConfigValue.swift
Labels: cla: yes, status: needs-attention, topic: swift

#18560 [snapshot] Enable greater customization of the iOS status bar in snapshot screenshots
  fastlane/lib/fastlane/actions/docs/capture_ios_screenshots.md
  fastlane/lib/fastlane/actions/docs/frame_screenshots.md
  snapshot/lib/assets/SnapfileTemplate
  snapshot/lib/snapshot/options.rb
  snapshot/lib/snapshot/simulator_launchers/launcher_configuration.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
Labels: cla: yes, status: needs-attention, tool: snapshot

#18647 Version bump to 2.182.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/Fastfile
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
  fastlane/swift/upgrade_manifest.json
Labels: cla: yes

#18682 [Regression][fastlane_core][deliver] Fix deliver is unable to automatically select the latest build and submit it for review
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
Labels: cla: yes

#18684 [fastlane_core] fix parsing of passwords with trailing spaces due to wrong whitespace handling in Fastlane::Shell::password method
  fastlane_core/lib/fastlane_core/ui/implementations/shell.rb
Labels: cla: yes

#18667 [docs] spaceship readme - update paths + url to apple auth services
  spaceship/README.md
Labels: cla: yes

#18662 [action][git_pull] clean-up the verify-blocks for Boolean validation
  fastlane/lib/fastlane/actions/git_pull.rb
Labels: cla: yes

#18661 [scan] fix `regular expression` to find failed tests suite-name
  scan/lib/scan/runner.rb
  scan/spec/runner_spec.rb
Labels: cla: yes

#18646 [Ruby 3.0] Replace obsolete URI.escape with alternatives
  .circleci/config.yml
  deliver/lib/assets/summary.html.erb
  fastlane/lib/fastlane/actions/get_managed_play_store_publishing_rights.rb
  fastlane/lib/fastlane/actions/hipchat.rb
  fastlane/lib/fastlane/actions/xcodebuild.rb
  fastlane/spec/actions_specs/get_managed_play_store_publishing_rights_spec.rb
  frameit/lib/frameit/frame_downloader.rb
  gym/lib/gym/generators/package_command_generator_xcode7.rb
Labels: cla: yes, topic: ruby 3.0

#18656 [Ruby 3.0] Migrate google-api-client gem and drop Ruby 2.4
  .circleci/config.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/app_screenshot_validator_spec.rb
  fastlane.gemspec
  fastlane/lib/fastlane/actions/notification.rb
  fastlane/lib/fastlane/plugins/template/%gem_name%.gemspec.erb
  fastlane_core/lib/fastlane_core/device_manager.rb
  frameit/lib/frameit/config_parser.rb
  gym/lib/gym/code_signing_mapping.rb
  pilot/lib/pilot/build_manager.rb
  spaceship/lib/spaceship/connect_api/model.rb
  supply/spec/client_spec.rb
Labels: cla: yes, topic: ruby 3.0

#18651 [docs] update AppStoreConnect.md about missing required parameter
  spaceship/docs/AppStoreConnect.md
Labels: cla: yes

#18689 [Ruby 3.0] Migrate google-api-client gem and drop Ruby 2.4 (#18656)
  .circleci/config.yml
  .rubocop.yml
  Gemfile
  Gemfile.lock
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/app_screenshot_validator_spec.rb
  fastlane.gemspec
  fastlane/lib/fastlane/actions/notification.rb
  fastlane/lib/fastlane/plugins/template/%gem_name%.gemspec.erb
  fastlane_core/lib/fastlane_core/device_manager.rb
  frameit/lib/frameit/config_parser.rb
  gym/lib/gym/code_signing_mapping.rb
  pilot/lib/pilot/build_manager.rb
  spaceship/lib/spaceship/connect_api/model.rb
  supply/spec/client_spec.rb
Labels: cla: yes

#18657 [action][danger] Add fail-if-no-pr flag to Danger action
  fastlane/lib/fastlane/actions/danger.rb
Labels: cla: yes, tool: action

#18690 Version bump to 2.183.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18672 [screengrab] add gradle task to upload to Maven Central
  .gitignore
  screengrab/build.gradle
  screengrab/screengrab-lib/build.gradle
Labels: cla: yes

#18699 [supplly] fix update_listing_for_language to work in Ruby 3.0
  supply/lib/supply/client.rb
Labels: cla: yes

#18702 Version bump to 2.183.1
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18703 [supply][Ruby 3] fix Ruby 3 keyword args issues
  supply/lib/supply/client.rb
  supply/lib/supply/uploader.rb
Labels: cla: yes

#18704 [fastlane] add --force to fastlane release to ensure homebrew PR gets created
  fastlane/Fastfile
Labels: cla: yes

#18705 Version bump to 2.183.2
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18708 [spaceship] update AppStoreConnect SandboxTester doc
  spaceship/docs/AppStoreConnect.md
Labels: cla: yes

#18696 [fastlane_core][configuration] suggestion message improvement when fetching value with non-symbol key
  fastlane_core/lib/fastlane_core/configuration/configuration.rb
  fastlane_core/spec/configuration_spec.rb
Labels: cla: yes

#18713 [resign] fix entitlements merging when changing team while resigning
  sigh/lib/assets/resign.sh
Labels: cla: no

#18617 [deliver] remove all instances of `is_string` in options and use `type`
  .rubocop.yml
  deliver/lib/deliver/commands_generator.rb
  deliver/lib/deliver/detect_values.rb
  deliver/lib/deliver/download_screenshots.rb
  deliver/lib/deliver/html_generator.rb
  deliver/lib/deliver/module.rb
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/setup.rb
  deliver/lib/deliver/submit_for_review.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/lib/deliver/upload_price_tier.rb
  deliver/lib/deliver/upload_screenshots.rb
  deliver/spec/commands_generator_spec.rb
  deliver/spec/runner_spec.rb
  deliver/spec/submit_for_review_spec.rb
  deliver/spec/upload_metadata_spec.rb
  fastlane_core/lib/fastlane_core/configuration/commander_generator.rb
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
Labels: cla: yes, status: needs-attention, tool: deliver

#18664 [Fastlane.Swift] Fix `OptionalConfigValue` for `Any`-based types.
  fastlane/lib/fastlane/swift_fastlane_function.rb
  fastlane/swift/OptionalConfigValue.swift
Labels: cla: yes, topic: swift

#18715 [resign] fix incorrectly typoed variable name
  sigh/lib/assets/resign.sh
Labels: cla: yes

#18695 [action][swiftlint] Added support for `--fix mode` option
  fastlane/lib/fastlane/actions/swiftlint.rb
  fastlane/spec/actions_specs/swiftlint_spec.rb
Labels: cla: yes

#18660 [pilot] Introducing `timeout feature` for Apple build-processing waiting-time
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
Labels: cla: yes

#18732 [deliver][spaceship] migrate AgeRatingDeclaration from AppStoreVersion to AppInfo for App Store Connect API 1.3 update
  deliver/lib/deliver/upload_metadata.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  spaceship/lib/spaceship/connect_api/models/age_rating_declaration.rb
  spaceship/lib/spaceship/connect_api/models/app_info.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/spec/connect_api/models/age_rating_declaration_spec.rb
Labels: cla: yes

#18186 [app store connect] cleanup token creation code across entire project
  cert/lib/cert/runner.rb
  deliver/lib/deliver/runner.rb
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
  fastlane/lib/fastlane/actions/check_app_store_metadata.rb
  fastlane/lib/fastlane/actions/get_certificates.rb
  fastlane/lib/fastlane/actions/get_provisioning_profile.rb
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/lib/fastlane/actions/sync_code_signing.rb
  fastlane/lib/fastlane/actions/upload_to_app_store.rb
  fastlane/lib/fastlane/actions/upload_to_testflight.rb
  fastlane/spec/actions_specs/app_store_connect_api_key_spec.rb
  match/lib/match/importer.rb
  match/lib/match/migrate.rb
  match/lib/match/nuke.rb
  match/lib/match/runner.rb
  match/lib/match/spaceship_ensure.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/lib/match/storage/s3_storage.rb
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/manager.rb
  pilot/spec/build_manager_spec.rb
  pilot/spec/manager_spec.rb
  precheck/lib/precheck/runner.rb
  sigh/lib/sigh/download_all.rb
  sigh/lib/sigh/runner.rb
  spaceship/lib/spaceship/connect_api/token.rb
Labels: cla: yes, status: needs-attention

#18733 Version bump to 2.184.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes

#18764 [fastlane team] Improved the README file avatars resolution
  README.md
  Rakefile
Labels: cla: yes

#18758 [Regression][Ruby 3.0][app_store_connect_api_key] Fix spaceship connect-api token creation
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
Labels: cla: yes

#18741 [gym] improved provisioning export with odd names in specs
  gym/spec/code_signing_mapping_spec.rb
Labels: cla: yes

#18744 [carthage] Fix typo in carthage.rb
  fastlane/lib/fastlane/actions/carthage.rb
Labels: cla: yes

#18737 [match] update s3_secret_access_key to sensitive option
  match/lib/match/options.rb
Labels: cla: yes

#18736 [fastlane_core] ConfigItem - `auto_convert_value` improvements for Boolean type
  fastlane_core/lib/fastlane_core/configuration/config_item.rb
  fastlane_core/spec/config_item_spec.rb
Labels: cla: yes

#18725 [spaceship] Adding `beta_build_localizations` attribute to Build model
  spaceship/lib/spaceship/connect_api/models/build.rb
Labels: cla: yes, tool: spaceship

#18724 [spaceship] Adding missing `beta_testers` attribute to BetaGroup
  spaceship/lib/spaceship/connect_api/models/beta_group.rb
Labels: cla: yes, tool: spaceship

#18735 [action][swiftlint] remove all instances of `is_string` in options and use `type`
  fastlane/lib/fastlane/actions/swiftlint.rb
Labels: cla: yes

#18710 [fastlane_core][pilot] fix pilot is unable to select latest build when distribute_only is true
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
  pilot/lib/pilot/build_manager.rb
Labels: cla: yes

#18739 [fastlane][plugin_manager] Printing comma separated plugin actions
  fastlane/lib/fastlane/plugins/plugin_manager.rb
Labels: cla: yes

#18770 Version bump to 2.184.1
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: cla: yes
