Repository fastlane/fastlane, pull requests merged in 2022-11, with the labels that each got.

#20672 [action] add `xcodes` action, deprecating `xcversion` and `xcode-install`
  fastlane/lib/fastlane/actions/docs/build_app.md
  fastlane/lib/fastlane/actions/docs/run_tests.md
  fastlane/lib/fastlane/actions/xcode_install.rb
  fastlane/lib/fastlane/actions/xcode_select.rb
  fastlane/lib/fastlane/actions/xcodes.rb
  fastlane/lib/fastlane/actions/xcversion.rb
  fastlane/lib/fastlane/helper/xcodes_helper.rb
  fastlane/lib/fastlane/helper/xcversion_helper.rb
  fastlane/spec/actions_specs/xcodes_spec.rb
  fastlane/spec/helper/xcodes_helper_spec.rb
  fastlane_core/lib/fastlane_core/cert_checker.rb
  fastlane_core/spec/cert_checker_spec.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version_localization.rb
Labels: tool: action, status: needs-attention

#20726 [spaceship] implement resolution center API in Spaceship::ConnectAPI
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/actor.rb
  spaceship/lib/spaceship/connect_api/models/resolution_center_message.rb
  spaceship/lib/spaceship/connect_api/models/resolution_center_thread.rb
  spaceship/lib/spaceship/connect_api/models/review_rejection.rb
  spaceship/lib/spaceship/connect_api/models/review_submission.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
Labels: status: needs-attention

#20662 [pilot][deliver] fix private method clone' called for #<Hash> on uploading app
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
Labels: status: needs-attention

#20655 [action][update_code_signing_settings] add `sdk` key to update_code_signing_settings
  fastlane/lib/fastlane/actions/update_code_signing_settings.rb
Labels: status: needs-attention

#20795 [docs] update path to iTMSTransporter for Fastlane.swift
  fastlane/swift/DeliverfileProtocol.swift
Labels: status: needs-attention

#20776 [match] fix match nuke not deleting decrypted files
  fastlane/spec/actions_specs/import_from_git_spec.rb
  match/lib/match/change_password.rb
  match/lib/match/commands_generator.rb
  match/lib/match/importer.rb
  match/lib/match/migrate.rb
  match/lib/match/nuke.rb
  match/spec/change_password_spec.rb
  match/spec/importer_spec.rb
  match/spec/migrate_spec.rb
  match/spec/nuke_spec.rb
  match/spec/utils_spec.rb
Labels: tool: match, status: needs-attention

#20689 [snapshot] fix compiler error on `SnapshotHelper.swift`
  snapshot/lib/assets/SnapshotHelper.swift
Labels: tool: snapshot, status: needs-attention

#20676 [match][sigh] add support for Apple Silicon Macs in iOS/iPadOS provisioning profiles
  match/lib/match/generator.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
  sigh/lib/sigh/options.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/runner_spec.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
Labels: tool: sigh, tool: match, status: needs-attention

#20782 [match] developer id installer profile for the accessible environments
  match/lib/match/importer.rb
  match/lib/match/module.rb
Labels: status: needs-attention

#20627 [action][pod lib lint] fix grammar in success message
  fastlane/lib/fastlane/actions/pod_lib_lint.rb
Labels: status: needs-attention

#20597 [screengrab] fix formatting of the `screengrab` / `capture_android_screenshots` docs
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
Labels: status: needs-attention

#20754 [deliver] fix bug when canceling a rejected submission
  deliver/lib/deliver/runner.rb
Labels: status: needs-attention

#20742 [scan] add option to specify result bundle path
  scan/lib/scan/options.rb
  scan/lib/scan/test_command_generator.rb
Labels: status: needs-attention

#20867 [action] add error handling for `xcodes` when running the `installed` cmd
  fastlane/lib/fastlane/actions/xcodes.rb
  fastlane/spec/actions_specs/xcodes_spec.rb
Labels: tool: action
