Repository fastlane/fastlane, pull requests merged in 2022-05, with the labels that each got.

#20216 [action][danger] add GitHub Enterprise flags
  fastlane/lib/fastlane/actions/danger.rb
  fastlane/spec/actions_specs/danger_spec.rb
Labels: status: needs-attention

#20211 [setup_ci] Added timeout param into setup_ci
  fastlane/lib/fastlane/actions/setup_ci.rb
  fastlane/spec/actions_specs/setup_ci_spec.rb
Labels: status: needs-attention

#20223 [match] add option to skip google account confirmation
  match/lib/match/importer.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/lib/match/storage/google_cloud_storage.rb
  match/spec/importer_spec.rb
  match/spec/runner_spec.rb
Labels: status: needs-attention

#20206 [spaceship] fix creation App Store Connect API authorization token
  spaceship/lib/spaceship/connect_api/token.rb
  spaceship/spec/connect_api/token_spec.rb
Labels: tool: spaceship, status: needs-attention

#20197 Remove named parameter from `create_capability` example.
  spaceship/docs/AppStoreConnect.md
Labels: status: needs-attention

#20237 [scan] fix scan failing to return results when there are test failures
  fastlane/lib/fastlane/actions/run_tests.rb
  scan/lib/scan/options.rb
  scan/lib/scan/runner.rb
  scan/spec/runner_spec.rb
Labels: status: needs-attention

#20112 [spaceship] add ability to invite a single TestFlight user
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
Labels: status: needs-attention

#20145 [match] Add support for Developer ID certificates from G2 Sub-CA
  cert/lib/cert/runner.rb
  match/lib/match/importer.rb
  sigh/lib/sigh/runner.rb
  spaceship/lib/spaceship/connect_api/models/certificate.rb
Labels: status: needs-attention

#20317 [pem] fixed "\x82" from ASCII-8BIT to UTF-8 when saving .p12 files to disk
  pem/lib/pem/manager.rb
Labels: tool: pem

#20176 [Fastlane.Swift] Use ArgumentProcessor port to start fastlane socket_server
  fastlane/swift/MainProcess.swift
Labels: status: needs-attention
