Repository fastlane/fastlane, pull requests merged in 2022-03, with the labels that each got.

#19963 [fastlane_core] add env var to skip printing plugins table
  fastlane/lib/fastlane/commands_generator.rb
  fastlane_core/README.md
Labels: tool: fastlane_core, status: needs-attention

#19962 Fix spelling for consistency
  match/lib/match/encryption/openssl.rb
Labels: status: needs-attention

#20088 [spaceship][tunes] fix 'block in select_team': [!] undefined method `[]' for nil:NilClass
  deliver/lib/deliver/runner.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: type: bug, tool: spaceship
