Repository fastlane/fastlane, pull requests merged in 2022-02, with the labels that each got.

#19555 [Fastlane.swift] fixes issues with running on Apple Silicon #18502
  Testing.md
  fastlane/lib/fastlane/swift_fastlane_api_generator.rb
  fastlane/lib/fastlane/swift_lane_manager.rb
  fastlane/lib/fastlane/swift_runner_upgrader.rb
  fastlane/swift/Atomic.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/project.pbxproj
  fastlane/swift/FastlaneSwiftRunner/FastlaneSwiftRunner.xcodeproj/xcshareddata/xcschemes/FastlaneRunner.xcscheme
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Runner.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/SocketClient.swift
  fastlane/swift/SocketClientDelegateProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
  fastlane/swift/upgrade_manifest.json
Labels: type: bug, status: needs-attention, cla: yes, topic: swift, topic: m1 processor

#19617 [match] Add an option to safe remove certs for nuke
  match/lib/match/nuke.rb
  match/lib/match/options.rb
Labels: status: needs-attention, cla: yes

#19615 [snapshop] update example devices included with xcode 13.1
  .circleci/config.yml
  snapshot/example/fastlane/Snapfile
  snapshot/spec/test_command_generator_spec.rb
  snapshot/spec/test_command_generator_xcode_8_spec.rb
Labels: status: needs-attention, cla: yes

#19801 [pilot][upload_to_testflight] Send pkg to mac testflight when both ipa and pkg are available
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: status: needs-attention

#19735 [pilot] support internal groups for testflight
  pilot/lib/pilot/build_manager.rb
  pilot/lib/pilot/options.rb
  pilot/spec/build_manager_spec.rb
Labels: status: needs-attention

#19531 [snapshot][fastlane_core] Hotfix/simulator not starting Xcode 13
  fastlane_core/lib/fastlane_core/device_manager.rb
  snapshot/lib/snapshot/simulator_launchers/simulator_launcher_base.rb
  snapshot/spec/simulator_launcher_base_spec.rb
Labels: status: needs-attention, cla: yes
