Repository fastlane/fastlane, pull requests merged in 2022-08, with the labels that each got.

#20531 [deliver] fix typo caused by string concatenation
  deliver/lib/deliver/options.rb
Labels: tool: deliver, type: documentation

#20436 Ignoring case sensitive when requesting SMS
  spaceship/lib/spaceship/two_step_or_factor_client.rb
Labels: status: needs-attention

#20585 [docs][run_tests] fix typo and improve phrasing of documentation
  fastlane/lib/fastlane/actions/run_tests.rb
Labels: type: documentation
