Repository fastlane/fastlane, pull requests merged in 2023-09, with the labels that each got.

#21495 [docs] add minor branding guidelines to `CONTRIBUTING.md`
  CONTRIBUTING.md
  RespondingToIssuesAndPullRequests.md
  fastlane/Fastfile
  fastlane/helper/tool_name_formatting_helper.rb
  fastlane/lib/fastlane/actions/docs/build_app.md
  fastlane/lib/fastlane/actions/docs/capture_android_screenshots.md
  fastlane/lib/fastlane/actions/docs/check_app_store_metadata.md
  fastlane/lib/fastlane/actions/docs/get_push_certificate.md
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane/lib/fastlane/new_action.rb
  fastlane/lib/fastlane/plugins/plugin_info_collector.rb
  fastlane/spec/fixtures/fastfiles/tool_name_formatting.txt
  fastlane/spec/helper/tool_name_formatting_helper_spec.rb
  spaceship/docs/Architecture.md
  spaceship/docs/DeveloperPortal.md
  spaceship/docs/README.md
Labels: type: documentation

#20515 validate the status of app version to be ready_for_review before submitting the app
  deliver/lib/deliver/submit_for_review.rb
  deliver/spec/submit_for_review_spec.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
Labels: status: needs-attention

#21498 [supply] introduce a new synchronization logic for screenshots
  supply/lib/supply.rb
  supply/lib/supply/client.rb
  supply/lib/supply/image_listing.rb
  supply/lib/supply/options.rb
  supply/lib/supply/setup.rb
  supply/lib/supply/uploader.rb
  supply/spec/client_spec.rb
  supply/spec/uploader_spec.rb
Labels: tool: supply

#21472 [deliver] fetch live app info if no edit info is present, fixing scenario of having both macOS and iOS apps present
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/upload_metadata_spec.rb
Labels: tool: deliver
