Repository fastlane/fastlane, pull requests merged in 2023-08, with the labels that each got.

#21442 [fastlane_core] fix WWDR certificates import flow
  fastlane_core/lib/fastlane_core/cert_checker.rb
  fastlane_core/spec/cert_checker_spec.rb
Labels: tool: fastlane_core

#21312 [spaceship] add missing `AppStoreState` cases
  spaceship/lib/spaceship/connect_api/models/app_info.rb
Labels: tool: spaceship

#21465 [ci] fix CI by replacing deprecated Xcode versions, and add Xcode 14, Xcode 15, and Ruby 3.1 to test envs
  .circleci/config.yml
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile.lock
  fastlane.gemspec
  fastlane/lib/fastlane/plugins/template/%gem_name%.gemspec.erb
  fastlane/lib/fastlane/plugins/template/lib/fastlane/plugin/%plugin_name%/helper/%plugin_name%_helper.rb.erb
  fastlane/lib/fastlane/version.rb
  fastlane_core/spec/cert_checker_spec.rb
  spaceship/spec/connect_api/token_spec.rb
Labels: type: ci

#21466 [tests] stop generating rspec temp file in current directory
  pilot/spec/test_exporter_spec.rb
  pilot/spec/tester_importer_spec.rb
Labels: topic: tests

#21427 [docs] update pull request template to ask contributors to write unit tests
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: documentation

#20975 [match] prevent directory download from s3
  match/lib/match/storage/s3_storage.rb
  match/spec/storage/s3_storage_spec.rb
Labels: tool: match
