Repository fastlane/fastlane, pull requests merged in 2023-07, with the labels that each got.

#21302 [docs][match] fix typos, improve wording, incorporate improvements to match documentation examples
  fastlane/lib/fastlane/actions/docs/sync_code_signing.md
  gym/lib/gym/generators/build_command_generator.rb
  scan/lib/scan/test_command_generator.rb
  snapshot/lib/snapshot/test_command_generator.rb
Labels: type: documentation

#21315 [supply][action] add `download_apk_from_google_play` action (and corresponding `supply` methods)
  fastlane/lib/fastlane/actions/download_universal_apk_from_google_play.rb
  fastlane/spec/actions_specs/download_universal_apk_from_google_play_spec.rb
  fastlane/spec/unused_options_spec.rb
  supply/lib/supply.rb
  supply/lib/supply/client.rb
  supply/lib/supply/generated_universal_apk.rb
  supply/spec/client_spec.rb
Labels: tool: supply, tool: action

#21426 [docs] fix tool name formatting (for `supply`) to be lowercase to pass fastlane docs unit tests
  fastlane/lib/fastlane/actions/download_universal_apk_from_google_play.rb
Labels: type: documentation, topic: tests
