Repository fastlane/fastlane, pull requests merged in 2023-10, with the labels that each got.

#21400 Support Strict Concurrency for SnapshotHelper
  snapshot/lib/assets/SnapshotHelper.swift
Labels: tool: snapshot

#21493 [trainer] check specifically for file url in failure_message, fixing crash in Xcode 15 when running in Apple Silicon
  trainer/lib/trainer/xcresult.rb
  trainer/spec/test_parser_spec.rb
Labels: tool: trainer

#21474 [supply] parallel uploads for meta per language
  fastlane/lib/fastlane/actions/docs/upload_to_play_store.md
  fastlane_core/lib/fastlane_core/queue_worker.rb
  supply/lib/supply/uploader.rb
  supply/spec/fixtures/metadata/android/en-US/.gitkeep
  supply/spec/fixtures/metadata/android/en-US/changelogs/1.txt
  supply/spec/fixtures/metadata/android/en-US/changelogs/2.txt
  supply/spec/fixtures/metadata/android/en-US/changelogs/default.txt
  supply/spec/fixtures/metadata/android/en-US/full_description.txt
  supply/spec/fixtures/metadata/android/en-US/short_description.txt
  supply/spec/fixtures/metadata/android/en-US/title.txt
  supply/spec/fixtures/metadata/android/en-US/video.txt
  supply/spec/fixtures/metadata/android/fr-FR/.gitkeep
  supply/spec/fixtures/metadata/android/fr-FR/changelogs/1.txt
  supply/spec/fixtures/metadata/android/fr-FR/changelogs/2.txt
  supply/spec/fixtures/metadata/android/fr-FR/changelogs/default.txt
  supply/spec/fixtures/metadata/android/fr-FR/full_description.txt
  supply/spec/fixtures/metadata/android/fr-FR/short_description.txt
  supply/spec/fixtures/metadata/android/fr-FR/title.txt
  supply/spec/fixtures/metadata/android/fr-FR/video.txt
  supply/spec/fixtures/metadata/android/ja-JP/.gitkeep
  supply/spec/fixtures/metadata/android/ja-JP/changelogs/1.txt
  supply/spec/fixtures/metadata/android/ja-JP/changelogs/2.txt
  supply/spec/fixtures/metadata/android/ja-JP/changelogs/default.txt
  supply/spec/fixtures/metadata/android/ja-JP/full_description.txt
  supply/spec/fixtures/metadata/android/ja-JP/short_description.txt
  supply/spec/fixtures/metadata/android/ja-JP/title.txt
  supply/spec/fixtures/metadata/android/ja-JP/video.txt
  supply/spec/uploader_spec.rb
Labels: tool: supply

#21051 [precheck] print the HTTP status as the failure reason when it's not 200
  precheck/lib/precheck/rules/unreachable_urls_rule.rb
  precheck/spec/rules/unreachable_urls_rule_spec.rb
Labels: tool: precheck

#21588 Update `fakefs` to fix test failures on Ruby 3.2.2
  Gemfile.lock
  fastlane.gemspec
Labels: topic: tests

#21587 Add support for keyword arguments for lanes in Ruby 3
  fastlane/lib/fastlane/lane.rb
  fastlane/lib/fastlane/runner.rb
  fastlane/spec/fixtures/fastfiles/FastfileLaneKeywordParams
  fastlane/spec/runner_spec.rb
Labels: tool: fastlane, topic: ruby 3.0

#21589 [docs] fix typo `practies` → `practices` based on feedback from fastlane/docs
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
Labels: type: documentation

#21591 [Rspecs] Make error message expectation more flexible in `runner_spec.rb` to support Ruby 2.6 error message format
  fastlane/spec/runner_spec.rb
Labels: topic: tests
