Repository fastlane/fastlane, pull requests merged in 2023-12, with the labels that each got.

#21032 [action][upload_symbols_to_crashlytics] allow '~' in binary path
  fastlane/lib/fastlane/actions/upload_symbols_to_crashlytics.rb
Labels: tool: action

#20814 [action][spm] deprecate `build_path` option in favor of `scratch_path`, as recommended by Swift CLI
  fastlane/lib/fastlane/actions/spm.rb
Labels: status: needs-attention

#21683 [fastlane_core] add support to Ruby 3.3
  fastlane/spec/plugins_specs/plugin_generator_spec.rb
  fastlane_core/lib/fastlane_core/configuration/configuration_file.rb
  frameit/spec/strings_parser_spec.rb
Labels: tool: fastlane_core

#21694 [match] add caching layer to significantly improve performance by up to 100x
  match/lib/match.rb
  match/lib/match/generator.rb
  match/lib/match/module.rb
  match/lib/match/portal_cache.rb
  match/lib/match/portal_fetcher.rb
  match/lib/match/profile_includes.rb
  match/lib/match/runner.rb
  match/lib/match/spaceship_ensure.rb
  match/spec/portal_cache_spec.rb
  match/spec/portal_fetcher_spec.rb
  match/spec/profile_includes_spec.rb
  match/spec/runner_spec.rb
  sigh/lib/sigh/module.rb
  sigh/lib/sigh/options.rb
  sigh/lib/sigh/runner.rb
  sigh/spec/runner_spec.rb
  sigh/spec/spec_helper.rb
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/bundle_id.rb
  spaceship/lib/spaceship/connect_api/models/certificate.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
  spaceship/lib/spaceship/connect_api/models/profile.rb
Labels: tool: match

#21726 [plugin_generator] move development dependencies from `*.gemspec.erb` to `Gemfile.erb`
  fastlane.gemspec
  fastlane/lib/fastlane/plugins/template/%gem_name%.gemspec.erb
  fastlane/lib/fastlane/plugins/template/Gemfile
  fastlane/lib/fastlane/plugins/template/Gemfile.erb
  fastlane/spec/plugins_specs/plugin_generator_spec.rb
Labels: tool: action

#21621 [Fastlane.swift] fix Unexpected duplicate tasks error message in Fastlane Swift
  fastlane/lib/fastlane/swift_runner_upgrader.rb
Labels: topic: swift

#21735 [ci] fix CI by updating validate_documentation workflow docker image
  .circleci/config.yml
Labels: type: ci

#21738 [ci] review and lint GitHub Actions workflow files
  .github/workflows/issues.yml
  .github/workflows/lock.yml
  .github/workflows/release.yml
  .github/workflows/tags.yml
Labels: type: ci

#21707 [action][spm] add simulator flag for swift compiler
  fastlane/lib/fastlane/actions/spm.rb
  fastlane/spec/actions_specs/spm_spec.rb
Labels: tool: action

#21747 [ci] fix linter issues that slipped to master due to CI issue
  fastlane/lib/fastlane/actions/spm.rb
Labels: type: ci

#21746 [ci] fix CircleCI builds by adding back `ruby_version` parameter to the workflows
  .circleci/config.yml
Labels: type: ci

#21736 [action][sonar] replace deprecated sonar.login parameter with sonar.token
  fastlane/lib/fastlane/actions/sonar.rb
  fastlane/spec/actions_specs/sonar_spec.rb
Labels: tool: action
