Repository fastlane/fastlane, pull requests merged in 2024-12, with the labels that each got.

#28804 Fix incomplete options being allowed for some parameters
  deliver/lib/deliver/options.rb
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
  fastlane/lib/fastlane/actions/register_device.rb
  fastlane/lib/fastlane/actions/register_devices.rb
  precheck/lib/precheck/options.rb
  produce/lib/produce/options.rb
Labels: tool: deliver, tool: produce, tool: action, tool: precheck

#28960 [Supply] Allow promoting draft release to inProgress with initial rollout
  supply/lib/supply/uploader.rb
Labels: tool: supply

#28962 Fix "tvos" platform option not being allowed anymore for some actions
  deliver/lib/deliver/options.rb
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
  precheck/lib/precheck/options.rb
  produce/lib/produce/options.rb
Labels: tool: deliver, tool: produce, tool: action, tool: precheck

#29134 [supply] Handle case where there are more than one release in a track during `update_rollout`
  supply/lib/supply/uploader.rb
Labels: type: bug, tool: supply
