Repository fastlane/fastlane, pull requests merged in 2024-09, with the labels that each got.

#20898 [scan] improve performance by change order of checks in `building_mac_catalyst_for_mac` function
  fastlane/swift/formatting/Rakefile
  scan/lib/scan/module.rb
  scan/spec/detect_values_spec.rb
Labels: tool: scan, topic: swift

#22149 Add app_path parameter to changelog_from_git_commits
  fastlane/lib/fastlane/actions/changelog_from_git_commits.rb
  fastlane/lib/fastlane/helper/git_helper.rb
  fastlane/spec/actions_specs/changelog_from_git_commits_spec.rb
Labels: tool: action

#22119 Add tags parameter to TestFairy upload action
  fastlane/lib/fastlane/actions/testfairy.rb
  fastlane/spec/actions_specs/testfairy_spec.rb
Labels: tool: action

#22235 [slack] Enable emoji-based icons in Slack action by adding icon_emoji parameter
  fastlane/lib/fastlane/actions/slack.rb
  fastlane/lib/fastlane/notification/slack.rb
  fastlane/spec/actions_specs/slack_spec.rb
Labels: tool: action

#22228 Match: Allow using legacy encryption mode when writing to storage
  match/lib/match/change_password.rb
  match/lib/match/encryption/encryption.rb
  match/lib/match/encryption/openssl.rb
  match/lib/match/importer.rb
  match/lib/match/nuke.rb
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/spec/encryption/openssl_spec.rb
  match/spec/runner_spec.rb
  match/spec/spec_helper.rb
Labels: tool: match

#22128 Add ability to use Individual API key in deliver and pilot
  deliver/lib/deliver/runner.rb
  deliver/spec/runner_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
  spaceship/spec/connect_api/fixtures/asc_individual_key.json
Labels: tool: deliver, tool: pilot, tool: spaceship

#22227 Add -packageAuthorizationProvider flag for xcodebuild
  fastlane/swift/Fastlane.swift
  fastlane_core/lib/fastlane_core/project.rb
  fastlane_core/spec/project_spec.rb
  gym/lib/gym/options.rb
  scan/lib/scan/options.rb
  snapshot/lib/snapshot/options.rb
Labels: tool: snapshot, tool: gym, tool: scan, tool: fastlane_core, topic: swift

#22256 [core] fix duplicate builds being matched in BuildWatcher
  fastlane_core/lib/fastlane_core/build_watcher.rb
  fastlane_core/spec/build_watcher_spec.rb
Labels: tool: fastlane_core

#22199 [Match][S3] Only download (and decrypt) files in the subfolder of the provided TeamID
  match/lib/match/storage/s3_storage.rb
  match/spec/storage/s3_storage_spec.rb
Labels: tool: match, type: enhancement

#20563 [Fastlane.Swift] Allow overriding LaneFileProtocol lifecycles when subclassing LaneFile
  fastlane/swift/LaneFileProtocol.swift
Labels: status: needs-attention, topic: swift
