Repository fastlane/fastlane, pull requests merged in 2024-04, with the labels that each got.

#21871 [match] Include visionOS devices in provisioning profiles
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
Labels: tool: spaceship

#21943 Version bump to 2.220.0
  Gemfile.lock
  README.md
  fastlane.gemspec
  fastlane/lib/fastlane/version.rb
  fastlane/swift/Deliverfile.swift
  fastlane/swift/DeliverfileProtocol.swift
  fastlane/swift/Fastlane.swift
  fastlane/swift/Gymfile.swift
  fastlane/swift/GymfileProtocol.swift
  fastlane/swift/LaneFileProtocol.swift
  fastlane/swift/Matchfile.swift
  fastlane/swift/MatchfileProtocol.swift
  fastlane/swift/OptionalConfigValue.swift
  fastlane/swift/Precheckfile.swift
  fastlane/swift/PrecheckfileProtocol.swift
  fastlane/swift/Scanfile.swift
  fastlane/swift/ScanfileProtocol.swift
  fastlane/swift/Screengrabfile.swift
  fastlane/swift/ScreengrabfileProtocol.swift
  fastlane/swift/Snapshotfile.swift
  fastlane/swift/SnapshotfileProtocol.swift
  fastlane/swift/formatting/Brewfile.lock.json
Labels: topic: swift

#21946 Fix `fetch_provisioning_profile` when `output_path` is provided as a match option
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
Labels: tool: match

#21128 [action][spm] add `--very-verbose` option
  fastlane/lib/fastlane/actions/spm.rb
  fastlane/spec/actions_specs/spm_spec.rb
Labels: tool: action, status: merge conflicts

#21977 [fastlane] Print better errors when exception occurring in Fastfile
  fastlane/lib/fastlane/lane_manager_base.rb
  fastlane/lib/fastlane/runner.rb
  fastlane_core/lib/fastlane_core/ui/implementations/shell.rb
Labels: tool: fastlane_core, tool: fastlane, type: enhancement, type: code-improvement
