Repository fastlane/fastlane, pull requests merged in 2024-06, with the labels that each got.

#21987 [spaceship] Support individual API key
  fastlane/lib/fastlane/actions/app_store_connect_api_key.rb
  spaceship/lib/spaceship/connect_api/token.rb
  spaceship/spec/connect_api/token_spec.rb
Labels: tool: spaceship, tool: action

#22073 [ci] Fix `Validate Fastlane.swift generation` on CI when attempting to update brew
  .circleci/config.yml
Labels: type: ci

#21885 [produce] fix produce passing incorrect teamId when modifying capabilities
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
  spaceship/spec/connect_api/provisioning/provisioning_stubbing.rb
Labels: tool: spaceship

#22075 [ci] Initial attempt at automating bump on GitHub Actions
  .github/workflows/version_bump.yml
Labels: type: ci

#22077 [ci] creates a bump PR from a manual action trigger
  .github/workflows/version_bump.yml
  CHANGELOG.latest.md
  fastlane/Fastfile
Labels: tool: action, type: ci

#22079 [ci] add sleep to changelog generation
  .github/workflows/version_bump.yml
  fastlane/Fastfile
Labels: type: ci

#22081 [ci] create new tag on bump merge
  .github/workflows/create_tag_on_bump_merge.yml
Labels: type: ci

#22082 [ci] fix tag action workflow
  .github/workflows/create_tag_on_bump_merge.yml
  fastlane/Fastfile
Labels: type: ci

#22090 [ci] automate GitHub Release creation with attached Gem
  .circleci/config.yml
  .github/workflows/release_step_1_create_version_bump.yml
  .github/workflows/release_step_2_create_github_release.yml
  CHANGELOG.latest.md
  fastlane/Fastfile
  spec_helper.rb
Labels: type: ci

#22095 [ci] add manual to process release workflow
  .github/workflows/announce_release.yml
Labels: type: ci

#22003 [fastlane] Delete IDFA declarations for Apple App Store submission
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/submit_for_review.rb
  deliver/spec/submit_for_review_spec.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane/swift/DeliverfileProtocol.swift
  spaceship/docs/AppStoreConnect.md
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app_store_version.rb
  spaceship/lib/spaceship/connect_api/models/idfa_declaration.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/lib/spaceship/tunes/app_submission.rb
  spaceship/spec/connect_api/fixtures/testflight/apps.json
  spaceship/spec/connect_api/fixtures/tunes/review_submission.json
  spaceship/spec/connect_api/fixtures/tunes/review_submission_items.json
  spaceship/spec/tunes/app_submission_spec.rb
  spaceship/spec/tunes/fixtures/app_submission/complete_success.json
  spaceship/spec/tunes/fixtures/app_submission/start_success.json
Labels: tool: deliver, tool: spaceship, tool: action, topic: swift

#22096 [ci] combine releasing RubyGems into step 2
  .github/workflows/announce_release.yml
  .github/workflows/deploy_to_rubygems.yml
  .github/workflows/release_step_2_create_github_release.yml
  fastlane/Fastfile
Labels: type: ci

#22100 [ci] add release permissions for RubyGems in Action
  .github/workflows/release_step_2_create_github_release.yml
Labels: type: ci

#21901 [spaceship] Add get app availabilities v2 request
  spaceship/lib/spaceship/connect_api.rb
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/lib/spaceship/connect_api/models/app_availability.rb
  spaceship/lib/spaceship/connect_api/models/territory_availability.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/spec/connect_api/fixtures/tunes/app_availabilities_ready_for_distribution.json
  spaceship/spec/connect_api/fixtures/tunes/app_availabilities_removed_app.json
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_stubbing.rb
Labels: tool: spaceship

#22032 [spaceship] add visionOS support for Connect API
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/spec/runner_spec.rb
  fastlane/lib/fastlane/actions/app_store_build_number.rb
  fastlane/lib/fastlane/actions/docs/upload_to_app_store.md.erb
  fastlane/lib/fastlane/actions/download_dsyms.rb
  fastlane/lib/fastlane/actions/latest_testflight_build_number.rb
  fastlane/lib/fastlane/actions/set_changelog.rb
  fastlane/spec/actions_specs/set_changelog_spec.rb
  spaceship/lib/spaceship/tunes/application.rb
  spaceship/lib/spaceship/tunes/tunes_client.rb
Labels: tool: deliver, tool: spaceship, tool: action
