Repository fastlane/fastlane, pull requests merged in 2024-05, with the labels that each got.

#21900 [spaceship] Move endpoint version from hostname to path
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/provisioning/client.rb
  spaceship/lib/spaceship/connect_api/provisioning/provisioning.rb
  spaceship/lib/spaceship/connect_api/testflight/client.rb
  spaceship/lib/spaceship/connect_api/testflight/testflight.rb
  spaceship/lib/spaceship/connect_api/tunes/client.rb
  spaceship/lib/spaceship/connect_api/tunes/tunes.rb
  spaceship/lib/spaceship/connect_api/users/client.rb
  spaceship/lib/spaceship/connect_api/users/users.rb
  spaceship/lib/spaceship/stats_middleware.rb
  spaceship/spec/connect_api/provisioning/provisioning_client_spec.rb
  spaceship/spec/connect_api/testflight/testflight_client_spec.rb
  spaceship/spec/connect_api/tunes/tunes_client_spec.rb
  spaceship/spec/connect_api/users/user_client_spec.rb
  spaceship/spec/stats_middleware_spec.rb
Labels: tool: spaceship

#21895 [spaceship] Use new app store statuses to filter app versions and app infos
  deliver/lib/deliver/submit_for_review.rb
  deliver/spec/submit_for_review_spec.rb
  spaceship/docs/AppStoreConnect.md
  spaceship/lib/spaceship/connect_api/models/app.rb
  spaceship/spec/connect_api/fixtures/testflight/apps.json
  spaceship/spec/connect_api/fixtures/tunes/app_infos.json
  spaceship/spec/connect_api/fixtures/tunes/review_submission.json
  spaceship/spec/connect_api/fixtures/tunes/review_submission_items.json
  spaceship/spec/connect_api/models/app_spec.rb
  spaceship/spec/connect_api/tunes/tunes_stubbing.rb
Labels: tool: deliver, tool: spaceship

#21995 [pilot] Fix ASC API error when `reject_build_waiting_for_review: true`
  pilot/lib/pilot/build_manager.rb
Labels: type: bug, tool: pilot, topic: ConnectAPI
