Repository fastlane/fastlane, pull requests merged in 2024-10, with the labels that each got.

#22268 Make test pass standalone
  deliver/spec/app_screenshot_spec.rb
  deliver/spec/deliver_constants.rb
  deliver/spec/sync_screenshots_spec.rb
  gym/spec/code_signing_mapping_spec.rb
  gym/spec/fixtures/projects/cocoapods/Example.xcodeproj/xcshareddata/xcschemes/ExampletvOS.xcscheme
  gym/spec/fixtures/projects/projectBasedOnInheritance/ExampleWithInheritedXcconfig.xcodeproj/xcshareddata/xcschemes/Target A.xcscheme
  spaceship/spec/portal/provisioning_profile_template_spec.rb
Labels: tool: deliver, tool: gym, tool: spaceship, topic: swift

#22215 [spaceship] Add support for Enterprise Program API
  spaceship/lib/spaceship/connect_api/api_client.rb
  spaceship/lib/spaceship/connect_api/token.rb
  spaceship/lib/spaceship/stats_middleware.rb
  spaceship/spec/connect_api/api_client_spec.rb
  spaceship/spec/connect_api/client_spec.rb
  spaceship/spec/connect_api/token_spec.rb
  spaceship/spec/stats_middleware_spec.rb
Labels: tool: spaceship

#22135 [import_from_git] Add Git basic authorization support
  fastlane/lib/fastlane/actions/import_from_git.rb
  fastlane/lib/fastlane/fast_file.rb
  fastlane/spec/actions_specs/import_from_git_spec.rb
Labels: tool: action
