Repository fastlane/fastlane, pull requests merged in 2024-02, with the labels that each got.

#21861 [deliver] Initialize UploadMetadata with options
  deliver/lib/deliver/generate_summary.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/upload_metadata_spec.rb
Labels: tool: deliver

#21742 [deliver] increase chances of success when creating a new app version even when Apple servers are degraded
  deliver/lib/deliver/generate_summary.rb
  deliver/lib/deliver/options.rb
  deliver/lib/deliver/runner.rb
  deliver/lib/deliver/upload_metadata.rb
  deliver/spec/upload_metadata_spec.rb
Labels: tool: deliver

#21828 [match] fix devices fetch for tvOS platform
  spaceship/lib/spaceship/connect_api/models/device.rb
Labels: tool: spaceship

#21830 [ci] increase the max number of files available
  .circleci/config.yml
Labels: type: ci

#21841 [pilot] add xros as valid option for pilot upload
  pilot/lib/pilot/manager.rb
  pilot/lib/pilot/options.rb
  pilot/spec/manager_spec.rb
Labels: tool: pilot

#21850 [action][git_add] Add `force` option
  fastlane/lib/fastlane/actions/git_add.rb
  fastlane/spec/actions_specs/git_add_spec.rb
Labels: tool: action

#21822 [doc] Update instructions to install fastlane
  match/lib/assets/READMETemplate.md
Labels: tool: match

#21816 Raise error when Appetize API returns an unsuccessful response
  fastlane/lib/fastlane/actions/appetize.rb
  fastlane/spec/actions_specs/appetize_spec.rb
Labels: tool: action

#21812 [match][hotfix] remove the `renew_expired_certs` option introduced in #21691 and revert the default behavior while we address issues with it
  match/lib/match/options.rb
  match/lib/match/runner.rb
  match/spec/runner_spec.rb
Labels: tool: match

#21644 [spaceship] `create_certificate_signing_request`: update from SHA-1 to SHA-256
  spaceship/lib/spaceship/connect_api/models/certificate.rb
  spaceship/lib/spaceship/portal/certificate.rb
Labels: tool: spaceship

#21857 [fastlane_core] fix the display of non-unicode characters when printing lane context
  fastlane/spec/lane_manager_base_spec.rb
  fastlane_core/lib/fastlane_core/print_table.rb
Labels: tool: fastlane_core

#21880 Strengthen some checks that trigger Github's CodeQL security checks
  fastlane/helper/plugin_scores_helper.rb
  fastlane/spec/actions_specs/flock_spec.rb
  fastlane/spec/env_spec.rb
  match/spec/storage/gitlab/client_spec.rb
  spaceship/spec/mock_servers.rb
  spaceship/spec/portal/portal_client_spec.rb
Labels: tool: match, tool: spaceship

#21878 [fix] drop old code made for ruby < 2.6
  deliver/lib/deliver/download_screenshots.rb
  fastlane/actions/plugin_scores.rb
  fastlane/lib/fastlane/actions/update_project_provisioning.rb
  fastlane/lib/fastlane/plugins/plugin_fetcher.rb
  fastlane/lib/fastlane/plugins/plugin_info_collector.rb
  fastlane/lib/fastlane/plugins/plugin_manager.rb
  fastlane_core/lib/fastlane_core/helper.rb
  fastlane_core/lib/fastlane_core/ui/fastlane_runner.rb
  fastlane_core/lib/fastlane_core/ui/help_formatter.rb
  fastlane_core/spec/helper_spec.rb
Labels: tool: deliver, tool: match, tool: fastlane_core, tool: spaceship, tool: action

#21898 [Fix] remove dependency on unmaintained rest-client library
  Gemfile
  Gemfile.lock
  fastlane/lib/fastlane/actions/mailgun.rb
  fastlane/lib/fastlane/actions/upload_symbols_to_sentry.rb
  fastlane/spec/actions_specs/upload_symbols_to_sentry_spec.rb
  fastlane/spec/fastlane_require_spec.rb
Labels: tool: action

#21894 [fix] Update simctl command in device_manager.rb [21893]
  fastlane_core/lib/fastlane_core/device_manager.rb
  fastlane_core/spec/device_manager_spec.rb
Labels: tool: fastlane_core
