Repository fastlane/fastlane, pull requests merged in 2025-03, with the labels that each got.

#29484 [supply] Fix #28995 and `release_status` vs `rollout` parameters
  supply/lib/supply/uploader.rb
  supply/spec/uploader_spec.rb
Labels: tool: supply

#29463 [trainer] Support parsing test results from SwiftTesting
  trainer/lib/trainer.rb
  trainer/lib/trainer/legacy_xcresult.rb
  trainer/lib/trainer/options.rb
  trainer/lib/trainer/plist_test_summary_parser.rb
  trainer/lib/trainer/test_parser.rb
  trainer/lib/trainer/xcresult.rb
  trainer/lib/trainer/xcresult/helper.rb
  trainer/lib/trainer/xcresult/repetition.rb
  trainer/lib/trainer/xcresult/test_case.rb
  trainer/lib/trainer/xcresult/test_case_attributes.rb
  trainer/lib/trainer/xcresult/test_plan.rb
  trainer/lib/trainer/xcresult/test_suite.rb
  trainer/spec/fixtures/.gitignore
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample.xcodeproj/project.pbxproj
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample.xcodeproj/xcshareddata/xcschemes/FastlaneTrainerExample.xcscheme
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/Assets.xcassets/AccentColor.colorset/Contents.json
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/Assets.xcassets/Contents.json
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/ContentView.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/FastlaneTrainerExampleApp.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/HomeView.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/Models.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/Preview Content/Preview Assets.xcassets/Contents.json
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExample/SettingsView.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExampleTests/FastlaneTrainerExampleTests.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExampleUITests/FastlaneTrainerExampleUITests.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExampleUITests/FastlaneTrainerExampleUITestsLaunchTests.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/FastlaneTrainerExampleXCTests/FastlaneTrainerExampleXCTests.swift
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/README.md
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-Project/TestPlan.xctestplan
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-WithRetries.junit
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting-WithoutRetries.junit
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting.json
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting.xcresult/Info.plist
  trainer/spec/fixtures/Xcode16-Mixed-XCTest-SwiftTesting.xcresult/database.sqlite3
  trainer/spec/junit_generator_spec.rb
  trainer/spec/test_parser_spec.rb
Labels: type: feature, type: enhancement, type: code-improvement, topic: tests, tool: trainer

#29472 Update testfairy.rb
  fastlane/lib/fastlane/actions/testfairy.rb
Labels: tool: action

#27961 moves note about being overwritten to top of README
  match/lib/assets/READMETemplate.md
Labels: tool: match

#27624 Update AppStoreConnect Documentation to account for language change
  spaceship/docs/AppStoreConnect.md
Labels: tool: spaceship

#27546 Make sure verbose logging shows logs from the notarytool
  fastlane/lib/fastlane/actions/notarize.rb
Labels: tool: action

#29229 Switch Onesignal to use the new Organization keys
  fastlane/lib/fastlane/actions/onesignal.rb
Labels: tool: action

#22285 [scan] Remove unnecessary shellescape when generating -resultBundlePath option
  scan/lib/scan/test_command_generator.rb
  scan/spec/test_command_generator_spec.rb
Labels: tool: scan
