Repository fastlane/fastlane, pull requests merged in 2025-04, with the labels that each got.

#29500 Fix error with universal provisioning filter ("'UNIVERSAL' is not a valid filter value") on `match`
  match/spec/portal_fetcher_spec.rb
  spaceship/lib/spaceship/connect_api/models/device.rb
Labels: tool: match, tool: spaceship

#27585 [docs] Clarify only-testing/skip-testing format
  scan/lib/scan/options.rb
Labels: tool: scan

#22014 [pilot] ability to upload ipas to Testflight from Linux
  fastlane/lib/fastlane/actions/docs/upload_to_testflight.md
  fastlane_core/lib/assets/XMLTemplate.xml.erb
  fastlane_core/lib/fastlane_core/ipa_file_analyser.rb
  fastlane_core/lib/fastlane_core/ipa_upload_package_builder.rb
  fastlane_core/lib/fastlane_core/itunes_transporter.rb
  fastlane_core/spec/itunes_transporter_spec.rb
  pilot/lib/pilot/build_manager.rb
  pilot/spec/build_manager_spec.rb
Labels: tool: pilot, tool: fastlane_core, tool: action

#22086 fix: fix typo in precheck error
  deliver/lib/deliver/runner.rb
Labels: tool: deliver

#29525 Fix duplicate output in CommandExecutor.execute() when command fails
  fastlane_core/lib/fastlane_core/command_executor.rb
  fastlane_core/spec/command_executor_spec.rb
Labels: tool: fastlane_core
