Repository fastlane/fastlane, pull requests merged in 2025-02, with the labels that each got.

#29237 [fastlane_core] recognize AWS CodeBuild CI service as a CI environment
  fastlane/lib/fastlane/actions/setup_ci.rb
  fastlane/spec/actions_specs/setup_ci_spec.rb
  fastlane_core/lib/fastlane_core/helper.rb
Labels: tool: fastlane_core, tool: action

#29173 [unlock_keychain] fix crash when not having a default keychain
  fastlane/lib/fastlane/actions/unlock_keychain.rb
Labels: tool: action

#21254 [cert] Allow generate_certificates on non-macos
  cert/lib/cert/options.rb
  cert/lib/cert/runner.rb
  match/lib/match/generator.rb
  match/spec/generator_spec.rb
Labels: tool: cert, tool: match
